td {
    text-align: right;
    padding: 0.25rem 1rem;
}

.zb-inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding: 1rem;
}

.zb-raten {
    display: block;
    flex: 1 1 auto;
}

.zb-formline {
    display: block;
    flex: 1 1;
}

.zb-formline--raten {
    width: 100%;
    flex: 3 3 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.zb-formline label {
    display: block;
}

.zb-formline input {
    margin: 6px 6px 6px 0;
    padding: 6px;
    width: 4em;
}

.zb-button {
    font-weight: bold;
    min-width: 30px;
    border-radius: 15px;
    margin-bottom: 6px;
    margin-left: 6px;
    padding: .125em 1em;
}
