@import url('https://fonts.googleapis.com/css?family=Pattaya');
h1,h2,h3,h4,h5,h6 {
  font-weight:500;
}

article {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: @gray;
  .container {
    background: @white;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  a {
    text-decoration: none;
    padding-left: .5em;
    padding-right: .5em;
    font-weight: bold;
  }

  blockquote {
    &::before {
      content: "„";
      font-size: 4em;
      color: @brand-primary;

    }
    &::after {
      content: "“";
      font-size: 4em;
      color: @brand-primary;
      display: block;
      text-align: right;
    }
    font-size: 1.3em;
    border-left: none;
    border: 4px solid @brand-primary;
    margin: 2rem;
    padding: 0 4rem;


  }
}
h1,h2,h3,h4,h5,h6 {
  color: @brand-primary;
  line-height: 1.3em;
  .site-heading &, .post-heading & {
    color: white;
    font-family: "Open Sans", Pattaya, sans-serif;
    font-weight: 100;
    .home & {
      font-family: Pattaya, sans-serif;

    }
  }
}

.cta {
  text-align: center;
  text-decoration: none;
  &__button {
    display: inline-block;
    background: @brand-primary;
    border: 1px solid darken(@brand-primary, 10%);
    color: white;
    padding: 15px 30px;
    border-radius: 2px;
    font-weight: 500;
    &:hover,&:active {
      color: @brand-primary !important;
      background-color: @content-white !important;
      text-decoration: none;
      border-color: @brand-primary;
    }
    &--heavy {
      background: @color-cta;
      border: 1px solid darken(@color-cta, 20%);
    }
    &--air {
      margin: 2rem 1rem ;
      padding: 12px 15px;
    }
  }
}

.container.flex .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  div[class*=" col-"] {
    float: none;
    display: flex;
  }
}

.home-post-image {
  box-shadow: 2px #ccc;
}

.post-preview {
  justify-content: space-between;
  &__content {
     padding: 2rem 4rem;
      display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  &__headlines {
    z-index: 2;
    background: #ffffffaa;
    padding: 0 2rem;
    width: 100%;
  }
  &__post-meta {
    padding: 0;
    margin: 1rem 0;
    font-size: 0.7em;
  }
  &__image {
    max-height: 300px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;

    position: relative;
    min-height: 225px;
    width: 100%;



    img {
      position: absolute;
      //bottom: 0;
      transition: all .3s ease;
      min-height: 225px;

    }
    &:hover img{
      transform: scale(1.125);
    }
  }
  &__more {
    text-decoration: underline;
    color: @brand-primary;
    display: block;
    padding-top: 1rem;
    font-size: 0.9em;
  }
  margin-top: 2rem;
  // padding: 4rem;
  background: @white;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: flex;
  //justify-content: space-between;
  flex-direction: column;
  h2 {
    word-break: break-word;
    hyphens: auto;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    //padding-top: 1rem;
  }
}
.navbar-custom {

  &.noheader {
    a.cta.cta__button {
      color: white;
    }
    .nav li a {
      color: @brand-primary;
    }
    svg {
      fill: @brand-primary;

    }
  }
  .navbar-brand{
    padding: 0 20px;
  }
}
.logo {
  overflow: visible;
  svg {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
    fill: @brand-primary;
    @media @lg_and_up {
      height: 60px;
      g {
        fill: white;
        .is-fixed &,
        .noheader & {
          fill: @brand-primary;
        }
      }
    }
  }
}

.intro-header {
  margin-bottom: 0;
}
body {
  background: #fafafa;
  footer {
    background: @content-white;
    border-top: 1px solid #ccc;
  }
}

.main {

  padding-bottom: 3rem;

}

.intro-header .site-heading h1 {
  color: white;
  @media @up_to_lg {
    font-size: 4rem;
  }

}

footer .footer-menu {
  font-size: 14px;
  color: #777;
  margin-top: 3rem;
}
.main-no-header {
  margin-top: 60px;

  @media @lg_and_up {
    margin-top: 120px;
  }

}

.row--empfehlung {
  display: flex;
  align-items: baseline;
  justify-content: center;
  justify-item: center;
  flex-wrap: wrap;
  .col--empfehlung {
    text-align: center;
    display: block;
    padding: 1rem;
    &:hover {
      text-decoration: none;
    }
    &.black-image .empfehlung__image{
      background: black;
      display: inline-block;
      padding: 1rem;
    }
    img {
      margin: 0 auto;
      max-width: 250px;
      display: block;


    }
    .empfehlung__button {
      border: 1px solid @brand-primary;
      color: @brand-primary;
      background: white;

      padding: 1rem 2rem;
      border-radius: 4px;
      font-weight: bold;
      letter-spacing: 1px;
      transition: all .3s ease-out;
      &:hover {
        background: lighten(@brand-primary, 5%);
        border-color: lighten(@brand-primary, 50%);
        color: white;      }
    }
  }
}

.navbar-cta {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  display: inline-block;
  .nav > li > a&  {

    color: white;
    margin: 1rem;
    .is-fixed & {
      color: white;
    }
    @media @lg_and_up {
      margin-top: 10px;
      opacity: 0.8;
      float: right;
      padding: 10px;
    }
  }
  @media @lg_and_up {
    .nav > li&-entry {
      float:right;
    }
  }
}

.link--full.col--empfehlung {
  display: block;
  width: 100%;
  padding: 0 2rem;
  .cta {
    width: 100%;
    margin: .5rem 0;
  }
}


.block {
  display: block;
}

.center {
  text-align: center;
}

.air {
  &--bottom {
    margin-bottom: 1rem;
  }
  &--top {
    margin-top: 1rem;
  }
  &--bottom-2 {
    margin-bottom: 2rem;
  }
  &--top-2 {
    margin-top: 2rem;
  }
}

.video-container {
  text-align: center;
  &__youtube {
    max-width: 560px;
    max-height: 315px;

    width: 95vw;
    height: calc(95vw*(315/560));

    margin: 1rem auto;
    &--1x1 {
      max-width: 515px;
      max-height: 515px;
      width: 95vw;
      height: 95vw;
    }
  }
}