.landing {
    &-main {
        background: @brand-primary;
        padding-bottom: 0px;
        padding-top: 80px;
        * {
            color: white;
        }
    }
    &-header {
        &__text {
            font-family: "Pattaya";
        }
        &__offer {
          padding-left: 1rem;
          padding-left: 1rem;
          @media @lg_and_up {
            margin-top:2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
          }

        }
        &.cta {
            width: 75%;
            margin: 0 auto;
            display: block;
            animation-duration: 3s;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    &-heading,
    &-content,
    &-content a
    {
        text-align: center;
        margin: 0 2rem; 
        &__teaser {
          max-height: 40vh;
          margin: 0 auto;
          &:hover {
            cursor: pointer;
          }
        }
    }
    &-img {
        margin: 0 auto;
    }
    &-advantage {
        margin: 0 auto;
        list-style-type: unset;
    }

}

.half-vp {
  min-height: 50vh;
}
