.layer {
    background: fade(#333, 80%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    //display: none;
    opacity: 0;
    transition: all .1s ease;
    pointer-events: none;     
    &--show{
        //display: block;
        opacity: 1;
        pointer-events: all;
    }
    label {
        display: block;
        font-weight: normal;
    }

    &__input {
        display: block;
        margin-bottom: 1rem;
        color: #333;

        input {
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    

    &__content {
        border-radius: 2px;
        //box-shadow: 9px 8px fade(darken(@brand-primary, 10%),75%);
        background: @content-white;

        border: 1px solid darken(@brand-primary,5%);
        position: absolute;        
        color: #010101;
        text-align: left;        
        padding: 2rem;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100vw;
        position: relative;
        
        @media @lg_and_up {            
            left: 50%;
            width: auto;

            min-width: 500px;
            max-width: 800px;
            right: initial;
            transform: translate(-50%, -50%);
        }
    }
    i {
      position: absolute;
      right: 0;
      top: -20px;
      border: 1px solid rgb(0, 0, 0);
      display: block;
      background: white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      @media @lg_and_up {
        right: -20px;
      }
    }
    &__heading {
        color: @brand-primary;
        font-size: 3rem;
        font-weight: normal;
        font-family: Pattaya;
        text-align: center;
        padding-bottom: 1rem;
        text-decoration: underline;
    }
    &__form {
        input[type=text],
        input[type=email],
         {
            color: #333;
            width: 100%;
        }
    }
    &__button {
        width: 100%;
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        white-space: wrap-word;
        background: @color-cta;

    }

    &__microtext {
        font-size: 0.60em;
        padding-top: 2rem;
        text-align: center;
        a {
            
            text-decoration: underline;
        }
    }

}