// Variables

@brand-primary2: #00a200;
@brand-primary: #396358;
@gray-dark: lighten(black, 25%);
@gray: #fafafa;
@white-faded: fade(white, 80);
@white: #fff;
@gray-light: #eee;
@content-white: @white;
@color-cta: #ca771e;

@xxl_and_up: ~"only screen and (min-width: 1200px)";
@lg_and_up: ~"only screen and (min-width: 768px)";
@up_to_lg: ~"only screen and (max-width: 768px)";
