---
layout: page
title: Familien Finanzen
---
<h1>Komkret Finanzen</h1>

<ul>
    {% for category in page.categories %}
    <li><a href="{{ site.url }}/path-to-category-index/{{ category | slugify }}/index.html">{{ category }}</a></li>
    {% endfor %}
</ul>