---
layout: home
subtitle: Familie bewusst (er)leben
description: Familie bewusst (er)leben bei dadvelopment.
header-img: /img/artgerecht-im-wald.jpg
---
<div class="row">
  {% assign sorted = paginator.posts | sort: "stickiness" %}
  {% for post in sorted %}
  <div class="col-lg-6 col-xs-12">
    <div class="post-preview">
      {% if post.header-img %}
      <a class="post-preview__image" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
        <img class="home-post-image" src="{{ post.header-img | prepend: site.baseurl }}" {% if post.header-img-style %} style="{{ post.header-img-style}}"{% endif %}/>
        <div class="post-preview__headlines">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </div>
      </a>
      {% endif %}

      <div class="post-preview__content">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-abstract">
          {% if post.abstract %}
            {{ post.abstract }}
          {% else %}
            {% if post.teaser %}
              {{ post.teaser }}
            {% else %}
              {{ post.content | truncatewords:150 | strip_html }}
            {% endif %}
          {% endif %}

        </a>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-preview__more">
          Weiterlesen...
        </a>
        <p class="post-meta post-preview__post-meta">{% if post.author %}<a href="{{ site.baseurl }}/autor/{{ post.author.display_name }}" title="{{ post.author.display_name }}">{{ post.author.display_name }}</a>{% else %}<a href="{{ site.baseurl }}/autor/marcel-henning/" title="{{ site.title }} - Marcel Henning">Marcel Henning</a>{% endif %} | {{ post.date | date: "%d.%m.%Y" }}</p>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Neuere Beiträge</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Ältere Beiträge &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
