<!-- Footer -->
<footer>
    <div class="container">
        <div class="row" style="margin: 0 auto;">
            
        {% for page in site.data.footercontent %}
            {% if page.hidden == null || page.hidden == false %}
                {% if page.url != '/404.html' %}
                  <!-- li>
                      <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                  </li -->
                  <div class="col-lg-6 col-lg-offset-0 col-md-3 col-md-offset-1 small text-center">
                      <h3 class="small">{{ page.title }}</h3>
                      <ul class="list-unstyled small">
                        {% for entry in page.content %}
                            {% if entry.hidden == null || entry.hidden == false %}
                                <li>
                                    <a href="{{ entry.url | prepend: site.baseurl }}">{{ entry.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                      </ul>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
            
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.email_username %}
                    <li>
                        <a href="mailto:{{ site.email_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>


                <ul class="list-inline text-center footer-menu">
                  {% for page in site.data.footermenu %}
                    {% if page.title %}
                        {% if page.url != '/404.html' %}
                          <li>
                              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                          </li>
                        {% endif %}
                    {% endif %}
                  {% endfor %}
                </ul>

                <p class="copyright text-muted">Copyright &copy; {{ site.copyright_name }} {{ site.time | date: '%Y' }}</p>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
