<section class="layer" context="mautic">
    <div class="layer__content">
        <i class="fa fa-times" aria-hidden="true" toggle-layer></i>
        <h4 class="layer__heading">
            Kostenlose Excel-Vorlage um deine Finanzen zu beherrschen
        </h4>
        <section class="row">
            <div class="col-md-12" unveil-script>
              <template>
                    <script type="text/javascript">
                      /** This section is only needed once per page if manually copying **/
                      if (typeof MauticSDKLoaded == 'undefined') {
                          var MauticSDKLoaded = true;
                          var head            = document.getElementsByTagName('head')[0];
                          var script          = document.createElement('script');
                          script.type         = 'text/javascript';
                          script.src          = 'https://mautic.dadvelopment.de/media/js/mautic-form.js';
                          script.onload       = function() {
                              MauticSDK.onLoad();
                          };
                          head.appendChild(script);
                          var MauticDomain = 'https://mautic.dadvelopment.de';
                          var MauticLang   = {
                              'submittingMessage': "Bitte warten..."
                          }
                      }
                  </script>


                  <style type="text/css" scoped>
                      .mauticform_wrapper { max-width: 600px; margin: 10px auto; }
                      .mauticform-innerform {}
                      .mauticform-post-success {}
                      .mauticform-name { font-weight: bold; font-size: 1.5em; margin-bottom: 3px; }
                      .mauticform-description { margin-top: 2px; margin-bottom: 10px; }
                      .mauticform-error { margin-bottom: 10px; color: red; }
                      .mauticform-message { margin-bottom: 10px;color: green; }
                      .mauticform-row { display: block; margin-bottom: 20px; }
                      .mauticform-label { font-size: 1.1em; display: block; font-weight: bold; margin-bottom: 5px; }
                      .mauticform-row.mauticform-required .mauticform-label:after { color: #e32; content: " *"; display: inline; }
                      .mauticform-helpmessage { display: block; font-size: 0.9em; margin-bottom: 3px; }
                      .mauticform-errormsg { display: block; color: red; margin-top: 2px; }
                      .mauticform-selectbox, .mauticform-input, .mauticform-textarea { width: 100%; padding: 0.5em 0.5em; border: 1px solid #CCC; background: #fff; box-shadow: 0px 0px 0px #fff inset; border-radius: 4px; box-sizing: border-box; }
                      .mauticform-checkboxgrp-row {}
                      .mauticform-checkboxgrp-label { font-weight: normal; }
                      .mauticform-checkboxgrp-checkbox {}
                      .mauticform-radiogrp-row {}
                      .mauticform-radiogrp-label { font-weight: normal; }
                      .mauticform-radiogrp-radio {}
                      .mauticform-button-wrapper .mauticform-button.btn-default, .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default { color: #5d6c7c;background-color: #ffffff;border-color: #dddddd;}
                      .mauticform-button-wrapper .mauticform-button, .mauticform-pagebreak-wrapper .mauticform-pagebreak { display: inline-block;margin-bottom: 0;font-weight: 600;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 13px;line-height: 1.3856;border-radius: 3px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
                      .mauticform-button-wrapper .mauticform-button.btn-default[disabled], .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default[disabled] { background-color: #ffffff; border-color: #dddddd; opacity: 0.75; cursor: not-allowed; }
                      .mauticform-pagebreak-wrapper .mauticform-button-wrapper {  display: inline; }
                  </style>
                  <div id="mauticform_wrapper_kontenmodelloptin" class="mauticform_wrapper">
                      <form autocomplete="false" role="form" method="post" action="https://mautic.dadvelopment.de/form/submit?formId=2" id="mauticform_kontenmodelloptin" data-mautic-form="kontenmodelloptin" enctype="multipart/form-data">
                          <div class="mauticform-error" id="mauticform_kontenmodelloptin_error"></div>
                          <div class="mauticform-message" id="mauticform_kontenmodelloptin_message"></div>
                          <div class="mauticform-innerform">


                              <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">

                                  <div id="mauticform_kontenmodelloptin_f_name" class="mauticform-row mauticform-text mauticform-field-1">
                                      <label id="mauticform_label_kontenmodelloptin_f_name" for="mauticform_input_kontenmodelloptin_f_name" class="mauticform-label">Name</label>
                                      <input id="mauticform_input_kontenmodelloptin_f_name" name="mauticform[f_name]" value="" class="mauticform-input" type="text" data-track='{"category": "lead", "action": "change-input", "name": "name"}'>
                                      <span class="mauticform-errormsg" style="display: none;"></span>
                                  </div>

                                  <div id="mauticform_kontenmodelloptin_email" class="mauticform-row mauticform-email mauticform-field-2">
                                      <label id="mauticform_label_kontenmodelloptin_email" for="mauticform_input_kontenmodelloptin_email" class="mauticform-label">Email</label>
                                      <input id="mauticform_input_kontenmodelloptin_email" name="mauticform[email]" value="" class="mauticform-input" type="email" data-track='{"category": "lead", "action": "change-input", "name": "email"}'>
                                      <span class="mauticform-errormsg" style="display: none;"></span>
                                  </div>

                                  <div id="mauticform_kontenmodelloptin_email21" class="mauticform-row mauticform-email mauticform-field-3"  style="display: none;">
                                      <label id="mauticform_label_kontenmodelloptin_email21" for="mauticform_input_kontenmodelloptin_email21" class="mauticform-label">email2</label>
                                      <input id="mauticform_input_kontenmodelloptin_email21" name="mauticform[email21]" value="" class="mauticform-input" type="email" data-track='{"category": "lead", "action": "change-input", "name": "honeypot"}'>
                                      <span class="mauticform-errormsg" style="display: none;"></span>
                                  </div>

                                  <div id="mauticform_kontenmodelloptin_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-5">
                                      <button type="submit" name="mauticform[submit]" id="mauticform_input_kontenmodelloptin_submit" value="" class="mauticform-button btn btn-default">Absenden</button>
                                  </div>
                              </div>
                          </div>

                          <input type="hidden" name="mauticform[formId]" id="mauticform_kontenmodelloptin_id" value="2">
                          <input type="hidden" name="mauticform[return]" id="mauticform_kontenmodelloptin_return" value="">
                          <input type="hidden" name="mauticform[formName]" id="mauticform_kontenmodelloptin_name" value="kontenmodelloptin">

                      </form>
                  </div>

              </template>
            
                <div class="layer__microtext">
                    Deine Daten werden gemäß unserer <a href="/datenschutz">Datenschutzerklärung</a> fürsorglich behandelt und nicht an Dritte verkauft.
                </div>
            </div>
        </section>


    </div>
</section>