<section class="layer">
    <div class="layer__content">
        <i class="fa fa-times" aria-hidden="true" toggle-layer></i>
        <h4 class="layer__heading">
            Kostenlose Excel-Vorlage um deine Finanzen zu beherrschen
        </h4>
        <section class="row">
            <div class="col-md-12">
                <!-- Begin Klick Tipp Signup Form -->
                <div id="form-171343-wrapper">
                    <form id="ktv2-form-171343" accept-charset="UTF-8" method="post" action="https://www.klick-tipp.com/api/subscriber/signin.html" >
                        <input type="hidden" id="FormField_ApiKey" name="apikey" value="3yuiz2vvkz8zee3f" />
                        <input type="hidden" id="FormField_Digit" name="fields[fieldDigit]" value="" />
                        <div class="mc-field-group layer__input">
                            <input type="text" id="FormField_FirstName" name="fields[fieldFirstName]" value="" placeholder="Dein Vorname" type="email"/>
                        </div>
                        <div class="mc-field-group layer__input">
                            <input type="text" id="FormField_EmailAddress" name="email" value="" placeholder="Deine Mailadresse"/>
                        </div>
                                <button type="submit" id="FormSubmit" name="FormSubmit" class="layer__button cta__button cta__button--heavy" data-track='{"category": "lead", "action": "eintragung", "name": "Jetzt anmelden und Vorlage sichern"}'>Jetzt anmelden und Vorlage sichern</button>

                    </form>
                </div>
                <script type='text/javascript' src='https://klicktipp.s3.amazonaws.com/listbuildings/system/forms/scripts/protect.js'></script>
                <!--End Klick Tipp Signup-->
                <div class="layer__microtext">
                    Deine Daten werden gemäß unserer <a href="/datenschutz">Datenschutzerklärung</a> fürsorglich behandelt und nicht an Dritte verkauft.
                </div>
            </div>
        </section>


    </div>
</section>