<section class="layer">
    <div class="layer__content">
        <i class="fa fa-times" aria-hidden="true" toggle-layer></i>
        <h4 class="layer__heading">
            Kostenlose Excel-Vorlage um deine Finanzen zu beherrschen
        </h4>
        <section class="row">
            <div class="col-md-12">
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://dadvelopment.us19.list-manage.com/subscribe/post?u=137cddc522858c93891e7131d&amp;id=041db70eca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group layer__input">
                                <input placeholder="Dein Vorname" type="text" value="" name="FNAME" class="" id="mce-FNAME" required data-track='{"category": "lead", "action": "change-input", "name": "name"}'> 
                            </div>
                            <div class="mc-field-group layer__input">
                                <input placeholder="Deine Mailadresse" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required data-track='{"category": "lead", "action": "change-input", "name": "email"}'>
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_137cddc522858c93891e7131d_041db70eca" tabindex="-1" value=""></div>
                            <div class="clear">
                            <button type="submit" value="Jetzt anmelden und Vorlage sichern" name="subscribe" id="mc-embedded-subscribe" class="layer__button cta__button cta__button--heavy" data-track='{"category": "lead", "action": "eintragung", "name": "Jetzt anmelden und Vorlage sichern"}'>Jetzt anmelden und Vorlage sichern</button>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
                <div class="layer__microtext">
                    Deine Daten werden gemäß unserer <a href="/datenschutz">Datenschutzerklärung</a> fürsorglich behandelt und nicht an Dritte verkauft.
                </div>
            </div>
        </section>


    </div>
</section>