<section class="layer" context="cleverreach" default>
    <div class="layer__content">
        <i class="fa fa-times" aria-hidden="true" toggle-layer></i>
        <h4 class="layer__heading">
            Kostenlose Excel-Vorlage um deine Finanzen zu beherrschen
        </h4>
        <section class="row">
            <div class="col-md-12">
                <!-- Begin Klick Tipp Signup Form -->
                <form class="layout_form cr_form cr_font" action="https://eu2.cleverreach.com/f/234735-230805/wcs/"
                      method="post" target="_blank">
                    <div class="cr_body cr_page cr_font formbox">

                        <div class="editable_content">
                            <div id="4963684" rel="text" class="cr_ipe_item ui-sortable  layer__input">
                                <label for="text4963684" class="itemname">Name</label>
                                <input id="text4963684" name="1112373" type="text" value=""/>
                            </div>
                            <div id="4963679" rel="email" class="cr_ipe_item ui-sortable musthave  layer__input">
                                <label for="text4963679" class="itemname">E-Mail</label>
                                <input id="text4963679" name="email" value="" type="text"/>
                            </div>
                            <div id="4963683" rel="recaptcha" class="cr_ipe_item ui-sortable musthave">

                                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                                <br/>
                                <div id="recaptcha_v2_widget" class="g-recaptcha" data-theme="light" data-size="normal"
                                     data-sitekey="6Lfhcd0SAAAAAOBEHmAVEHJeRnrH8T7wPvvNzEPD"></div>
                                <br/>

                            </div>
                            <div id="4963681" rel="button" class="cr_ipe_item ui-sortable submit_container">
                                <button type="submit" class="layer__button cta__button cta__button--heavy" data-track='{"category": "lead", "action": "eintragung", "name": "Jetzt anmelden und Vorlage sichern"}'>Jetzt Vorlage sichern</button>
                            </div>
                        </div>

                        <noscript><a href="http://www.cleverreach.de">www.CleverReach.de</a></noscript>
                    </div>
                    <br />
                    <div class="badge_ cr_page cr_body" style="text-align: center;"><a
                            href="https://www.cleverreach.de/?utm_source=system&utm_medium=form&utm_campaign=c234735"
                            target="_blank" style="display:inline-block;"><img src="https://d388us03v35p3m.cloudfront.net/cr3_images/badget1.png"
                                                 border="0"/></a></div>

                </form>
                <!--End Klick Tipp Signup-->
                <div class="layer__microtext">
                    Deine Daten werden gemäß unserer <a href="/datenschutz">Datenschutzerklärung</a> fürsorglich
                    behandelt und nicht an Dritte verkauft.
                </div>
            </div>
        </section>

    </div>
</section>