<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top {{include.customclass}}">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ site.baseurl }}/"> <!-- {{ site.title }} -->
                <div class="logo">{% include dadvelopment-no-claim.svg %}</div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="navbar-cta-entry">
                {% if site.data.headercta.layer %}
                    <a href="?geschenk" class="navbar-cta cta cta__button cta__button--heavy" {% if site.data.headercta.layer %}toggle-layer{% endif %} data-track='{"category": "lead", "action": "show-layer-header", "name": "{{site.data.headercta.text}}"}'>{{site.data.headercta.text}}</a>
                {% else %}
                    <a class="navbar-cta cta cta__button cta__button--heavy" href="{{site.data.headercta.link}}" data-track='{"category": "lead", "action": "follow-cta-header", "name": "{{site.data.headercta.text}}"}'>{{site.data.headercta.text}}</a>
                {% endif %}
              </li>
                {% for page in site.data.mainmenu %}
                  {% if page.title %}
                        {% if page.url != '/404.html' %}
                        <li>
                            <a href="{{ page.url | prepend: site.baseurl }}" class="navbar-cta cta cta__button">{{ page.title }}</a>
                        </li>
	                    {% endif %}
                  {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
