<script src="https://unpkg.com/vue"></script>
<script src="//cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/v-charts/lib/line.min.js"></script>
<script src="{{ '/js/zinseszins-berechnen.js' | prepend: site.baseurl }}"></script>
<!-- -------------------------------------------△△△△------------ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">


  <link rel="stylesheet" href="{{ '/js/zinseszins-berechnen.css' | prepend: site.baseurl }}">
