---
layout: post
status: publish
published: true
title: Begabt, bef&auml;higt, berufen, geliebt
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 97
wordpress_url: http://blog.moerssl.net/2006/12/06/begabt-befaehigt-berufen-geliebt/
date: '2006-12-06 02:23:52 +0100'
date_gmt: '2006-12-06 01:23:52 +0100'
categories:
- newstime
tags: []
comments:
- id: 67
  author: Mirko
  author_email: Mirko.Kempf@schwarzer.de
  author_url: http://www.schwarzer.de
  date: '2006-12-13 12:24:36 +0100'
  date_gmt: '2006-12-13 11:24:36 +0100'
  content: |-
    Ja gerade jetzt m&uuml;sste es doch jeder f&uuml;hlen.
    So kurz vor Weihnachten.
    Ich w&uuml;nsche dir ein Frohes fest.
---
<p>Wow, endlich mal wieder einer dieser Posts, bei denen ich das Titelfeld schon vor dem Schreiben ausf&uuml;llen kann. Das liegt wahrscheinlich daran, dass ich aktuell noch gar nicht wei&szlig;, worum es hier gehen wird.</p></p>
<p>Ich fang einfach mal an: Wir schreiben den 6. Dezember 2006, es ist 1.24 Uhr morgens. Eigentlich ist es ziemlich kontraproduktiv, was ich hier mache, denn in etwa 4,5 Stunden wird mich der Wecker aus dem Schlaf rei&szlig;en und es hei&szlig;t "Auf zur Arbeit".</p></p>
<p>Aber dieses Denken habe ich seit meinem letzten "Nachtpost" abgelegt. Naja, was hat das alles mit dem Titel zu tun? Nicht viel, w&uuml;rde ich mal sagen. Bis eben lag ich noch - zum Einschlafen gewillt - in meinem Bett, als es mich &uuml;berkam einfach mal zu bekennen, was ich so in Christus bin, was er f&uuml;r mich gemacht hat, was er mit und vor allem in mir gemacht hat. Die vier Worte aus dem Titel sind mir irgendwie im Kopf h&auml;ngen geblieben.</p></p>
<p>Diese Worte sind - so finde ich - &uuml;ber das Leben eines jeden Christen ausgesprochen. Lass es dir mal auf der Zunge zergehen und sprich es aus: "Ich bin begabt! ich bin bef&auml;higt! ich bin berufen! Ich bin geliebt!"</p></p>
<p>In wie weit trifft das denn nun eigentlich zu, wirst du dich vielleicht fragen.</p></p>
<p><strong>Begabt</strong>: Ich bin mir ziemlich sicher, dass du schon "von Haus aus" ein paar Sachen hast, die du gut kannst, die dir Spa&szlig; machen, mit denen du dich ablenkst usw. Diese Sachen konntest du vielleicht auch schon (sehr) gut, bevor du Christ warst. Denk mal nach. Schau evtl. auch mal in dein Leben zur&uuml;ck und dir werden solche Dinge auffallen. Gott will diese Dinge gebrauchen.</p></p>
<p><strong>Bef&auml;higt</strong>: Neben diesen Dingen gibt es dann noch andere Dinge, die du von Gott geschenkt bekommst (vergl. 1. Korinther 12-14; 1.Petrus 4:10 [und sicher auch noch andere]). Diese Dinge hat Gott dir ebefalls gegeben, um sie zu nutzen. Nimm dir auch hier die Zeit um herauszufinden, was deine Gaben sind. Vielleicht bist du ja &uuml;berrascht.</p></p>
<p><strong>Berufen</strong>: Berufung. Tolles Thema. Damit habe ich mich auch schon ne ganze Weile mit auseinander gesetzt - eigentlich immer wieder. Das ist das Thema, was sich bei mir irgendwie durch 2006 zieht. Was ist meine Berufung? Viele - wie auch ich  - denken dabei an irgendeine T&auml;tigkeit. Missionar im Ausland, Gemeindeleiter, &Auml;-Kreismitglied usw. Das ist es aber nicht! Unsere Berufung ist die Gemeinschaft mit Gott (Bibelstelle f&auml;llt mir grade nicht ein, sry). Die Gemeinschaft ist der prim&auml;re Grund, warum Jesus f&uuml;r jeden von uns ans Kreuz ging!! Da war dieses Ding, was sich S&uuml;nde nennt und uns von Gott trennt. Diese hat Jesus ja am Kreuz auf sich genommen und wir k&ouml;nnen wieder zu Gott kommen, wenn wir Jesu Opfer annehmen. Wir, die wir diesen Schritt gegangen sind, haben jetzt einen 24/7-Zugriff auf Gott. Er ist immer da. Wir k&ouml;nnen immer zu ihm kommen!</p></p>
<p><strong>Geliebt</strong>: Und das hier ist nun der eigentliche Grund, warum dieser Zimmermann aus Nazareth ans Kreuz genagelt wurde:</p></p>
<blockquote>
<p>Gott liebte die Menschen ohne Ende, er war sogar bereit, seinen einzigen Sohn f&uuml;r sie wegzugeben, damit sie nicht vor die Hunde gehen. Jeder, der ihm vertraut, hat es geschafft, er wird ewig leben k&ouml;nnen!<br /><br />
Johannes 3:16 (Volxbibel)</p></p>
<p>Gott aber erweist seine Liebe zu uns darin, dass Christus, als wir noch S&uuml;nder waren, f&uuml;r uns gestorben ist.<br /><br />
R&ouml;mer 5:8 (Revidierte Elberfelder)</p></blockquote></p>
<p>Da drau&szlig;en existiert jemand, der dich &uuml;ber alles liebt. Es ist schwer in Worte zu fassen, man muss es einfach erleben, was es hei&szlig;t von Gottes Liebe erfasst zu werden.</p></p>
