---
layout: post
status: publish
published: true
title: ballast II
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 12
wordpress_url: http://blog.moerssl.net/2006/03/28/ballast-ii/
date: '2006-03-28 00:30:24 +0200'
date_gmt: '2006-03-27 22:30:24 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ich m&ouml;chte das Thema mit dem Rucksack hier noch einmal kurz ansprechen. Mir ist da eben was ganz seltsames passiert, was mich zum Nachdenken gebracht hat:<br />
Ich hatte mir meinen Rucksack durch nen Einkauf (eigentlich waren es 2) so ziemlich vollgepackt. Man konnte die einzelnen Gegenst&auml;nde schon durch den Stoff durch sp&uuml;ren und das Teil war wieder einmal ziemlich schwer.<br />
Da mein Zug, mit dem ich nach hause gefahren bin, etwas Versp&auml;tung hatte, hab ich den Anschlussbus verpasst und bin ca. 20 Minuten vom Bahnhof zu meiner Wohnung gelaufen. Ein kleines St&uuml;ck, bevor ich zu hause war h&ouml;re ich ein Ratschen. Der Ballast im Rucksack hatte sich irgendwie selbstst&auml;ndig gemacht und somit den Rei&szlig;verschluss zum &Ouml;ffnen gebracht. Nach einer Weile war die &Ouml;ffnung dann so gro&szlig;, dass der Inhalt fast herausgefallen w&auml;re.<br />
Die &Uuml;berlegung, die ich daraufhin angestellt habe - den <a href="http://blog.moerssl.net/2006/03/24/ballast/">ersten ballast-Post</a> im Hinterkopf - war: Kann sich der Ballast, den wir uns so t&auml;glich aufladen auch selbstst&auml;ndig machen und uns (durch Einwirken &auml;u&szlig;erer Umst&auml;nde) zerst&ouml;ren? Und ich muss sagen, ja das ist m&ouml;glich!! Eine kleine Sorge hier, etwas Zorn da, von jener Person ein falsches Wort (dazu wirds demn&auml;chst hier noch was zu lesen geben), dazu kommen noch die eigenen Gedanken und so mehrt sich der Ballast von selbst und wird immer schwerer und schwerer und macht sich gewisserma&szlig;en selbstst&auml;ndig (genauso wie der Schneeball, der zur Lawine wird). Das ist - wie man so "sch&ouml;n" sagt - ein Teufelskreis, nur dass das hier wirklich einer ist.<br />
Es gibt nun mehrere L&ouml;sungen f&uuml;r den Rucksack, um noch weiter bestehen zu k&ouml;nnen und nicht an der Last kaputt zu gehen. Eine hilft f&uuml;r eine kurze Zeit und die andere f&uuml;r l&auml;nger. Die eine, auf k&uuml;rzere Zeit helfende, L&ouml;sung ist, dass man den Rei&szlig;verschluss einfach wieder zu macht und einfach so weiter geht. Nach nicht allzu langer Zeit des Gehens wird allerdings wieder das Selbe passieren und der Rucksack wird wieder aufgehen. L&ouml;sung Nummer zwei w&auml;re nun, den Rucksack auszupacken und dadurch zu erleichtern.<br />
Wie im anderen Post schon beschrieben, gibt es im Leben viele Dinge, die uns belasten. Seien es allt&auml;gliche Sorgen, die (m&ouml;gliche oder herbei gew&uuml;nschte) Beziehung zu einem Mitmenschen, Eifersucht, Stress, Zorn, Bitterkeit und nicht zu vergessen die S&uuml;nde. Das alles f&uuml;hrt doch dazu, dass wir uns innerlich vollladen und nach einer gewissen Zeit werden wir dem nicht mehr standhalten k&ouml;nne n und an dem ganzen Zeug zerbrechen. Es sei denn, dass wir schon die Symptome bestenfalls schon im Fr&uuml;hstadium erkennen und schon so fr&uuml;h als m&ouml;glich ausradieren. "Vorbeugen ist besser als Heilen", sagt der Volksmund und ich denke, dass wir uns diesen Ausspruch zu Herzen nehmen sollten, damit wir nicht durch den ganzen Ballast zerbersten. Denn dies ist sicher nicht der Wille Gottes f&uuml;r unser Leben.</p>
<blockquote><p>
 Zur Freiheit hat uns Christus befreit! So steht nun fest und lasst euch nicht wieder das Joch der Knechtschaft auflegen!<br />
Galater 5:1<br />
</blockquote></p>
<p>Amen.</p>
