---
layout: post
status: publish
published: true
title: Schwachen werden sie die H&auml;nde auflegen...
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 80
wordpress_url: http://blog.moerssl.net/2006/10/18/schwachen-werden-sie-die-haende-auflegen/
date: '2006-10-19 10:25:12 +0200'
date_gmt: '2006-10-19 08:25:12 +0200'
categories:
- newstime
tags: []
comments:
- id: 53
  author: surfsquaw
  author_email: surfsquaw@gmx.de
  author_url: ''
  date: '2006-10-19 20:35:37 +0200'
  date_gmt: '2006-10-19 18:35:37 +0200'
  content: "Hi und *Schmunzel*,\nnaja, ich glaube auch, dass Gott heilt. Und besonders
    auch wenn wir Leute (in der Bibel auch explizit die &Auml;ltesten) bitten f&uuml;r
    uns zu beten. \nNaja, aber ich glaube net, dass du dir von nem Tiefk&uuml;hlbaguette
    ne Salmonellen-Infektion geholt hast. Geht n&auml;mlich meist nur von rohem Fleisch
    oder Eiprodukten aus und hat ne Inkubationszeit von 24 Stunden... hau, die angehende
    Mikrobiologin hat gesprochen.\nObwohl ich nicht bezweifeln w&uuml;rde, dass mit
    dem Baguett nicht mehr alles so ganz in Ordnung gewesen ist. Hmm, steht ja nicht
    umsonst auf den Packungen, dass man aufgetaute Sachen nicht wieder einfrieren
    soll ;o)\nNaja, und manchmal hat man halt einfach mal Bauchschmerzen :o)"
- id: 54
  author: cate
  author_email: sklavejesus@web.de
  author_url: http://missionfreak.blogspot.com
  date: '2006-10-20 14:29:10 +0200'
  date_gmt: '2006-10-20 12:29:10 +0200'
  content: "mone ist mir zuvor gekommen mit dem salmonelle.. hehe. \naber naha, so
    ganz froh war dein koerper bestimmt nit den ganzen tag nur brot zu fressen.. iggit..brot.."
---
<p>Nachdem ich in den letzten beiden Posts &uuml;ber meine Erfahrungen mit und in der Deutschen Bahn geschrieben habe, ist nun mal was aus dem Haus dran. Mir fallen in den letzten Tagen immer wieder Dinge ein, die ich mit Gott erlebt habe, die ich hier aber noch nicht niedergeschrieben habe, obwohl ich das "eigentlich" machen wollte.</p>
<p>Es begab sich am Mittwoch vor meiner Abreise nach Dresden. Abends war Hauskreis angesetzt und ich f&uuml;hlte mich total geschlaucht, verbraucht und ausgebrannt. Ich konnte mir allerdings nicht erkl&auml;ren, wovon. Nach dem Hauskreis wollte Lilly, dass ich nochmal mit ihr zusammen bete. Ich hab ihr gesagt, dass ich mich grad nicht gut f&uuml;hle, aber trotzdem mit ihr beten werde.<br />
Wir sa&szlig;en also zusammen auf unserer Treppe vorm Haus und unterhielten uns noch kurz.<br />
Lilly: "Was ist denn mit dir los."<br />
M&ouml;r&szlig;l: "Naja. Mir gehts nicht gut. Ich glaub mir is schlecht."<br />
Lilly: "Was hast du denn gegessen?"<br />
M&ouml;r&szlig;l: "Heute morgen ein Br&ouml;tchen vom B&auml;cker und zum Mittag zwei von unseren Baguettes aus dem Gefrierschrank."<br />
Lilly: "Ups. Die lagen aber schon 2 Tage im Backofen. Nachher waren die dann wieder im Gefrierschrank."<br />
M&ouml;r&szlig;l denkt: "Dann werden das wohl Salmonellen oder so was sein."</p>
<p>Wir haben dann uns zum Beten gegenseitig die H&auml;nde aufgelegt (weil man das ja so macht ;-) ). Nachdem mir das mit den Salmonellen klar geworden war und Lilly gebetet hatte, dass die Salmonellen doch mal gehen sollten, f&uuml;hlte ich mich wirklich besser. Mir war nicht mehr schlecht, ich hatte wieder Kraft und mir gings einfach gut.</p>
<p>Gott ist toll!</p>
<blockquote><p>Diese Zeichen aber werden denen folgen, die glauben: In meinem Namen werden sie D&auml;monen austreiben; sie werden in neuen Sprachen reden; werden Schlangen aufheben, und wenn sie etwas T&ouml;dliches trinken, wird es ihnen nicht schaden; <em><strong>Schwachen werden sie die H&auml;nde auflegen, und sie werden sich wohl befinden.</strong></em><br />
Markus 16:17-18<br />
</blockquote></p>
