---
layout: post
status: publish
published: true
title: Rein in die Kartoffeln, raus aus den Kartoffeln....
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 88
wordpress_url: http://blog.moerssl.net/2006/11/03/rein-in-die-kartoffeln-raus-aus-den-kartoffeln/
date: '2006-11-03 09:49:05 +0100'
date_gmt: '2006-11-03 08:49:05 +0100'
categories:
- newstime
tags: []
comments:
- id: 63
  author: JC
  author_email: jan-christoph.eb@gmx.net
  author_url: http://jcchina.blogger.com/
  date: '2006-11-05 07:59:03 +0100'
  date_gmt: '2006-11-05 06:59:03 +0100'
  content: Moin, ich bin Euch 7 Stunden voraus und kann erstaunlicher weise Dein Blog
    lesen - das ist mir hier in China bisher noch nicht moeglich gewesen. Mehr zu
    meinem Chinaaufenthalt auf meiner Seite.
- id: 64
  author: Klaus Langner
  author_email: Klaus.Langner@Doppelklicker.de
  author_url: http://www.doppelklicker.de
  date: '2006-11-08 13:48:20 +0100'
  date_gmt: '2006-11-08 12:48:20 +0100'
  content: Ich hoffe das du viel Spa&szlig; in China hast.War leider noch nicht dort.
    W&auml;re aber ne Reise wert.
---
<p>Es gibt wieder einen neuen Stern am Bloggerhimmel. Diesesmal handelt es sich um Jan-Christoph. Er geht zu Campus f&uuml;r Christus und ist Mitglied der IBC Bremen, die parallel zu uns Freaks ihren Gottesdienst um 16h unweit der offen:bar feiern.<br />
JC ist uns um einiges in der Zeit vorraus. Wie viele Stunden das nun genau sind, kann ich euch auch nicht sagen, jedenfalls ist er jetzt in China und macht da ein Praktikum.</p>
<p>Seine <a href="http://jcharbin.wordpress.com/2006/11/03/rauchverbot-etwas-subtiler/">heutige Story</a> ist ganz lustig....</p>
