---
layout: post
status: publish
published: true
title: Ein normaler Abend(?)
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 77
wordpress_url: http://blog.moerssl.net/2006/10/13/ein-normaler-abend/
date: '2006-10-13 10:55:47 +0200'
date_gmt: '2006-10-13 08:55:47 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Es war an einem der letzten Tage. Da wollte ich in mein Zimmer gehen. Ich schalte das Licht an (es war bereits abend) und w&auml;re am liebsten wieder r&uuml;ckw&auml;rts rausgegangen. Diese Unordung, die da in meinen Gefilden vorgeherrscht habt, war kaum auszuhalten. Ich hab mich nach verschiedensten Dingen (tot-)gesucht. Ihr kennt doch sicher das Sprichwort: "Wer aufr&auml;umt, ist zu faul zum suchen." Naja, das hab ich in den letzten Wochen auch des &ouml;fteren gedacht, nur hat es mich richtig angekotzt, dass ich stundenlang nach Dingen gesucht habe, die ich dann doch nicht gefunden habe.</p></p>
<p>Also nun zum gestrigen Abend: Ich war noch kurz einkaufen, damit Fraidy - unsere Katze - nicht verhungert. Hab mir dann selbst noch was zu essen gemacht. Mit etwas im Magen habe ich dann etwas Lobpreismusik angemacht und mein Zimmer weitestgehend aufger&auml;umt. Zwischendrin hatte ich dann so den Gedanken: "Wenn du hier fertig bist, kannst du ja noch in die offen:bar gehen. Melly arbeitet ja heute."</p></p>
<p>Ich habs dann nicht gemacht. Und als ich heute morgen ihren <a href="http://melly.blogspirit.com/archive/2006/10/13/gottes-kraft.html">Blogeintrag</a> las, war ich auch froh dr&uuml;ber, dass ichs nicht gemacht habe.</p></p>
<p>&nbsp;</p></p>
<p>Sie schreibt, wie sie gestern viele gute Gespr&auml;che mit den G&auml;sten in der offen:bar hatte. W&auml;re ich da gestern noch hingegangen, h&auml;tten wir beide sicherlich wieder zusammengehockt und geschnackt und es w&auml;ren nicht alle Gespr&auml;che zustande gekommen.</p></p>
<p>Stattdessen habe ich mich dann nach getaner Arbeit auf mein leerger&auml;umtes Sofa gelegt und mir noch die eine oder andere Predigt angeh&ouml;rt.</p></p>
<p>Alles in allem war es ein gelungener Abend.</p></p>
