---
layout: post
status: publish
published: true
title: Eine w&uuml;nschenswerte Gemeinde, wie damals in Thessaloniki!
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 55
wordpress_url: http://blog.moerssl.net/2006/07/10/eine-wuenschenswerte-gemeinde-wie-damals-in-thessaloniki/
date: '2006-07-10 11:37:08 +0200'
date_gmt: '2006-07-10 07:37:08 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Wir haben unseren <a href="http://jesusfreaks-bremen.de/newsletter.php">Newsletter</a>, die <a href="http://www.jgdresden.de">Jesusgemeinde Dresden</a> hat ihren Gemeindebrief. In der Juniausgabe ging es - wie die &Uuml;berschrift schon sagt - um die Gemeinde in Thessaloniki. Und hier ist der Artikel, geschrieben von Wayne Neuper (Leiter der Jesusgemeinde Dresden und Mitglied im Apostolischen Team von NCMI):</p></p>
<blockquote>
<p>Im ersten Brief von Paulus an die Thessalonicher, lesen wir von einigen beeindruckenden Merkmalen dieser w&uuml;nschenswerten Gemeinde. Diese Gemeinde war gerade einige Monate alt aber war schon so weit im Verst&auml;ndnis und so hingegeben f&uuml;r ihre Aufgabe im Herrn, dass wir heute nur staunen k&ouml;nnen. Wie kam es zu dieser schnellen Entwicklung? Welche Merkmale haben so beeindruckt?</p></p>
<p>Paulus hat eine Zuversicht, dass sie im Glauben wachsen!! Er wei&szlig;, dass diese Gemeinde, Gottes Gemeinde ist. Seine Zuversicht ist in Gott. In Kapitel 1 und 2 lesen wir von folgenden Merkmalen ...</p></p>
<p><br /><br />
1. Ihr Alltag (V3)<br /><br />
In Erinnerung hat Paulus ihr Werk des Glaubens (Beziehung zu Gott), die Bem&uuml;hung der Liebe (Beziehungen mit einander) und das Ausharren in der Hoffnung auf unseren Herrn Jesus Christus (Haltung gegen&uuml;ber der Zukunft).</p></p>
<p>Jeder Christ muss glauben, soll lieben, soll hoffen. Alle drei Dinge sind Zeichen der Wirkung des Heiligen Geistes im Leben der Gl&auml;ubigen. Sie ver&auml;ndern das Leben. Die Werke sind ein Ergebnis des Glaubens, Bem&uuml;hungen resultieren von Anstrengung und Ausharren ist Geduld, auch wenn es Widerstand gibt.</p></p>
<p><br /><br />
2. Ihr Empfang der Botschaft (V5)<br /><br />
Die Gemeinde war ein Ergebnis der Verk&uuml;ndigung des Evangeliums. Diese Verk&uuml;ndigung kam mit Kraft durch eine m&auml;chtige Wirkung in die Herzen der Zuh&ouml;rer, wurde akzeptiert und angenommen und die Botschaft sp&auml;ter weitergegeben. '</p></p>
<p><br /><br />
3. Ihr Einfluss (V6,7)<br /><br />
&bdquo;Und ihr seid unsere und des Herrn Nachfolger geworden, indem ihr das Wort unter viel Tr&uuml;bsal aufnahmt mit Freude des heiligen Geistes, so dass ihr Vorbilder geworden seid f&uuml;r alle Gl&auml;ubigen in Mazedonien und Achaja.&ldquo;<br /><br />
Sie wurden Vorbilder f&uuml;r Andere. Sie waren voll Freude, echt, wahr und gehorsam. Im Vers 8 lesen wir, dass ihr Glaube an jeden Ort hinausgedrungen ist. Sie haben gepredigt, ihr Glaube wurde, weit &uuml;ber die Grenzen der naheliegenden Regionen hinaus, bekannt. Durch Mund zu Mund &Uuml;bertragung wurde bekannt, dass sich eine neue Art von Gemeinde bereit gemacht hat &ndash; eine vorbildliche Gemeinde.</p></p>
<p><br /><br />
4. Ihre Neubekehrten (V9)<br /><br />
Die Neubekehrten haben sich radikal und durch Gottes Kraft bekehrt. Alle konnten sehen, dass ihr Glaube echt ist. Sie haben sich vom G&ouml;tzendienst getrennt, haben ein aktives Dienen im K&ouml;nigreich Gottes angefangen und haben sich auf ein geduldiges Warten f&uuml;r die Wiederkunft Jesu eingestellt. Genau diese drei Dinge machen eine Gemeinde stark:</p></p>
<p>Glaube gekennzeichnet durch Ablehnung des G&ouml;tzendienstes,<br /><br />
Liebe im Dienen und<br /><br />
Hoffnung durch das Warten auf Ihn.</p></p>
<p>&nbsp;</p></p>
<p>5. Ihre Beziehungen<br /><br />
1Thess.2,8 &bdquo;Und wir sehnten uns so sehr nach euch, dass wir willig waren, euch nicht nur das Evangelium Gottes mitzuteilen, sondern auch unsere Seelen, weil ihr uns lieb geworden wart.&ldquo;<br /><br />
Gehen unsere Beziehungen tiefer als nur in die &bdquo;Funktions&ldquo; Ebene? In der Gemeinde in Thessaloniki waren ihre Beziehungen wertvoll und tiefgehend.</p></p>
<p>Die Gemeinde wurde als Familie verstanden. Sie hatten famili&auml;re Beziehungen mit anderen Gl&auml;ubigen, die mindestens so herzlich waren, wie die in ihren eigenen nat&uuml;rlichen Familien. Sie waren willig ihre Seelen mitzuteilen! Oder ihre &bdquo;Leben zu teilen&ldquo;, wie es in einer anderen &Uuml;bersetzung hei&szlig;t.<br /><br />
Paulus hatte Beziehungen der &bdquo;B&uuml;ndnis&ldquo; Art mit den Menschen in dieser Gemeinde. (siehe 1.Chronik11,1-3) Er war bereit sein Leben zu geben f&uuml;r die Menschen mit denen er in Beziehung war!</p></p>
<p>Wie k&ouml;nnen wir die Qualit&auml;t unserer Beziehungen ganz praktisch wachsen lassen?<br /><br />
Sei erf&uuml;llt mit Gottes Liebe<br /><br />
Sei sicher in dem, was du bist und wie Gott dich geschaffen hat. Kein Selbstmitleid! Es ist wichtig, dass du dich selbst lieben kannst.<br /><br />
Begegne den Bed&uuml;rfnissen der Anderen. Wenn du einen Freund haben willst, sei ein Freund.<br /><br />
Sei ehrlich &ndash; keine Masken!<br /><br />
Lerne zu vertrauen.<br /><br />
Vergib, wie dir vergeben worden ist! (Matth.18,21+22). Es geht um dich, nicht um die Anderen!<br /><br />
H&ouml;re gut zu<br /><br />
Plane Zeit f&uuml;r Highlights und Spa&szlig;<br /><br />
Habe eine realistische Erwartung an Andere.<br /><br />
Baue unterschiedliche Beziehungen d.h. mit Ehepaaren, Mentoren usw.</p></p>
<p>&nbsp;</p></p>
<p>Die Menschen haben von der Gemeinde in Thessaloniki geh&ouml;rt, weil der Geist Gottes in ihrer Mitte gewirkt hat, sie eine radikale Ver&auml;nderung erlebt haben und diese Nachricht in die ganze Region hinausgedrungen war..... Genau daf&uuml;r wollen wir als Jesusgemeinde bekannt sein.</p></blockquote></p>
<p>---------------</p></p>
<p>Quelle: <a href="http://www.jgdresden.de/index.php?option=com_content&amp;task=view&amp;id=265&amp;Itemid=169&amp;lang=de">http://www.jgdresden.de/index.php?option=com_content&amp;task=view&amp;id=265&amp;Itemid=169&amp;lang=de</a> vom 10.07.06</p></p>
