---
layout: post
status: publish
published: true
title: LAN-Party im HoHa
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 86
wordpress_url: http://blog.moerssl.net/2006/10/29/lan-party-im-hoha/
date: '2006-10-29 04:01:41 +0100'
date_gmt: '2006-10-29 03:01:41 +0100'
categories:
- newstime
tags: []
comments:
- id: 59
  author: cate
  author_email: sklavejesus@web.de
  author_url: http://missionfreak.blogspot.com
  date: '2006-10-29 23:33:16 +0100'
  date_gmt: '2006-10-29 22:33:16 +0100'
  content: naja.. einen HoHa ist eher gegenueber.. dass ist auf englisch nit so ne
    nette beschreibung...
- id: 60
  author: Corcken
  author_email: cornelius@bortmann.de
  author_url: ''
  date: '2006-10-31 01:03:21 +0100'
  date_gmt: '2006-10-31 00:03:21 +0100'
  content: Netzwerksession war gut!
- id: 61
  author: surfsquaw
  author_email: surfsquaw@gmx.de
  author_url: ''
  date: '2006-11-01 19:35:13 +0100'
  date_gmt: '2006-11-01 18:35:13 +0100'
  content: JA, hat voll Spa&szlig; gemacht. Freu mich schon aufs n&auml;chste Mal.
    Dann hoffentlich mit weiteren weiblichen Mitspielerinnen.
- id: 62
  author: Dane
  author_email: warum_braucht_man@die-emailadresse.de
  author_url: ''
  date: '2006-11-08 17:03:35 +0100'
  date_gmt: '2006-11-08 16:03:35 +0100'
  content: |-
    Yo, naechstes Mal will ich auf jeden Fall mit in die Arena der Elektro-Gladiatoren klettern!
    Generaele, sattelt eure Cyborgs!
---
<p>Dank Doro kenne ich jetzt auch eine Abk&uuml;rzung f&uuml;rs Hoffnungshaus, wie ihr ja in der &Uuml;berschrift sehen k&ouml;nnt.</p></p>
<p><img height="338" alt="DSC01341" src="http://blog.moerssl.net/wp-content/uploads/2006/10/dsc01341.jpg" width="450" /></p></p>
<p>So hier mal noch ein kurzer Abriss (siehe Bild) was Sonnabend Abend bei uns im Haus los war. Gegen 19h kamen die ersten Leute an. Wir (also Corcken und ich) hatten zur LAN-Party <em>(Local Area Network Party)</em> eingeladen. Normalerweise funktioniert das so, dass man mehrere Rechner &uuml;ber ein Netzwerk, das so genannte LAN, zusammen schlie&szlig;t. Nur haben das zumindest die Leute auf dem Bild etwas falsch verstanden....<br /><br />
Auf dem Bild seht ihr das Ergebnis, wenn viele Menschen ein Computerspiel auf dem gleichen Rechner spielen. Es war schon lustig!!</p></p>
<p>Auch die anderen Spiele haben richtig Spa&szlig; gemacht, auch wenn ich am Ende unserer Strategiespiel-Sessions mit weniger (=gar nix) mehr dastand, als ich zu Anfang hatte.</p></p>
<p>&nbsp;</p></p>
<p>Diese Party ist auf jeden Fall eine Wiederholung wert!</p></p>
