---
layout: post
status: publish
published: true
title: Up and Down
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 26
wordpress_url: http://blog.moerssl.net/2006/05/09/up-and-down/
date: '2006-05-09 14:28:03 +0200'
date_gmt: '2006-05-09 12:28:03 +0200'
categories:
- newstime
tags: []
comments:
- id: 16
  author: Doro
  author_email: doro@jesusfreaks-bremen.de
  author_url: ''
  date: '2006-05-10 15:16:49 +0200'
  date_gmt: '2006-05-10 13:16:49 +0200'
  content: "H&auml;&auml;&auml;, versteh ich nicht!!?\n\nBei Cate steht doch dass
    sie noch 2 Jahre bleibt!!\nWo ist das Problem? \n\nOder wollt ihr uns nur verkackeiern??
    ;)"
- id: 17
  author: Melly
  author_email: Juvriel@web.de
  author_url: http://melly.blogspirit.com
  date: '2006-05-10 15:30:09 +0200'
  date_gmt: '2006-05-10 13:30:09 +0200'
  content: grrrrr....da macht man sich hier die schlimmsten vorstellungen und denkt,
    das Cate nicht bleiben darf und dann das :-D nee nee nee...clown gefr&uuml;hst&uuml;ckt?
    ;-)
---
<p>Oftmals liegen Freude und Trauer, Fr&ouml;hlichkeit und Niedergeschlagenheit so dicht beieinander. Gerade noch freuten wir (Cate, Lilly, Corcken und ich) uns, dass unsere Besetzung f&uuml;r das Hoffnungshaus komplett ist und wir das Haus schon jetzt renovieren und einr&auml;umen k&ouml;nnen. Und dann trifft die Nachricht von Cates Visum die ganze Situation und man ist am Boden zerst&ouml;rt.<br />
Mir fehlt im Augenblick die Kraft, die Story zu erz&auml;hlen. <a href="http://missionfreak.blogspot.com/2006/05/visum-jahr-verlaengerung-verweigert.html">Lest sie am besten selbst nach...</a></p>
