---
layout: post
status: publish
published: true
title: B&uuml;cher, B&uuml;cher, nix als B&uuml;cher
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 74
wordpress_url: http://blog.moerssl.net/2006/10/03/buecher-buecher-nix-als-buecher/
date: '2006-10-03 13:43:00 +0200'
date_gmt: '2006-10-03 11:43:00 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Auch ich wurde nun getroffen. Ihr wisst wahrscheinlich alle, worum es geht. Also hier die Fragen und die dazugeh&ouml;rigen Antworten:</p>
<p>|1| Ein Buch, das dein Leben ver&auml;ndert hat:</p>
<p>Mut zur Demut; Bill Hybels</p>
<p>|2| Ein Buch, das du mehr als einmal gelesen hast:</p>
<p>Der gute Kampf des Glaubens; Kenneth Hagin</p>
<p>|3| Ein Buch, das du auf einer einsamen Insel gern bei dir h&auml;ttest:</p>
<p>Robinson Crusoe; Daniel Dafoe</p>
<p>|4| Ein Buch, das dich zum Lachen gebracht hat:</p>
<p>Die Bibel nach Biff; Christopher Moore (das H&ouml;rbuch)</p>
<p>|5| Ein Buch, das dich zum Weinen gebracht hat:</p>
<p>Der ungez&auml;hmte Mann; John Eldredge </p>
<p>|6| Ein Buch, das h&auml;tte geschrieben werden sollen:</p>
<p>Der gute Roman - Ein Ratgeber; Marcel Reich-Ranicki</p>
<p>|7| Ein Buch, das nie h&auml;tte geschrieben werden sollen:</p>
<p>Nichts als die Wahrheit; Dieter Bohlen</p>
<p>|8| Ein Buch, das du gerade liest:<br />
Das Restaurant am Ende der Welt; Douglas Adams</p>
<p>|9| Ein Buch, das du schon immer mal lesen wolltest:</p>
<p>Das kommunistische Manifest; Karl Marx</p>
<p>|10| Lade f&uuml;nf andere Blogger ein, mitzumachen:</p>
<p>?; passe, die haben alle schon...</p>
