---
layout: post
status: publish
published: true
title: Ich m&uuml;sste, ich sollte, ja ich wei&szlig;
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 54
wordpress_url: http://blog.moerssl.net/2006/07/03/ich-muesste-ich-sollte-ja-ich-weiss/
date: '2006-07-03 22:44:55 +0200'
date_gmt: '2006-07-03 20:44:55 +0200'
categories:
- newstime
tags: []
comments:
- id: 38
  author: Tick,Trick und Track
  author_email: shadow0302@web.de
  author_url: ''
  date: '2006-07-06 00:02:10 +0200'
  date_gmt: '2006-07-05 22:02:10 +0200'
  content: erz&auml;hl mal was, was nicht schon alle wissen...is ja arschlangweilig
---
<p>"Ich sollte mal &ouml;fter Bibel lesen."</p></p>
<p>"Eigentlich sollte ich mal wieder beten."</p></p>
<p>"Ich m&uuml;sste mal mein Zimmer aufr&auml;umen."</p></p>
<p>Das sind alles solche Phrasen, die wir in unserem Alltag verwenden. Ich wei&szlig; nicht, wie es euch dabei geht, aber immer wenn ich diese Worth&uuml;lsen verwende, ist das Ergebnis immer das gleiche. Und zwar passiert da nix, &uuml;berhaupt nix. Ich habe zumindest bei mir herausgefunden, dass ich solche S&auml;tze immer verwende, um bei anderen gut dazustehen bzw. mich gut da stehen zu lassen oder auf eine andere Weise mich der jeweiligen Gruppe zugeh&ouml;rig zu f&uuml;hlen oder gute Vors&auml;tze und Handlungsdrang vorzut&auml;uschen.</p></p>
<p>Ich versuche nicht erst seit neustem diese Phrasen zu vermeiden, weil ich ja schon wei&szlig;, dass da i.d.R. nichts draus wird. Stattdessen versuche ich meinen Aussagen mehr Ausdruck zu verleihen, sodass man mich auch nach einer gewissen Zeit mal nachfragen kann / k&ouml;nnte.</p></p>
<p>Bsp.: "Ich werde mein Zimmer aufr&auml;umen!" Hinter der Aussage steht der klare Entschluss dahinter. Wenn ich so was sage, f&uuml;hle ich mich dann in gewisser Weise (positiv) gezwungen, mein Zimmer aufzur&auml;umen...</p></p>
<p>Eine andere Sache ist, wenn mich Personen auf eine Sache ansprechen, &aacute; la: "Du trinkst zu viel Kaffee!" Meist ist / war meine Antwort auf eine solche Feststellung: "Ja, ich wei&szlig;." Dann macht man dazu noch ein bedr&ouml;ppeltes Gesicht, zieht den Kopf etwas an die Brust und der Gegen&uuml;ber meint, seine Warnung sei angekommen. Doch genau das Gegenteil ist doch eigentlich der Fall. Mit diesem "Ja, ich wei&szlig;." gebe ich meinem Gegen&uuml;ber doch nur zu verstehen, dass mir seine Feststellung in Wirklichkeit total egal ist.</p></p>
<p>Genauso, wie ich versuche (noch so eine Phrase), diese S&auml;tze nicht mehr zu verwenden, nehme ich mir die Kritik, Feststellungen etc. nun doch etwas mehr zu Herzen und arbeite (auch mit Gottes Hilfe) daran, die angemerkten Dinge zu &auml;ndern und schmettere sie nicht mit einem "Ja, ich wei&szlig;." ab.</p></p>
<blockquote>
<p>Wer seinen Mund und seine Zunge beh&uuml;tet, der beh&uuml;tet seine Seele vor mancher Not.</p></p>
<p>Spr&uuml;che 21:23 (Schlachter)</p></blockquote></p>
