---
layout: post
status: publish
published: true
title: Wir und WLAN
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 48
wordpress_url: http://blog.moerssl.net/2006/06/12/wir-und-wlan/
date: '2006-06-12 00:16:02 +0200'
date_gmt: '2006-06-11 22:16:02 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ich hab grad mal auf die Uhr geschaut und gemerkt, dass es schon fast wieder Mitternacht ist. Corcken und ich haben nichts besseres zu tun, als uns um die Funktionalit&auml;t unseres WLANs zu k&uuml;mmern.</p></p>
<p>Wir haben 3 Notebooks in Corckens Zimmer laufen und Cate ist auch grad online, allerdings noch mit Kabel.</p></p>
<p>Wie es grade bei Corcken im Zimmer aussieht, k&ouml;nnt ihr auf dem sch&ouml;nen Foto sehen.</p></p>
<p> <img height="185" alt="DSC01038" src="http://blog.moerssl.net/wp-content/uploads/2006/06/dsc01038-1.jpg" width="240" /></p></p>
