---
layout: post
status: publish
published: true
title: Leaving Hopehouse
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 92
wordpress_url: http://blog.moerssl.net/2006/11/14/leaving-hopehouse/
date: '2006-11-14 13:51:30 +0100'
date_gmt: '2006-11-14 12:51:30 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Es bahnte sich an. Wir wussten alle, dass es mal so weit kommen w&uuml;rde. Aber dass es uns gleich so hart trifft, dass hatten wir nicht gedacht. &Auml;ndern k&ouml;nnen wir aber nix mehr.</p></p>
<p>N&auml;chstes Jahr wird es so weit sein, die WG wird schrumpfen. Dass Corcken im Sommer von uns gehen w&uuml;rde, war uns klar. Aber auch Lilly trifft das gleiche Schicksal wie ihn. Sie wird uns schon im Februar verlassen. Beide zieht es weg - in den Hafen der Ehe (unterschiedliche wohlgemerkt).</p></p>
<p>Cate und ich werden &uuml;brig bleiben in einem gro&szlig;en, leeren Haus...</p></p>
<p>Aber dies gilt es zu verhindern. Wir brauchen 2-3 Leute, die es sich nicht nur vorstellen k&ouml;nnen, ins Hoffnungshaus zu ziehen, sondern es auch tun werden.</p></p>
<p>Bist du interessiert? Brauchst du Infos? <a href="mailto:hoffnungshaus@blog.moerssl.net">Melde</a> dich einfach!</p></p>
