---
layout: post
status: publish
published: true
title: Das Kind im Zug (Teil 2)
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 79
wordpress_url: http://blog.moerssl.net/2006/10/17/das-kind-im-zug-teil-2/
date: '2006-10-17 10:00:00 +0200'
date_gmt: '2006-10-17 08:00:00 +0200'
categories:
- newstime
tags: []
comments:
- id: 52
  author: sibe
  author_email: sibe@jesusfreaks.ch
  author_url: http://sibeletti.blogspot.com
  date: '2006-10-18 08:22:11 +0200'
  date_gmt: '2006-10-18 06:22:11 +0200'
  content: |-
    das ist cool...
    ich muss sehr aufpassen, dass ich mich &uuml;ber zeugs, das nicht funktioniert wie ich mir das vorgestellt habe, nicht so sehr nerve, dass ich die sachen, die Gott mir damit oder im zusammenhang zeigen m&ouml;chte, gar nicht mehr sehe...
    gute zeit...
---
<p>Es war nun also Abend und ich war in einem Hotel in Hamburg und nicht, wie geplant, im Zug nach Dresden. Noch im Zug nach Hamburg bekam ich das Gef&uuml;hl, dass diese Situation von Gott gewollt bzw. genutzt wird. Aber, dass das auch wirklich so war, wird mir erst jetzt klar.</p></p>
<p>Am n&auml;chtsten Tag hie&szlig; es dann um 6 Uhr aufzustehen, damit ich meinen Zug um 7:15 Uhr noch erreiche. Fr&uuml;hst&uuml;cken und Duschen sollte ja auch mit drin sein. Den Zug habe ich dann auch bekommen. Nach einiger Zeit, ich wei&szlig; nicht mehr wie lange genau ich schon gefahren war, stiegen diese 3 Leute ein. Mann, Frau und Kleinkind (ca. 5 oder 6 Jahre). Die haben sich dann ca. 7 Reihen vor mir hingesetzt. Zuerst habe ich von denen nicht so viel Notiz. Nach einer Weile fiel das "nicht viel Notiz nehmen" dem Kleinkind gegen&uuml;ber doch sehr schwer. Der Dezibel-Pegel, der von dem Kind ausging, war einfach sehr hoch. Ums mal in Deutsch zu formulieren: Das Kind hat mich genervt. Es war laut, hat irgendwelchen Schei&szlig; gebrabbelt. Einige Zeit habe ich versucht das Kind einfach zu ignorieren, aber das hat nicht funktioniert. "Toll, deine Schwester ist ja genauso und da f&auml;hrst du jetzt freiwillig hin.", schoss es mit immer wieder durch den Kopf. Ich konnte richtig f&uuml;hlen, wie sich in mir eine Antipathie dem Kind gegen&uuml;ber aufgebaut hat. Dass das nicht gut war, wusste ich selber. Ich hab dann dem Kind einfach vergeben, dass es mir auf die Nerven geht - aber die Ger&auml;usche hat es immer noch von sich gegeben. Nur hatte sich bei mir was ge&auml;ndert. Die machten mir nix mehr aus - und diesmal wirklich. Ich habe das nicht einfach verdr&auml;ngt oder so. Diese ganzen negativen Gef&uuml;hle waren einfach weg.</p></p>
<p>Es war dann in Riesa, oder so. Ich hatte noch ca. 80 Minuten Fahrtzeit oder so vor mir und rechts von mir noch einen leeren Platz. Da kommen auf einmal 2 Personen aus dem angrenzenden Waggon durch "meinen" Gelaufen. Bei den beiden handelte es sich um eine Mutter mit ihrer 6 Jahre alten Tochter, die nach einem Sitzplatz suchten. Im ganzen Waggon war nichts mehr frei. Ich sagte dann so in Gedanken zu Gott: "Die beiden k&ouml;nnen sich ja neben mich setzen. Die Kleine nimmt ja nicht allzu viel Platz weg. Da passen wir auch zu dritt auf diese beiden Sitze." Als ob die Mutter das geh&ouml;rt h&auml;tte, was ich nicht ausgesprochen habe, kam sie auf mich zu und fragte, ob der Sitzplatz noch frei w&auml;re. Ich r&uuml;ckte einfach ein St&uuml;ck ans Fenster, damit auch das Kind zwischen uns beiden noch Platz hatte und schon hatte sich die Sache erf&uuml;llt. Ich sp&uuml;rte in mir auf einmal einen solchen Frieden und Gott hat durch diese ganze Sache einiges im mir ver&auml;ndert.</p></p>
<p>Kleinkindern gegen&uuml;ber war ich nicht immer positiv eingestellt - um es mal politisch zu formulieren. Ich habe immer wieder gesagt: "Bevor ich Vater werde, muss Gott noch einiges in mir drin ver&auml;ndern." Und mir f&auml;llt immer wieder auf, wie er in den letzten Wochen da dabei ist. Es gibt und gab verschiedene Situationen, in denen ich anders gehandelt habe, als ich es sonst getan h&auml;tte. Gott ist einfach super, sucht unser Bestes und ver&auml;ndert uns zum Besseren hin.</p></p>
<p>Ich habe vorhin geschrieben, dass ich denke, dass diese &Uuml;bernachtung und der ganze Trubel umzu von Gott gewollt bzw. genutzt wurde. Wie komme ich da drauf? Nun ganz einfach. Ich kann mir kaum vorstellen, dass eine 3-k&ouml;pfige Familie mit einem extrovertierten Kind Donnerstag Abend bzw. Nacht mit einem Zug unterwegs ist und das Kind einen solchen Radau macht. Ebenfalls stufe ich den gleichen Sachverhalt bei der Mutter mit ihrem Kind ein. Ich denke mal, dass diese Ver&auml;nderung nicht geschehen w&auml;re, wenn ich meinen Zug am Donnerstag nach Dresden noch bekommen h&auml;tte.</p></p>
<blockquote>
<p>HERR, du hast mich erforscht und erkannt.<br /><br />
Mit allen meinen Wegen bist du vertraut.</p></p>
<p>Psalm 139:1.3</p></blockquote></p>
