---
layout: post
status: publish
published: true
title: Vertraue auf die Gaben in dir!
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 25
wordpress_url: http://blog.moerssl.net/2006/05/17/vertraue-auf-die-gaben-in-dir/
date: '2006-05-17 15:29:07 +0200'
date_gmt: '2006-05-17 13:29:07 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Es ist schon einige Zeit her, als ich das letzte Mal die Geschichte von David und Goliath gelesen habe. (Nachdem mir der Gedanke f&uuml;r den Post hier kam, hab ich doch noch mal kurz reingeschaut) Die Geschichte d&uuml;rfte ja bekannt sein. Wer sie nicht kennt kann sie ja im&nbsp;<a href="http://www.wort-und-wissen.de/bibel/bibel.php?go=1sam_17">1.Samuel 17</a> nachlesen.</p>
<p>Eine Sache ist mir da vor einiger Zeit wieder in den Sinn gekommen. Der Zwerg David tritt dem Riesen Goliath ohne irgendeine R&uuml;stung gegen&uuml;ber! Aber woran lag das? Er hat sie nicht gebraucht! Saul hatte ihm eine gute R&uuml;stung und ein gutes Schwert gegeben. Aber David war an ein solches Ger&auml;t nicht gewohnt, er konnte sich in diesem Zeug einfach nicht bewegen! Er l&auml;sst also die R&uuml;stung und das Schwert links liegen und macht sich, nur mit seiner Steinschleuder bewaffnet, auf in den Kampf gegen Goliath. Die beiden stehen sich gegen&uuml;ber, halten noch kurz einen Smalltalk, ein Stein fliegt durch die Luft und der Riese liegt mit einem Loch im Kopf am Boden und ist tot.</p>
<p>David hat den Kampf halt im 'David-Style' gef&uuml;hrt und sich nicht durch die (vermeitlich) bessere Ausr&uuml;stung beirren lassen. Er hat auf die Kenntnisse und Gaben vertraut, die er schon seit Jahren hatte und in denen er ge&uuml;bt war. Den L&ouml;wen und den B&auml;ren hat er auch nicht mit einem Schwert erschlagen, sondern mit seiner Steinschleuder!<br />
David konnte all die Jahre (vermute ich mal ;-) ) in seiner "gewohnten" Umgebung (bei den Schafen) den Umgang mit <strong>seiner</strong> Waffe - mit seiner <strong>Gabe</strong> - trainieren. Und als es ernst wurde, lie&szlig; er sich nicht durch die Umst&auml;nde einsch&uuml;chtern. Er hat den Kampf so durchgezogen wie im Training.</p>
