---
layout: post
status: publish
published: true
title: Tolle Erfindung, dieses Ausruhen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 96
wordpress_url: http://blog.moerssl.net/2006/12/04/tolle-erfindung-dieses-ausruhen/
date: '2006-12-04 23:53:00 +0100'
date_gmt: '2006-12-04 22:53:00 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Vorletztes Wochenende war GIS und es war super!! Die Woche davor war f&uuml;r mich Stress pur und ich erfuhr, was es hei&szlig;t unter Druck zu stehen. Mein Projektleiter machte Druck, dass ich bis zu jener Woche Mittwoch abend mit Verbesserungen meiner Software fertig sein sollte, da schon das n&auml;chste zeitkritische Projektchen auf mich wartet (damit werde ich dann am 6.12. anfangen). Jedenfalls hie&szlig; diese Anweisung f&uuml;r mich: Beeilung und fertig werden!! Als w&auml;re das nicht schon Grund genug um in Panik auszubrechen, setze sich jener Projektleiter am Montag noch zu einem Test an die Software. Ende von Lied waren dann ca. 15 mittel- bis schwer-wiegende Fehler, die es zu beseitigen galt. Ich stand richtig unter Druck, diese Woche hat mich Kraft gekostet ohne Ende. Aber ich bin (fast) rechtzeitig fertig geworden. Donnerstag Mittag war es dann soweit und die Programmierarbeiten abgeschlossen.</p></p>
<p>Donnerstag bin ich dann auch wie tot ins Bett gefallen... Umso sch&ouml;ner war dann das Ausschlafen am Freitag. Urlaub ist einfach was tolles. Diese Pause war schon von langer Hand geplant - als Vorbereitung aufs GIS. Dieses Nixtun hat mir schon mal sehr gut getan. Das Wochenende war dann auch richtig geil. Dierk aus der Kraftwerkgemeinde Dresden war da und hat einige Sachen &uuml;ber den Umgang mit Prophetie mit uns geteilt. Die Eindr&uuml;cke, die die ganzen Propheten w&auml;hrend dieser Zeit f&uuml;r mich hatten, haben mal wieder voll gesessen.</p></p>
<p>Von hier aus noch mal ein gro&szlig;es Dankesch&ouml;n an alle die das GIS zu so etwas Besonderem haben werden lassen!</p></p>
