---
layout: post
status: publish
published: true
title: FLT
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 30
wordpress_url: http://blog.moerssl.net/2006/05/12/flt/
date: '2006-05-12 13:50:07 +0200'
date_gmt: '2006-05-12 11:50:07 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Die Seminarmitschnitte vom FLT sind online!<br />
Downloadm&ouml;glichkeit ist bei den <a href="http://jesusfreaks-darmstadt.flameresistant.de/2006/05/02/flt-seminare/">Freaks aus Darmstadt</a>.</p>
