---
layout: post
status: publish
published: true
title: LTT go!
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 15
wordpress_url: http://blog.moerssl.net/2006/04/09/ltt-go/
date: '2006-04-09 12:34:00 +0200'
date_gmt: '2006-04-09 10:34:00 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>So heute isses nu so weit. Kai und ich werden heute nach dem Gottesdienst ins Flugzeug steigen und uns in Richtung Westen begeben.<br />
Ich bin mal gespannt, was uns bei dem LTT so alles erwartet. Es wird sicherlich ne super Zeit mit Gott und den ganzen Leuten. Ich freu mich schon, einige Gesichter aus meiner <a href="http://www.jgdresden.de">Dresdner Gemeinde</a> wieder zu sehen.<br />
Auf jeden Fall bin ich schon ganz aufgeregt.</p>
<p>Bis die Tage und haltet die Ohren steif!!</p>
<p>M&ouml;r&szlig;l</p>
