---
layout: post
status: publish
published: true
title: tired but satisfied
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 16
wordpress_url: http://blog.moerssl.net/2006/04/17/tired-but-satisfied/
date: '2006-04-17 14:25:35 +0200'
date_gmt: '2006-04-17 12:25:35 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ich bin wieder in Deutschland. Die vergangene Woche war voll mit Teachings, Worship and Conversation. Das LTT in England war einfach der Hammer. Es kamen mehr Leute, als ich gedacht hatte. Insgesamt waren es 543 Teilnehmer aus ich wei&szlig; nicht mehr wie vielen L&auml;ndern. Die Spanne reichte jedenfalls von der Mongolei bis in die USA.<br />
Aus Deutschland waren insgesamt acht Leute da. 4 aus der <a href="http://www.jgdresden.de">Jesusgemeinde Dresden</a>, 2 aus der <a href="http://www.josuakirche.org/index.html">Josua Kirche L&uuml;nen</a>, Kai und ich von den <a href="http://jesusfreaks-bremen.de">Bremer Freaks</a>.<br />
Wir hatten wunderbare Anbetungszeiten w&auml;hrend der ganzen Woche (Ich hatte am Ende der Woche Muskelkater!!!). Die Predigten der Mitglieder des Apostolischen Teams (NCMI) waren sehr ermutigend, aber auch herausfordernd. </p>
<p>Erst mal eine Kurzzusammenfassung der letzten Woche: Am letzten Sonntag sind wir nach dem Gottesdienst in Richtung Flughafen aufgebrochen. Der Flug versp&auml;tete sich um ca. ne Viertelstunde. Kai hatte sich in den letzten Wochen mit einer Gemeinde in Watford in der N&auml;he des Flughafens in Luton wegen einer &Uuml;bernachtungsm&ouml;glichkeit on Sonntag auf Montag in Verbindung gesetzt. Allerdings hatte er keine Best&auml;tigungsmail erhalten, so dass wir uns schon darauf eingerichtet hatten evtl. auf dem Flughafen zu &uuml;bernachten. Das brauchten wir aber nicht. Wir wurden stahlend von Sandy begr&uuml;&szlig;t. Sandy und ihr Vater Paul brachten uns dann zu unserer Gastunterkunft zu Paul nach Hause.<br />
Das LTT fand dann von Montag bis Freitag in dem D&ouml;rfchen Pakefield an der Ostk&uuml;ste Gro&szlig;britaniens statt. Das waren ca. 3 Stunden mit dem Auto. Auch darum hatte man sich in Watford schon f&uuml;r uns gek&uuml;mmert. Paul und Debbie nahmen uns in ihrem Auto mit.<br />
In der Woche in Pakefield gabs dann ganz viel Input, und das t&auml;glich. 3 Sessions &aacute; 1 Stunde Predigt, das haut rein und tut richtig gut und is allerdings auch herausfordernd. N&auml;heres zu den einzelnen Predigten werde ich vielleicht in einigen zuk&uuml;nftigen Posts mit einflie&szlig;en lassen.<br />
Eine kommt jetzt schon. Die letzte Predigt am Freitag hat f&uuml;r mich so die ganze Woche noch mal zusammen gefasst. Grant Crawfort nahm uns mit auf eine Reise durch die letzten 26 Kapitel des Propheten Jesaja. Diese Kapitel hatte er in den letzten Wochen wieder und wieder gelesen. Und da ist ihm eine Sache immer wieder aufgefallen: "Gott ist f&uuml;r uns, nicht gegen uns!" Dazu gibts auch noch ne Bibelstelle, die allerdings nicht in Jesaja steht, sondern im R&ouml;merbrief:</p>
<blockquote><p>
Wenn Gott f&uuml;r uns ist, wer kann dann gegen uns sein? [...] Denn da bin ich ganz sicher: Weder Tod noch Leben, weder Engel noch D&auml;monen, weder Gegenw&auml;rtiges noch Zuk&uuml;nftiges, noch irgendwelche Gewalten, weder Himmel noch H&ouml;lle oder sonst irgend etwas k&ouml;nnen uns von der Liebe Gottes trennen, die er uns in Jesus Christus, unserem Herrn, bewiesen hat.<br />
R&ouml;mer 8:31.38<br />
</blockquote></p>
<p>Halleluja!</p>
