---
layout: post
status: publish
published: true
title: Download der LTT-Predigten
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 17
wordpress_url: http://blog.moerssl.net/2006/04/18/download-der-ltt-predigten/
date: '2006-04-18 12:52:38 +0200'
date_gmt: '2006-04-18 10:52:38 +0200'
categories:
- newstime
tags: []
comments:
- id: 8
  author: Andr&eacute;
  author_email: anickel@jgdresden.de
  author_url: ''
  date: '2006-04-25 11:37:40 +0200'
  date_gmt: '2006-04-25 09:37:40 +0200'
  content: "Hi Marcel!\nInteressante Page! \nFrage: Wo hast du diese Predigten her?
    Hast du sie runtergeladen oder hast du sie direkt vom LTT?\nGru&szlig; Andr&eacute;"
- id: 9
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2006-04-25 11:42:58 +0200'
  date_gmt: '2006-04-25 09:42:58 +0200'
  content: |-
    Hi Andr&egrave;,

    sch&ouml;n von dir zu lesen. Die Predigten hab ich direkt vom LTT. Kai und ich haben da die CD-Box gekauft und nachgefragt, obs OK is, wenn ich die hochlade. Und es war OK. Also sind die nun oben.

    Viele Gr&uuml;&szlig;e nach Dresden!

    M&ouml;r&szlig;l
---
<p>Ich hab gestern mal die Predigten vom England-LTT hoch geladen. Wer will kann die sich gern ziehen, brennen und weitergeben. Die Predigten sind alle auf Englisch, es gibt keine deutsche &Uuml;bersetzung daf&uuml;r.</p>
<p><strike>Aber das soll euch nicht davon abhalten hier zu saugen. Viel Spa&szlig;!!</strike></p>
<p>EDIT: Ich hab die Downloads mal vom Netz genommen. Die verursachten tierisch viel Traffic. Wer die Predigten dennoch haben m&ouml;chte, kann sie bei der <a href="http://www.lci.org.uk/index.php?pageID=43" title="London Church International - Download LTT Predigten" target="_blank">LCI</a> downloaden. Gottes Segen!</p>
<p><strike>Peter Howard-Browne - The wonder of the call of God</strike><br />
<strike> Jill Lawton - Honouring the extravagent god<br />
Richard Lawton - The wineskin suitable for delivering the wine of the gospel<br />
Rob Forbes - Peter and Cornelius<br />
Dave Wallen - Developing a base church culture<br />
Ray Oliver - Signs, wonders and miracles for today<br />
Helen Rist - Intimicy with God<br />
Gert Dolk - The Importance of sheparding<br />
Grant Crawfort - Leading as fathers<br />
Peter and Karren Rasmussen - Parenting<br />
Peter Howard-Browne - Remind Lazarus not to go back into the tomb<br />
Leeanne Benn - Leading the way in marketplace evangelism<br />
Ant Rist - Money: Your master or your servant<br />
Rob Forbes - Principles for growing a church<br />
Nigel Day-Lewis - When people leave the church<br />
Nigel Day-Lewis - What is the relationship between the local church and the translocal team<br />
Ray Oliver - The leaders in the book of Revelation<br />
Grant Crawfort - God is for us</strike></p>
<p>PS: Noch ein kleiner Nachtrag. Ich hab gestern einen Countdown auf der Seite angebracht, der die Zeit bis zum Einzug ins Hoffnungshaus anzeigt. Ich kann den Umzug kaum erwarten...</p>
