---
layout: post
status: publish
published: true
title: Deutschland zu Gast bei Freunden
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 76
wordpress_url: http://blog.moerssl.net/2006/10/11/deutschland-zu-gast-bei-freunden/
date: '2006-10-11 09:36:21 +0200'
date_gmt: '2006-10-11 07:36:21 +0200'
categories:
- newstime
tags: []
comments:
- id: 48
  author: melly
  author_email: melly@jesusfreaks-bremen.de
  author_url: ''
  date: '2006-10-13 01:46:29 +0200'
  date_gmt: '2006-10-12 23:46:29 +0200'
  content: der banner is putt...ich seh ihn jedenfalls net
- id: 49
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2006-10-13 09:42:55 +0200'
  date_gmt: '2006-10-13 07:42:55 +0200'
  content: "Komisch bei mir funktioniert der Banner. \n\nAber ich stell ihn auch hier
    noch mal rein, damit man ihn dann auch auf der Seite finden kann:\n\n<!--Begin
    U R NOT ALONE-->\n<!--span width=\"75px\">&nbsp;</span-->\n<div align=\"left\"><a
    href=\"http://wwps.jesusfreaks-bremen.de/?page=notalone\" rel=\"nofollow\"><img
    src=\"http://wwps.jesusfreaks-bremen.de/notalone.gif\" border=\"0\"
    height=\"60\" width=\"468\"></a></div>\n<!--End U R NOT ALONE-->"
---
<p>Zur Fu&szlig;ball-WM war "Die Welt zu Gast bei Freunden." Anfang Dezember - genauer gesagt vom 1. bis 3. Dezember - wird "Deutschland zu Gast bei Freunden" sein. Dabei handelt es sich um eine Aktion, in der einzelne Gruppen unsere Freunde in den Nachbarl&auml;ndern besuchen werden. Deshalb findet ihr auch oben auf meinem Blog seit einiger Zeit einen tollen Banner. Klickt einfach mal drauf und ihr bekommt mehr Infos. Wer keine Lust hat auf den Banner zu klicken, der klickt dann eben <a href="http://wwps.jesusfreaks-bremen.de/?page=notalone">hier</a></p>
