---
layout: post
status: publish
published: true
title: Just do it!
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 56
wordpress_url: http://blog.moerssl.net/2006/07/13/just-do-it/
date: '2006-07-13 13:41:54 +0200'
date_gmt: '2006-07-13 09:41:54 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Es ist mir gestern passiert und heute gleich wieder...</p></p>
<p>Ein Satz, den ich in den letzten Wochen ziemlich oft in Gepr&auml;chen verwendet (und auch so gemeint) habe, war: "Wenn du was machen willst, dann denk nicht lang dr&uuml;ber nach, sondern schalte den Kopf aus und mach einfach." Das "schalte den Kopf aus" hab ich so gemeint, dass man &uuml;ber die anzugehende Sache sich nicht den Kopf zerbrechen soll, weil es doch meist Energieverschwendung ist.</p></p>
<p>Genau dieses Prinzip hat gestern und heute in meinem Job funktioniert (f&uuml;rs Verst&auml;ndnis: Ich bin Fachinformatiker und entwickle ne Anwendung mit Access). Ich sa&szlig; am Montag vor einem Problemchen und hab dr&uuml;ber nachgegr&uuml;belt, wie es denn zu l&ouml;sen w&auml;re. Ich hab wie wild im Internet nach Tutorials herumgesucht und gehofft doch irgendwie einen L&ouml;sungsweg zu finden. Nachdem ich dann das erfolglos aufgegeben hatte, habe ich mich ans Programm gesetzt und da auch sehr denklastig versucht das Problem anzugehen. Diese Prozedur setzte sich am Montag dann bis zum Feierabend fort - ein befriedigendes Ergebnis kam nicht zustande.</p></p>
<p>Gestern morgen setzte ich mich dann an den Rechner, habe intuitiv etwas herumgeklickt, ohne dabei wirklich krampfhaft nachzudenken und siehe nach 5 Minuten war die L&ouml;sung da. Nachdem ich dann Problem Nummer Eins gel&ouml;st hatte, kam nat&uuml;rlich gleich das n&auml;chste. Ich ging wieder mit der gleichen denklastigen Vorgehensweise ran - und scheiterte nat&uuml;rlich.</p></p>
<p>Wiederum am n&auml;chsten Tag (also heute) setze ich mich wieder vor den Rechner, klicke intuitiv etwas herum und nach 5 Minuten hatte ich die passende L&ouml;sung parat.</p></p>
<p>Vielleicht wird es ja wirklich Zeit sich mal aus der Theorie heraus zu begeben, nicht erst tage- oder wochenlang in B&uuml;chern rumzust&ouml;bern (meist lerne ich dabei nichts), sondern auf die gute alte "Learning-by-doing"-Methode zu setzen. Fehler zu machen geh&ouml;rt da nat&uuml;rlich auch mit dazu.</p></p>
<p>Ich bin mal gespannt, was der <a href="http://www.jfrs.de/storch/blog/wordpress/2006/07/13/bin-ich-theoretiker/">Storch</a> in den n&auml;chsten Tagen so zu diesem Thema posten wird.</p></p>
<p>&nbsp;</p></p>
<p>Also bis die Tage,</p></p>
<p>M&ouml;r&szlig;l</p></p>
