---
layout: post
status: publish
published: true
title: ballast
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 7
wordpress_url: http://blog.moerssl.net/2006/03/24/ballast.html
date: '2006-03-24 16:38:22 +0100'
date_gmt: '2006-03-24 15:38:22 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>ich hatte heute morgen ein ganz komisches erlebnis, dass mir mal wieder die augen ge&ouml;ffnet hat. ich stand am bahnhof und wartete auf einen zug. da ich heute noch ne klausur geschrieben habe, wollte ich nochmal in das lehrbuch schauen, um nicht ganz unvorbereitet zu sein. ich mache also meinen rucksack auf und wundere mich, dass der so leer ist. da waren nur meine berufsschulmappe (mit lehrbuch), eine flasche wasser und ne freaksbibel drin. der rucksack an sich war richtig leicht.<br />
das sah gestern noch etwas anders aus: da hatte ich noch ein bisschen ballast vom mittwoch mit. ich hatte am mittwoch in aller hektik, die vorgeherrscht hat vergessen einiges auszupacken. da muss man dazu sagen, dass ich in meinem rucksack immer ziemlich viel zeugs rumschleppe, dass ich meist gar nicht brauche. letzten freitag z.B. waren das knapp 8 b&uuml;cher, die ich mitgeschleppt hatte, obwohl ich die gar nicht brauchte.<br />
ich hatte meinen unn&ouml;tigen ballast gestern in der berufsschule gemerkt und das erste, was ich gestern nachmittag gemacht hatte, war eben diesen ballast aus meinem rucksack zu entfernen.</p>
<p>f&uuml;r mich war dieses erlebnis so was wie ein zeichen. oft tragen doch viele menschen lasten mit sich rum und wundern sich, warum sie sich so schwer tun. und ich rede da jetzt nicht von irgendwelchen ziegelsteinen, sondern von sorgen, problemen, stress, schlaflosigkeit, bitterkeit, zorn usw. diese dinge behindern uns nur - wir kommen besser ohne sie zurecht und oft wissen wir das auch.<br />
aber was sollen wir denn machen? die kann uns ja keiner abnehmen und "mich versteht ja eh keiner und meine probleme hab sowieso nur ich." aber eben genau das stimmt nicht! jesus kann uns freisetzen! und er will und er wird, wenn wir ihn bitten.<br />
er hat es selbst versprochen:</p>
<blockquote><p>
Kommt her zu mir, alle ihr M&uuml;hseligen und Beladenen! Und ich werde euch Ruhe geben.<br />
Matth&auml;us 11:28<br />
</blockquote></p>
<p>Und auch Petrus fordert uns ja f&ouml;rmlich dazu auf, den ganzen dreck, der uns belastet endlich abzugeben und einem jesus, der uns liebt und f&uuml;r uns gestorben ist, aufzub&uuml;rden:</p>
<blockquote><p>
Alle eure Sorge werft auf ihn; denn er sorgt f&uuml;r euch.<br />
1.Petrus 5:7<br />
</blockquote></p>
<p>f&uuml;r mich ist es immer wieder eine befreiung, wenn ich die ganzen sachen, die ich so mit mir rumtrage einfach an jesus abgeben kann. bei manchen sachen hilft manchmal auch ein gespr&auml;ch unter 4 augen. ein solches gespr&auml;ch bringt viel mehr, als alles in sich hineinzufressen und sich nur noch abzukapseln. </p>
<p>Also:</p>
<blockquote><p>
Macht euch keine Sorgen; denn die Freude am Herrn ist eure St&auml;rke.<br />
Nehemia 8:10<br />
</blockquote><br />
Amen.</p>
