---
layout: post
status: publish
published: true
title: Das Kind im Zug (Teil 1)
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 78
wordpress_url: http://blog.moerssl.net/2006/10/13/das-kind-im-zug-teil-1/
date: '2006-10-15 16:00:04 +0200'
date_gmt: '2006-10-15 14:00:04 +0200'
categories:
- newstime
tags: []
comments:
- id: 50
  author: sibe
  author_email: sibe@jesusfreaks.ch
  author_url: http://sibeletti.blogspot.com
  date: '2006-10-16 16:47:19 +0200'
  date_gmt: '2006-10-16 14:47:19 +0200'
  content: |-
    he, spann uns mal nicht so auf die folter... (sagt man das in deutsch auch?) wo bleibt den teil 2? ;-)
    w&uuml;nsch dir einen sch&ouml;nen tag...
- id: 51
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2006-10-16 17:24:10 +0200'
  date_gmt: '2006-10-16 15:24:10 +0200'
  content: Der wird morgen geliefert.
---
<p>Ich habe ja diese Rubrik "Begegnungen der 4. Art". Das ist so meine Rubrik, in der ich besondere Begegnungen mit Gott eintrage. Vor Kurzem habe ich mich mal in meinem eigenen Blog umgesehen. Dabei ist mir aufgefallen, dass diese Rubrik schon lange keinen neuen Eintrag mehr hatte. Das liegt allerdings nicht daran, dass ich nix mit Gott erlebe. Im Gegenteil! Ich habs einfach nur nicht aufgeschrieben. </p>
<p>Und so kommts, dass dieser Beitrag hier entstanden ist. Gott hat mich die letzten Tage an eine Begebenheit erinnert, die sich vor einiger Zeit zugetragen hat. Ich war auf dem Weg zu meinen Eltern:</p>
<p>Man schreibt den 31. August 2006. Es ist 17 Uhr. Ich verabschiede mich von meinen Kollegen und mache mich auf den Weg zum Bremer Hauptbahnhof. Mein Zug geht um 18.16 Uhr Richtung Hamburg. Von da aus soll es dann ohne weiteres Umsteigen nach Dresden gehen. Geplante Ankunft 23.45 Uhr. Ich stehe also am Bahnsteig. Der Zug scheint Versp&auml;tung zu haben. Nix Besonderes bei der Bahn. Aus 15 Minuten werden 30, aus 30 45. Der Zug kommt endlich. Ich schaue noch mal kurz auf den Fahrplan, um auszurechnen, wie lange denn mein Anschlusszug in Hamburg warten m&uuml;sste, damit ich an diesem Tag noch nach Dresden komme. Es war schlie&szlig;lich der letzte Zug des Tages. Ich komme zu dem Schluss, dass das doch noch m&ouml;glich w&auml;re und steige entspannt ein.<br />
Auf dem Weg nach Hamburg frage ich die Schaffnerin, wie es denn mit dem Zug nach Dresden aussieht. Sie scheint nicht zu dem gleichen Schluss gekommen zu sein, wie ich. Die Bahn &uuml;brigens auch nicht. Der Zug war weg. F&uuml;r mich hie&szlig; es jetzt also: Hotel&uuml;bernachtung in Hamburg auf Kosten der Deutschen Bahn AG. Ach ja, und eines hie&szlig; es auch noch: telefonieren. Ich hatte mit meinen Eltern ausgemacht, dass ich bei denen anrufe, wenn auf meinem Weg was schiefgeht. Bei meinen &uuml;brigen Fahrten ist alles glatt gelaufen, also dachte ich, dass es auch bei dieser so sein w&uuml;rde. Ich wollte einfach Geld sparen. Naja, Pustekuchen.<br />
"Ich komm heute doch nicht. Ich sitz in Hamburg fest."</p>
<p>[Fortsetzung folgt ...]</p>
