---
layout: post
status: publish
published: true
title: Der Wille Gottes
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 75
wordpress_url: http://blog.moerssl.net/2006/10/05/der-wille-gottes/
date: '2006-10-05 02:22:27 +0200'
date_gmt: '2006-10-05 00:22:27 +0200'
categories:
- newstime
tags: []
comments:
- id: 44
  author: Uli
  author_email: ukremer@web.de
  author_url: ''
  date: '2006-10-10 21:53:34 +0200'
  date_gmt: '2006-10-10 19:53:34 +0200'
  content: "Was soll ich sagen, HALLELUJA und AMEN!!! \n\nSch&ouml;nen Banner haste
    da ;-D"
- id: 45
  author: sibe
  author_email: sibe@jesusfreaks.ch
  author_url: http://sibeletti.blogspot.com
  date: '2006-10-11 08:24:22 +0200'
  date_gmt: '2006-10-11 06:24:22 +0200'
  content: |-
    hey m&ouml;rssl
    hab mir ein paar von deine blogs durchgelesen... sehr ermutigend, danke... :-)
    hattest du einen guten start nach den ferien?
    w&uuml;nsch dir ne gute zeit...
    sibe
- id: 46
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2006-10-11 09:14:27 +0200'
  date_gmt: '2006-10-11 07:14:27 +0200'
  content: |-
    Wow, gleich 2 Kommentare.

    @Uli: Ich find den Banner super!! Habt ihr beide wirklich gut hinbekommen. *thumbsup*

    @Sibe: Toll von dir zu h&ouml;ren. Die Woche ist halt wieder los gegangen und es war gar nicht so schlimm, wie ich es mir vorgestellt habe. Ich hab mich halt an mein Projekt rangesetzt und durfte ziemlich viel nachdenken. Aber es geht so voran und macht auch wieder Spa&szlig;.
- id: 47
  author: Sibe
  author_email: sibe@jesusfreaks.ch
  author_url: http://sibeletti.blogspot.com
  date: '2006-10-11 22:00:22 +0200'
  date_gmt: '2006-10-11 20:00:22 +0200'
  content: |-
    sch&ouml;n... dann w&uuml;nsch ich weiterhin viel spass...
    ach uli, ich find den banner auch super... :-)
    gr&uuml;sse aus der warmen, sonnigen schweiz...
---
<p>"Was <span>ist</span> der Wille Gottes f&uuml;r mein Leben?"</p></p>
<p>"Was hei&szlig;t es, wenn ich bete: 'Dein Wille geschehe'?"</p></p>
<p>In einer Predigt, die ich zu diesem Thema mal geh&ouml;rt habe, meinte der Prediger (in Person Uwe Dittrich aus DD), dass man neben dem "pers&ouml;nlichem Willen Gottes" auch den "globalen Willen" sehen sollte. Diesen hat Gott unter anderem schriftlich hinterlassen. <br /><br />
</p></p>
<p>Eine der Bibelstellen, die sich mit diesem "globalen" Willen besch&auml;ftigen ist:</p></p>
<blockquote><p><span class="highlight_text">Sagt in allem Dank! Denn dies ist der Wille Gottes in Christus Jesus f&uuml;r euch.<br /><br />
1. Thessalonicher 5:18</span></p></p>
<p></blockquote>
<p><span class="highlight_text">Besonderen Wert legte Uwe darauf, einen Unterschied herauszustellen. "Sagt in allem Dank!" meint nicht, f&uuml;r alles dankbar zu sein! Wir sollen aber in jeder Situation f&auml;hig sein zu danken, und sei es "nur" daf&uuml;r, dass Jesus uns gerettet hat.<br /><br />
</span></p></p>
<p><span class="highlight_text">Ein kleines Beispiel, um das ein bisschen zu verdeutlichen ist mir am Montag selbst passiert. Auf dem Weg in unseren Keller bin ich auf der Treppe ausgerutscht und bin mit der Schulter aufgeschlagen. Das tat ersteinmal tierisch weh und au&szlig;erdem stand ich f&uuml;r ne kurze Zeit unter Schock. Nachdem ich allerdings aufgeschlagen war (klingt sicherlich dramatischer, als es war...) ging mir die oben zitierte Bibelstelle durch den Kopf. <br /><br />
</span></p></p>
<p>In dieser Situation h&auml;tte ich 2 (Dank-)Gebete sprechen k&ouml;nnen.</p></p>
<p>1) "Danke HERR, dass ich die Treppe runtergefallen bin ..."</p></p>
<p>oder</p></p>
<p>2) "Danke HERR, dass du mich bei diesem Sturz vor mehr Schaden bewahrt hast ..."</p></p>
<p><br /><br />
</p></p>
<p>Meiner Meinung nach wird ein Gott, der unser Bestes im Sinn hat, nich von uns verlangen, dass wir Gebet Nr. 1 sprechen. <br /><br />
</p></p>
<p>Ich habe mich dazu entschlossen Gebet Nr.2 vorzuziehen, vorallem deshalb, weil ich <i>wirklich</i> dankbar daf&uuml;r war, dass ich mir nicht den Hinterkopf aufgeschlagen und blutig in unserem Keller gelegen habe.<br /><br />
</p></p>
