---
layout: post
status: publish
published: true
title: Schnauze voll?!?
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 47
wordpress_url: http://blog.moerssl.net/2006/06/10/schnauze-voll/
date: '2006-06-10 10:00:00 +0200'
date_gmt: '2006-06-10 06:00:00 +0200'
categories:
- newstime
tags: []
comments: []
---
<blockquote>
<p>Er aber ging hin in die W&uuml;ste eine Tagereise weit und kam und setzte sich unter einen Wacholder und w&uuml;nschte sich zu sterben und sprach: Es ist genug, aso nimm nun, HERR, meine Seele; ich bin nicht besser als meine V&auml;ter. Und er legte sich hin und schlief unter dem Wacholder. Und siehe, ein Engel r&uuml;hrte ihn an und sprach zu ihm: Steh auf und i&szlig;! Und er sah sich um, und siehe, zu seinen H&auml;upten lag ein ger&ouml;stetes Brot und ein Krug mit Wasser. Und als er gegessen und getrunken hatte, legte er sich wieder schlafen. Und der Engel des HERRN kam zum zweitenmal wieder und r&uuml;hrte ihn an und sprach: Steh auf und i&szlig;! Denn du hast einen weiten Weg vor dir. Und er stand auf und a&szlig; und trank und ging durch die Kraft der Speise bvierzig Tage und vierzig N&auml;chte bis zum Berg Gottes, dem Horeb.</p></p>
<p>1. K&ouml;nige 19:5-8</p></blockquote></p>
<p>Es war vorgestern. Der Tag war gelinde ausgedr&uuml;ckt "langwierig". Auf der Arbeit kam ich nicht richtig voran. Ich hatte einfach ne Denkblockade. Und ich hab mich mal wieder gefragt, was ich hier (also auf der Arbeit) &uuml;berhaupt mache. Kurz gesagt, ich bin mal wieder im Strudel des Selbstmitleids versunken. Und da immer tiefer reingeraten. Richtig was gegessen hatte ich den Tag auch nich, f&uuml;hlte mich also richtig kraftlos.</p></p>
<p>Naja, so krass wie bei Elia wars nich. Ich wollte nun nich sterben. Aber ihm scheint es in seiner Situation ja &auml;hnlich gegangen zu sein. Und das obwohl er grade einen riesigen Sieg errungen hatte. Bevor er sich in die W&uuml;ste zur&uuml;ckgezogen hatte, hatte er ne ganze Horde an Baals-Propheten erledigt. Das muss scon ein ganz sch&ouml;n gro&szlig;er Sieg gewesen sein. Dann bekommt er von Isebel irgendwas ausgerichtet wegen: "Ich werde dich umbringen lassen.", und Elia schiebt Panik und ist total am Boden zerst&ouml;rt.</p></p>
<p>Und was macht Gott in dem Moment? Nee, er schickt Elia keine Portion "Extrakraft von Gott". Er l&auml;sst ihm was zu essen bringen (von dem Engel).</p></p>
<p>"Iss mein Junge, dass du stark wirst." Naja, und das hab ich dann gestern halt auch gemacht. Mir eine Pizza in den Ofen geschmissen, gegessen und mir gings wieder prima.</p></p>
<p>Also wenns dir mal nich so gut geht, wenn du denkst, dass die alles Schei&szlig;e ist und du dich total kraftlos f&uuml;hlst, dann kann es unter umst&auml;nden sein, dass du nicht genug gegessen hast. Denk mal dr&uuml;ber nach...</p></p>
<p>M&ouml;r&szlig;l</p></p>
