---
layout: post
status: publish
published: true
title: eine unbeschreibliche leere
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 61
wordpress_url: http://blog.moerssl.net/2006/08/09/eine-unbeschreibliche-leere/
date: '2006-08-09 20:35:49 +0200'
date_gmt: '2006-08-09 18:35:49 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>in den letzten wochen hat in meinem leben etwas gefehlt. ich war &ouml;fters maulig, und wenn ich es anderen menschen gegen&uuml;ber nicht gezeigt habe, so lag es daran, dass ich es unterdr&uuml;ckte. oft konnte ich nicht so ehrlich sein, wie ich es wollte. nach einiger zeit - lassen wir es ein oder zwei wochen gewesen sein - ist mir diese "macke" aufgefallen.<br />
in mir drin existierte ein richtiges loch, dass ich durch viele sachen f&uuml;llen wollte. z.b. durch den dienst an meinen mitmenschen. es gab zeiten, in denen ich gespr&auml;che bis tief in die nacht gef&uuml;hrt habe, nur um diese menschen aufzubauen oder wiederum mich in praktische dinge reingest&uuml;rzt. einfach um zu dienen.<br />
bei all dieser "dienerei" ist meine t&auml;gliche gebetszeit mit gott recht knapp, wenn nicht sogar immer wieder ausgefallen. diese mangelnde zeit mit Jesus wurde mir dann bewusst - oh welch erkenntnis! immer wieder wollte ich dann in eine richtig lange gebetszeit eintauchen. habe mir auch die dazu n&ouml;tige zeit genommen, aber es hat irgendwie nicht geklappt. nach sp&auml;testens zwei minuten war ich aus meiner gebetshaltung herausgerissen. irgendetwas hat mir den zugang zu gott genommen. es gibt im psalm 139 (nebenbei mein lieblingspsalm) diese stelle: </p>
<blockquote><p>Stiege ich zum Himmel hinauf, so bist du da. Bettete ich mich in dem Scheol, siehe, du bist da.<br />
Psalm 139:8</blockquote></p>
<p>Gott ist immer da, egal wo ich bin. und er h&ouml;rt mich, egal wie es mir geht. diese erkenntnis war f&uuml;r mich zu dieser zeit etwas frustrierend. ich wusste, dass gott da ist und dass er mich h&ouml;rt; nur ich habe es nicht auf die reihe gekommen meinen mund aufzumachen. gleicherma&szlig;en war mir dann klar, dass es nicht an gott liegt, dass er mir "so fern" ist (er ist ja immer da). es musste zumindest eine sache in meinem leben geben, die mir den zugang genommen oder zumindest erschwert hat.<br />
ganz krass wurde diese sache dann am sonntag vorm freakstock. ferry aus remscheid hat bei uns gepredigt und gott war richtig fett am start und mir ging es richtig super. nach dem gottesdienst stellte sich dann meine alte letargie wieder ein. ich wurde wieder maulig und wusste gar nicht, was ich hier &uuml;berhaupt mache.<br />
als ich dann wieder zu hause war, dachte ich mir (mal wieder): "so kann das nicht weitergehen. irgendwas ist da faul." ich hab dann Jesus still und im Geist angeschrien, dass er mir doch endlich mal sagen soll, was bei mir faul ist. auf einmal f&uuml;hlte ich in mir den "zwang" meinem retter einen brief zu schreiben. diesen zwang habe ich dann ca. 2 stunden ausgehalten, bis ich diesen brief dann doch geschrieben habe. nachdem ich in diesem brief in den ersten vier zeilen Jesus meine aktuelle situation geschildert habe und meinte, dass ich eine blockade h&auml;tte und nicht w&uuml;sste warum, wurde mir die antwort per "geistesblitz" gegeben: "Du hast [XYZ] nicht vergeben, dass [XYZ] {abc} gemacht hat."<br />
Ich hab das f&uuml;r die Allgemeinheit mal ein bisschen anonymiert.<br />
Jedenfalls war ich nach dieser ansage von Jesus geschockt und ehrlich gesagt auch ein bisschen &uuml;berrascht. ich habe [XYZ] bei {abc} in den letzten wochen immer wieder ermutigt und best&auml;tigt. ich bin dann aber dennoch auf die knie gegangen und habe [XYZ] jenes {abc} vergeben. und siehe diese leere, die ich &uuml;ber die letzten wochen in meinem oberk&ouml;rper gef&uuml;hlt habe, war mit einem mal weg. seit dem habe ich wieder richtig geile zeiten mit jesus und papa.<br />
es war f&uuml;r mich schon &uuml;berraschend zu sehen, dass mich sachen von meinem zugang zu gott abhalten, die mir nicht bewusst waren. vor allem, weil ich diese sache ja bereits angenommen und [XYZ] auch weiterhin ermutigt habe usw.</p>
