---
layout: post
status: publish
published: true
title: From trash to treasure
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 67
wordpress_url: http://blog.moerssl.net/2006/08/31/from-trash-to-treasure/
date: '2006-08-31 08:56:22 +0200'
date_gmt: '2006-08-31 06:56:22 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ich hab eben bei <a href="http://umgestaltung.blogspot.com/">Sara</a> dieses wunderbare Gedicht gefunden.</p></p>
<p align="center"> </p></p>
<blockquote>
<p align="center">From trash to treasure</p></p>
<p align="center">My life<br /><br />
has been trash<br /><br />
pile of broken glass<br /><br />
cutting my dreams and hopes in pieces<br /><br />
existing without feelings<br /><br />
or just drown in agony<br /><br />
I lost sight of the way<br /><br />
home...</p></p>
<p align="center">Built my own world<br /><br />
with walls to protect<br /><br />
and masks to act<br /><br />
never-ending winter<br /><br />
of my broken souls<br /><br />
survived<br /><br />
to go in circles<br /><br />
death dance...</p></p>
<p align="center">After years<br /><br />
my life was a scene of destruction<br /><br />
clearing away the wreckage<br /><br />
brought only new deathly pieces<br /><br />
lost lifetime<br /><br />
no place to hide<br /><br />
'cause you can't escape<br /><br />
the shadows of yesterday...</p></p>
<p align="center">On the battlefield of love and death<br /><br />
I was sitting on the ground<br /><br />
crying my very last cry<br /><br />
my last chance<br /><br />
last hope<br /><br />
finally<br /><br />
I cried to God again<br /><br />
and he embraced me...</p></p>
<p align="center">Powerful moment<br /><br />
of silent love<br /><br />
peace<br /><br />
comfort<br /><br />
not forgotten<br /><br />
just beloved in all of my brokeness<br /><br />
hold together by his hug<br /><br />
home again...</p></p>
<p align="center">For the first time<br /><br />
I stood up<br /><br />
and decided to live<br /><br />
to hope<br /><br />
to trust<br /><br />
to fight<br /><br />
reconquer my laughter<br /><br />
and all my looted treasures...</p></p>
<p align="center">I took your hand<br /><br />
and we walked over the stones<br /><br />
of fallen buildings<br /><br />
old lies<br /><br />
deep fears<br /><br />
step by step<br /><br />
as long as it took to get over<br /><br />
and you have always been there with me...</p></p>
<p align="center">And we're still walking<br /><br />
sometimes I'm too fast and forget<br /><br />
to rest and stay in your arms<br /><br />
to see what is done<br /><br />
but sometimes<br /><br />
you paint me a rainbow on my heaven<br /><br />
to remember that you will always be there<br /><br />
with me forever</p></blockquote></p>
