---
layout: post
status: publish
published: true
title: firewall
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 41
wordpress_url: http://blog.moerssl.net/2006/05/25/von-feuerwaenden-und-plueschhasen/
date: '2006-05-25 00:50:13 +0200'
date_gmt: '2006-05-24 22:50:13 +0200'
categories:
- newstime
tags: []
comments:
- id: 28
  author: tim und struppi
  author_email: mail@silence-one.net
  author_url: http://www.silence-one.net/
  date: '2006-05-27 18:07:04 +0200'
  date_gmt: '2006-05-27 16:07:04 +0200'
  content: "ach Matzl, was ist nur aus dir geworden? Wo sind die sch&ouml;nen Stunden
    unter alk-einfluss hin? Was ist mit den ganzen exzessiven Partys, den spastischen
    anf&auml;llen?\n\nWarum gibst du dich nur dem teufel hin? Und warum Microsoft?
    \n\nMatzl, wenn du Hilfe brauchst oder innere Stimmen h&ouml;rst, dann melde dich,
    wir sind immer f&uuml;r dich da. Lass die Fischk&ouml;ppe deinen Geist und K&ouml;rper
    nicht beherrschen, sonst hei&szlig;t es: WDL.\n\nTim und Struppi."
- id: 29
  author: Tim und Struppi
  author_email: mail@struppi.de
  author_url: ''
  date: '2006-05-28 10:48:00 +0200'
  date_gmt: '2006-05-28 08:48:00 +0200'
  content: |-
    He Matzl,

    warum l&ouml;schst du unsere Beitr&auml;ge? Du kannst sie vielleicht ignorieren, du kannst uns doch aber nicht aus deinem Herzen verbannen. &Ouml;ffne dich. Vergiss uns nicht!!!!

    Tim und Struppi

    ps: Du kannst immer wieder zu uns zur&uuml;ckkehren, dein Meisterbr&auml;u wartet auf dich!!!
- id: 30
  author: susi und strolch
  author_email: susi@strolch.de
  author_url: ''
  date: '2006-05-28 21:18:15 +0200'
  date_gmt: '2006-05-28 19:18:15 +0200'
  content: |-
    Hallo,

    warum wird in diesem Forum die Meinungsfreiheit so massiv unterdr&uuml;ckt, warum wird einen angeblichen Diktator hier solch eine Liebe geschenkt, dass allem atheistischen der Hahn zugedreht wird. es ist traurig zu sehen, dass gerade die angeblich so toleranten unter uns die schritt gehen...

    die susi vom strolch.
---
<p><a href="http://blog.moerssl.net/img/2006/05/DSC01005.jpg"><img id="image40" src="http://blog.moerssl.net/wp-content/uploads/2006/05/firewallVorschaubild.jpg" alt="thumbnail firewall" align="left" /></a>Ins Hoffnungshaus kehrt langsam Leben ein. Seit einiger Zeit befindet sich ja nun schon der Countdown auf meinem Blog. Allzu lang dauert es nun nicht mehr bis zum Einzug.<br />
Wusstet ihr eigentlich, dass es ganz praktisch sein kann, eine <a href="http://missionfreak.blogspot.com">Cate</a> zu haben? Cate kann n&auml;mlich ganz toll langweilige wei&szlig;e W&auml;nde in Feuerw&auml;nde verwandeln. Ich hab dazu mal ein Bild hochgestellt. Allerdings sieht die Wand auf dem Foto nicht ann&auml;hernd so gut aus, wie in der Realit&auml;t...</p>
<p>Teppiche sind gelegt, die meisten W&auml;nde gestrichen, die Katze im Haus (dazu gibts demn&auml;chst noch einen Beitrag). Fehlen eigentlich nur noch die M&ouml;bel und die Bewohner. </p>
<p>So, die n&auml;chsten Tage wirds hier wohl eher still werden. Ich fahr zum Willo Freak. Und das Notebook bleibt in Bremen.</p>
