---
layout: post
status: publish
published: true
title: '"Rette mich!"'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 35
wordpress_url: http://blog.moerssl.net/2006/05/16/rette-mich/
date: '2006-05-16 14:50:34 +0200'
date_gmt: '2006-05-16 12:50:34 +0200'
categories:
- newstime
tags: []
comments:
- id: 20
  author: tim und struppi
  author_email: mail@silence-one.net
  author_url: http://www.silence-one.net/
  date: '2006-05-27 18:11:16 +0200'
  date_gmt: '2006-05-27 16:11:16 +0200'
  content: |-
    aber matzl,

    nur weil die &auml;rzte von zombies singen hei&szlig;t es doch auch nicht, dass ich jetzt einer werden will...

    hach, wobei...lordi und so....man wei&szlig; es nicht, aber zum gl&uuml;ck sind wir ja nicht in finnland...
---
<p>Zu Weihnachten wurde mir das aktuelle Album von Nickelback geschenkt. Ich hatte es mir bis heute einige Male angeh&ouml;rt, und nichts "Besonderes" daran entdeckt. Heute ist mir allerdings ein Liedtitel direkt ins Auge gesprungen: "Savin' Me"<br />
Auf der Internetseite k&ouml;nnt ihr euch das <a href="http://www.roadrunnerrecords.com/artists/Nickelback/video.aspx">Video anschauen</a>.</p>
<p>Oder auch gleich hier:<br />
[youtube NsAmO-VZjEk]</p>
<p>Falls ihr kein DSL oder so habt, gibts <a href="http://www.nickelback.com/nb/index.php?option=com_content&amp;task=view&amp;id=28&amp;Itemid=5">hier</a> auch den Text zum Lesen.</p>
<p>Das Video handelt von einem jungen Mann, der vor einem Unfall gerettet wird. Seit diesem Unfall sieht er bei allen anderen Menschen einen Countdown &uuml;berm Kopf. Wof&uuml;r der steht kann sich wohl jeder denken.</p>
<p>Als ich dieses Video gesehen habe, ist mir wieder klar geworden, wie viele Leute da drau&szlig;en in der Welt eigentlich rumlaufen, die Jesus nicht angenommen haben. Sie sind nicht errettet! In Deutsch hei&szlig;t es so "sch&ouml;n": "Ich habe mich bekehrt." Das hat sich f&uuml;r mich schon immer etwas seltsam angeh&ouml;rt. Ich finde die englische Variante deutlich besser: "I've got saved!" (Ich wurde gerettet.)</p>
<p>Noch einige Zeilen aus dem Refrain:</p>
<blockquote><p>
Say it for me<br />
Say it to me<br />
And I&rsquo;ll leave this life behind me<br />
Say it if it&rsquo;s worth saving me<br />
</blockquote></p>
<p>"Sag es f&uuml;r mich, sag es zu mir! Und ich werde dieses Leben hinter mir lassen. Sag es, wenn ich es wert bin, gerettet zu werden."</p>
<p>Als ich die Zeilen noch mal gelesen habe, stellte ich mir vor, wie mich jemand mit beiden H&auml;nden "am Schlawittchen" packt, sch&uuml;ttelt und zu mir sagt: "Erz&auml;hl mir endlich von Jesus! Ich will gerettet werden!"</p>
