---
layout: post
status: publish
published: true
title: Kommentare und Antworten
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 42
wordpress_url: http://blog.moerssl.net/2006/05/29/kommentare-und-antworten/
date: '2006-05-29 03:07:14 +0200'
date_gmt: '2006-05-29 01:07:14 +0200'
categories:
- newstime
tags: []
comments:
- id: 31
  author: Tick,Trick und Track
  author_email: shadow0302@web.de
  author_url: ''
  date: '2006-06-01 21:53:26 +0200'
  date_gmt: '2006-06-01 19:53:26 +0200'
  content: |-
    Matzl (oder M&ouml;r&szlig;l, wie du inzwichen genannt werden willst),

    mal ganz ehrlich, beim Thema "Alkohol, Drogen und billigen Sex", du hast maximal mit 2 von diesen 3 Dingen Erfahrung (auf jeden Fall mit dem Alk.) und sicher gibts was besseres als billigen Sex.....den kostenlosen, also lass mal die indifferenten &Auml;u&szlig;erungen.

    Ne, mal ernst. Sch&ouml;n, dass du es geschafft hast dem unkonntrollierten Alkoholkonsum zu entkommen. Ich finds blo&szlig; fraglich wie, aber... jedem das seine.
    JBO sit wohl somit auch tabu...schade schade.
    Nuja, wollt halt mal nen Kommentar loslassen.

    MFG
- id: 32
  author: Melly
  author_email: Juvriel@web.de
  author_url: http://melly.blogspirit.com
  date: '2006-06-07 14:43:33 +0200'
  date_gmt: '2006-06-07 12:43:33 +0200'
  content: "tim und struppi, tick trick und track, susi und strolch - ich dachte,
    ich les hier m&ouml;r&szlig;ls blog und kein comic heft...wenn ihr schon kritisieren
    und kommentieren wollt, warum dann nicht unter eurem namen? angst?\n\n\n*warum
    wird einen angeblichen Diktator hier solch eine Liebe geschenkt*\n\nmal abgesehen
    davon, das keiner von uns Gott als Diktator ansieht kommt mir das wieder wie die
    alte diskussion mit dem totschlagargument \"christen d&uuml;rfen ja nichts, ihr
    gott sieht ja alles\" vor... klar, wir gehen alle mit eingezogenem kopf &auml;ngstlich
    zitternd durch die welt, immer der gefahr bewusst, das uns jederzeit ein g&ouml;ttlicher
    blitz erschlagen k&ouml;nnte... hallo? unser Gott ist doch keiner, der wegen jeder
    kleinigkeit ausrastet und uns bestraft - wenn er das machen w&uuml;rde w&uuml;rds
    ja bald keine menschen mehr geben... im gegenteil, Papa (ja, Papa!) ist einer,
    der uns alles verzeiht und uns so sehr liebt das er sein liebstes f&uuml;r uns
    aufgegeben hat - seinen sohn... das macht der doch net umsonst! \n\nwahrheit macht
    frei - schon mal geh&ouml;rt? ich bin frei, net mehr dem gesellschaftsdruck zu
    folgen und mich auf feten zuzusaufen - mal abgesehen davon, das ich eh nie kapiert
    habe, was daran toll sein soll, zu saufen bis der filmri&szlig; kommt, dann in
    die n&ouml;chstgelegene hecke zu kotzen und am n&auml;chsten morgen nicht mehr
    zu wissen, was am abend passiert ist...\n\n\ngottes segen\n\nMelly"
---
<p>Ich bin so eben vom Willow Freaks wieder nach hause gekommen. Nach einem Blick in die Administrationsseite von "des m&ouml;r&szlig;ls blog" habe ich bemerkt, dass in den letzten Tagen hier reichlich kommentiert wurde. In den Kommentaren werden einige - fallweise auch sehr krasse - Andeutungen und Vorw&uuml;rfe ge&auml;u&szlig;ert. Zu den Kommentaren werde ich nun in diesem Beitrag Stellung beziehen.</p>
<p>Zum Beitrag "Firewall" gab es folgende Kommentare:</p>
<blockquote><p>
ach Matzl, was ist nur aus dir geworden? Wo sind die sch&ouml;nen Stunden unter alk-einfluss hin? Was ist mit den ganzen exzessiven Partys, den spastischen anf&auml;llen?</p>
<p>Warum gibst du dich nur dem teufel hin? Und warum Microsoft? </p>
<p>Matzl, wenn du Hilfe brauchst oder innere Stimmen h&ouml;rst, dann melde dich, wir sind immer f&uuml;r dich da. Lass die Fischk&ouml;ppe deinen Geist und K&ouml;rper nicht beherrschen, sonst hei&szlig;t es: WDL.</p>
<p>Tim und Struppi.<br />
</blockquote></p>
<blockquote><p>
He Matzl,</p>
<p>warum l&ouml;schst du unsere Beitr&auml;ge? Du kannst sie vielleicht ignorieren, du kannst uns doch aber nicht aus deinem Herzen verbannen. &Ouml;ffne dich. Vergiss uns nicht!!!!</p>
<p>Tim und Struppi</p>
<p>ps: Du kannst immer wieder zu uns zur&uuml;ckkehren, dein Meisterbr&auml;u wartet auf dich!!!<br />
</blockquote></p>
<blockquote><p>
Hallo,</p>
<p>warum wird in diesem Forum die Meinungsfreiheit so massiv unterdr&uuml;ckt, warum wird einen angeblichen Diktator hier solch eine Liebe geschenkt, dass allem atheistischen der Hahn zugedreht wird. es ist traurig zu sehen, dass gerade die angeblich so toleranten unter uns die schritt gehen&hellip;</p>
<p>die susi vom strolch.<br />
</blockquote></p>
<p>Ich kann mir vorstellen, dass sich der / die Schreiber gewundert haben, dass ihre Kommentare nicht ver&ouml;ffentlicht worden waren. (Bewusst vollendete Vergangenheit) Daf&uuml;r gibt es allerdings eine ganz einfache Erkl&auml;rung: Ich habe meinen Blog so eingestellt, dass man zuerst "freigeschaltet" werden muss, um "frei" zu kommentieren. Sprich, du schreibst einen Kommentar, ich "genehmige" ihn (das werde ich in der Regel auch machen) und das Teil wird ver&ouml;ffentlicht. Ab dann kannst du munter drauf los kommentieren und deine Kommentare stehen sofort im Blog. Da ich das letzte Wochenende auf dem Willow Freak war, konnte ich mangels Internetzugang die Kommentare nicht freischalten. Dem bin ich nun nachgegangen. Ich habe keine Kommentare gel&ouml;scht. Und andere Meinungen werde ich in meinem Blog auch nicht unterdr&uuml;cken, h&ouml;chstens dazu Stellung beziehen und meine Ansichten vertreten.<br />
Selbst, wenn es ein langwieriger Prozess ist, werde ich die ein paar Fragen aus den Kommentaren beantworten. <em>"was ist nur aus dir geworden? Wo sind die sch&ouml;nen Stunden unter alk-einfluss hin? Was ist mit den ganzen exzessiven Partys, den spastischen anf&auml;llen?"</em><br />
Um es auf einen Punkt ganz runter zu brechen: Ich bin ein neuer Mensch! Ganz heimlich, still und leise habe ich letztes Jahr im M&auml;rz Jesus Christus als meinen Retter angenommen und wurde durch ihn von all dem Schei&szlig;, den ich damals gemacht habe befreit. Mir hat in meinem Leben damals irgendwas gefehlt. Ich wusste nicht, was. Jedenfalls sp&uuml;rte ich eine gro&szlig;e Leere in mir drin (und das schon, bevor ich ins BSZ nach Freital gekommen war). Diese Leere hab ich dann versucht mit allerlei Zeugs auszuf&uuml;llen: Videospiele, Schule, B&uuml;cher, Alk, Saufparties. Drogen hab ich nich ausprobiert, da war ich schlau genug zu! Aber all der andere Kram hat es irgendwie nicht gebracht. Die Leere ist immer wieder gekommen. Ich brauchte das Zeug mehr und st&auml;rker. Dass das mit meinem Alkoholkonsum damals nicht mehr normal war, habt ihr ja in der Schule gesehen (zumindest meine Klassenkameraden [Autor des Kommentars]). Ein Bierchen in der Mittagspause war normal. Und das erste Tat zu hause war der Griff nach dem Flaschen&ouml;ffner.<br />
Ihr hattet es gemerkt und ich auch. Da stimmt was nicht, ich rutsche in die Sucht ab. Ich habe dann von mir aus versucht aufzuh&ouml;ren, aber das hat nicht geklappt. Nach 3 Tagen hing ich wieder an der Flasche. Und dann kam der eine Sonntag im M&auml;rz letzten Jahres. Es hatte geschneit und zwar ziemlich viel. Ich hatte vor zu einem Gottesdienst zu gehen. Mal schauen, wie es da aussieht. Anke war es "damals" die mich mitgenommen hatte. An diesem Tag erkannte ich, dass mein Leben ein Tr&uuml;mmerhaufen war. Ich lie&szlig; Jesus diesen Tr&uuml;mmerhaufen aufr&auml;umen. Das Alkoholproblem war sofort aus der Welt, die Anf&auml;lle auch. Also kann ich ganz einfach auf die Fragen antworten: Der ganze Schei&szlig; ist bei Jesus, die Sachen gibt es in meinem Leben nicht mehr! Ich habe etwas viel besseres - erf&uuml;llenderes - gefunden als Alkohol, Drogen und billigen Sex. Und das ist die unendliche Liebe Gottes. Und die hat er f&uuml;r jeden in dieser Welt parat. Und er will sie DIR SCHENKEN! Einfach so.</p>
<p><em>Warum gibst du dich nur dem teufel hin?</em> Falsche Richtung Leute! Ich bin auf der Siegerseite! Und selbst, wenn ihr es nicht wahrhaben wollt. Gott gibt es, er lebt und er wird gewinnen (bzw. hat schon gewonnen). Ich bin mit Gott, Jesus und dem Heiligen Geist unterwegs und nicht mit den Leuten "von unten".</p>
<p><em>warum wird in diesem Forum die Meinungsfreiheit so massiv unterdr&uuml;ckt</em> Meinungen unterdr&uuml;cke ich nicht, ich respektiere sie.<br />
<em>warum wird einen angeblichen Diktator hier solch eine Liebe geschenkt, dass allem atheistischen der Hahn zugedreht wird.</em> Diesen Satz verstehe ich nicht. Ich bitte da mal um eine n&auml;here Erkl&auml;rung.</p>
<p>Das waren zumindest die f&uuml;r mich wichtigsten Punkte. Ich hoffe, ich konnte alles kl&auml;ren.</p>
<p>Bis sp&auml;ter<br />
Gottes Segen</p>
<p>M&ouml;r&szlig;l</p>
