---
layout: post
status: publish
published: true
title: Godi in Dresden
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 69
wordpress_url: http://blog.moerssl.net/2006/09/07/godi-in-dresden/
date: '2006-09-07 00:04:26 +0200'
date_gmt: '2006-09-06 22:04:26 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ich war &uuml;bers bei meinen Eltern in Sachsen. Meine kleine Schwester Isabel hatte ihr Schuleinf&uuml;hrung. Daf&uuml;r hatte ich mir dann mal ein verl&auml;ngertes Wochenende frei genommen.</p></p>
<p>Aber darum soll es in diesem Post gar nicht gehen... Der Besuch bei meinen Eltern war f&uuml;r mich au&szlig;erdem seit Februar wieder mal ein Anlass die Jesusgemeinde in Dresden zu besuchen. In dieser Gemeinde habe ich einige der ersten Schritte meines Christseins gemacht.</p></p>
<p>Es war ein segnungsreicher Gottesdienst. Zu Beginn wurden die Schulanf&auml;nger der Gemeinde gesegnet. Nachher noch das Baby von Ruben und Sabine Metzke aus dem &Auml;ltestenteam der Gemeinde. Wayne hielt im Anschluss noch eine "Kurzpredigt" (30 min) &uuml;ber Schl&uuml;ssel zu Gott im Alltag.</p></p>
<p>So ganz bekomme ich diese Predigt aus dem Kopf nicht mehr hin. Ist ja auch schon ne Weile her ;-). Ich wei&szlig; jedenfalls noch, dass mich der letzte Teil der Predigt sehr angesprochen hat. Es ging um die F&auml;higkeit zu tr&auml;umen und diese Tr&auml;ume auch in die Wirklichkeit umzusetzen, nat&uuml;rlich mit Gottes Hilfe. Au&szlig;erdem sind wir schon in unserem aktuellen Zustand, Dienst, unserer Aufgabe mit 100% an Gaben, geistlichem Knowhow usw. ausgestattet, wie wir es f&uuml;r diese eben (jetzt) anstehende Aufgabe brauchen. (Nichtsdestotrotz hat Gott immer noch mehr an Offenbarung, Erkenntnis, Gaben(einsatz) f&uuml;r uns parat, aber f&uuml;r den aktuellen Moment sind wir 100%ig ausger&uuml;stet!)<br />
Ich fand dieses unten anstehende Lied so passend, welches mir das Autoradio entgegen sprudelte, als ich mit dem Auto wieder in Richtung elterliches Haus fuhr:</p></p>
<p align="center">[youtube PL4mwZEeIsA]</p><br />
 sebastian h&auml;mer - sommer unseres lebens (Quelle: <a href="http://youtube.com">YouTube</a>)</p>
