---
layout: post
status: publish
published: true
title: Vom Wollen und Zweifeln
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 70
wordpress_url: http://blog.moerssl.net/2006/09/10/vom-wollen-und-zweifeln/
date: '2006-09-10 00:25:15 +0200'
date_gmt: '2006-09-09 22:25:15 +0200'
categories:
- newstime
tags: []
comments:
- id: 42
  author: Los, bekehr dich schon! &laquo; KOW&#8217;s Blog
  author_email: ''
  author_url: http://jarrn.wordpress.com/2006/09/15/los-bekehr-dich-schon/
  date: '2006-09-15 23:50:48 +0200'
  date_gmt: '2006-09-15 21:50:48 +0200'
  content: "[...] Aber wann passiert sowas schonmal? Da sahen ihn alle, die in Lydda
    und in Scharon wohnten, und bekehrten sich zu dem Herrn. [...]"
---
<p>Seit einigen Wochen besch&auml;ftigt mich ein Satz, den ich in einem Gespr&auml;ch mit Tina aufgeschnappt habe. Der Satz ist sehr tiefgehend. Und hier ist er:</p></p>
<blockquote>
<p>Wenn ich sage: "Ich bin mir nicht sicher, ob ich das will.", dann will ich es in Wirklichkeit nicht.<br /><br />
Tina Bernhard</p></blockquote></p>
<p>Ich wei&szlig; nicht, ob ihr solche Situationen kennt, aber in meinem Leben sind sie immer wieder aufgetaucht. Man steht vor einer mehr oder weniger schwerwiegenden Entscheidung. Ausbildungsplatz, neuer Arbeitsplatz, Beziehung, Dienst, fahr ich zu Ausbildungsveranstaltung XY, geh ich auf Konzert XY?</p></p>
<p>Die Frage "Will ich das wirklich?" taucht bei mir immer wieder auf, wenn ich mir &uuml;ber Gottes Willen f&uuml;r die aktuelle Situtaion nicht sicher bin. Und davon gab es im letzten Jahr sehr viele. H&auml;tte ich diesen Satz schon eher gekannt, h&auml;tte ich einige - wie sich im Nachhinein herausgestellt hat - suboptimale Entscheidungen nicht getroffen.</p></p>
<p>Wenn ich mir einer Sache allerdings sicher war, habe ich fast alles in Bewegung gesetzt, um diese Sache zu bekommen. Kleines Beispiel dazu aus meinem "alten" Leben (ergo vor meiner Bekehrung). Als ich von meiner <a title="Hanseatische Softwareentwicklungs- und Consulting GmbH" href="http://www.hec.de" target="_blank">jetzigen Ausbildungsfirma</a> zum ersten Vorstellungsgespr&auml;ch eingeladen wurde, ging in mir der Wunsch auf: "Hier willst du auf jeden Fall hin." Ich wei&szlig; nicht, was es gewesen ist, was mich in diesen wenigen Minuten, in denen mich mein jetziger Ausbilder durch die Firma f&uuml;hrte, so stark von der Firma begeisterte. Ich wollte einfach dahin.</p></p>
<p>Als ich die Firma nach dem Vorstellungsgespr&auml;ch verlassen hatte, hatte die HEC (besagte Ausbildungsfirma) Rang 1 auf meiner Wunschausbildungsst&auml;ttenliste erreicht. Und gleiches sagte ich auch meinem Ausbilder w&auml;hrend eines Telefonates, in dem es um einen Termin f&uuml;r ein zweites Vorstellungsgespr&auml;ch ging: "Also wenn Sie mir nach dem Gespr&auml;ch einen Ausbildungsvertrag anbieten, unterschreibe ich den sofort." Und dieser Satz war so gemeint, wie ich ihn gesagt hatte. Schlussendlich kam es fast so. Mir wurde direkt nach dem zweiten Vorstellungsgespr&auml;ch der Ausbildungsplatz angeboten und ich habe nat&uuml;rlich angenommen.</p></p>
<blockquote><p>Denn Gott ist es, der in euch wirkt, sowohl das Wollen als auch das Wirken zu seinem Wohlgefallen.<br />
Philipper 2:13</blockquote></p>
