---
layout: post
status: publish
published: true
title: Beute oder J&auml;ger?
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 46
wordpress_url: http://blog.moerssl.net/2006/06/09/beute-oder-jaeger/
date: '2006-06-09 13:00:00 +0200'
date_gmt: '2006-06-09 09:00:00 +0200'
categories:
- newstime
tags: []
comments:
- id: 34
  author: Axel H&uuml;sing
  author_email: ahuesing@web.de
  author_url: ''
  date: '2006-06-10 02:13:52 +0200'
  date_gmt: '2006-06-10 00:13:52 +0200'
  content: "&Auml;ngste , das sind die feinen Schn&uuml;re die der Teufel spannt ,
    damit wir uns dadrin bis zur Bewegungsunf&auml;higkeit verheddern. Dietrich Bonhoefer"
---
<p>Letzte Woche habe ich mir Ice Age 2 angeschaut. Ihr werdet die Charaktere sicher kennen. Da gibt es Sid, das Faultier, Manni, das Mammut und Diego, den S&auml;belzahntiger.</p></p>
<p>Die ganze Geschichte des Filmes will ich jetzt nicht erz&auml;hlen. Aber es gibt doch eine Szene, die mich zum Nachdenken angeregt hat.</p></p>
<p>Es handelt sich dabei um folgendes: Diego, der furchtlose Tiger, hat Angst vor Wasser. Das ist ja erst einmal gar nicht so schlimm. Dummerweise hat Sid das mitbekommen. Nun f&auml;ngt Sid an Diego immer wieder damit aufzuziehen. Die Szene, die ich meine, geht in etwa so, dass Sid (wiedereinmal) lamentiert, Angst sei ganz normal und ein jeder habe Angst. Diego - ein bisschen an seinem Ego gekratzt - antwortet: "Angst haben nur Beutetiere." Darauf antwortet Sid: "Dann l&auml;sst du aber zu, dass dich die Angst zu ihrer Beute macht."</p></p>
<p>Etwas sp&auml;ter im Film wird Diego wieder mit seiner Angst konfrontiert. Er muss seine Angst vor dem Wasser &uuml;berwinden, um seine Freunde vor dem ertrinken zu retten. Und er springt ins Wasser!</p></p>
<p>Diego hat sich von seiner Angst nicht zur Beute machen lassen, sondern hat den Spie&szlig; umgedreht und sich seine Angst zur Beute gemacht.</p></p>
<p>&nbsp;</p></p>
<p>Auch wir m&uuml;ssen eigentlich vor nichts mehr Angst haben. Denn wir haben die Liebe Gottes, die uns geschenkt wird - jeden Tag wieder neu.</p></p>
<blockquote>
<p>Furcht ist nicht in der Liebe, sondern die v&ouml;llige Liebe treibt die Furcht aus.</p></p>
<p>1. Johannes 4:18a</p></blockquote></p>
<p>Wir brauchen uns von unserer Angst nicht zur Beute machen lassen, weil wir die Liebe Gottes erfahren (haben). Im Gegenteil! Wir k&ouml;nnen die Furcht / Angst einfach jagen bzw. austreiben! Ich will meine &Auml;ngste jagen und erlegen. Und selbst wenn ich bei den ersten Versuchen noch erfolglos bin, wei&szlig; ich, dass Gott mich gerade als J&auml;ger ausbildet und ich in Zukunft auf meinen Streifz&uuml;gen erfolgreicher sein werde.</p></p>
