---
layout: post
status: publish
published: true
title: Googlen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 94
wordpress_url: http://blog.moerssl.net/2006/11/23/googlen/
date: '2006-11-23 12:31:23 +0100'
date_gmt: '2006-11-23 11:31:23 +0100'
categories:
- newstime
tags: []
comments:
- id: 66
  author: Kerstin
  author_email: kerstin.s.bach@web.de
  author_url: http://zuendkerztin.jesusfreak.de
  date: '2006-11-26 22:20:47 +0100'
  date_gmt: '2006-11-26 21:20:47 +0100'
  content: |-
    Hallo kleiner Bruder :-)
    Sprotte, Robby und ich sind heil in Berlin angekommen, hoffe ihr auch in Bremen. Hab gleich mal dein Blog gesucht und war gar nicht so schwer, das zu finden. ;-)
    Hab ne sch&ouml;ne neue Woche und bleib in der Ruhe! :-)
---
<p><img src="http://www.tecchannel.de/blog/images/20061113_114828_118.jpg" alt="google" /><br />
Alles findet man dann doch nicht bei Google.de</p>
<p>Gefunden bei <a href="http://www.tecchannel.de/blog/posts/173">tecBlog</a></p>
