---
layout: post
status: publish
published: true
title: 3, 2, 1...
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 44
wordpress_url: http://blog.moerssl.net/2006/06/01/3-2-1/
date: '2006-06-01 09:00:00 +0200'
date_gmt: '2006-06-01 05:00:00 +0200'
categories:
- newstime
tags: []
comments:
- id: 33
  author: Tick,Trick und Track
  author_email: shadow0302@web.de
  author_url: ''
  date: '2006-06-01 21:55:55 +0200'
  date_gmt: '2006-06-01 19:55:55 +0200'
  content: Was Papa (und zwar dein leiblicher) macht, wissen ja alle...du solltest
    dir nen anderen Kosenahmen f&uuml;r Sie suchen.
---
<p>wir sind drin!</p></p>
<p>Der Countdown steht endlich auf 0!! Lilly, <a title="deutscher dschungel" href="http://missionfreak.blogspot.com">Cate</a>, Corcken und ich sind im Hoffnungshaus.</p></p>
<p>F&uuml;r mich f&auml;ngt schon wieder ein neuer Lebensabschnitt an. Es ist noch nicht einmal 12 Monate vergangen, als ich von <a href="http://www.oelsa.de">Oelsa</a> (in Sachsen) nach Bremen gezogen bin. Damals (oh je, ich werd alt *gg*) machte ich mir einige Gedanken: Wie finde ich Anschluss an die ans&auml;ssigen Christen? was ist die beste Gemeindesuchstrategie? Werde ich mein Leben allein regeln k&ouml;nnen? Hoffentlich stell ich mich nicht zu bescheuert auf Arbeit an. usw.</p></p>
<p>Viele der Fragen haben sich innerhalb der ersten 2 Wochen in Luft aufgel&ouml;st. Der Anschluss zu den Christen kam relativ schnell. Ich habe gelernt, dass es die beste Gemeindesuchstrategie ist, es einfach Papa machen zu lassen. Es war wirklich Gottes Leitung, wie ich zu den Freaks gekommen bin..</p></p>
<p>Die Situation auf der Arbeit war gar nicht so schlimm, wie ich es mir vorgestellt habe. Ich wurde bis heute noch nicht gebissen :D</p></p>
<p>&nbsp;</p></p>
<p>Wie gesagt, mit dem Hoffnungshaus beginnt wieder ein neuer Lebensabschnitt. Und nun hei&szlig;t es nach vorn sehen, mit erhobenem Kopf.</p></p>
<p>Demn&auml;chst gibt's hier sicherlich die ersten Stories aus dem Haus. Ich freu mich.</p></p>
<p>M&ouml;r&szlig;l</p></p>
