---
layout: post
status: publish
published: true
title: Berufung und Gaben
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 756
wordpress_url: http://blog.moerssl.net/2006/03/09/berufung-und-gaben.html
date: '2006-03-09 12:49:11 +0100'
date_gmt: '2006-03-09 11:49:11 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Seit einiger Zeit mache ich mir schon Gedanken dar&uuml;ber, was Gott mit mir in seinem Reich so vorhat. Einiges an meiner Gebetszeit habe ich daf&uuml;r verwendet. Einige Antworten habe ich auch schon bekommen.<br />
Mich zieht es in ein weiter entferntes Land als Missionar, Leiter oder Prediger. Vor ein paar Monaten h&auml;tte ich auch noch voller &Uuml;berzeugung sagen k&ouml;nnen, dass es sich dabei um Russland (oder einen der anderen GUS-Staaten) handeln wird. Aber in der letzten Zeit sind mir an diesem Ziel einige Zweifel gekommen - das Gebiet scheint sich irgendwie auszuweiten. Allerdings bin ich mir nicht sicher, ob es sich dabei um meine eigenen Gedanken oder um Gottes Gedanken handelt.</p>
<p>Vor 2 oder 3 Wochen hatte ich mir zwei Predigten von Angelika aus Hannover angeh&ouml;rt [<a href="http://www.jesusfreakshannover.de/ftp/predigten/Dezember05/18_Angelika_WasistmeineBerufung.mp3">1</a> <a href="http://www.jesusfreakshannover.de/ftp/predigten/Januar06/15_Angelika_was%20ist%20meine%20Berufung.mp3">2</a>]. Folgender Satz aus diesen beiden Predigten hat sich mir irgendwie in den Kopf eingebrannt: "Es kommt bei deiner Berufung nicht darauf an, wo du bist, sondern wer du bist, wo du bist."<br />
Dieser Satz war f&uuml;r mich ersteinmal eine Erleichterung und hat mich andererseits auch etwas verwirrt. F&uuml;r mich kommt dabei zum Ausdruck, dass ich jetzt und hier, wo ich gerade bin schon in meine Berufung "hineinrutschen" kann.<br />
Seit ein paar Wochen sp&uuml;re ich, wie der Heilige Geist in mir beginnt die Gaben freizusetzen, die er f&uuml;r mich bereit h&auml;lt. Aber bevor ich an dieser Stelle etwas dazu schreibe, werde ich ein bzw. mehrere Gespr&auml;che suchen, um meine Vermutungen zu pr&uuml;fen.</p>
