---
layout: post
status: publish
published: true
title: Kraft durch Freude
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 60
wordpress_url: http://blog.moerssl.net/2006/08/01/kraft-durch-freude/
date: '2006-08-01 11:18:51 +0200'
date_gmt: '2006-08-01 09:18:51 +0200'
categories:
- newstime
tags: []
comments: []
---
<blockquote>
<p>Die am 27. November 1933 gegr&uuml;ndete NS-Gemeinschaft "Kraft durch Freude" (KdF) war die popul&auml;rste Organisation im NS-Regime. Das Volkswagen-Projekt sowie Nah- und Fernreisen geh&ouml;rten zu den wichtigsten Aktivit&auml;ten der Freizeitorganisation KdF, einer Unterorganisation der Deutschen Arbeitsfront (DAF). Mit dem umfassenden Wirken dieser Organisation sollte vorrangig die Arbeiterschaft in die "Volksgemeinschaft" integriert werden. Zugleich sollten so die im Zuge der Aufr&uuml;stung notwendigen Produktionssteigerungen ohne nennenswerte Lohnerh&ouml;hungen durchgesetzt werden. KdF-Veranstaltungen sollten der Entspannung und der Regeneration zur Erh&ouml;hung der Arbeitsleistung dienen, wozu auch die Verbesserung und Versch&ouml;nerung der Arbeitspl&auml;tze mit Kantinen, Sportst&auml;tten oder Gr&uuml;nanlagen geh&ouml;rte. Die Organisation KdF, die den Zugang zu bisher b&uuml;rgerlichen Privilegien anbot, diente letztlich der Vorstellung einer klassenlosen Gesellschaft im Sinne der nationalsozialistischen Volksgemeinschaft.</p></p>
<p>Quelle: <a href="http://www.dhm.de/lemo/html/nazi/innenpolitik/kdf/index.html">http://www.dhm.de/lemo/html/nazi/innenpolitik/kdf/index.html</a>  vom 01.08.2006 10:37 Uhr</p></blockquote></p>
<p>Der arbeitende Mensch braucht Ausgleich. Das haben auch die Nazis damals erkannt - und auch umgesetzt. Ganz ihre Idee war es nun auch nicht. Der Grundgedanke einer "Freizeitorganisation" haben sie sich bei den Italienern abgeschaut. Aber sie haben den Leuten etwas geboten, was sie auch bezahlen k&ouml;nnen. Die arbeitende Bev&ouml;lkerung sollte sich nicht der Langeweile oder dem "Lodderleben" hingeben, sondern sich qualitativ hochwertig erholen - um noch mehr Arbeit leisten zu k&ouml;nnen. Zu dem war KdF ein Teil der Gleichschaltung des Regimes. Das gesamte Leben der Deutschen sollte vom Regime infiltriert werden. Andere Beispiele f&uuml;r die Gleichschaltung sind z.B. der Volksempf&auml;nger - ein Radio, dass sich jeder leisten konnte. Es diente perfekt zur Propaganda.</p></p>
<p>Aber warum schreibe ich &uuml;berhaupt &uuml;ber ein solches Thema? Nun ja, mir ist letzte Woche wieder folgender Vers aus der Bibel eingefallen:</p></p>
<blockquote>
<p>[...]die Freude am Herrn gibt euch Kraft!<br /><br />
Nehemia 8:10 (HfA)</p></blockquote></p>
<p>Und das erste, was mir dabei durch den Kopf schoss, war eben "Kraft durch Freude". Das ist so eine Wortgruppe, die sich einfach ins Gehirn einbrennt - wahrscheinlich auch ein Grund daf&uuml;r, dass die Nazis sie gew&auml;hlt hatten.</p></p>
<p>Ihr kennt das sicherlich auch, dass man in den Anbetungszeiten - egal, ob die nun im Gottesdienst sind oder zu Hause, in der Stra&szlig;enbahn, egal wo - erfrischt und aufgetankt wieder raus kommt. Ebenso kann ich durch Bibellesen, beten oder einfach mal Still vor Gott sein wieder auftanken. Die Freude am Herrn ist meine Kraft. Und wenn diese Dinge fehlen, so fehlt mir (meist) die Kraft. Eine Sache, die ich in den letzten Wochen erleben musste. Doch da schreib ich sp&auml;ter noch was dazu.</p></p>
<p>Jetzt will ich aber nicht sagen, dass Kraftlosigkeit immer ihre Ursache in fehlendem Gebet etc. liegt. Dem ist nicht so. Vielleicht solltest du einfach <a href="http://blog.moerssl.net/2006/06/10/schnauze-voll/">mehr schlafen, oder was essen</a> .</p></p>
<p>&nbsp;</p></p>
<p>Um nochmal auf die Geschichte mit den Nazis zur&uuml;ckzukommen. Ich denke, dass es f&uuml;r uns Deutsche besonders schwierig ist, sich mit solchen "Phrasen" aus dem Dritten Reich auseinander zu setzen bzw. anzufreunden (Nur mit der Abfolge der W&ouml;rter, nicht, was die Nazis draus gemacht haben!). Es fiel mir nicht einfach diesen Post hier zu schreiben, vor allem, weil man beim H&ouml;ren der Worte immer diese 12 schwarzen Jahre der deutschen Geschichte im Hinterkopf hat.</p></p>
<p>Nichtsdestotrotz finde ich, dass "Kraft durch Freude" doch wahr ist und von der reinen Wortbedeutung her nichts schlimmes an sich hat und wenn es gelebt wird Befreiuung und auch Erleichterung im Leben bringen wird.</p></p>
