---
layout: post
status: publish
published: true
title: love all serve all
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 24
wordpress_url: http://blog.moerssl.net/2006/05/07/love-all-serve-all/
date: '2006-05-07 22:35:37 +0200'
date_gmt: '2006-05-07 20:35:37 +0200'
categories:
- newstime
tags: []
comments:
- id: 14
  author: Melly
  author_email: Juvriel@web.de
  author_url: http://melly.blogspirit.com
  date: '2006-05-08 10:49:35 +0200'
  date_gmt: '2006-05-08 08:49:35 +0200'
  content: warum sollte dir das peinlich sein? ist doch sch&ouml;n wenn Papa dich
    mit solchen Zeichen &uuml;bersch&uuml;ttet :-)
- id: 15
  author: Tanja
  author_email: tanja.lander@gmx.de
  author_url: ''
  date: '2007-08-19 15:29:53 +0200'
  date_gmt: '2007-08-19 13:29:53 +0200'
  content: '"Love all, serve all" war in diesem Fall wohl eher der Leitspruch der
    Hardrock-Caf&eacute;s.'
---
<p>Naja, was soll ich sagen? Es ist mir schon fast peinlich hier wieder &uuml;ber eine Begegnung der 4. Art zu berichten, aber ich muss es einfach.<br />
Diesmal ist das letzten Montag passiert, als ich im Zug nach Bremen gesessen habe (R&uuml;ckfahrt vom GIS). Da setzt sich jemand vor mich, der ne Baseballkappe auf hat. "Love All Serve All" steht da auf dem Hinterkopf seiner Kappe ("Liebe alle, diene allen"). Eine der grundlegenden Aussagen, die Jesus seinen J&uuml;ngern mit auf den Weg gegeben hat. </p>
<blockquote><p>
Du sollst den Herrn, deinen Gott, lieben aus deinem ganzen Herzen und aus deiner ganzen Seele und aus deinem ganzen Verstande und aus deiner ganzen Kraft". [Dies ist das erste Gebot.]<br />
Und das zweite, ihm gleiche, ist dieses: "Du sollst deinen N&auml;chsten lieben wie dich selbst". Gr&ouml;&szlig;er als diese ist kein anderes Gebot.<br />
Markus 12:30-31<br />
</blockquote></p>
<blockquote><p>
Denn ich habe euch ein Beispiel gegeben, auf da&szlig;, gleichwie ich euch getan habe, auch ihr tuet.<br />
Johannes 13:15<br />
(Jesus, nachdem er seinen J&uuml;ngern die F&uuml;&szlig;e gewaschen hatte)<br />
</blockquote></p>
<p>F&uuml;r mich war das krass den Auftrag Jesu in so komprimierter Form nochmal vor mir zu sehen. Es war wieder einmal ein Zeichen f&uuml;r mich, dass der Glaube im Extemfall auf solche einpr&auml;gsamen S&auml;tze "heruntergebrochen" werden kann.</p>
<p>Ich w&uuml;nsche mir f&uuml;r mein Leben, dass ich diesen Satz wirklich zu 100% umsetzen kann. </p>
<p><em>Love All Serve All</em></p>
