---
layout: post
status: publish
published: true
title: turn the inside out
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 33
wordpress_url: http://blog.moerssl.net/2006/05/15/33/
date: '2006-05-15 12:18:28 +0200'
date_gmt: '2006-05-15 10:18:28 +0200'
categories:
- newstime
tags: []
comments:
- id: 18
  author: Melly
  author_email: Juvriel@web.de
  author_url: http://melly.blogspirit.com
  date: '2006-05-17 21:36:57 +0200'
  date_gmt: '2006-05-17 19:36:57 +0200'
  content: |-
    hey...mach dich nicht fertig...

    "Entpricht mein Leben dem, wie es in mir drin aussieht? Ich muss sagen, nein. Nach au&szlig;en hin scheine ich zwar ein &ldquo;heiliges&rdquo; Leben zu f&uuml;hren, aber innen drin siehts noch weitgehend d&uuml;ster aus."

    jeder von uns hat zweifel und tr&auml;gt ab und zu ne "maske" - geht mir genauso wie dir...ich bin auch grad am &uuml;berlegen...tu ich das was ich tu eigentlich aus vollem herzen und zu 100%? vielleicht sollte ich mal nen post dazu machen...bis dahin hoff ich drauf das papa uns irgendwann fl&uuml;gel gibt *knuddel* :-)
- id: 19
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2006-05-17 23:53:27 +0200'
  date_gmt: '2006-05-17 21:53:27 +0200'
  content: "Das letzte, was ich hier tun will, ist mich selbst zu dezimieren. Aber
    wenn ich wei&szlig;, dass in meinem Leben was nicht stimmt bzw. schief gelaufen
    ist und mich diese Sachen wohlm&ouml;glich in Zukunft behindern, dann sollte ich
    die doch loswerden, oder? Bzw. erstmal wissen, worum es sich dreht und das Zeug
    dann loswerden!\nAlles, was ich da machen kann, ist nunmal \"nur\" mit anderen
    Leuten dr&uuml;ber zu reden. Der Rest ist sowieso Papas Sache. Ich brauch mich
    aber nicht verkrampfen, dass ich unbedingt Frucht (des Geistes) bringen muss.
    Das dauert so seine Zeit. Ein Apfelbaum tr&auml;gt auch erst im Herbst und nicht
    im Fr&uuml;hling. \n\nNoch ein kleines Zitat zum Ende (allerdings wei&szlig; ich
    nicht von wem das ist):\n\"Gott liebt uns wie wir sind. Allerdings liebt er uns
    zu sehr, um uns so zu lassen, wie wir sind.\""
---
<p>Entpricht mein Leben dem, wie es in mir drin aussieht? Ich muss sagen, nein. Nach au&szlig;en hin scheine ich zwar ein "heiliges" Leben zu f&uuml;hren, aber innen drin siehts noch weitgehend d&uuml;ster aus. Im Galaterbrief schreibt Paulus &uuml;ber Fr&uuml;chte, also die des Geistes und die des Fleisches.</p>
<blockquote>
<p>Die Werke des Fleisches sind deutlich erkennbar: Unzucht, Unsittlichkeit, ausschweifendes Leben, G&ouml;tzendienst, Zauberei, Feindschaften, Streit, <strong>Eifersucht</strong>, J&auml;hzorn, Eigennutz, Spaltungen, Parteiungen, <strong>Neid</strong> und <strong>Missgunst</strong>, Trink- und Essgelage und &Auml;hnliches mehr. Ich wiederhole, was ich euch schon fr&uuml;her gesagt habe: Wer so etwas tut, wird das Reich Gottes nicht erben. Die Frucht des Geistes aber ist Liebe, Freude, Friede, Langmut, <em>Freundlichkeit</em>, <em>G&uuml;te</em>, Treue, <em>Sanftmut</em> und Selbstbeherrschung; dem allem widerspricht das Gesetz nicht. Alle, die zu Christus Jesus geh&ouml;ren, haben das Fleisch und damit ihre Leidenschaften und Begierden gekreuzigt. Wenn wir aus dem Geist leben, dann wollen wir dem Geist auch folgen.<br />
Galater 5:19-25</p>
<p></blockquote></p>
<p>Ich kenn die Stelle schon ne ganze Weile - und hab gestern mal wieder gemerkt, dass mein Fleisch an gewissen Punkten "Recht anmeldet" (die hab ich mal fett formatiert). In den letzten Wochen ist es h&auml;ufiger vorgekommen, dass ich auf gewisse Personen <!--die ich nur vom Namen her kenne--> nen Hals hatte. Mit Galater 5 im Hinterkopf hab ich dann nach so ca. 2 Stunden gemerkt, dass die Einstellung, die Gef&uuml;hle irgendwie nicht von Gott sein k&ouml;nnen. Warum sollte ich auf ne Person eifers&uuml;chtig sein, obwohl ich &uuml;berhaupt kein Recht dazu habe? Um aus dieser Sache rauszukommen hab ich dann Galater5:22 (Die Fr&uuml;chte des Geistes) als "Erste-Hilfe-Kasten" genutzt, um Eifersucht und tralala erstmal wegzubekommen - und dachte damit ist die Sache gegessen.<br />
Is aber nich. Bei der "n&auml;chstbesten" Situation brachs wieder los - und es kotzt mich regelrecht an! Andererseits bin ich froh, dass mir Gott diese Sachen zeigt, an mir arbeiten will und es auch tut. Um es mit Mellys Worten auszudr&uuml;cken: </p>
<blockquote><p>
Jedermann wei&szlig;, das sich Raupen am Ende in Schmetterlinge verwandeln. Aber zun&auml;chst sind sie definitiv Raupen. Sie k&ouml;nnen nicht fliegen. Sie bewegen sich sehr langsam. [...] Wenn du deinen geistlichen Weg mit mir [Gott; Anm. d. A.] beginnst, dann gebe ich dir das Versprechen, dass du geistlich reif wirst, Heilung und Ganzheit erf&auml;hrst. Aber so weit bist du noch nicht. Geistlich gesehen bist du noch immer eine Raupe. Also h&ouml;r auf, dich selbst daf&uuml;r zu bestrafen, das du noch nicht vollkommen bist, und bleibe auf dem Weg zu der Verhei&szlig;ung. Ich habe dich zum Fliegen erschaffen, aber das ist ein Prozess, der Zeit, Geduld und eine Menge Gnade erfordert. [...]<br />
<em>Bereits bei Melly zitiert</em><br />
 (Lest am besten den dazugeh&ouml;rigen <a href="http://melly.blogspirit.com/archive/2006/04/24/zum-fliegen-geschaffen.html">Post</a>)<br />
</blockquote></p>
<p>Irgendwas ist in mir drin, was unbedingt raus will / muss. Mal sehen, vielleicht such ich mir ne Vertrauensperson, mit der ich reden kann. Das Dumme is nur, dass ich nicht wei&szlig;, was da unbedingt raus will. We will see.<br />
Ich eier hier grad ziemlich rum, wei&szlig; aber auch nich, wie ichs anders ausdr&uuml;cken soll. Ich hoffe, ihr versteht, was ich meine...<br />
F&uuml;rs erste wars das.</p>
<p>M&ouml;r&szlig;l</p>
