---
layout: post
status: publish
published: true
title: Eine Stra&szlig;e voller Hoffnung
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 755
wordpress_url: http://blog.moerssl.net/2006/03/04/eine-strase-voller-hoffnung.html
date: '2006-03-04 15:41:10 +0100'
date_gmt: '2006-03-04 14:41:10 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Vor ein paar Wochen sind Lilly und <a href="http://missionfreak.blogspot.com">Cate</a> auf mich zugekommen. Sie erz&auml;hlten etwas von einem Haus, dass sie gefunden h&auml;tten und unbedingt mieten wollten. Die beiden hatten sich auf Wohnungssuche begeben.<br />
Ich wurde gefragt, ob ich es mir vorstellen k&ouml;nnte mit in das Haus einzuziehen. Ich habe immer wieder dar&uuml;ber gebetet und auf Gottes Reden gewartet. Schlie&szlig;lich wollte ich ja nichts tun, was Gottes Willen widerspricht. In den verschiedenen Gebetszeiten und Gespr&auml;chen kristiallisierte sich heraus, dass es Gottes Weg sei, dass ich in jenes Haus mit einziehe. Als meine Entscheidung einzuziehen gefallen war, war allerdings noch nicht klar, ob wir das Haus denn nun wirklich bekommen w&uuml;rden.<br />
Dies erledigte sich gestern. Die ganze Story k&ouml;nnt ihr bei <a href="http://missionfreak.blogspot.com/2006/03/hoffnung-erfllt.html">Cate</a> nachlesen.<br />
Seit gestern steht nun fest, wir ziehen am 1. Juni in die Hoffnungsstra&szlig;e ein. Und auch ein Problemchen, dass noch auf meiner Seite bestand, hat sich ganz einfach in Luft aufgel&ouml;st:<br />
Meine aktuellen Vermieter wussten noch nichts von meinen Umzugspl&auml;nen. Also hab ich gerade eben mal die Bombe platzen lassen. Und? Ich kann zum 31. Mai ausziehen! Einem reibungslosen &Uuml;bergang steht jedenfalls im Augenblick nichts im Weg! </p>
<p>Danke Jesus!</p>
