---
layout: post
status: publish
published: true
title: Truth can be painful
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 57
wordpress_url: http://blog.moerssl.net/2006/07/17/truth-can-be-painful/
date: '2006-07-17 13:23:34 +0200'
date_gmt: '2006-07-17 11:23:34 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Es gibt viele Dinge in der Welt, die mich gerade besch&auml;ftigen - vielleicht auch zu sehr. Ich hab Gott im letzten halben Jahr so einige Fragen gestellt. Und wie er nun mal so ist, antwortet er. Manchmal waren seine Ansichten zu bestimmten Themen etwas anders, als meine. Naja, aber er hat ja nun mal das letzte Wort. Bei vielen Sachen hatte ich schon eine leichte Ahnung, dass Gottes Plan mit mir in eine andere Richtung geht, als ich mir das dachte.</p></p>
<p>Einige Male war diese Erkenntnis &auml;u&szlig;erst schmerzhaft, andere Male auch von Freude begleitet. In die Details will ich da nicht gehen, einfach weil mir das zu privat ist...</p></p>
<p>Im Augenblick sauge ich alles, was in meiner Umwelt passiert in mich auf, und versuche damit irgendwie zurecht zu kommen. Ein Lied, was meine Situation ganz gut beschreibt, kommt mal wieder von <a href="http://www.diehappy.de" target="_blank">Die Happy</a> und hei&szlig;t <em>Perfect:</em></p></p>
<blockquote>
<p>Sometimes the answer<br /><br />
To all of my questions<br /><br />
Are too much for me to hear<br /><br />
Truth can be painful<br /><br />
And hard to prepare for<br /><br />
I'm glad I've got you near</p></p>
<p>If I had a heart of stone<br /><br />
I could turn the other cheek<br /><br />
But that's not me, no<br /><br />
I soak it up I take it in<br /><br />
Try to deal with everything I feel</p></p>
<p>THE UGLINESS IN THIS BIG WORLD<br /><br />
BRINGS ME DOWN AND MAKES ME SAD<br /><br />
BUT THEN THERE'S YOU<br /><br />
YOU ARE PERFECT</p></p>
<p>YOU'RE THE ONE WHO MAKES ME SEE<br /><br />
THAT EVERYTHING'S MUCH BETTER<br /><br />
THAN IT SEEMS TO BE<br /><br />
YOU ARE PERFECT</p></p>
<p>You were the answer<br /><br />
To all of my questions<br /><br />
About a million times<br /><br />
(yes you are)</p></p>
<p>You make all the difference<br /><br />
You lead the way and point out all the lies<br /><br />
You open up my eyes</p></p>
<p>THE UGLINESS IN THIS BIG WORLD<br /><br />
BRINGS ME DOWN AND MAKES ME SAD<br /><br />
BUT THEN THERE'S YOU<br /><br />
YOU ARE PERFECT</p></p>
<p>YOU'RE THE ONE WHO MAKES ME SEE<br /><br />
THAT EVERYTHING'S MUCH BETTER<br /><br />
THAN IT SEEMS TO BE<br /><br />
YOU ARE PERFECT</p></p>
<p>WHERE WOULD I BE WITHOUT YOU<br /><br />
YOU MAKE ME PERFECT</p></p>
<p>When I'm a mess<br /><br />
When I need someone to run to<br /><br />
You are there right next to me</p></blockquote></p>
<p>Ich wei&szlig; nicht, wie es mir gehen w&uuml;rde, wenn ich Jesus nicht h&auml;tte. Er ist f&uuml;r mich dieser "jemand zu dem ich rennen kann." Er ist immer da, und immer in der N&auml;he. Wenn ich Hilfe brauche ist er in einem Sekundenbruchteil zur Stelle. Und auch wenn ich mich so gef&uuml;hlt habe, als h&auml;tte man mir etwas weg genommen, so gibt er mir doch im Endeffekt etwas besseres daf&uuml;r wieder, auch wenn ich eine Weile warten muss, bis ich Jesus' Geschenk in der Hand halte.</p></p>
<p>Es gibt einen Satz, der mich schon seit &uuml;ber einem Jahr begleitet: "Jesus hat nie gesagt, dass es einfach wird, er hat nur gesagt, dass es sich lohnt!"</p></p>
<p>Jesus, ich bin dir so dankbar, dass ich dich habe!</p></p>
