---
layout: post
status: publish
published: true
title: Die Waffen Davids
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 29
wordpress_url: http://blog.moerssl.net/2006/05/18/die-waffen-davids/
date: '2006-05-18 09:12:12 +0200'
date_gmt: '2006-05-18 07:12:12 +0200'
categories:
- newstime
tags: []
comments:
- id: 21
  author: Melly
  author_email: Juvriel@web.de
  author_url: http://melly.blogspirit.com
  date: '2006-05-18 18:32:16 +0200'
  date_gmt: '2006-05-18 16:32:16 +0200'
  content: |-
    "sie wurden der jeweiligen Situation angepasst. Ebenso wirds bei unseren Gaben sein."

    hm...also doch begabung durch berufung? na dann bin ich ja mal gespannt was f&uuml;r "waffen" papa mir mit auf den weg gibt ;-)
- id: 22
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2006-05-19 12:40:33 +0200'
  date_gmt: '2006-05-19 10:40:33 +0200'
  content: "Ich wei&szlig; nicht, wie ich David da einordnen soll. Das K&auml;mpfen
    - w&uuml;rde ich sagen - hat er ja schon bei den Schafen ge&uuml;bt (L&ouml;we
    + B&auml;r). Nachher wurde er \"Kriegsmensch\". \nGott hat in David das genutzt,
    was (im kleinen) schon da war und hat seine F&auml;higkeiten &uuml;ber die Jahre
    immer wieder erweitert.\n\nAu&szlig;erdem bin ich mittlerweile der Meinung, dass
    es beides gibt \"Begabung durch Berufung\" und \"Berufung durch Begabung\".\nNaja,
    oftmals wissen wir einfach nich, dass wir begabt sind. Mein Lieblingsbeispiel
    ist da ja Mose geworden. Aber dazu gibts vielleicht sp&auml;ter ein bisschen mehr."
- id: 23
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2007-02-25 19:30:54 +0100'
  date_gmt: '2007-02-25 18:30:54 +0100'
  content: |-
    Gott beruft nicht f&auml;hige Leute,
    Er bef&auml;higt die, die Er beruft.

    (Sheri Wilson)
---
<p>David konnte mit Waffen umgehen. Das wird wohl keiner bestreiten. Die Sache mit Goliath hab ich ja schon beschrieben. In seiner weiteren Laufbahn hat er viele Kriege gef&uuml;hrt und das nicht allzu erfolglos. Worums mir heute geht sind die Waffen Davids.<br />
David war Hirte. Umzingelt von Schafen, die er bewachen sollte. Auf den Hirten geh ich nich ein, dazu wurde schon zu viel geschrieben. Mir gehts um die Waffen. Als Hirte hatte er ja seine Steinschleuder. Ich kann mir richtig vorstellen, wie er so jeden Tag ge&uuml;bt hat mit dem Teil umzugehen. Sicherlich wird er auf irgendwelche Sachen gezielt und auch geschossen haben. Steine, B&auml;ume, andere Pflanzen - whatever, is auch egal. Jedenfalls muss er im Umgang damit ziemlich gut gewesen sein. Er hat damit immerhin nen L&ouml;wen, nen B&auml;ren und nen ziemlich gro&szlig;en Philister erlegt. David war im Umgang mit seiner Steinschleuder geschult - er wusste was er tat. F&uuml;r den "kleinen" David war die Steinschleuder effektiver als ein Schwert. Mit nem Schwert konnte er nich umgehen.</p>
<p>Sp&auml;ter, als er gr&ouml;&szlig;er und erwachsener war, hatte er gelernt mit einem Schwert umzugehen. Nun war das Schwert f&uuml;r ihn die bessere Waffe. Und David schien ziemlich schnell zu lernen - er hat ja innerhalb kurzer Zeit mehr Leute niedergem&auml;ht als Saul. Mit fortschreitendem Alter - und somit fortschreitender Verantwortung / gr&ouml;&szlig;erem Aufgabengebiet wuchs seine F&auml;higkeit mit Waffen umzugehen.</p>
<p>Ich sehe in dieser Entwicklung eine gewisse Parallele zu unseren Gaben. Wir fangen im kleinen an. Die Gaben wachsen in uns. Gott wird uns mit unseren Gaben nicht &uuml;berstrapazieren. Die Salbung wird wachsen. Erst hat David gelernt mit der Steinschleuder umzugehen. Er nutzte sie, bis er im Umgang mit seiner Waffe perfekt war. Nach und nach wurden seine Kampfk&uuml;nste erweitert - sie wurden der jeweiligen Situation angepasst. Ebenso wirds bei unseren Gaben sein. </p>
