---
layout: post
status: publish
published: true
title: kommentarfunktion
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 9
wordpress_url: http://blog.moerssl.net/2006/03/27/kommentarfunktion/
date: '2006-03-27 11:10:22 +0200'
date_gmt: '2006-03-27 09:10:22 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Nachdem die Kommentierfunktion die letzten Tage kurzfristig au&szlig;er Betrieb war, habe ich das Problem l&ouml;sen k&ouml;nnen. Jetzt k&ouml;nnt ihr hier rigoros drauf los kommentieren ... :-)</p>
<p>Viel Spa&szlig; dabei<br />
M&ouml;r&szlig;l</p>
