---
layout: post
status: publish
published: true
title: Arbeit, Haus und Willi
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 87
wordpress_url: http://blog.moerssl.net/2006/10/31/arbeit-haus-und-willi/
date: '2006-10-31 07:32:54 +0100'
date_gmt: '2006-10-31 06:32:54 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Gestern war wieder mal so ein Tag, der mir vorkam, als h&auml;tte er mehr als 24 Stunden. Aber nun mal die Einzelheiten: Ich stand seeeeeeeehr fr&uuml;h auf, um auch seeeeeeeehr fr&uuml;h auf Arbeit zu sein. Ich bin grad in den Abschlussarbeiten meines aktuellen Projektes und muss bis Mittwoch Mittag damit fertig sein. Also hie&szlig; und hei&szlig;t es: Klotzn, nicht kleckern!!</p></p>
<p>Als ich dann gestern um 18:00h aus der Firma raus war - mit mehreren L&auml;cheln auf dem Gesicht, da ich mehrere Schritte weiter gekommen war, ging es im Haus auch gleich weiter. Lilly, Cate und Corcken waren bereits seit 16h damit besch&auml;ftigt unser Haus auf Vordermann zu bringen.</p></p>
<p>Wie ihr auf dem <a title="der Hoffnungshausblog" href="http://hoffnungshaus.jesusfreak.de/">Hoffnungshausblog</a> und bei <a title="Cate's deutscher Dschungel" href="http://missionfreak.blogspot.com">Cate</a> lesen k&ouml;nnt, haben wir unseren <a href="http://hoffnungshaus.jesusfreak.de/2006/10/30/erster-gast/">ersten</a> <a href="http://missionfreak.blogspot.com/2006/10/erster-gast.html">Gast</a>.</p></p>
<p>Wie schon gesagt, es war viel los gestern, auch wenn es hier nicht so aussehen mag...</p></p>
