---
layout: post
status: publish
published: true
title: Die Macht der Zunge
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 13
wordpress_url: http://blog.moerssl.net/2006/04/05/die-macht-der-zunge/
date: '2006-04-05 23:27:17 +0200'
date_gmt: '2006-04-05 21:27:17 +0200'
categories:
- newstime
tags: []
comments:
- id: 5
  author: Melly
  author_email: Juvriel@web.de
  author_url: ''
  date: '2006-04-24 17:24:39 +0200'
  date_gmt: '2006-04-24 15:24:39 +0200'
  content: |-
    Ich find die Vorstellung von einer immer geladenen und entsicherten Waffe, die wir st&auml;ndig bei uns tragen schrecklich... Aber wenn ich so dar&uuml;ber nachdenke hast du ganz recht - wie oft rutscht uns ein unbedachtes Wort raus, wie oft ein "kleiner" Fluch, wenn mal etwas nicht so l&auml;uft wie wir es haben wollen... Mir jedenfalls passiert das immer wieder, das ich vor mich hinquassel ohne dr&uuml;ber nachzudenken - dabei sollten wir doch aufpassen was wir sagen - denn das was wir sagen, gibt Zeugnis &uuml;ber das, was in unserem Herzen ist. Nicht umsonst steht irgendwo in der Bibel *Wovon das Herz voll ist davon geht der Mund &uuml;ber*

    das sollte ich mir zu Herzen nehmen und erst mal nachdenken bevor ich das n&auml;chste mal wieder unbedacht vor mich hinschimpfe :-)


    alles liebe

    melly
---
<blockquote>My mouth is a loaded gun<br />
My words are bullets&nbsp;</blockquote><br />
So f&auml;ngt das Lied "<a href="http://lyrics.songtext.name/Die%20Happy/Don-t-Be-Scared-40420.html">Don't be scared</a>" von <a href="http://diehappy.de">Die Happy</a> an. &Uuml;bersetzt hei&szlig;t das ja: "Mein Mund ist eine geladene Waffe, meine Worte sind die Kugeln" (oder Projektile, je nachdem, wie genau man das nehmen will). Laufen wir wirklich mit einer geladenen und entsicherten Waffe auf dieser Welt umher? Ich w&uuml;rde meinen ja. K&ouml;nig Salomo schreibt dazu:</p>
<blockquote><p>Tod und Leben sind in der Gewalt der Zunge, und wer sie liebt, wird ihre Frucht essen.<br />
Spr&uuml;che 18:21</blockquote><br />
Gesprochene Worte haben Kraft - und sie k&ouml;nnen verletzen. Manchmal mehr, als eine richtige Waffe. Bei Verletzungen, die am K&ouml;rper passieren, wissen wir sie zu heilen. Aber wie heilt man Verletzungen an der Seele / am Herzen? Ich stelle mir immer wieder die Frage, wie viele Menschen sich bewusst sind, was sie mit ihren Worten anrichten ...</p>
<p>Was ich aus dem Vers aber auch noch rauslesen kann, ist, dass unsere Worte auch die Kraft haben zu heilen. Auch ein gut gef&uuml;hrtes Gespr&auml;ch kann einem wieder Kraft und Perpektive geben. Ein kleines Wort der Ermutigung ist oft hilfreich.</p>
<p>Vielleicht werde ich mich in einem sp&auml;teren Post nochmal mit dem Thema besch&auml;ftigen, da steckt zumindest sehr viel Potential und auch Z&uuml;ndstoff drin. Vielleicht k&ouml;nnt ihr ja noch ein paar Anregungen liefern.</p>
<p>Also bis sp&auml;ter.</p>
<p>M&ouml;r&szlig;l</p>
