---
layout: post
status: publish
published: true
title: des m&ouml;r&szlig;ls blog ...
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 754
wordpress_url: http://blog.moerssl.net/?p=3
date: '2006-03-02 18:37:41 +0100'
date_gmt: '2006-03-02 17:37:41 +0100'
categories:
- newstime
tags: []
comments:
- id: 2
  author: Corcken
  author_email: cornelius@bortmann.de
  author_url: ''
  date: '2006-04-07 17:27:58 +0200'
  date_gmt: '2006-04-07 15:27:58 +0200'
  content: |-
    Moin M&ouml;r&szlig;l,
    schalte den Feed f&uuml;r deinen Blog doch mal auf "ganzer Text" und nicht nur auf "Auszug", dann bekommt man mit dem Feedreader auch deine Texte, wenn man nur kurz online ist und sie offline lesen will (Leute mit Modem werden es dir danken).
- id: 3
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2006-04-07 17:41:57 +0200'
  date_gmt: '2006-04-07 15:41:57 +0200'
  content: "Sorry, aber die Feedeinstellung ist schon auf \"Ganzer Text.\" \n\nK&ouml;nnte
    das Problemchen von meiner Seite aus noch auf andere Art gel&ouml;st werden. Ich
    w&uuml;sste grad nich, woran das liegen k&ouml;nnte. So tief steck ich in der
    Problematik \"wordpress\" dann doch nich drin ..."
- id: 4
  author: Aus alt mach neu | Jeden Tag berufen
  author_email: ''
  author_url: http://moerssl.net/2015/06/08/aus-alt-mach-neu/
  date: '2015-06-08 13:10:39 +0200'
  date_gmt: '2015-06-08 11:10:39 +0200'
  content: "[&#8230;] aus dem Keller geholt. Ich war sehr erstaunt, als ich eben ein
    paar S&#228;tze aus dem ersten Blogpost&nbsp;vom 2. M&#228;rz [&#8230;]"
---
<p>... ist ein neuer blog in der bloggosph&auml;re. hier werde ich in der zukunft auch meinen senf zum besten geben. so meinen namen kennt ihr nun schon, aber wer ist das eigentlich. um nicht l&auml;nger drumherum zu reden: ich bin 20 Jahre alt, bekennender Christ, komme aus Sachsen, wohne seit nunmehr 7 monaten in bremen und geh&ouml;re zu den da ans&auml;ssigen jesusfreaks.</p>
<p>so. das wars erstmal.<br />
bis die tage<br />
m&ouml;r&szlig;l</p>
