---
layout: post
status: publish
published: true
title: eintauchen in den nebel
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 8
wordpress_url: http://moerssl.net/2006/03/25/eintauchen-in-den-nebel.html
date: '2006-03-25 15:03:59 +0100'
date_gmt: '2006-03-25 14:03:59 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>der titel klingt jetzt sicher nach krimi, nacht, mord und so weiter. aber in wirklichkeit hat dieser post hier mit was ganz anderem zu tun. und zwar werde ich vom 10. bis 14. april bei einem leiterschaftstraining in london sein. bekannterma&szlig;en ist es da meist neblig und regnerisch und daher der name des titels.<br />
also, was ist das f&uuml;r ein training, wer richtet das nun aus und warum london? dieses training wird von <a href="http://www.ncmi.net">NCMI</a> angeboten und hei&szlig;t eigentlich LTT (Leadership Training Time). worum es sich bei NCMI handelt, k&ouml;nnt ihr <a href="http://www.ncmi.net/German/G_These_guys.htm">hier</a> nachlesen. warum fahr ich nun dahin und wie bin ich auf NCMI gesto&szlig;en? als ich noch bei meinen eltern in sachsen gewohnt habe, bin ich zur <a href="http://jgdresden.de">Jesusgemeinde Dresden</a> zum gottesdienst gegangen. diese gemeinde steht in beziehung zu ncmi und richtet ebenfalls einmal im jahr ein LTT aus (dieses jahr findet das im oktober statt). in meiner dresdener zeit hab ich vieles &uuml;ber solche LTTs geh&ouml;rt, also war ich letztes jahr auf dem dresdner LTT. es kamen personen aus vielen verschiedenen nationen: neuseeland, s&uuml;dafrika, ukraine, USA, england usw.<br />
nun wollte ich ein solches ltt auch mal au&szlig;erhalb von deutschland erleben und habe da mal den Kai gefragt, wie er dazu steht (er kommt auch aus einer NCMI-Gemeinde in G&uuml;strow). Er hat zugesagt und die ganze anmeldung usw. &uuml;bernommen, es hat auch alles geklappt und nun werden wir am 9. april nach london aufbrechen - in den nebel.</p>
