---
layout: post
status: publish
published: true
title: Wahrheit und Geist
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 43
wordpress_url: http://blog.moerssl.net/2006/05/31/wahrheit-und-geist/
date: '2006-05-31 12:22:26 +0200'
date_gmt: '2006-05-31 10:22:26 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Das Thema "Anbetung" besch&auml;ftigt mich schon eine ganze Weile. Um ehrlich zu sein schon &uuml;ber ein halbes Jahr. Es gibt - denk ich - verschiedene Verse in der Bibel, die "fordern", dass wir in Wahrheit und Geist anbeten sollen.</p></p>
<p>&Uuml;ber einen solchen bin ich heute wieder gestolpert:</p></p>
<blockquote>
<p>Es kommt aber die Stunde und ist jetzt, da die wahren Anbeter den Vater in Geist und Wahrheit anbeten werden; denn auch der Vater sucht solche als seine Anbeter. Gott ist Geist, und die ihn anbeten, m&uuml;ssen in Geist und Wahrheit anbeten.</p></p>
<p>Johannes 4:23-24</p></blockquote></p>
<p>Jedesmal, wenn ich diese oder eine &auml;hnliche Stelle lese, denke ich mir: "Ja, ich will so ein Anbeter sein." Allerdings habe ich da ein kleines Problem. Ich wei&szlig; nicht, was "Anbetung in Wahrheit und Geist" bedeutet.</p></p>
<p>Vielleicht k&ouml;nnt ihr mir ja weiterhelfen.</p></p>
<p>Danke f&uuml;r eure Hilfe.</p></p>
<p>M&ouml;r&szlig;l</p></p>
