---
layout: post
status: publish
published: true
title: Die beste Zeit deines Lebens
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 71
wordpress_url: http://blog.moerssl.net/2006/09/12/die-beste-zeit-deines-lebens/
date: '2006-09-12 14:54:16 +0200'
date_gmt: '2006-09-12 12:54:16 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ich warne euch schon mal vor. Der heutige Post wird sehr fremdmateriallastig! Eben war ich mal wieder auf <a href="http://glaube.de">glaube.de</a> unterwegs und bin auf folgenden Artikel gesto&szlig;en:</p>
<blockquote><p><b>John Paul Jackson: &Uuml;berwinde deine Angst, den Willen des Gottes zu verpassen</b></p>
<p>Das Leben ist eine Geschichte</p>
<p>Leute sagen oft, dass das Leben wie eine Geschichte ist. Aber das ist nicht wahr. Leben ist eine Geschichte. Leider kannst du mit dem Leben nicht so umgehen wie mit einer Geschichte. Du kannst nicht gerade mal kurz ans Ende springen um zu sehen wie alles ausgeht. W&uuml;rde das Vertrauen in Gott nicht leichter sein, wenn er dir nur einen kleinen, winzigen Anblick deiner Bestimmung zeigen w&uuml;rde?<br />
Aber genauso wie es bei einer guten Geschichte ist, wei&szlig;t du niemals wirklich, was als n&auml;chstes geschehen wird. Du wachst am Morgen auf und willst zur Arbeit zu gehen. Aber du wei&szlig;t nicht wirklich, was geschehen wird. Du k&ouml;nntest deine Arbeit heute verlieren. Dein Auto k&ouml;nnte defekt sein. Es k&ouml;nnte heute hageln; es k&ouml;nnte regnen. Du k&ouml;nntest einen Freund sehen, den du seit Jahren nicht mehr gesehen hast. Deine Eltern k&ouml;nnten dich aus heiterem Himmel anrufen.</p>
<p>Das Leben entfaltet sich t&auml;glich. Vorh&auml;nge fallen und alte Zeitabschnitte h&ouml;ren auf. Aber dann beginnen neue Zeitabschnitte und der Vorhang hebt sich wieder. Das ergibt keinen Sinn, bis du anf&auml;ngst, die Geschichte und den Zweck hinter all dem zu verstehen.</p>
<p>Viele von euch f&uuml;hlen sich, wie wenn sie 15 Minuten zu sp&auml;t f&uuml;r den Zug des Lebens sind. Du hast es verpasst dahin zu gehen, wohin du gehen solltest. Du hast dich mit Gottes Zweitbesten abgefunden. Wegen deiner vergangener Fehler f&uuml;hlst du dich, als ob du nur den "guten" Willen Gottes, anstatt seinen "vollkommenen" Willens erreichen k&ouml;nntest. Und du empfindest, dass du dar&uuml;ber eigentlich begeistert sein solltest, aber tief in deinem Inneren bist du das nicht. Tats&auml;chlich bist du desillusioniert. Einige von euch f&uuml;hlen sich sogar hoffnungslos.</p>
<p>Aber - das Leben ist eine Geschichte. Was macht eine gute Geschichte gro&szlig;artig? Tiefe. Abenteuer. Begeisterung. Nicht das Wissen. Riesige Chancen. Tiefe Finsternis, durch gro&szlig;e Heldentaten besiegt. Und weil das so ist, f&uuml;hlst du, wenn du inmitten von schlechten und dunklen Umst&auml;nden stehst, als ob es mit deiner Lebensgeschichte zu Ende geht. Aber ob du es f&uuml;hlst oder nicht: Du lebst die Geschichte, zu der Gott dich geboren hat. Du bist hier um genau solche Zeiten zu erleben.</p>
<p>Das ist die beste Zeit f&uuml;r dich, um geboren zu sein</p>
<p>Er brachte dich hier auf diesen Planeten, in dieses Land, in die Stadt in der du lebst, in das zu Hause in dem du lebst. Er setzte dich zu einem bestimmten Zweck hierher und du erf&uuml;llst diesen Zweck, selbst wenn du ihn nicht kennst. Gott ist viel gr&ouml;&szlig;er als du annimmst; du k&ouml;nntest &uuml;berrascht sein. Ich wei&szlig; dass ich bin, wenn immer Er mich daran erinnert, wie sehr er an meiner winzigen Welt und an den kleinsten, belanglosesten Details meines Lebens interessiert ist.</p>
<p>Er gibt dich nicht auf, nur weil du vielleicht einige Fehler gemacht hast. Er sagt dir noch: "Folge mir! Ich schuf dich f&uuml;r diese Zeit, genau f&uuml;r diese Situation. Ich wusste genau, was in deiner Familie, in deiner Stadt in deiner Region, in deiner Welt geschehen w&uuml;rde und ich kannte den Einfluss, den du haben w&uuml;rdest und ich sagte, 'Das ist die beste Zeit f&uuml;r dich, um geboren zu sein!'"</p>
<p>Es ist niemals zu sp&auml;t den Zweck zu erf&uuml;llen, zu dem Gott dich schuf. Allein dass du lebst, beweist, dass seine Absicht f&uuml;r dich noch immer besteht.</p>
<p>Viele von euch m&uuml;ssen die Entmutigung, es nicht mehr zu versuchen, besiegen. Ich glaube, dass es f&uuml;r viele von euch Zeit ist, es noch einmal zu versuchen. Du wirst nicht &uuml;ber Nacht dahin kommen. Morgen fr&uuml;h wirst du es auch noch nicht erreicht haben. Aber morgen fr&uuml;h wirst du n&auml;her dran sein, als du es heute bist.</p>
<p>Ich glaube, dass es f&uuml;r viele von euch Zeit ist, in den Zweck hinein zu gehen, zu dem du geschaffen wurdest.</p>
<p>-<br />
Ein Artikel von www.glaube.de<br />
Textbearbeitung: J&uuml;rgen Motzkus / Redaktionsmitarbeiter Glaube.de</p>
<p>Autor: John Paul Jackson<br />
Streams Ministries International<br />
Deutsche &Uuml;bersetzung: Horst Schlittenhardt<br />
Herausgeber: http://www.elijahlist.com/<br />
Kontaktadresse: elijahlist@qwest.net</blockquote></p>
<p>Dazu ist mir dann noch folgendes Lied in den Sinn gekommen:</p>
<blockquote><p>
<small><a href="http://lyrics.songtext.name/">Beste Zeit eines Lebens Songtext</a></small></blockquote></p>
