---
layout: post
status: publish
published: true
title: Tu, was du kannst
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 81
wordpress_url: http://blog.moerssl.net/2006/10/16/tu-was-du-kannst/
date: '2006-10-21 10:00:15 +0200'
date_gmt: '2006-10-21 08:00:15 +0200'
categories:
- newstime
tags: []
comments:
- id: 55
  author: Anke Richter
  author_email: Anke.Richter@mein-gesundheitsforum.de
  author_url: http://www.mein-gesundheitsforum.de
  date: '2006-10-22 15:40:00 +0200'
  date_gmt: '2006-10-22 13:40:00 +0200'
  content: |-
    Du meintest vielleicht du hast dein bestes getan und das so gut du konntest??!! Das hat dich doch bestimmt eine &Uuml;berwindung gekostet so etwas zu tun??!! :-)
    LG Anke
- id: 56
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2006-10-22 23:18:20 +0200'
  date_gmt: '2006-10-22 21:18:20 +0200'
  content: |-
    Hallo Anke und herzlich willkommen,

    Ja, du hast das etwas besser ausgedr&uuml;ckt, als ich.
    &Uuml;berwindung hat es mich in der Art gekostet, da ich ja nicht so richtig wusste, ob der Putz und so halten w&uuml;rde und ob ich das wirklich tun soll, und zweifel zweifel zweifel.
    Schlussdendlich habe ich dann halt den Putz anger&uuml;hert,  mich auf ne Leiter gestellt und die L&ouml;cher zugeschmiert.
- id: 57
  author: cate
  author_email: sklavejesus@web.de
  author_url: http://missionfreak.blogspot.com
  date: '2006-10-23 01:58:30 +0200'
  date_gmt: '2006-10-22 23:58:30 +0200'
  content: komm, vergiss nit wie du den rest-putz benutzt hast! dass war ja dass luestigste
    dran!
- id: 58
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2006-10-24 08:51:30 +0200'
  date_gmt: '2006-10-24 06:51:30 +0200'
  content: |-
    ich wei&szlig; zwar nicht, was daran so lustig gewesen sein soll...

    Also nochmal f&uuml;r die anderen: ich hatte mich nat&uuml;rlich total in der Menge Putz versch&auml;tzt, die ich anger&uuml;hert hatte. Ich fragte mich dann, wo man den am besten noch verwenden k&ouml;nnte, also habe ich den an die Eingangstreppe geschmiert...
---
<p>Es ist Petrus, der in seinem ersten Brief schreibt: </p>
<blockquote><p>Und dient einander, ein jeder mit der Gabe, die er empfangen hat, als die guten Haushalter der mancherlei Gnade Gottes:11 Wenn jemand predigt, dass er's rede als Gottes Wort; wenn jemand dient, dass er's tue aus der Kraft, die Gott gew&auml;hrt, damit in allen Dingen Gott gepriesen werde durch Jesus Christus. Sein ist die Ehre und Gewalt von Ewigkeit zu Ewigkeit! Amen.<br />
1. Petrus 4:10</blockquote></p>
<p>Wie ich mit meinen letzten Posts merke, war um das Wochenende bei meinen Eltern ziemlich viel los. Diesmal ist es am Montag - also am Tag meiner R&uuml;ckkehr nach Bremen passiert.<br />
Ich kam also wieder im Hoffnungshaus an, Lilly und Cate waren im Keller am renovieren und streichen. Sie fragten, ob ich denn mitmachen w&uuml;rde. Aus Ermangelung der ben&ouml;tigten Motivation sagte ich ersteinmal: "N&ouml;."</p>
<p>Als in der Wand dann einige L&ouml;cher gestopft werden sollten, sagte ich zu den beiden, dass man diese Art von L&ouml;chern nur mit dem richtigen Putz zumachen k&ouml;nnte. Mein Vater ist schlie&szlig;lich Maurer und hat mich in meiner Kindheit und Jugend auch die eine oder andere Wand zuhause versputzen lassen. Zu dieser Art von Aktionen hatte ich nie so wirklich Lust. "Wenn bei mir im Haus mal so was zu machen ist, hole ich mir einen Handwerker."<br />
Naja, war dann nicht wirklich so. Ich hab dann ein bisschen Putz anger&uuml;hrt und die L&ouml;cher verputzt. Ich kann das zwar nicht wirklich gut, aber ich konnte tun, was ich konnte (komische Formulierung *g*). Ich hab die "Gabe des Mauernverputztens" eben mal zum Wohl der WG genutzt.</p>
<p>"Jeder nach seiner Gabe!"</p>
