---
layout: post
status: publish
published: true
title: '"Achte auf deine Zunge"'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 20
wordpress_url: http://blog.moerssl.net/2006/04/26/achte-auf-deine-zunge/
date: '2006-04-26 14:22:52 +0200'
date_gmt: '2006-04-26 12:22:52 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Vor ein paar Wochen hatte ich den Eintrag "Die Macht der Zunge" geschrieben. In diesem Artikel bin ich darauf eingegangen, dass wir mit einer Art geladenen und entsicherten Waffe durch die Welt laufen. Gerade las ich auf <a href="http://glaube.de">glaube.de</a> folgenden Artikel mit dem Titel "Achte auf deine Zunge":</p>
<blockquote><p>
"Um der Heilung der Nation willen: achte in den n&auml;chsten 40 Tagen auf Deine Zunge. Faste von allem negativen Denken, kritischen Worten und Fingerzeigen auf andere!"</p>
<p>"Stelle einen H&uuml;ter an meinen Mund, o Gott. Einen H&uuml;ter an die Pforten meiner Lippen." Psalm 141,3</p>
<p>Ich sp&uuml;re, dass wir in den kommenden 40 Tagen einen kritischen Zeitraum erreichen, Bu&szlig;e zu tun und dem Herrn n&auml;her zu kommen. Ich sp&uuml;re, dass ganz besonders in dieser Zeit die Worte, die wir sprechen, auch in Bezug auf unsere Nation, einen starken geistlichen Einfluss haben darauf, wie der Herr handeln wird. Es ist, als ob unsere Worte im geistlichen Raum verst&auml;rkt werden. Gott wird sehr aufmerksam zuh&ouml;ren - und genauso auch der Feind! Viele der Schlachten und Durchbr&uuml;che werden durch die Worte gewonnen, die wir sprechen. Vergiss nicht, dass die Macht &uuml;ber Leben und Tod in Deinen Worten ist.</p>
<p>Ich habe von einer Gemeinde geh&ouml;rt, die von Gott herausgefordert wurde, vierzig Tage lang von allen negativen Worten zu fasten. Nach 30 Tagen bereits gab es gewaltige Zeugnisse von Wundern, finanziellen Durchbr&uuml;chen und Wiederherstellung von Beziehungen.<br />
"Israels Worte hielten das Volk von ihrem Erbe fern ... sie murrten und klagten &uuml;ber die Leiter des Volkes!</p>
<p>Murrend und klagend gegen die Leiterschaft, gegen Mose, blieb das Volk im Unglaube stecken, und so verpassten sie den Einzug in das verheissene Land. Ich glaube, dass uns besonders in den kommenden 40 Tagen wieder neu bewusst werden muss, dass wir sehr vorsichtig mit unseren Worten sein sollen - bez&uuml;glich unseren Regierenden, den Leitern der Gemeinden, und, ja, gegen&uuml;ber den Ehem&auml;nnern und V&auml;tern unsere Familien (...).</p>
<p>Wenn Du selbst ein Leiter bist, vergiss nicht, dass Mose selbst nicht in das Verheissene eingehen durfte, weil er - im Zorn auf sein eigenes Volk - den Stein schlug, anstatt zu ihm zu sprechen. Wir, die wir in Leiterschaft stehen, m&uuml;ssen vorsichtig sein und ermutigend mit denen sprechen, die wir leiten sollen, und nicht im Zorn und &Auml;rger provozieren.<br />
"Wenn unser Mund uns von dem Verheissenen fern halten kann, dann kann unser Mund uns auch hineinf&uuml;hren!</p>
<p>Ist es nicht interessant, dass Gott dieses Land, in dem soviel S&uuml;nde herrschte, in dem es Riesen gab, und das B&ouml;se regierte, dennoch ein "gutes Land, in dem Milch und Honig fliesst", nannte? Selbst, als die Kunde &uuml;ber die Riesen kam, antworteten Josua und Kaleb: "wenn die Riesen so gewaltig sind, stellt Euch nur vor, wie gro&szlig; die Fr&uuml;chte des Landes sind!" Zwei M&auml;nner waren erforderlich, um eine Traube an einem Stock zu tragen!</p>
<p>Ich w&auml;re vergangen, h&auml;tte ich nicht geglaubt, die G&uuml;te des Herrn im Lande der Lebendigen zu schauen! Psalm 27, 13</p>
<p>Ich glaube, dass der Herr uns die Augen und Ohren &ouml;ffnen wird, wenn wir den Mund in den kommenden 40 Tagen schliessen. Er wird uns gewaltige und gro&szlig;e Dinge zeigen, die wir zuvor noch niemals gesehen haben. Wir werden den Schatz unserer Nation wahrnehmen - die Frucht, anstelle der bedrohlichen Riesen. Wir werden beginnen zu beten und die Worte auszusprechen, die Er &uuml;ber unserem Land ausspricht. Ja, ich glaube, wir werden selbst den Boden unter unseren F&uuml;ssen beginnen zu segnen.<<br />
"Sprich zu den Bergen, sing in die T&auml;ler, und segne die K&uuml;sten deines Landes ... dieses Land hat der Herr f&uuml;r Dich und mich geschaffen!<br />
Ich sah in den himmlischen Welten ein heftiges Ringen, als sich dieses zeitlich begrenzte Fenster der Gelegenheit Gottes &ouml;ffnete, um dieses Volk durch das Blut des Lammes zu erl&ouml;sen. Ich h&ouml;rte die Stimme eines m&auml;chtigen Engels, vielleicht war es sogar Gabriel selbst, der in die Dunkelheit dieser Nation sprach ... "wir gehen keinen Schritt zur&uuml;ck! Dieses Volk ist kostbar!" (...)<br />
"Ein gesprochener Segen hat die Macht, den Fluch &uuml;ber dem Land umzukehren!</p>
<p>Denkt an den alten Spruch ... "wenn Du nichts Gutes zu sagen hast, sag lieber gar nichts!"</p>
<p>Und ich sah, dass w&auml;hrend unsere Worte Segen aussprachen, unser Land wieder unter die Salbung und die Herrschaft des Volkes Gottes kam - als ob es auf unsere Liebe und Freundlichkeit reagierte.</p>
<p>Jetzt ist genau der richtige Augenblick, Gottes Wort zu proklamieren und die Dinge in Existenz zu rufen, die nicht mehr vorhanden sind.<br />
Lasst uns unsere Nation segnen! </p>
<p>-------------------------------------------------------------------------------------<br />
Ein Artikel von www.glaube.de<br />
Textbearbeitung: J&uuml;rgen Motzkus / Redaktionsmitarbeiter Glaube.de<br />
------------------------------------------------------------------------------------<br />
Es ist gestattet (und auch erw&uuml;nscht), diesen Artikel abzudrucken oder auch per<br />
Email weiter zu versenden und sie auf der eigenen Homepage einzustellen.<br />
Es wird jedoch darum gebeten, die Website-Info der Elijah List, den Email-Kontakt<br />
und die Kontaktm&ouml;glichkeit des Autors immer hinzuzuf&uuml;gen.<br />
Autor: Bill Yount www.billyount.com<br />
theshofarhasblown@juno.com<br />
Deutsche &Uuml;bersetzung: Detlef Schmidtke<br />
Herausgeber: http://www.elijahlist.com/<br />
Kontaktadresse: elijahlist@qwest.net<br />
</blockquote></p>
