---
layout: post
status: publish
published: true
title: God is speaking
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 22
wordpress_url: http://blog.moerssl.net/2006/05/02/god-is-speaking/
date: '2006-05-02 15:06:26 +0200'
date_gmt: '2006-05-02 13:06:26 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ich bin wieder in Bremen. Diesen Satz kann ich nun schon das zweite Mal innerhalb eines Monats sagen (mal davon abgesehen, dass jetzt schon Mai ist).<br />
&Uuml;ber das Wochenende war ich in Neukirchen im Kn&uuml;llhouse. Da fanden gleich zwei Veranstaltungen von JFI statt. Die eine war das Freak Leitertraining (FLT) und das andere die Prophetenschule GIS (God is speaking).<br />
Insgesamt waren 5 Leute aus Bremen in Neukirchen: Doro, Kr&uuml;mel und Muck beim FLT; Lilly und ich bei GIS. Der Sonnabend begann f&uuml;r Lilly und mich reichlich fr&uuml;h. Mein Wecker klingelte um 3:20h. Ab 4:18h gings dann mitm Zug nach Hessen. Angekommen sind wir schlie&szlig;lich um 12:45h. Wir mussten eine eher unfreiwillige Pause in Bad Hersfeld einlegen, da es mit unserem Anschluss in Form eines Busses nicht so geklappt hatte, wie wir uns das vorgestellt hatten.<br />
Aber schlie&szlig;lich sind wir doch angekommen und das Wochenende war einfach der Hammer. Nach einigen Teachings von Sprotte, Mic und Mimi - mehr oder minder anspruchsvoll - ging am Abend dann der "praktische Teil" der Ausbildung los. Die gesamte Gruppe (ca. 20 Leute) wurde in 4 kleinere Gruppen aufgeteilt, in denen dann gegenseitig f&uuml;r einander gebetet und  &uuml;bereinander prophezeit wurde. Die Bilder, Eindr&uuml;cke und Worte, die Gott in dieser Zeit zu uns gesprochen hat, waren einfach atemberaubend und haben zumindest mich sehr angesprochen und in gewisser Weise auch verbl&uuml;fft. Mit der gleichen Intensit&auml;t ging es dann am Sonntag morgen weiter.<br />
Dieses Wochenende war viel zu kurz. Ich hatte das Gef&uuml;hl nach dem Warmmachen wieder aufh&ouml;ren zu m&uuml;ssen. Aber die Ausbildung geht ja weiter: Ende Juni im Jesusfreakhotel in Geithain. Ich freu mich schon :).</p>
