---
layout: post
status: publish
published: true
title: was f&uuml;r ein tag
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 757
wordpress_url: http://blog.moerssl.net/2006/03/18/was-fur-ein-tag.html
date: '2006-03-18 03:09:36 +0100'
date_gmt: '2006-03-18 02:09:36 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>heute war wieder mal so ein tag, der mir so vorkam wie einer der 48 stunden hat. aber am besten fange ich da am anfang an. und der war schon am donnerstag abend. da bin ich von der arbeit nach hause gekommen - hatte vorher noch einen "kleinen" abstecher in die <a href="http://www.offenbarbremen.de">offen:bar</a> gemacht und war irgendwie total ausgelaugt, ausgebrannt und zu allem &uuml;bel auch noch schlecht gelaunt. so. ich komme also in dem zustand in meine wohnung und was finde ich da vor? g&auml;hnende einsamkeit ...<br />
was hab ich gemacht? ich hab mich bei gott regelrecht ausgeheult und ihm meine ganzen probleme einfach so dirket auf den kopf zu gesagt. das tat richtig gut. ich hatte noch gar nicht so richtig angefangen, da war die schlechte laune und der damit verbundene druck in meinem oberk&ouml;rper auf einmal weg. gott ist wirklich der beste zuh&ouml;rer, den man haben kann!!</p>
<p>mit dieser erleichterung von donnerstag abend im gep&auml;ck bin ich heute morgen schon gest&auml;rkt aufgewacht. ich hab wieder so richtig energie in meinem k&ouml;rper gef&uuml;hlt und das den ganzen tag &uuml;ber! selbst nach 8 stunden auf arbeit hatte ich noch viel energie. melly war ganz erstaunt mich mal nicht m&uuml;de, sondern in ner gewissen weise hyperaktiv zu sehen.</p>
<p>dieses wochenende veranstalten die <a href="http://www.jesusfreaks-bremen.de">freaks</a> ja das MT2819. was is das nun? naja jesus hat uns ja f&uuml;r diese welt folgenden auftrag gegeben:</p>
<blockquote><p>Darum geht zu allen V&ouml;lkern und macht alle Menschen zu meinen J&uuml;ngern; tauft sie auf den Namen des Vaters und des Sohnes und des Heiligen Geistes<br />
Matth&auml;us 28:19 aus der Einheits&uuml;bersetzung</blockquote><br />
und das wollen wir dieses wochenende machen. wie gehen hinaus auf die stra&szlig;en bremens und erz&auml;hlen den leuten von jesus. "bewaffnet" mit allerlei flyern, stickern, ideen, einem kreuz und einer gitarre haben wir heute abend das viertel etwas unsicher gemacht. in erinnerung daran, dass wir jeden tag unser kreuz auf uns nehmen sollen, hab ich das kreuz wirklich f&uuml;r ne kurze zeit auf den r&uuml;cken gepackt - ich geb zu, dass das ne ziemlich wortw&ouml;rtliche auslegung der stelle is. aber dadurch kamen immer wieder "Jesus!"-Rufe von passanten und wir kamen mit denen ins gespr&auml;ch. f&uuml;r einen konnten wir sogar beten. mein fazit f&uuml;r diesen abend heute ist, dass wir m.E. ziemlich viel saatgut unter die leute bringen konnten. mal sehen, wie viel davon aufgeht. </p>
<blockquote><p>Gott aber hat das Wachstum gegeben.<br />
1.Korinther 3:6<br />
</blockquote><br />
Amen.</p>
