---
layout: post
status: publish
published: true
title: die bekannte 4. Art
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 21
wordpress_url: http://blog.moerssl.net/2006/04/26/die-bekannte-4-art/
date: '2006-04-26 16:22:16 +0200'
date_gmt: '2006-04-26 14:22:16 +0200'
categories:
- newstime
tags: []
comments:
- id: 10
  author: Vater-Sucher
  author_email: vatersucher-1@yahoo.de
  author_url: http://vater-sucher.blog.de/
  date: '2006-05-02 01:45:31 +0200'
  date_gmt: '2006-05-01 23:45:31 +0200'
  content: "Wow! \n\nkrass, was es alles gibt...  \n\naber so was &auml;hnliches hab
    ich auch mal live erlebt - vielleicht sollte ich den Link mal an Glaube.de weiterreichen."
- id: 11
  author: Corcken
  author_email: cornelius@bortmann.de
  author_url: ''
  date: '2006-05-02 15:20:48 +0200'
  date_gmt: '2006-05-02 13:20:48 +0200'
  content: Herrlicher Artikel. :-) Danke!
- id: 12
  author: Chuck
  author_email: Chuck@web.de
  author_url: ''
  date: '2006-11-04 19:19:27 +0100'
  date_gmt: '2006-11-04 18:19:27 +0100'
  content: |-
    Schade nur, dass diese Geschichte frei erfunden ist:
    http://www.snopes.com/religion/almighty.htm
    Von daher sollte man sich solche Geschichten nicht besser sparen?
    Chuck
---
<p>Beim St&ouml;bern bei <a href="http://glaube.de">glaube.de</a> ist mir schon wieder ein sch&ouml;ner Artikel in die H&auml;nde gefallen. Deshalb gibts heute mal ausnahmsweise 2 Beitr&auml;ge. Beim jetzigen geht es um eine der Begegnungen der 4. Art:</p>
<blockquote><p>
Die Geschichte handelt von einem Pastor einer Gemeinde mit dem Namen "Almighty God Tabernacle" (etwa: Gemeinde des allm&auml;chtigen Gottes).</p>
<p>Dieser Pastor sa&szlig; eines Samstag abends noch ziemlich lange in seinem B&uuml;ro. Es war schon 22:00 Uhr und deshalb beschlo&szlig; er noch seine Frau anzurufen und Bescheid zu sagen. Er w&auml;hlte die Nummer und es klingelte mehrere Male, ohne dass jemand ans Telefon ging. Der Pastor wunderte sich, weil es ungew&ouml;hnlich war, dass sie nicht gleich ans Telefon ging. So entschloss er sich es ein paar Minuten sp&auml;ter noch einmal zu versuchen. Diesmal ging seine Frau prompt ans Telefon. Auf seine Frage hin sagte sie, das Telefon h&auml;tte vorher nicht geklingelt. Er sch&uuml;ttelte dar&uuml;ber den Kopf und verga&szlig; es bald. </p>
<p>Am folgenden Montag bekam der Pastor in seinem B&uuml;ro einen Anruf (das gleiche Telefon was er am Samstag Abend benutzt hatte). Der Mann am anderen Ende der Leitung wollte wissen, warum er ihn am Samstag Abend angerufen habe. Der Pastor wu&szlig;te gar nicht wovon der Mann redete, bis er sagte: "Es klingelte und klingelte, aber ich bin nicht ran gegangen."</p>
<p>Der Pastor erinnerte sich an den Zwischenfall und entschuldigte sich f&uuml;r die St&ouml;rung. Er erkl&auml;rte, dass er eigentlich seine Frau anrufen wollte. Der Mann sagte: "Das ist in Ordnung. Lassen sie mich ihnen meine Geschichte erz&auml;hlen. Wissen Sie, an dem Samstag Abend wollte ich Selbstmord begehen, aber bevor ich das tat, betete ich, 'Gott, wenn es dich gibt und du nicht m&ouml;chtest, dass ich das hier tue, dann gibt mir jetzt ein Zeichen'. In dem Moment fing das Telefon an zu klingeln. Ich schaute auf das Telefondisplay (bei uns in Deutschland zeigen bereits einige Telefone die Nr. an, in Amerika ist es Standard, dass man dort den Namen des Anrufers lesen kann) und da stand: 'Almighty God...' ('Allm&auml;chtiger Gott', siehe Name der Gemeinde)<br />
"Ich hatte Angst davor den H&ouml;rer abzunehmen!"</p>
<p>Gott spricht zu uns auf die eine oder andere Weise, auch ohne das wir es wahrnehmen. (Hiob 33:14)<br />
</blockquote></p>
<p>Hier noch der Link zum <a href="http://glaube.de/modules.php?op=modload&amp;name=News&amp;file=article&amp;sid=1034&amp;mode=thread&amp;order=0&amp;thold=0">Artikel.</a></p>
<p>M&ouml;r&szlig;l</p>
