---
layout: post
status: publish
published: true
title: Begegnungen der 4. Art
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 18
wordpress_url: http://blog.moerssl.net/2006/04/24/begegnungen-der-4-art/
date: '2006-04-24 13:05:18 +0200'
date_gmt: '2006-04-24 11:05:18 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Heute gibts mal was ganz anderes. Und zwar gibts wieder einen neuen Stern am Bremer Bloggerhimmel: <a href="http://melly.blogspirit.com/">Melly</a>.</p>
<p>In ihrem <a href="http://melly.blogspirit.com/archive/2006/04/22/bete-zu-jesus.html">aktuellen Beitrag</a> beschreibt sie eine Situation, die bei mir auch schon &ouml;fter gab. </p>
<p>Mir passiert es immer wieder, dass ich durch Plakate an oder andere Begebenheiten an die Liebe Gottes oder andere biblische Wahrheiten erinnert werde. Ein kleines Beispiel: Es war letztes Jahr irgendwann (wann genau wei&szlig; ich nicht mehr). Es war (mal wieder) so ein Tag, an dem ich mich so richtig ungeliebt und einsam gef&uuml;hlt habe. Nach Feierabend hatte ich dann auch noch meine Stra&szlig;enbahn verpasst und das "Die-ganze-Welt-ist-gegen-mich"-Gef&uuml;hl machte sich in mir breit. Um die verlorene Zeit noch zu nutzen, bin ich dann noch in den Supermarkt in der N&auml;he gegangen. Da lief Musik, die ich erst gar nicht beachtet habe. Auf einmal kommt da das Lied "Love is all around me" von WetWetWet.<br />
"Gottes Liebe ist immer da!!!", schallte es mir durch den Kopf. Und die ganzen negativen Gef&uuml;hle waren auf einmal weggeblasen. </p>
<blockquote><p>
Schon cool, wie Gott mit mir redet... Durch *Kritzeleien* an Fahrpl&auml;nen, durch Freunde und sogar durch das Fernsehen<br />
Melly<br />
</blockquote></p>
