---
layout: post
status: publish
published: true
title: 365 Tage oder 52 Wochen oder 12 Monate oder eben ein Jahr
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 62
wordpress_url: http://blog.moerssl.net/2006/08/21/365-tage-oder-52-wochen-oder-12-monate-oder-eben-ein-jahr/
date: '2006-08-21 13:23:40 +0200'
date_gmt: '2006-08-21 11:23:40 +0200'
categories:
- newstime
tags: []
comments:
- id: 39
  author: storch
  author_email: storch@kultshockk.de
  author_url: http://storch.jfrs.de
  date: '2006-08-22 08:34:25 +0200'
  date_gmt: '2006-08-22 06:34:25 +0200'
  content: das freut mich zu lesen. gottes segen dir an deinen neuen ufern!
- id: 40
  author: corcken
  author_email: cornelius@bortmann.de
  author_url: ''
  date: '2006-08-23 17:45:05 +0200'
  date_gmt: '2006-08-23 15:45:05 +0200'
  content: das r&uuml;hrt mich ja jetzt auch... ;-)
- id: 41
  author: Uli
  author_email: ukremer@web.de
  author_url: ''
  date: '2006-08-24 14:05:43 +0200'
  date_gmt: '2006-08-24 12:05:43 +0200'
  content: "emotionale auch mit ... wow *schnief* \n\nLass dir gesagt sein, du bist
    gleicherma&szlig;en wertvoll!!!"
---
<blockquote>
<p>"Meine G&uuml;te, wie die Zeit vergeht."<br /><br />
Klopfers Mutter in Bambi (Vermutung)</p></blockquote></p>
<p>Kaum zu fassen, aber wahr. Mit dem heutigen Montag ist es genau ein Jahr her, dass ich zu den Jesus Freaks in Bremen gesto&szlig;en bin. 2 Tage vorher, also am Sonnabend, hatte ich mein einj&auml;hriges Dienstjubil&auml;um in der offen:bar.</p></p>
<p>In dem vergangenen Jahr ist so einiges in meinem Leben passiert, ich habe viele neue Leute aus verschieden Nationen kennen gelernt. Ich habe an diversen Ausbildungsm&ouml;glichkeiten teilgenommen (2x GIS [<a href="http://www.jesusfreaks.de" target="_blank">JFI</a>], 2x LTT [<a href="http://www.ncmi.net/German/index.htm" target="_blank">NCMI</a>]). Ich kann einen super Hauskreis in einer <a href="http://www.jesusfreaks-bremen.de" target="_blank">super Gemeinde</a> besuchen. Ich bin innerhalb von Bremen in eine super WG in Walle umgezogen.</p></p>
<p>Au&szlig;erdem hatte ich in diesem Jahr auch die M&ouml;glichkeit Menschen praktisch zu dienen. Dies tat ich in der <a href="http://www.offenbarbremen.de" target="_blank">offen:bar</a>. Mein Einj&auml;hriges war aber auch gleichzeitig mein Ausstand. Ich lege den Dienst in der offen:bar nieder, um mich anderen Sachen widmen zu k&ouml;nnen. Diesen Schritt ging ich schweren Herzen. Allerdings werde ich nicht um die "verlorene" Dienstm&ouml;glichkeit trauern, sondern auf die kommenden M&ouml;glichkeiten schauen und daf&uuml;r mein Bestes geben, so wie ich es in der offen:bar getan habe.</p></p>
<blockquote>
<p>Alles, was auf der Erde geschieht,<br /><br />
hat seine von Gott bestimmte Zeit:<br /><br />
geboren werden und sterben,<br /><br />
einpflanzen und ausrei&szlig;en,<br /><br />
t&ouml;ten und Leben retten,<br /><br />
niederrei&szlig;en und aufbauen,<br /><br />
weinen und lachen,<br /><br />
wehklagen und tanzen,<br /><br />
Steine werfen und Steine aufsammeln,<br /><br />
sich umarmen und sich aus der Umarmung l&ouml;sen,<br /><br />
finden und verlieren,<br /><br />
aufbewahren und wegwerfen,<br /><br />
zerrei&szlig;en und zusammenn&auml;hen,<br /><br />
schweigen und reden.<br /><br />
Das Lieben hat seine Zeit und auch das Hassen,<br /><br />
der Krieg und der Frieden.</p></p>
<p>Prediger 3:1-8</p></blockquote></p>
<p>F&uuml;r mich war es eine sehr fruchtbare Zeit, die ich auf keinen Fall missen will. Ich kam sehr schnell nach meinem Umzug nach Bremen in die offen:bar und habe dadurch schnell Kontakt zu Leuten und zu den Freaks bekommen. Ich wei&szlig; nicht, wie es gekommen w&auml;re, h&auml;tte mir der Anschluss an "die Kneipe" gefehlt und ich will es auch nicht wissen. Fakt ist, dass mich Gott in eine Umgebung hingestellt hatte, in der ich sehr viel Empfangen habe und auch weitergeben konnte. Es sind im vergangenen Jahr tiefe Freundschaften entstanden. Eines m&ouml;chte ich in Richtung offen:bar-Team noch loswerden: "Leute, ihr seid klasse. *daumenhoch* Danke daf&uuml;r, dass ich euch kennen kann!"</p></p>
<p>Bei den Freaks habe ich ein richtiges Zuhause gefunden, eben eine Familie. Hier kann ich mich geben, wie ich bin und werde daf&uuml;r nicht schief angesehen. Es ist eine Gemeinde, in der man sich nicht verstellen braucht. Man ist angenommen, wie man ist. Und das finde ich einfach toll. Auch hier sind richtig tiefgehende Freundschaften entstanden. Leute, die f&uuml;r einen da sind, wenn es einem mal dreckig geht. Und deshalb bin ich gerne Freak! Leute, ich liebe euch!!</p></p>
<p>Mittlerweile etwas emotional anger&uuml;hert..</p></p>
<p>M&ouml;r&szlig;l</p></p>
