---
layout: post
status: publish
published: true
title: Festplatten, Rechner und ein gelungener Abend
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 59
wordpress_url: http://blog.moerssl.net/2006/07/28/festplatten-rechner-und-ein-gelungener-abend/
date: '2006-07-28 15:26:49 +0200'
date_gmt: '2006-07-28 13:26:49 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Donnerstag abend, 23:00Uhr. Bremen. Hoffnungshaus.</p></p>
<p>Es ist ein normaler Abend, wie es scheint. Die Laptops von Corcken und mir sind in Betrieb. Es wird Empire Earth gespielt - &uuml;ber LAN. Willi - Lillys Bruder - zockt an Corckens Rechner, Corcken an meinem und ich schaue den beiden interessiert zu. Das Spiel ist beendet, bzw. Corcken hat aufgeh&ouml;rt zu spielen. "Weil Willi einfach zu gut ist", meint er.</p></p>
<p>Stattdessen wird nun, eine Stunde vor Mitternacht, ein etwas in die Jahre gekommener Rechner angeworfen und die Mission beginnt. Nun hei&szlig;t es Hardwarebasteln, Rechner ausschlachten, Formatieren, Installieren, Schrauben suchen und was bei einer solchen Arbeit nicht fehlen darf - viel Lachen.</p></p>
<p><a href="http://blog.moerssl.net/wp-content/uploads/2006/07/corckenamausgeschlachtetenrechner.jpg"><img height="150" alt="Corcken am ausgeschlachteten Rechner" hspace="10" src="http://blog.moerssl.net/wp-content/uploads/2006/07/corckenamausgeschlachtetenrechner-small.jpg" width="200" align="left" vspace="10" /></a>Es ist schon immer wieder lustig, wenn man den Kopf voller schwieriger Probleml&ouml;sungen hat, einem aber die einfachste nicht einf&auml;llt, beispielsweise, dass die Festplatten nicht laufen, weil sie keinen Strom haben. Oder dass, wenn man auf einen Button klickt, auf dem "Help" drauf steht, auch die gew&uuml;nschten Infos angezeigt werden.</p></p>
<p>Aber wozu ist denn diese ganze "Arbeit" eigentlich. Nun ja, die <a title="offen:bar Bremen - die christliche Kneipe" href="http://www.offenbarbremen.de" target="_blank">offen:bar</a> h&auml;tte gern eine rechnergest&uuml;tzte Musikanlage. Da hab ich mich bereit erkl&auml;rt diese bereitzustellen und zu konfigurieren.</p></p>
<p>Allein w&auml;re ich damit allerdings vollkommen aufgeschmissen gewesen. Deshalb bin ich Jesus auch so dankbar, dass er mir einen so kompetenten Freund wie Corcken an die Seite gestellt hat. W&auml;re er nicht gewesen, w&auml;re ich gestern nicht so weit gekommen!</p></p>
<p>Wir formatieren nun 2 Festplatten ca. 4 mal, wundern uns 30 Minuten lang, warum sie nicht funktionieren (bis wir merken, dass sie keinen Strom haben [siehe oben]), installieren <a title="Damn Small Linux - ein Betriebssystem auf 50MB" href="http://www.damnsmalllinux.org/index_de.html" target="_blank">DSL</a> 4 mal, bekommen den USB-Anschluss zum Laufen und den Sound zum Funktionieren, bauen die Festplatten ein. Nach ca. 3 Stunden sind wir froh, dass der Rechner jetzt weitestgehend fertig ist.</p></p>
<p>Um 3 Uhr morgens bin ich dann zufrieden und dankbar in mein Bettchen gefallen.</p></p>
