---
layout: post
status: publish
published: true
title: Morgen-Post
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 89
wordpress_url: http://blog.moerssl.net/2006/11/12/morgen-post/
date: '2006-11-12 03:13:48 +0100'
date_gmt: '2006-11-12 02:13:48 +0100'
categories:
- newstime
tags: []
comments:
- id: 65
  author: Corcken
  author_email: cornelius@bortmann.de
  author_url: ''
  date: '2006-11-14 13:32:09 +0100'
  date_gmt: '2006-11-14 12:32:09 +0100'
  content: Der gute alte c.s.lewis. Ein sehr sch&ouml;ner Beitrag...erinnert einen
    daran echt zu bleiben...ist f&uuml;r mich wichtig.
---
<p>Ich hatte schon vor Monaten vor diesen Post zu schreiben, bin aber damals nicht dazu gekommen und hab auch bis heute nicht so wirklich einen Sinn darin gesehen, eine Eintragung nachzuholen. Das hat sich vor ein paar Minuten ge&auml;ndert. Ich war eben auf Mellys Blog unterwegs und hab <a title="das M&auml;rchen von der traurigen Traurigkeit" href="http://melly.blogspirit.com/archive/2006/11/09/das-marchen-von-der-traurigen-traurigkeit.html" target="_blank">diese Geschichte</a> gelesen. Vielleicht lest ihr euch dieses M&auml;rchen einfach durch. Ich kann nicht sagen, ob man es zum Verst&auml;ndnis des Eintrages ben&ouml;tigen wird.</p></p>
<p>Aber nun zu meinem Post. Es ist wie gesagt schon einige Monate her, da hat mich ein Zitat sehr angesprochen. Und zwar dieses:</p></p>
<blockquote>
<p>Lieben hei&szlig;t verletzlich sein. Liebe irgendetwas, und es wird dir das Herz brechen. Wenn du ganz sicher sein willst, dass deinem Herzen nichts zust&ouml;&szlig;t, dann darfst du es nie verschenken, nicht einmal an ein Tier. Umgib es sorgf&auml;ltig mit Hobbys und kleinen Gen&uuml;ssen; meide alle Verwicklungen; verschlie&szlig; es sicher im Schrein oder Sarg deiner Selbstsucht. Aber in diesem Schrein &ndash; sicher, dunkel, reglos, luftlos &ndash; ver&auml;ndert es sich. Es bricht nicht; es wird unzerbrechlich, undurchdringlich, unerl&ouml;sbar.<br /><br />
C.S.Lewis</p></blockquote></p>
<p>Vielleicht sagt es aber auch das Original besser aus:</p></p>
<blockquote>
<p>To love at all is to be vulnerable. Love anything, and your heart will certainly be wrung and possibly be broken. If you want to make sure of keeping it intact, you must give your heart to no one, not even to an animal. Wrap it carefully round with hobbies and little luxuries; avoid all entanglements; lock it up safe in the casket or coffin of your selfishness. But in that casket -safe, dark, motionless, airless -- it will change. It will not be broken; it will become unbreakable, impenetrable, irredeemable.<br /><br />
C.S.Lewis</p></blockquote></p>
<p>In dem Moment, als ich dieses Zitat las, durchschoss es mich, wie ein elektrischer Schlag. Oft kam es vor, ich war wohl 13 oder 14, dass ich von Leuten verletzt worde. Ich verzog mich darauf hin immer wieder in mein Zimmerlein, schloss mich ein, schaltete den Fernseher an und lie&szlig; mich berieseln. So brachte ich den einen oder anderen Tag um die Runden. Und in mir passierte genau das, was Clive da in seinem Zitat beschreibt: Ohne es wirklich zu merken, wurde um mein Herz eine Betonmauer aufgezogen, die mit den Jahren immer dicker wurde. Vieles war mit der Zeit einfach egal. Meine Leistung in der Schule stimmte, auch wenn ich fast nie mit mir zufrieden war. Privat lief eher selten etwas - und selbst dann meist der Fernseher.</p></p>
<p>Und dann kam mit einem Mal der Tag, an dem jemand anfing die Betonmauer einzurei&szlig;en. Es war im M&auml;rz 2005, als ich Jesus mein Leben &uuml;bergab. Von da an habe ich die einzelnen Hammerschl&auml;ge gegen die Betonwand gesp&uuml;rt, von da an begann sie zu br&ouml;ckeln. Ich denke aber, dass er schon viel fr&uuml;her angefangen hat, sie zu bearbeiten.</p></p>
<p>In den letzten Monaten gab es immer mal wieder so Situationen, in denen ich mich von anderen Leuten verletzt f&uuml;hlte. Immer wieder fragte ich mich, warum Leute so was machen. Meist geschah es unbeabsichtigt, vermute ich. Mich hat es dennoch getroffen. Dann las ich das C.S. Lewis-Zitat. Lieben hei&szlig;t verletzlich sein. Mir wurde bewusst, dass es das gr&ouml;&szlig;te Geschenk an einen Menschen ist, ihm/ihr gegen&uuml;ber alles Sch&uuml;tzende abzulegen, wirklich ehrlich zu sein und der Person einfach ohne Schutz gegen&uuml;berzutreten. Ich hoffe, ihr versteht meine bilderhafte Sprache.</p></p>
<p>Verletzungen tun weh, keine Frage, aber Jesus ist auch unser Arzt und kann alle Wunden heilen, auch die seelischen. Und so will ich dich, f&uuml;r den ich diesen Post morgens um 3 schreibe, ermutigen. Wenn du von jemanden verletzt worden bist, der dir nahe steht, so gib diese Freundschaft nicht einfach auf. Hege keinen Groll gegen diese Person. Ein Gespr&auml;ch kann vieles wieder grade r&uuml;cken. Oftmals ist es Menschen nicht bewusst, was sie <a href="http://blog.moerssl.net/2006/04/05/die-macht-der-zunge/">mit Worten alles anrichten</a> k&ouml;nnen, oft geschehen solche Verletzungen einfach unbewusst. Jeder hat eine 2. Chance verdient.</p></p>
