---
layout: post
status: publish
published: true
title: '"Nimm mal deinen Rucksack ab!"'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 50
wordpress_url: http://blog.moerssl.net/2006/06/20/nimm-mal-deinen-rucksack-ab/
date: '2006-06-20 18:34:15 +0200'
date_gmt: '2006-06-20 16:34:15 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Das letzte Wochenende war richtig geil und intensiv und der Heilige Geist war richtig krass am Start. Es hat schon am Donnerstag angefangen, als ich <a title="Melly Blog zwischen den Welten" href="http://melly.blogspirit.com" target="_blank">Melly</a> nur noch von Hauskreis nach Hause bringen wollte. Wir sind dann doch noch in der <a title="offen:bar Bremen" href="http://www.offenbarbremen.de" target="_blank">offen:bar</a> gelandet. Da hatten wir noch richtig geile Gespr&auml;che zwischenmenschlich und nach oben!</p></p>
<p>Das "Heiliger-Geist-Level" blieb das ganze Wochenende auf einem sehr hohen Punkt. Wir haben das Wochenende viel mit Gott erlebt.</p></p>
<p>&nbsp;</p></p>
<p>Und doch war ich am Sonntag Abend gegen 22:00 Uhr etwas depressiv. Ich wollte am liebsten gar nix mehr machen, war total ausgepowert und zugegebenerma&szlig;en &uuml;berm&uuml;det. Nach 20 Minuten qualvollen Wartens konnte ich mich dann doch entschlie&szlig;en endlich nach Hause zu gehen. Ich hole mir also meine Sachen (R&uuml;cksack usw.) um mich auf den Heimweg zu machen - etwas missmutig. Melly sagt dann so zu mir: "Nimm mal deinen Rucksack ab, du schleppst nen Haufen Ballast mit dir rum, der dich belastet."</p></p>
<p>Zuerst wusste ich nicht, was sie meinte. Nach ein paar Sekunden hat es dann doch Klick gemacht - ich hatte ja mal die Beitr&auml;ge zu "Ballast" geschrieben. Nun wars an der Zeit das alles mal in die Praxis umzusetzen. Hab ich dann auch gemacht (mit Melly zusammen gebetet). Und mir ging es dann besser. Niedergeschlagen war ich nicht mehr - aber dennoch m&uuml;de.</p></p>
<p>&nbsp;</p></p>
<p>Ich find es einfach toll, dass es um mich rum Menschen gibt, die auf mein Wohlbefinden aufpassen, wenn ich das schon nicht tue.</p></p>
<p>Danke Melly.</p></p>
<p>EDIT:<br />
Da passt der Refrain aus "If I could fly" aus dem letzten Post ganz gut dazu:</p>
<blockquote><p>IF I COULD FLY<br />
I&rsquo;D LEAVE EVERY BURDEN BEHIND<br />
I WOULD</blockquote></p>
