---
layout: post
status: publish
published: true
title: Zeichen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 23
wordpress_url: http://blog.moerssl.net/2006/05/03/zeichen/
date: '2006-05-03 16:24:57 +0200'
date_gmt: '2006-05-03 14:24:57 +0200'
categories:
- newstime
tags: []
comments:
- id: 13
  author: storch
  author_email: storch@kultshockk.de
  author_url: http://www.storch.jfrs.de
  date: '2006-05-08 18:14:47 +0200'
  date_gmt: '2006-05-08 16:14:47 +0200'
  content: sehr gerne, m&ouml;r&szlig;l. freut mich, dass sie geholfen hat!
---
<p>Etwas erstaunt blickte ich heute morgen auf meinen Feedreader. <a href="http://storch.jfrs.de">Storch</a> schrieb &uuml;ber eine Stelle im Exodus. Der Titel des Beitrages: <a href="http://www.jfrs.de/storch/blog/wordpress/2006/05/02/das-ultimative-zeichen-&ndash;-exodus-312/trackback/">das ultimative Zeichen &ndash; Exodus 3,12</a>.<br />
Vor allem der Einf&uuml;hrungstext hat mich "getroffen" (positiv):</p>
<blockquote><p>
Viele Christen suchen absolute Sicherheit in der Frage, ob Gott zu ihnen geredet hat oder nicht. Sie haben vielleicht einen prophetischen Eindruck gehabt oder ein Gef&uuml;hl, wohin ihr Leben gehen soll oder was sie f&uuml;r Gott machen k&ouml;nnten. Aber ihnen fehlt die Sicherheit die sie br&auml;uchten um das, was sie denken wirklich umzusetzen. St&auml;ndig ist die Frage in ihrem Kopf, ob es wirklich Gott war, der es ihnen gesagt hat.<br />
Wie kann man sicher sein, dass man sich nicht verh&ouml;rt hat und die Ansage wirklich von Jesus kam und nicht aus den eigenen Gef&uuml;hlen oder gar vom b&ouml;sen Teufel? ES mag Dich &uuml;berraschen, weil es scheinbar nicht zu ihm passt, aber auch Mose hat vor dieser Frage gestanden.<br />
</blockquote></p>
<p>Storch beschreibt da eine Situation, in der ich mich nur allzu oft wiederfinde. Vor allem nach dem Wochenende beim GIS stelle ich mir - wahrscheinlich unn&ouml;tiger Weise - die Frage, ob die ganzen Eindr&uuml;cke, die seitdem auf mich einstr&ouml;men wirklich aus der richtigen Richtung sind. Storchs Beitrag und die am Ende angef&uuml;gte <a href="http://www.jfrs.de/theologie/mp3/mp3/20060421/index.php">Predigt</a> haben mich weiter best&auml;rkt voran zu gehen.</p>
<p>Ich erinnere mich nun wieder an einen Bibelvers, der mir mit auf den Weg gegeben wurde, kurz bevor ich nach Bremen gezogen bin:</p>
<blockquote><p>
Und wenn ihr zur Rechten oder wenn ihr zur Linken abbiegt, werden deine Ohren ein Wort hinter dir her h&ouml;ren: Dies ist der Weg, den geht!<br />
Jesaja 30:21<br />
</blockquote></p>
<p>Gott wird uns leiten und uns auf unseren Wegen best&auml;tigen. Aber wie in diesem Vers beschrieben, antwortet Gott erst, wenn wir bereits losgegangen sind. </p>
<p>Danke Storch f&uuml;r deinen wunderbaren Beitrag und deine Predigt.</p>
<p>M&ouml;r&szlig;l</p>
