---
layout: post
status: publish
published: true
title: "(fast) ohne Worte"
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 52
wordpress_url: http://blog.moerssl.net/2006/06/28/fast-ohne-worte/
date: '2006-06-28 11:42:03 +0200'
date_gmt: '2006-06-28 09:42:03 +0200'
categories:
- newstime
tags: []
comments: []
---
<p align="center"><img height="323" alt="holland" src="http://blog.moerssl.net/wp-content/uploads/2006/06/holland.jpg" width="450" /></p></p>
<p>So ganz kann mich die WM dann doch nicht kalt lassen...</p></p>
