---
layout: post
status: publish
published: true
title: Geithain - GIS
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 53
wordpress_url: http://blog.moerssl.net/2006/06/29/geithain-gis/
date: '2006-06-29 13:30:33 +0200'
date_gmt: '2006-06-29 11:30:33 +0200'
categories:
- newstime
tags: []
comments:
- id: 37
  author: Mirjana P.
  author_email: mirjana@jesusfreaks-frankfurt.de
  author_url: ''
  date: '2006-12-01 21:22:29 +0100'
  date_gmt: '2006-12-01 20:22:29 +0100'
  content: |-
    oh - freut mich das zu lesen. ich hoffe die andern GISs waren auch gut f&uuml;r dich. wie du siehst habe ich es endlich auf deinen blog geschafft, hoffe du ehrst das "g"
    fetten segen dir!
    mimi
---
<p>Geithain - ein sch&ouml;nes &Ouml;rtchen im sch&ouml;nen Sachsen im Osten unserer Republik. Dieser Ort hat vielen in Deutschland und auf der Welt einiges vorraus. Geithain hat ein <a href="http://jesusfreakhotel.blogspot.com">Jesusfreakhotel</a>.</p></p>
<p>In eben diesem Hotel fand letztes Wochenende der zweite Teil der Prophetenausbildung der Jesusfreaks statt. Die Bremer Fraktion hatte sich verdoppelt zu Lilly und mir (wir hatten schon bei Teil 1 teilgenommen) gesellten sich <a href="http://melly.blogspirit.com">Melly</a> und Conny. Anreise war am Freitag. Wir vier bzw. zu Anfang f&uuml;nf (wir haben <a href="http://missionfreak.blogspot.com">Cate</a> noch nach Celle mitgenommen) schossen gegen 16 Uhr in den Wind. Es war schon abend, so gegen 21h als wir in den H&auml;uslichkeiten der Geithainer eintrafen.</p></p>
<p>Es waren meine Eltern, die uns in Empfang nahmen. Wir hatten uns per Telefon in Geithain verabredet, damit wir uns nach etwa einem halben Jahr mal wieder sehen konnten. Ich war total erstaunt, wie gro&szlig; meine Schwester in der Zwischenzeit geworden war..</p></p>
<p>&nbsp;</p></p>
<p>Nat&uuml;rlich darf auch das obligatorische Foto bei solchen "Familientreffen" nicht fehlen:<img height="450" alt="geihain1" src="http://blog.moerssl.net/wp-content/uploads/2006/06/geihain1.jpg" width="450" /></p></p>
<p>Meine Eltern reisten Sonnabend Morgen wieder ab - nach einem gemeinsamen Fr&uuml;hst&uuml;ck mit mir. Gegen 10h ging dann auch schon das Seminar los. Wir hatten geile Lobpreiszeiten, auch ohne Band, daf&uuml;r mit Kuky.</p></p>
<p>Die Teachings von Sprotte, Mik, Debora und nat&uuml;rlich Kuky waren wachr&uuml;ttelnd, inspirierend und teilweise auch neugierig machend. Das n&auml;chste GIS ist Ende September. Auch da m&ouml;chte ich gern wieder teilnehmen.</p></p>
<p>Gott hat an diesen 3 Tagen tief in mein Herz gesprochen und wieder einmal einige alte Tore ge&ouml;ffnet. Ich m&ouml;chte diese Zeiten mit ihm nicht missen. Die Beziehung zu ihm ist und bleibt das Wichtigste in meinem Leben.</p></p>
