---
layout: post
status: publish
published: true
title: Geben V&ouml;gel an, wenn sie fliegen?
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 49
wordpress_url: http://blog.moerssl.net/2006/06/14/geben-voegel-an-wenn-sie-fliegen/
date: '2006-06-14 19:40:19 +0200'
date_gmt: '2006-06-14 17:40:19 +0200'
categories:
- newstime
tags: []
comments:
- id: 35
  author: Melly
  author_email: Juvriel@web.de
  author_url: http://melly.blogspirit.com
  date: '2006-06-15 13:19:39 +0200'
  date_gmt: '2006-06-15 11:19:39 +0200'
  content: |-
    http://melly.blogspirit.com/archive/2006/04/24/zum-fliegen-geschaffen.html

    ;-)
---
<p>Das ist ein Zitat aus Superman I. Kurz die Situation: Der junge Clark Kent geht noch auf die High School. Nach dem Footballtrainung wollen einige der Spieler und Chearleader noch etwas unternehmen. Lana fragt Clark, ob er denn bei einem Ausflug (Bar oder &auml;hnliches) mitkommen will. Dies wird allerdings durch den Trainer (oder eine andere offizielle Person) unterbunden: Clark muss sich noch um die Ordnung der Football-Utensilien k&uuml;mmern. Die anderen fahren mit dem Auto los..</p></p>
<p>Als Clark mit aufr&auml;umen fertig ist, rennt er den Weg nach Hause - und &uuml;berholt dabei einen G&uuml;terzug. Er ist noch vor den anderen (Spieler und Chearleader) bei sich zu hause. Als der Fahrer fragt, wie schnell Clark denn zur elterlichen Farm gekommen sei, antwortet er ganz selbstverst&auml;ndlich: "Ich bin gerannt."</p></p>
<p>Sein Vater h&ouml;rt diese Konversation und nimmt Clark nachher zur Seite. "Du hast aber grad ganz sch&ouml;n angegeben."</p></p>
<p>"Ist es Angabe, wenn V&ouml;gel fliegen?"</p></p>
<p>&nbsp;</p></p>
<p>Ich wei&szlig; ja nicht, wie ihr die Frage beantworten w&uuml;rdet. Ich jedenfalls finde, sie geben nicht an. Und zwar aus dem ganz einfachen Grund, weil es zur Natur der V&ouml;gel geh&ouml;rt zu fliegen. Es liegt in ihrer Natur.</p></p>
<p>Ich hab mir das in der letzten Zeit vorgestellt, wie kleine K&uuml;ken in ihren Nestern sitzen und ihren Eltern begeistert zuschauen, wie sie fliegen. "Ich will auch fliegen k&ouml;nnen.", k&ouml;nnten die Gedanken der Kleinen sein. Einige springen von selbst aus dem Nest und fangen an zu fliegen, andere m&uuml;ssen von ihrem Papa aus dem Nest geschmissen werden, dass sie anfangen zu fliegen. Wenn die Vogeleltern das tun, wollen sie ihre K&uuml;ken nicht loswerden, sondern wollen sie zum fliegen animieren. Und wisst ihr, was ich an diesem Bild so mag? Die K&uuml;ken wissen sofort, wie sie fliegen. Es wird kein unkontrollierter Fall.</p></p>
<p>Dazu hab ich noch einen Text von Die Happy, der mir ebenfalls die letzten Tage nicht mehr aus dem Kopf geht:</p></p>
<blockquote>
<p><b>IF I COULD FLY</b></p></p>
<p>I have been falling<br /><br />
Falling backwards<br /><br />
in slow motion<br /><br />
Going down<br /><br />
Nothing is changing<br /><br />
But the distance to the sun<br /><br />
I have been trying<br /><br />
Such a long time<br /><br />
To get my feet back to the ground<br /><br />
I lost my gravity<br /><br />
Is this how life should be</p></p>
<p>IF I COULD FLY<br /><br />
I'D LEAVE EVERY BURDEN BEHIND<br /><br />
I WOULD</p></p>
<p>IF I COULD FLY<br /><br />
THE WAY TO THE STARS<br /><br />
I'D FOLLOW THEM ONE BY ONE</p></p>
<p>I haven been falling<br /><br />
Through the silence<br /><br />
Always deeper underground<br /><br />
I'm asking questions<br /><br />
But the anwers are so clear<br /><br />
And I know...<br /><br />
I lost my gravity<br /><br />
Is this how life should be</p></p>
<p>I'm not who I used to be<br /><br />
I'm fighting the enemy in me<br /><br />
It seems to be stronger<br /><br />
But not any longer<br /><br />
<em>Is there anyone out there who could teach me how to fly?</em></p></blockquote></p>
<p>Es gibt da drau&szlig;en jemanden, der uns das fliegen beibringen kann. Und der hei&szlig;t Jesus Christus!</p></p>
