---
layout: post
status: publish
published: true
title: '"Halte nicht f&uuml;r unrein, was ich f&uuml;r rein halte"'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 28
wordpress_url: http://blog.moerssl.net/2006/05/11/vorbereitung/
date: '2006-05-11 13:17:52 +0200'
date_gmt: '2006-05-11 11:17:52 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ich hab das Gef&uuml;hl, dass mir Gott ne ganz wichtige Sache "einh&auml;mmern" will. Ich hab mir eben die Predigt <a href="http://www.diepredigt.de/predigt.php?predigtzahl=298&amp;knopf=weiter">Die Ernte kommt gewiss</a> von <a href="http://www.diepredigt.de/profil.php?no=1">Paddy</a> angeh&ouml;rt.<br />
Mir ist aufgefallen, dass das die 3. oder 4. Predigt war, die die Berufungsgeschichte von Mose enthielt. Aus jeder dieser Predigten habe ich f&uuml;r mich rausgezogen, dass man "einfach gehen soll, wenn Gott einem was sagt. Vertrau Gott und den Gaben, die er dir gegeben hat." Mose hat gez&ouml;gert. Dar&uuml;ber gibts ja auch schon nen Beitrag (bei <a href="http://blog.moerssl.net/2006/05/03/zeichen/">mir</a> bzw. bei <a href="http://www.jfrs.de/storch/blog/wordpress/2006/05/02/das-ultimative-zeichen-&ndash;-exodus-312/trackback/">Storch</a>).<br />
Jedes mal, wenn ich eine der Predigten geh&ouml;rt hatte, dachte ich mir: "Okay, abgehakt, wird umgesetzt. Wenn Gott mir jetzt was sagt, werd ichs machen." Aber ich hab das nicht wirklich umgesetzt! In letzter Zeit immer wieder gezweifelt.<br />
Eine andere Sache, die sich bei mir in den letzten Wochen immer wieder wiederholt hat sind Predigten, Hauskreisthemen oder prophetische Worte &uuml;ber Apostelgeschichte 10. Das ist die Geschichte von Petrus und dem Hauptmann Kornelius. Die Stelle, die da in den letzten Wochen bei mir immer wieder aufgetaucht war, ist die Stelle, als Gott zu Petrus sagt: "Halte nicht f&uuml;r unrein, was ich f&uuml;r rein halte." Kurze Zusammenfassung zur damaligen Situation: Petrus geht zum Beten aufs Dach seiner damaligen Bleibe und bekommt ne Vision. Er sieht ein Tuch, auf dem ein Haufen Ungeziefer krabbelt - also Tiere, die f&uuml;r die Juden als "unrein" gelten - und Petrus bekommt gesagt, dass er die Viecher schlachten und essen soll. Er stellt sich Gottes Wort entgegen und sagt: "Nein, das mach ich nich. Die Viecher sind unrein!" Danach sagt Gott zu Petrus eben den Satz: "Halte nicht f&uuml;r unrein, was ich f&uuml;r rein halte!" Das alles passiert 3 Mal!! 3 Mal verweigert Petrus die Viecher zu schlachten und zu essen. Gott hat Petrus durch diese Vision auf eine gro&szlig;e Sache vorbereitet - und zwar das Evangelium zu den Heiden zu bringen! (Der Umgang mit Heiden war den Juden untersagt - wenn ich mich richtig entsinne.)<br />
Seit einigen Wochen ermutige ich immer wieder verschiedene Christen auf ihre geistgegebenen Gaben zu vertrauen und die zu 100% einzusetzen. Wenn ichs richtig bedenke, hab ich das schon gemacht, bevor ich nach Bremen gezogen bin. Das dumme ist, dass ich das zwar anderen Leuten gesagt, aber in meinem eigenen Leben nicht richtig umgesetzt habe. Mir liegt es auf dem Herzen, dass Leute in ihre Berufung hineinkommen, ihre Gaben entdecken und zu 100% (zum richtigen Zweck) einsetzen. Allerdings hab ich bei all der Leidenschaft f&uuml;r die Leute, die ich ansehen kann, die Person vergessen, der ich am wenigsten ins Gesicht sehe - n&auml;mlich mich selbst.<br />
Ich finde, dass Gott mir nun die Augen ge&ouml;ffnet hat. Ich soll auf das Vertrauen, was in mir ist. </p>
<p>"Zweifel behindern dich nur, sie sind wie eine Bleikugel an den F&uuml;&szlig;en. Damit kommst du nicht vorw&auml;rts. Du hast doch aber den Schl&uuml;ssel um die Kugel zu l&ouml;sen. Leg die Zweifel ab, dann kannst du besser laufen. Begreif das endlich, M&ouml;r&szlig;l!!!!"</p>
<p><em>PS: Ich hab schon seit einigen Wochen einen noch nicht ganz fertigen Beitrag im dashboard, der sich mit dem Thema "Vertrau auf die Gaben in dir!" besch&auml;ftigt. Den werd ich dann demn&auml;chst noch ver&ouml;ffentlichen.</em></p>
<p><!--EDIT<br />
Der Satz "Halte nicht f&uuml;r unrein, was ich f&uuml;r rein halte" war eines der prophetischen Worte, die Mic beim GIS / FLT hatte. Deshalb verbinde ich das wiederholte Auftauchen des Satzes mit meinen Gaben und dem Umgang damit--></p>
