---
layout: post
status: publish
published: true
title: Langsame PCs, Viren und andere unliebsame Dinge
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 51
wordpress_url: http://blog.moerssl.net/2006/06/23/langsame-pc-viren-und-andere-unliebsame-dinge/
date: '2006-06-23 13:25:04 +0200'
date_gmt: '2006-06-23 11:25:04 +0200'
categories:
- newstime
tags: []
comments:
- id: 36
  author: cate
  author_email: sklavejesus@web.de
  author_url: http://missionfreak.blogspot.com
  date: '2006-06-27 11:44:39 +0200'
  date_gmt: '2006-06-27 09:44:39 +0200'
  content: "ja genau. \n\n(du wolltest ne comment haben, aber mehr dazu habe ich grad
    nit im kopf...)\n\nmeine eltern sind in so eine gemeinde die alles frei beten..
    da hiess es zB als ich mein dreckswaesche von der uni nach hause braucht im sommerferien
    auf einmal, ich habe einen geist der unreinheit und muesse mich vor die gemeinde
    freibeten lassen vom pastor. komisch, im naechsten ferien hab ich wieder mein
    dreckswaesche mitgebracht...... ist einfacher und guenstiger bei mom als im waschsalon."
---
<p>Vorgestern bin ich seit einiger Zeit mal wieder dazu gekommen einige (genauer gesagt 2) Predigten f&uuml;r den <a title="Predigtdownload bei den Jesusfreaks Bremen" href="http://www.jesusfreaks-bremen.de/predigt.php">Downloadbereich</a> unserer Homepage zu schneiden und hoch zu laden. Schon beim Starten meines Rechners kam er mir etwas langsam vor. Er hat meines Erachtens viel zu lang zum Hochfahren gebraucht. Das hat mich dann allerdings nicht weiter gest&ouml;rt, nebenbei lief ja noch TV.</p></p>
<p>Ich schneide also die Predigten, was l&auml;nger gedauert hat, als normalerweise. Aber nach einer Weile war ich dann doch fertig und die Predigten online. Da Lilly noch etwas an meinem Rechner machen wollte, habe ich ihn zu ihr ins Zimmer bebracht. Auf die Frage, ob der Lappi denn schon die ganze Zeit so langsam war, meinte sie: "Ja."</p></p>
<p>F&uuml;r mich stand sofort fest, das Teil hat sich einen Virus eingefangen. Ich hab in dieser Denkweise eine Parallele zu einer anderen Sache entdeckt. Und zwar hatte ich mich einige Tage vor dieser Szene mit einer anderen Person &uuml;ber die Ursachenanalyse unserer Probleme unterhalten. Ziemlich oft komme ich dann zu dem Schluss, dass das Mister S. aus H. oder einer seiner Kumpanen seine Finger im Spiel haben muss. Dann betet ich mich von dem ganzen Zeug frei und das Problem ist gegessen.</p></p>
<p>So, zur&uuml;ck nun zu meinem Virus. Ich hab also sofort meine Virendefinition auf einen aktuellen Stand gebracht und eine Viren&uuml;berpr&uuml;fung durchgef&uuml;hrt. Nach einer 3/4 Stunde des Suchens hatte der Scanner kein Virus gefunden. Ergo konnte er keinen Virus entfernen, ergo mein Langsamkeitsproblem muss irgendeine andere Ursache haben.</p></p>
<p>Und nun wieder der Bogen zu unserer Ursachenanalyse. Oftmals bete ich mich von Sachen frei, die einfach nicht da sind. Das ist dann so, als w&uuml;rde man den Virenscanner auf ein Virus ansetzen, der nicht auf dem Rechner ist. Wie in meiner aktuellen Rechnersituation liegt das Problem wohl nicht an einem Virus, sondern eher an einer anderen Stelle. Das hei&szlig;t dann wahrscheinlich, dass ich zeitintensiv suchen muss.</p></p>
<p>In Zukunft werde ich mir auch in meinem pers&ouml;nlichen Umfeld mal etwas mehr Zeit nehmen, um unsch&ouml;ne Situationen mal unter einem anderen Licht beleuchten. Ich habe keine Lust meine Zeit auf das Austreiben von D&auml;monen zu verschwenden, wenn die ihre Finger gar nicht im Spiel haben!</p></p>
