---
layout: post
status: publish
published: true
title: Zwei Liedchen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 72
wordpress_url: http://blog.moerssl.net/2006/09/14/ein-liedchen/
date: '2006-09-14 13:39:15 +0200'
date_gmt: '2006-09-14 11:39:15 +0200'
categories:
- newstime
tags: []
comments:
- id: 43
  author: JJ
  author_email: kennobi@gmx.net
  author_url: ''
  date: '2007-01-07 22:55:00 +0100'
  date_gmt: '2007-01-07 21:55:00 +0100'
  content: He M&ouml;r&szlig;l, leider ist das untere Video nicht mehr bei YouTube
    zu erreichen. Wei&szlig;t du noch den Titel? Ich finde das Video einfach genial.
---
<p align="center">[youtube gb7YRfXgqVU]</p></p>
<p align="center">[youtube 3Vt-b3iDSlI]</p></p>
<p>Diese beiden Lieder habe ich das erste Mal auf dem LTT in England geh&ouml;rt und war schon da sehr ergriffen. Als ich sie mir heute in der Mittagspause wieder anschaut, bekam ich Tr&auml;nen in die Augen.</p></p>
<p>Gott ist gro&szlig;, wirkt in und durch euch!!<br><br />
Seid gesegnet</p></p>
<p>M&ouml;r&szlig;l</p></p>
