---
layout: post
status: publish
published: true
title: Microsoft Ceritified Professional
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 38
wordpress_url: http://blog.moerssl.net/2006/05/19/microsoft-ceritified-professional/
date: '2006-05-19 12:31:21 +0200'
date_gmt: '2006-05-19 10:31:21 +0200'
categories:
- newstime
tags: []
comments:
- id: 24
  author: Corcken
  author_email: cornelius@bortmann.de
  author_url: ''
  date: '2006-05-19 13:37:42 +0200'
  date_gmt: '2006-05-19 11:37:42 +0200'
  content: "Herzlichen Gl&uuml;ckwunsch! \nDa hat sich das Lernen ja doch gelohnt!"
- id: 25
  author: Melly
  author_email: Juvriel@web.de
  author_url: http://melly.blogspirit.com
  date: '2006-05-19 18:52:28 +0200'
  date_gmt: '2006-05-19 16:52:28 +0200'
  content: |-
    Wheee, soooooo geil!!!!

    Dickes GRATS! dann war das nerv&ouml;s sein ja ganz umsonst ;-)
- id: 26
  author: Doro
  author_email: doro@jesusfreaks-bremen.de
  author_url: ''
  date: '2006-05-19 23:17:29 +0200'
  date_gmt: '2006-05-19 21:17:29 +0200'
  content: Gl&uuml;ckwunsch auch von mir!!
- id: 27
  author: tim und struppi
  author_email: mail@silence-one.net
  author_url: http://www.silence-one.net/
  date: '2006-05-27 18:12:26 +0200'
  date_gmt: '2006-05-27 16:12:26 +0200'
  content: |-
    boah, da hat die ****** ihr abi aber besser bestanden...

    ADMIN
    Der Name wurde aus R&uuml;cksicht auf die Person entfernt.
---
<p><img vspace="10" hspace="10" align="right" alt="MCP, from microsoft.com" src="http://img.microsoft.com/germany/learning/images/mcp-rgb_neu.gif" />Ich habe es gewagt und habe sie bestanden. Heute hatte ich meine Microsoft-Certified-Professional-Pr&uuml;fung (MCP-Pr&uuml;fung) &uuml;ber das Gebiet "Microsoft SQL Server 2000 Datenbank-Design und -Implementierung."<br />
Ich hatte f&uuml;r die Pr&uuml;fung ca. 2,5 Stunden Zeit und musste 70% der Fragen richtig beantworten. Das hab ich mit meinen 74,7% dann auch geschafft.</p>
<p>Quelle des Bildes: microsoft.com</p>
