---
layout: post
status: publish
published: true
title: Jahwe Jireh
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 63
wordpress_url: http://blog.moerssl.net/2006/08/28/jahwe-jireh/
date: '2006-08-28 22:07:11 +0200'
date_gmt: '2006-08-28 20:07:11 +0200'
categories:
- newstime
tags: []
comments: []
---
<p><img alt="polizei" hspace="0" src="http://static.flickr.com/1/122766995_f807232b3f.jpg?v=0" border="0" />So &auml;hnlich sah der Wagen aus, der vor ein paar Stunden vor unserer Haust&uuml;r geparkt hat. Und ja, die beiden Polizisten, die da drin gesessen hatten, wollten zu mir. Doch warum waren die denn eigentlich da, was wollten die von mir und was hat das alles mit Jahwe Jireh zu tun?</p></p>
<p>Okay, hier die Geschichte: Es ist Sonntag, kurz vor 15 Uhr. Das Wetter versprach trocken zu bleiben. Uli wollte Lilly und mich mit dem Fahrrad abholen, sodass wir zusammen zum Gottesdienst fahren k&ouml;nnen. Uli und ich brachen allein auf, Lilly wollte sp&auml;ter nachkommen. Allerdings sind wir beiden nicht sehr weit gekommen. Nach etwa 200 Metern war vorerst Schluss mit unserer Fahrt. Ich hatte mit dem Fahrrad ein Auto gestreift und einen etwas tieferen Kratzer hinterlassen. 2 Minuten sp&auml;ter sa&szlig;en Uli und ich bei den Haltern des Fahrzeugs im Wohnzimmer. Ich habe meine Daten da gelassen. Also der normale Gang, wie man das halt nach einem solchen Zwischenfall macht.</p></p>
<p>Warum nun die Polizei? Naja, bei dem Wagen handelt es sich um einen Firmenwagen und da hat die Leasinggesellschaft gewollt, dass da die Polizei informiert wird. Also haben die Beamten vorhin bei uns vorbeigeschaut um mir "betreffs der Verursachung eines Unfalls" eine "m&uuml;ndliche Verwarnung ohne Verwarnungsgeld" auszusprechen. Es war f&uuml;r mich der erste Kontakt mit der "Staatsgewalt." Es war irgendwie ein seltsames Gef&uuml;hl.</p></p>
<p>Was den Schaden an dem anderen Auto angeht und wie das alles in Zukunft geregelt wird, dar&uuml;ber mache ich mir keine Sorgen. Gott versorgt ("Jahwe Jireh"), und auch wenn ich diese enormen Ausgaben h&auml;tte vermeiden k&ouml;nnen, indem ich besser aufgepasst h&auml;tte, habe ich das Gef&uuml;hl und die Sicherheit, dass sich Gott hinter mich stellt und mir die n&ouml;tigen M&ouml;glichkeiten bieten wird, das Geld zu bekommen.</p></p>
<blockquote>
<p>Trachtet zuerst nach dem Reich Gottes und nach seiner Gerechtigkeit, so wird euch das alles zufallen. Darum sorgt nicht f&uuml;r morgen, denn der morgige Tag wird f&uuml;r das Seine sorgen. Es ist genug, dass jeder Tag seine eigene Plage hat.<br /><br />
Matth&auml;us 6:33-34</p></blockquote></p>
