---
layout: post
status: publish
published: true
title: Geduld haben..
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 117
wordpress_url: http://blog.moerssl.net/2007/04/01/geduld-haben/
date: '2007-04-01 19:59:14 +0200'
date_gmt: '2007-04-01 17:59:14 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>.. hei&szlig;t manchmal auch einfach auf einen Anschlussflug warten. Wir sind in Newark, New Jersey angekommen und versuchen nun die Zeit bis zu unserem Weiterflug nach Texas zu &uuml;berbr&uuml;cken.</p></p>
<p align="center"><img height="332" alt="DSC01571" src="http://blog.moerssl.net/wp-content/uploads/2007/04/dsc01571.jpg" width="333" /></p></p>
<p>Nachdem wir heute morgen nach einigen Schwierigkeiten, also dem normalen Eincheck- und Securityprozedere, konnten wir auch im Flugzeuch Platz nehmen. Entgegen unserer Vermutungen, wurden wir auf den ganzen Flieger verteilt, anstatt zusammen zu sitzen.</p></p>
<p>Kurz wunderten wir uns, warum denn Kai &uuml;ber die Lautsprecher ausgerufen wurde. Sollte denn wieder was mit dem Reisepass sein? Dem war nicht so. Ein besorgter Reisegast hatte angefragt, ob es denn m&ouml;glich sei mit jemandem den Sitz zu tauschen. Seine Freundin hatte Flugangst. Rein zuf&auml;llig konnten Uli und Kai durch diesen Tausch nebeneinander sitzen. Ist doch sch&ouml;n, oder?</p></p>
<p>Nach ca. 8 Stunden Flug sind wir nun in Newark gelandet. Und das sieht nun ungef&auml;hr so aus, wie ihr es da oben auf dem Bild seht.</p></p>
