---
layout: post
status: publish
published: true
title: Angekommen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 119
wordpress_url: http://blog.moerssl.net/2007/04/02/angekommen/
date: '2007-04-02 19:11:36 +0200'
date_gmt: '2007-04-02 17:11:36 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Hallo ihr Lieben!<br />
Wir sind rund am Sonnabend um 22 Uhr mit einer Stunde Verspaetung in Dallas gelandet.<br />
Das Erste Resume, Amerika ist gross, sehr gross, einfach alles ist gross, Autos, Haeuser, Milchtueten, .... .<br />
Auch die Toiletten sind ein Erlebnis fuer sich. Sie sind fast randvoll mit Wasser gefuellt - unsere Katzen haetten ihre wahre Freude daran  :-) Mittlerweile sind alle Leute untergebracht und auch wir werden uns nach ueber 26 Stunden Wachsein ins Bett begeben, die Reise war echt anstrengend und spannend. Erstaunlich war, dass wider erwarten die deutschen Kontrollen wesentlich strenger waren und das Personal um ein vielfaches hysterischer.</p>
<p>Die Amis waren ziemlich lustig und cool drauf, und saemtliche Kontrollen mit denen wir gerechnet haben, vielen aus. Befremdend war jedoch, dass offensichtlich unsere Koffer ohne unser Wissen durchsucht wurden zwischen Abgabe und Lagerung im Flugzeug.</p>
<p>Ihr koennt unseren Urlaub hier aufm Blog in den naechsten zwei Wochen beobachten, ich bin mir sicher, der Namenstraeger der Seite wird regelmaessig bloggen.  :-)</p>
<p>Also, liebe Gruesse von der anderen Seite des grossen Teiches, ihr seit gesegnet, Uli&amp;Kai!</p>
