---
layout: post
status: publish
published: true
title: Alles gepackt und los gehts
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 115
wordpress_url: http://blog.moerssl.net/2007/03/31/alles-gepackt-und-los-gehts/
date: '2007-03-31 09:05:00 +0200'
date_gmt: '2007-03-31 07:05:00 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Es ist der 31. M&auml;rz 2007. Es ist 9.05 Uhr morgens. Ich befinde mich grade im Flugzeug in Richtung USA. Die Taschen sind gepackt (und hoffentlich im Flugzeug angekommen). Gleich gehts los. Gleich hebt er ab der gro&szlig;e Vogel.</p></p>
<p>Die n&auml;chsten 2 Wochen bin ich ja in Dallas, Texas. Lilly wird heiraten und ich bin eingeladen. Ist schon aufregend die ganze Sache. Merkt ihr vielleicht auch an meinem Schreibstil. Ich bin glaube ich ein wenig hibbelig. Aber jetzt geht es endlich los und ich freu mich riesig.</p></p>
<p>&nbsp;</p></p>
<p>Naja, eigentlich sitz ich jetzt in diesem Augenblick, da ich diesen Post schreibe nicht wirklich im Flugzeug. Da darf man das Notebook ja auch nich anhaben...</p></p>
<p>Ich hab nich wirklich Bock meine restlichen Sachen zu packen und dachte mir, dass ich so noch n bisschen Zeit rausschlagen k&ouml;nnte. Scheint mir ja auch ganz gut zu gelingen. Aber nichtsdestotrotz muss das mit dem packen auch noch erledigt werden, damit ich morgen, am 31. M&auml;rz 2007 um 9.00 Uhr morgens sagen kann, dass meine Sachen gepackt sind.</p></p>
<p>Hier noch n Lied, was mir diese Woche im Ohr h&auml;ngen geblieben ist:</p></p>
<p align="center">[youtube qK2bEbtpFOc]</p></p>
<p align="center"> </p></p>
<p>Ich meld mich wieder, wenn ich angekommen bin, versprochen.<br /><br />
Sch&ouml;nes Wochenende euch allen</p></p>
<p>M&ouml;r&szlig;l</p></p>
