---
layout: post
status: publish
published: true
title: BreDuSa
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 136
wordpress_url: http://blog.moerssl.net/2007/06/03/bredusa/
date: '2007-06-03 11:57:09 +0200'
date_gmt: '2007-06-03 09:57:09 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Nein, das ist jetzt kein Name f&uuml;r ein Moped oder irgendwas anderes. Die Titel des Posts hab ich mal analog zum <a href="http://dredusa.blogspot.com/" title="Dresdner Dumme Sachen">Dresdner-Dumme-Sachen-Blog</a>. Da gibts ab und zu mal was Skuriles aus der Landeshauptstadt der Sachsen. Nun wirds aber nicht nur bei den Sachsen seltsame und manchmal auch urkomische Sachen geben.</p>
<p>Auch in Bremen gibts witzige Sachen, wie das hier:</p>
<p align="center"><img src="http://corcken.com/nord/wp-content/uploads/2007/06/hund2.jpg" title="Hundekotze" alt="Hundekotze" align="middle" height="213" width="468" /></p></p>
<p align="left">Gefunden bei der <a href="http://corcken.com/nord/?p=145" title="Bremen Nord Connection">Bremen Nord Connection</a>.</p></p>
