---
layout: post
status: publish
published: true
title: Nimm mich mit ins Abenteuerland, weil alles an dir mich so leicht macht
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 99
wordpress_url: http://blog.moerssl.net/2007/01/03/nimm-mich-mit-ins-abenteuerland-weil-alles-an-dir-mich-so-leicht-macht/
date: '2007-01-03 17:03:24 +0100'
date_gmt: '2007-01-03 16:03:24 +0100'
categories:
- newstime
tags: []
comments:
- id: 68
  author: mzeecedric
  author_email: samaki@zungu.net
  author_url: http://m.zung.us
  date: '2007-01-06 03:09:24 +0100'
  date_gmt: '2007-01-06 02:09:24 +0100'
  content: |-
    da tut was nich in deiner sidebar.php:
    <blockquote>
    Fatal error: Call to undefined function: wp_countdown_clock() in /www/.../themes/daisyraegemini/sidebar.php on line 4
    </blockquote>
- id: 69
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2007-01-06 17:07:51 +0100'
  date_gmt: '2007-01-06 16:07:51 +0100'
  content: "Danke f&uuml;r diesen Hinweis. Hab ich eben schnell behoben.\nTja, sowas
    kommt vor, wenn man Plugins deaktiviert ohne nachzuschauen, was dabei rauskommt.
    \n\nDanke nochmals."
- id: 70
  author: mzeecedric
  author_email: samaki@zungu.net
  author_url: http://m.zung.us
  date: '2007-01-07 02:14:39 +0100'
  date_gmt: '2007-01-07 01:14:39 +0100'
  content: klar, keine ursache. ich hoffe ja auch das mir ein user bescheid gibt wenn
    was nicht geht, statt sich einfach nur zu wundern. ...und jetzt hab ich mir auch
    mal die videos angeschaut. das Lied von Laith Al-Deen ist ganz gut, kannte ich
    schon, aber das r&uuml;ckt den text in ein ganz anderes licht.
---
<p>Leute, ich lebe noch. &Uuml;ber Weihnachten und Silvester war ich bei meinen Eltern in Sachsen. Es waren Tage, in denen ich ziemlich viel Zeit f&uuml;r mich hatte. Es tat gut nach diesem stressigen Dezember einfach mal ein paar Tage das zu tun, was ich gern mach. Gr&ouml;&szlig;tenteils war das: ausschlafen, Computer spielen und mit Jesus abchillen.</p></p>
<p>Bei meinen Eltern hatte ich das gro&szlig;e Gl&uuml;ck, dass man da <a href="http://www.bibeltv.de" target="_blank">bibeltv</a> und <a href="http://god.tv" target="_blank">god.tv</a> schauen konnte. Die Sendungen dieser beiden Sender haben mir oft geholfen und haben mich aufgepeppelt, wenn ich doch mal down war.</p></p>
<p>Es haben mich aber auch 3 Lieder in dieser Zeit begleitet. Hier sind sie:</p></p>
<p>&nbsp;</p></p>
<p>Lili - Nimm mich mit</p></p>
<p>[youtube fbPW2jehmjE]</p></p>
<p>Das Lied war f&uuml;r mich noch mal wie ne Erinnerung, dass ich Jesus in diesen "Urlaub" mitnehmen sollte.</p></p>
<p>Pur - Abenteuerland</p></p>
<p><em>Dazu hab ich leider kein Video gefunden, darum hier der Songtext:</em></p></p>
<blockquote>
<p>Der triste Himmel macht mich krank<br /><br />
ein schwere graues Tuch<br /><br />
Das die Sinne fast erstickt<br /><br />
die Gewohnheit zu Besuch</p></p>
<p>Lange nichts mehr aufgetankt<br /><br />
die Batterien sind leer<br /><br />
In ein Labyrinth verstrickt<br /><br />
ich seh&acute; den Weg nicht mehr</p></p>
<p>Ich will weg, ich will raus<br /><br />
ich will &ndash; W&uuml;nsch mir was<br /><br />
und ein kleiner Junge nimmt mich an die Hand</p></p>
<p>Er winkt mir zu und grinst:<br /><br />
Komm&acute; hier weg, komm&acute; hier raus<br /><br />
Komm&acute; ich zeig Dir was<br /><br />
Das Du verlernt hast, vor lauter Verstand</p></p>
<p>Komm mit,<br /><br />
komm mit mir ins Abenteuerland<br /><br />
Auf Deine eig&acute;ne Reise<br /><br />
komm mit mir ins Abenteuerland<br /><br />
der Eintritt kostet den Verstand<br /><br />
Komm mit mir ins Abenteuerland<br /><br />
und tu&acute;s auf Deine Weise<br /><br />
Deine Phantasie schenkt Dir ein Land<br /><br />
das Abenteuerland</p></p>
<p>Neue Form, verspielt und wild<br /><br />
die Wolken mal&acute;n ein Bild<br /><br />
der Wind pfeift dazu dieses Lied<br /><br />
In dem sich jeder Wunsch erf&uuml;llt</p></p>
<p>Ich erfinde, verwandle mit Zauberkraft<br /><br />
Die Armee der Zeigefinger br&uuml;llt: Du spinnst!!!</p></p>
<p>Ich streck&acute; den Finger aus<br /><br />
ich verhexe, verbanne, ich hab die Macht<br /><br />
Solange der Kleine da im Spiegel noch grinst</p></p>
<p>Komm mit,<br /><br />
komm mit mir ins Abenteuerland<br /><br />
Auf Deine eig&acute;ne Reise<br /><br />
komm mit mir ins Abenteuerland<br /><br />
der Eintritt kostet den Verstand<br /><br />
Komm mit mir ins Abenteuerland<br /><br />
und tu&acute;s auf Deine Weise<br /><br />
Deine Phantasie schenkt Dir ein Land<br /><br />
das Abenteuerland</p></p>
<p>Peter Pan und Captain Hook mit siebzehn Feuerdrachen<br /><br />
Alles kannst Du sehen, wenn Du willst</p></p>
<p>Donnerv&ouml;gel, Urgeschrei, Engel, die laut lachen<br /><br />
Alles kannst Du h&ouml;ren, wenn Du willst</p></p>
<p>Du kannst flippen, flitzen, fliegen und das gr&ouml;&szlig;te Pferd kriegen<br /><br />
Du kannst tanzen, taumeln, tr&auml;umen und die Schule vers&auml;umen</p></p>
<p>Alles das ist m&ouml;glich in Dir drin in Deinem Land<br /><br />
trau Dich nur zu spinnen, es liegt in Deiner Hand</p></p>
<p>Text &amp; Musik: Hartmut Engler / Ingo Reidl</p></p>
<p>Songtext &copy; 2007 Pur   +++   Capitol Music Germany</p></blockquote></p>
<p>"Lass 2007 ein weiteres (oder dein erstes) Abenteuer mit Jesus sein. Trau dich ihm die Dinge zuzutrauen, die er machen will.", ging mir w&auml;hrend der Silvesterparty durch den Kopf, als dieses Liedchen gesungen wurde.</p></p>
<p>Laith Al-Deen - Alles an dir<br /><br />
<em>Hab leider kein besseres Video gefunden</em></p></p>
<p>[youtube t-r1kStZO4s]</p></p>
<p>Das Lied war f&uuml;r mich wie ne Aufforderung von meinen Problemen wegzuschauen, hin auf das, was Jesus bereits getan hat. "Weil er so unbeschreiblich liebt."</p></p>
<p>&nbsp;</p></p>
<p>Gottes Segen f&uuml;rs neue Jahr w&uuml;nscht euch allen da drau&szlig;en,<br /><br />
der m&ouml;r&szlig;l</p></p>
