---
layout: post
status: publish
published: true
title: Zwischen den Abschieden
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 107
wordpress_url: http://blog.moerssl.net/2007/02/10/zwischen-den-abschieden/
date: '2007-02-10 16:44:40 +0100'
date_gmt: '2007-02-10 15:44:40 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Am Mittwoch wars soweit. Tina hat Deutschland verlassen und ist zusammen mit ihrer Tochter Michelle nach La Gomera aufgebrochen. Der Abschied fiel mir wirklich schwer, vor allem weil ich mit Tina so viele wunderbare Stunden verbringen konnte.</p></p>
<p>Melly meinte: "Man wei&szlig; erst, was man an einer Person hatte, wenn sie weg ist." Sie hat mir damit voll aus dem Herzen gesprochen.</p></p>
<p>In ein paar Tagen wird <a title="Lilly in Texas" href="http://lilly.jesusfreak.de">Lilly</a> sich in die L&uuml;fte erheben und gen Texas schweben. "Ich geh heiraten", hat sie am letzten Sonntag im Gottesdienst gesagt. Ich freu mich f&uuml;r sie und auch f&uuml;r Kelly - ihren Ehemann in Spe. Lilly wird mindestens ein halbes Jahr in den USA bleiben. Sie zieht somit aus dem Hoffnungshaus aus.</p></p>
<p>Ich bin wirklich ein bisschen traurig, dass die beiden Bremen verlassen (haben), aber andererseits freu ich mich auch, dass sich die beiden auf ein neues Abenteuer einlassen k&ouml;nnen. Tina in Spanien und Lilly in Texas.</p></p>
<p>Wiedereinmal befinde ich mich in der Situation, dass ich eine solche Begebenheit erst realisiere, wenn die Sache schon kurz vor dem Abschluss steht bzw. schon vorbei ist. Wir haben in den vergangenen Monaten viel dar&uuml;ber geredet, was denn sein wird wenn... Wir haben uns auf die Suche nach neuen Mitbewohnern f&uuml;rs Hoffnungshaus gemacht..</p></p>
<p>Aber erst jetzt merke ich, dass das wirklich passiert, das Lilly auszieht, als wir ihr M&ouml;bel und so aus dem Haus tragen. Lilly geht - und wir brauchen immer noch einen (oder zwei) MitbewohnerInnen...</p></p>
<p>Ich kann es mir noch nicht wirklich vorstellen, wie es hier im Haus sein wird, wenn Lilly nicht mehr hier ist. Was wird sein, wenn sich niemand findet, der hier einzieht? Aber ich will jetzt nicht in einer solchen Situation verzweifeln, sondern auf Gott vertrauen.</p></p>
<blockquote>
<p>GoD is in control and he never makes a mistake!<br /><br />
Mirko Sander</p></blockquote></p>
<p>PS: Falls du uns irgendwie unterst&uuml;tzen willst, sei es im Gebet, zwischenmenschlich, finanziell oder gar als Mitbewohner, so melde dich doch einfach bei uns. Schreib hier einen Kommentar oder schreib eine eMail an <a href="mailto:hoffnungshaus@moerssl.net">hoffnungshaus@moerssl.net</a></p></p>
