---
layout: post
status: publish
published: true
title: Life is live - Live&uuml;bertragung der Hochzeit
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 127
wordpress_url: http://blog.moerssl.net/2007/04/09/life-is-live-liveuebertragung-der-hochzeit/
date: '2007-04-09 09:36:53 +0200'
date_gmt: '2007-04-09 07:36:53 +0200'
categories:
- newstime
tags: []
comments:
- id: 79
  author: surfsquaw
  author_email: surfsquaw@gmx.de
  author_url: http://hochzeit.bortmann.de
  date: '2007-04-10 10:03:33 +0200'
  date_gmt: '2007-04-10 08:03:33 +0200'
  content: |-
    Oh, ich w&uuml;nsche Euch f&uuml;r heute alles Gute und bin schon ganz mit aufgeregt... Es wird sicher wundersch&ouml;n...

    Ob wir live dabei sein k&ouml;nnen wei&szlig; ich leider nicht...denn es ist Dienstag und Corcken und ich m&uuml;ssen das All-you-can-eat machen. Nachdem wir das ganze letzte Woche 20 Mal verkauft haben... also mind 60 Portionen ausgeteilt haben, erwarten wir nun einen arbeitsreichen Abend und leider gibt es in der Offen:bar kein Internet... ;o(

    Aber wir denken an Euch
    Ganz viel Segen
    Mone
---
<p>Lilly m&ouml;chte euch allen mal was mitteilen:</p></p>
<blockquote>
<p>Hallo ihr Lieben!!!!!</p></p>
<p>Wenn ihr unsere Hochzeit live sehen wollt, dann braucht ihr<br /><br />
Internet Explorer und Quick Time. Unter der Seite <a href="http://www.hppc.org">www.hppc.org</a>,<br /><br />
dann unter Media und dann HPPCtv, Launch Movie werden wir<br /><br />
am Dienstag, 3 Uhr Dallas Zeit und 22 Uhr deutscher Ortszeits<br /><br />
zu sehen sein.<br /><br />
Ich hoffe es klappt alles mit der Technik und ihr koennt es mit-<br /><br />
erleben. Wenn irgendetwas nicht funktionieren sollte, die Hochzeit<br /><br />
wird aufgezeichnet und wir werden sie dann mit einem Link ins<br /><br />
Internet stellen.</p></p>
<p>Ich bin echt etwas aufgeregt, aber gleichzeitig total gluecklich.<br /><br />
Liebe Gruesse,<br /><br />
Lilly</p></blockquote></p>
