---
layout: post
status: publish
published: true
title: Perfect
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 105
wordpress_url: http://blog.moerssl.net/2007/01/28/perfect/
date: '2007-01-28 01:22:40 +0100'
date_gmt: '2007-01-28 00:22:40 +0100'
categories:
- newstime
tags: []
comments:
- id: 71
  author: cate
  author_email: sklavejesus@web.de
  author_url: http://missionfreak.blogspot.com
  date: '2007-01-31 01:53:16 +0100'
  date_gmt: '2007-01-31 00:53:16 +0100'
  content: mmmm... gilmore girls..
---
<p>Der Refrain dieses Liedes h&auml;ngt mir schon den ganzen Tag im Ohr:</p></p>
<p>[youtube mKtVuiGtwiY]</p></p>
<p>Ich hab dazu auch schon ma was <a href="http://blog.moerssl.net/2006/07/17/truth-can-be-painful/">geschrieben.</a></p></p>
