---
layout: post
status: publish
published: true
title: Alina und Merle
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 150
wordpress_url: http://blog.moerssl.net/2007/08/30/alina-und-merle/
date: '2007-08-30 00:55:55 +0200'
date_gmt: '2007-08-29 22:55:55 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Alina, so hei&szlig;t meine Gro&szlig;cousine. Merle, so hei&szlig;t die Tochter vom <a href="http://wegbegleiter.wordpress.com/" target="_blank">Wegbegleiter Christof Lenzen</a>. Christofs Blog lese ich seit kurzem. Vor ein paar Tagen konnte man <a href="http://wegbegleiter.wordpress.com/2007/08/21/eine-kleine-amsel-ist-geboren/" target="_blank">folgendes</a> auf seinem Blog lesen:</p>
<blockquote><p>Nun ist es geschafft - unser zweites Kind ist auf der Welt. Und Ole hat eine kleine Schwester, Merle Lydia - Merle hei&szlig;t Amsel und wir w&uuml;nschen uns, dass sie irgendwann ganz fr&ouml;hlich und unbeschwert ihr Lebenslied nach Gottes Melodie pfeifen kann.</blockquote><br />
Merle, nur wenige Tage alt, muss in ihrem Leben allerdings schon so einiges durchmachen. Die &Auml;rzte stellten fest, dass Merle ein Loch in der Herzscheidewand hat. <a href="http://wegbegleiter.wordpress.com/2007/08/27/merle-geht-es-sehr-schlecht/" target="_blank">Sp&auml;ter</a> stellt sich heraus, dass ihr eine Herzklappe fehlt. Sie wird demn&auml;chst am Herzen operiert werden m&uuml;ssen.</p>
<p>Als ich die Zeilen von Christof las, fiel mir ein, was meine Gro&szlig;cousine am Anfang ihres Lebens durchstehen musste: Alina kommt im Juli 2005 zur Welt - 2 Monate eher als geplant. Als Fr&uuml;hchen muss sie in den Brutkasten. 2 Wochen nach ihrer Geburt ziehe ich nach Bremen um, bekomme das alles nur am Telefon mit. Die Wochen vergehen - mittlerweile ist es November. Da bekomme ich einen Anruf von meiner Ma. In Tr&auml;nen aufgel&ouml;st erz&auml;hlt sie mir, dass bei der kleinen Alina ein Gehirntumor festgestellt wurde und sie Ende der Woche operiert werden muss. Ich war total geschockt. Man konnte mich f&uuml;r mehrere Tage nicht gebrauchen. Zusammen mit guten Freunden, im Hauskreis und auch mit der gesamten Gemeinde haben wir dann f&uuml;r das kleine M&auml;dchen gebetet. Die OP am Gehirn verlief ohne Komplikationen, die &Auml;rzte konnten alle Zellen des Tumors entfernen. In der darauf folgenden Woche ging es mit Alina einigerma&szlig;en bergauf. Bei einer Nachuntersuchung stellten die &Auml;rzte fest, dass Alinas Bauch voll Wasser war. Den &Auml;rzten fehlte jegliche Erkl&auml;rung - Alina musste erneut operiert werden. Auch diese OP verlief ohne Zwischenf&auml;lle.</p>
<p>Alina blieb noch mehrere Monate im Uniklinikum in Dresden zur Beobachtung, kam anschlie&szlig;end zur Physiotherapie. Mittlerweile kann die Kleine laufen und brabbelt so, wie jedes andere Kind. Den R&uuml;ckstand, den sie durch den Aufenthalt im Krankenhaus erlitten hat, hat sie mittlerweile aufgeholt.</p>
<p>Gott hat bei Alina eingegriffen und geholfen. Ich bete daf&uuml;r, dass er es auch bei Merle tut. Er hat es einmal getan. Ich denke er tut es wieder. Gott ist gro&szlig;!</p>
