---
layout: post
status: publish
published: true
title: Soundso Teil 2
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 149
wordpress_url: http://blog.moerssl.net/2007/08/21/soundso-teil-2/
date: '2007-08-21 13:28:59 +0200'
date_gmt: '2007-08-21 11:28:59 +0200'
categories:
- newstime
tags: []
comments:
- id: 90
  author: Simone
  author_email: rueslimiegel@freenet.de
  author_url: ''
  date: '2007-08-21 22:45:15 +0200'
  date_gmt: '2007-08-21 20:45:15 +0200'
  content: Da gehts mir &auml;hnlich wie dir. Jedesmal, wenn ich das Lied im Radio
    h&ouml;r, f&auml;llt mir die Predigt ein, und dann krieg ichs tagelang nicht mehr
    aus dem Kopf...
---
<p>Aufm Freakstock war das Lied "Soundso" von Wir sind Helden das Introlied f&uuml;r ne Predigt. Die Predigt ist so ein bisschen auch mit daf&uuml;r verantwortlich, dass mir dieses Lied nicht mehr aus dem Kopf geht.</p>
<p>Mittlerweile hab nich nen Link zu dieser Predigt gefunden: <a href="http://freakstock.de/wp-content/files/03_Freakstock_2007-Henni_Stoppel-Lass_Dich_versoehnen_mit_Dir_selbst.mp3" target="_blank">Hier isser</a></p>
<p>Und hier nochmal das Lied zur Predigt, auch wenns nun doppelt ist ;). Am besten h&ouml;rt ihr euch erst das Lied nochmal an und h&ouml;rt dann die Predigt.</p>
<p>[youtube _LbEeM7hUSg]</p>
