---
layout: post
status: publish
published: true
title: Gro&szlig; du bist!
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 112
wordpress_url: http://blog.moerssl.net/2007/03/11/gros-du-bist/
date: '2007-03-11 23:55:40 +0100'
date_gmt: '2007-03-11 22:55:40 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Ich habe in den letzten beiden Wochen zusammen mit Joachim die Star Wars Reihe gesehen. Eine Szene aus dem 4. Teil ist mir im Ged&auml;chtnis h&auml;ngen beblieben:</p>
<p>Der junge Luke Skywalker die Order bekommen, auf einem Planeten nach dem Jedi-Meister Yoda zu suchen. Als er mit seinem Schiff auf dem Planeten ankommt und in einem See landet, trifft er auf dieses kleine Fig&uuml;rchen. Die beiden reden miteinander, Luke sagt ihm, dass er keine Zeit habe, sich mit ihm zu unterhalten, da er sich auf der Suche nach einem gro&szlig;en Krieger befinde, der Yoda hei&szlig;t. Der kleine Gr&uuml;ne springt darauf an und meint, dass er Luke zu Yoda bringen k&ouml;nnte. Und so begeben sich die beiden zusammen auf Tour. Sie landen im Haus des Gr&uuml;nen, wo sie erst einmal essen.</p>
<p>Luke dr&auml;ngt darauf endlich diesen Yoda kennen zu lernen. Er hat nicht geschnallt, dass dieser kleine Gr&uuml;ne in Wirklichkeit die Person ist, die er sucht. Yoda mag zwar nicht von gro&szlig;er Statur sein, doch die Macht, die er hat, ist enorm. Yoda belehrt Luke dar&uuml;ber, dass es nicht auf das ankommt, was man sieht.</p>
<p>Und so kommt es auch in unseren Leben nicht darauf an, wie gro&szlig; wir sind. Es ist wichtig zu wissen, wie Gott uns sieht und nicht, was andere Menschen oder manchmal auch wir selbst von uns denken.</p>
<blockquote><p>Ein Mensch sieht, was vor Augen ist; der HERR aber sieht das Herz an.<br />
1. Samuel 16:7</blockquote><br />
Es kommt darauf an, was wir in unsren Herzen haben. Gott kennt unsere Herzen, er kennt uns in- und auswendig.</p>
<blockquote><p>Die Liebe Gottes ist ausgegossen in unsere Herzen.<br />
R&ouml;mer 5:5</blockquote><br />
Er hat uns gemacht, er hat uns gewollt. Er wei&szlig;, wie es um uns steht. Und es ist egal, wie gro&szlig; du dich f&uuml;hlst. Du kannst dich so gro&szlig; f&uuml;hlen, wie Yoda es von der Statur her ist, aber Gott wei&szlig; auch, dass du in Wirklichkeit viel gr&ouml;&szlig;er bist. Er wei&szlig;, was er in dich reingelegt hat und das sollst und kannst du benutzen.</p>
