---
layout: post
status: publish
published: true
title: Wedding Cakes
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 128
wordpress_url: http://blog.moerssl.net/2007/04/15/wedding-cakes/
date: '2007-04-15 12:07:02 +0200'
date_gmt: '2007-04-15 10:07:02 +0200'
categories:
- newstime
tags: []
comments:
- id: 80
  author: David
  author_email: david.stein@compass-infodienst.de
  author_url: http://www.compass-infodienst.de
  date: '2007-04-15 18:40:10 +0200'
  date_gmt: '2007-04-15 16:40:10 +0200'
  content: |-
    Die sehen sehhhhhrrrrrrrr lecker aus, mhhhh und jetzt so ein st&uuml;ckchen davon.
    Einen sch&ouml;nen sonnigen Sonntag.
    Beste Gr&uuml;&szlig;e David
- id: 81
  author: David
  author_email: david.stein@compass-infodienst.de
  author_url: http://www.compass-infodienst.de
  date: '2007-04-15 18:41:32 +0200'
  date_gmt: '2007-04-15 16:41:32 +0200'
  content: |-
    Finde ich echt Klasse.
    Wenn man sich untereinander versteht.
    Die Kuchen sehen lecker aus.
    David
---
<div style="text-align: center"><img src="http://bp2.blogger.com/_SEFEfFK1KEk/RiBxEZi7UAI/AAAAAAAAAPQ/aA3zWrq-68M/s400/weddingcake.gif" /></div></p>
<div align="left" style="text-align: center">Die ganzen Kuchen wurden von Uli und Lillys Mama in Kellys K&uuml;che gebacken. Sind sie nicht wundervoll?</div></p>
