---
layout: post
status: publish
published: true
title: Flieg, kleine Raupe
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 123
wordpress_url: http://blog.moerssl.net/2007/04/05/flieg-kleine-raupe/
date: '2007-04-05 09:34:24 +0200'
date_gmt: '2007-04-05 07:34:24 +0200'
categories:
- newstime
tags: []
comments: []
---
<p><img height="168" alt="Eine kleine gr&uuml;ne Raupe, die auf meiner Hand langkrabbelt" hspace="10" src="http://blog.moerssl.net/wp-content/uploads/2007/04/raupeaufmeinerhand.jpg" width="225" align="right" vspace="10" /></p></p>
<p>Eben noch lag ich aufm Sofa und war um Inbegriff zu schlafen. Dann st&ouml;rte mich jener gr&uuml;ner Streifen, den ich versucht habe zu fotografieren. Ich hoffe, ihr k&ouml;nnt erkennen, was das ist. Es ist eine Raupe.</p></p>
<p>Dieser "Vorfall" hat mich an einen <a title="Zum Fliegen geschaffen" href="http://melly.blogspirit.com/archive/2006/04/24/zum-fliegen-geschaffen.html" target="_blank">Blogeintrag von Melly</a> erinnert, der schon eine ganze Weile zur&uuml;ckliegt. Ich hab den hier auch schon several times (mir f&auml;llt der deutsche Ausdruck nich ein ;-) )  verlinkt. Dann wird dieses eine Mal auch nicht schaden.</p></p>
<p>Lest euch den Eintrag mal durch. Der ist sehr ermutigend, wirklich. Jedenfalls gehts in dem Beitrag zum Schluss darum, dass Gott uns "zum Fliegen geschaffen hat." Aber wenn wir am Anfang unseres Glaubenslebens stehen - und das muss ich mal sagen is bei mir ja noch der Fall ;-) (hatte vor kurzem mein Zweij&auml;hriges) - brauchen wir uns nicht selbst runtermachen, weil manche Dinge noch nicht so laufen, wie sie es sollten. Wir sollen darauf vertrauen, dass Gott uns liebt und einen Haufen an Gnade f&uuml;r uns &uuml;ber hat, weil wir seine Kiddies sind. Nach ner Weile is aus der Raupe dann ein Schmetterling geworden, der fliegt. Aber zwischen der Raupe und dem Schmetterling liegt noch das Stadium der Verpuppung. Soweit ich wei&szlig; ist das das Stadium, in dem die Raupe rein gar nix machen kann, au&szlig;er warten. Sie hat sich eingekapselt, von au&szlig;en erkennt am rein gar nix.</p></p>
<p>Eine solche verpuppte Raupe sieht von au&szlig;en sicher nicht sehr ansprechend aus, aber im inneren des Cokons (keine Ahnung, wie das geschrieben wird) reift das kleine gr&uuml;ne Teil zu einem sch&ouml;nen Schmetterling heran. Ich finde, dass das Jesu Art uns zu ver&auml;ndern beschreibt. Er wirkt IN uns - in unserem Inneren. Mit der Zeit werden dann immer mehr "jesusm&auml;&szlig;ige" Dinge in unserem Leben nach au&szlig;en kommen - sie werden den Cokon durchbrechen und sichtbar werden. Manche Dinge fr&uuml;her, manche sp&auml;ter - aber es wird geschehen.</p></p>
<p>Auf jeden Fall werden wir fliegen, denn daf&uuml;r sind wir geschaffen!</p></p>
<p>Hier nochmal ein Zitat aus Mellys Post:</p></p>
<blockquote>
<p>Jedermann wei&szlig;, das sich Raupen am Ende in Schmetterlinge verwandeln. Aber zun&auml;chst sind sie definitiv Raupen. Sie k&ouml;nnen nicht fliegen. Sie bewegen sich sehr langsam. [...] Wenn du deinen geistlichen Weg mit mir beginnst, dann gebe ich dir das Versprechen, dass du geistlich reif wirst, Heilung und Ganzheit erf&auml;hrst. Aber so weit bist du noch nicht. Geistlich gesehen bist du noch immer eine Raupe. Also h&ouml;r auf, dich selbst daf&uuml;r zu bestrafen, das du noch nicht vollkommen bist, und bleibe auf dem Weg zu der Verhei&szlig;ung. Ich habe dich zum Fliegen erschaffen, aber das ist ein Prozess, der Zeit, Geduld und eine Menge Gnade erfordert.</p></p>
<p>aus "E-mail von Gott"</p></blockquote></p>
