---
layout: post
status: publish
published: true
title: 'Gefunden: Rum&auml;ne verklagt Gott: &raquo;Betrug, Vertrauensbruch und Korruption&laquo;'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 144
wordpress_url: http://blog.moerssl.net/2007/07/13/gefunden-rumaene-verklagt-gott-betrug-vertrauensbruch-und-korruption/
date: '2007-07-13 18:38:42 +0200'
date_gmt: '2007-07-13 16:38:42 +0200'
categories:
- newstime
tags: []
comments: []
---
<br />
<blockquote><p>Mit der Begr&uuml;ndung, dass er w&auml;hrend seiner Taufe einen Vertrag mit dem Beschuldigten eingegangen sei, der ihm vor dem B&ouml;sen bewahren solle, verklagte der Rum&auml;ne Mircea Pavel niemand geringeren als Gott wegen &bdquo;Betrugs, Vertrauensbruchs und Korruption&ldquo;.</p>
<p>Nach Ansichten des 40-j&auml;hrigen, der eine 20-j&auml;hrige Haftstrafe wegen Mordes absitzt, habe Gott den Vertrag nicht eingehalten, obwohl er im Gegenzug von ihm &bdquo;verschiedene G&uuml;ter und zahlreiche Gebete&ldquo; bekommen habe. Seine Klage richtete Pavel gegen &bdquo;den Genannten Gott, wohnhaft im Himmel und in Rum&auml;nien vertreten durch die orthodoxe Kirche&ldquo;.</p>
<p>Wie die Zeitung &bdquo;Evenimentul Zilei&ldquo; am Mittwoch berichtete, hat das Gericht in Rum&auml;nien nun die Klage abgewiesen. Gott sei &bdquo;keine juristische Person&ldquo; und habe &bdquo;keine Adresse&ldquo;, so die Begr&uuml;ndung der Staatsanwaltschaft in der westrum&auml;nischen Stadt Timisoara.<br />
(DN)</p>
<p>Quelle: Jesus.de</blockquote><br />
Sachen gibts... ;-)</p>
