---
layout: post
status: publish
published: true
title: M&ouml;r&szlig;l allein zu haus ODER Die Woche des Umzuges
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 142
wordpress_url: http://blog.moerssl.net/2007/07/01/moerssl-allein-zu-haus-oder-die-woche-des-umzuges/
date: '2007-07-01 19:32:15 +0200'
date_gmt: '2007-07-01 17:32:15 +0200'
categories:
- newstime
tags: []
comments:
- id: 86
  author: Tina
  author_email: mifell@gmx.net
  author_url: ''
  date: '2007-07-02 22:02:24 +0200'
  date_gmt: '2007-07-02 20:02:24 +0200'
  content: |
    <p>Mensch, in Bremen ist ja mal richtig was los... Wenn auch teilweise recht trauriges.Ich w&uuml;nsche euch ein sch&ouml;nes zusammenleben mit den beiden "Neuen" und hoffe auf noch detailliertere Beschreibungen des Offenbar Abgangs!<br />
    Ganz ganz liebe Gr&uuml;&szlig;e nach Bremen<br />
    Tina</p>
---
<p>Nun haben wir Juli. Das hei&szlig;t so vieles hier in Bremen. Die vergangene Woche war die letzte der offen:bar. Unseren letzten Godi in der Kneipe hatten wir schon am vergangenen Sonntag gefeiert. Am Dienstag gabs das letzte All-You-Can-Eat. Uli und ich hatten da die G&auml;ste bekocht. Am Mittwoch war dann die gro&szlig;e offen:bar-Abschiedsparty. Viele Leute aus den vergangenen 6 Jahren, in denen die Kneipe bestand, waren gekommen um nochmal in der Kneipe ein letztes Steak zu essen oder ein letztes Bier zu trinken. Donnerstag und Freitag wurden dann dazu genutzt, die Kneipe auszur&auml;umen und die letzten Sachen mit den Nachp&auml;chtern zu kl&auml;ren. Am Sonnabend haben dann zusammen mit den offen:bar-Mitarbeitern einen Abschiedsgottesdienst gefeiert. Da wir nicht mehr in die Kneipe konnte - der Schl&uuml;ssel war schon &uuml;bergeben - feierten wir in einem Gemeinschaftsraum auf der gegen&uuml;berliegenden Stra&szlig;enseite.</p>
<p>Es ist schon ein komisches Gef&uuml;hl zu realisieren, dass diese Kneipe, dieser Anlaufspunkt, nun nicht mehr besteht. Gestern abend bin ich nochmal an der Kneipe gewesen, da ich mein Fahrrad noch da hatte. Seltsam da fremde Menschen hinter dem Tresen stehen zu sehen. Im Schaufenster stand die Tafel, auf der wir sooft einen Spruch drauf hatten, um zum Godi einzuladen. Nun stand da drauf: "Schwarzer Hermann kommt zur&uuml;ck. Bald". (Die Kneipe hie&szlig; "Schwarzer Hermann" bevor das offen:bar-Team den Betrieb &uuml;bernommen hatte.)</p>
<p>Heute war dann nocheinmal ausr&auml;umen angesagt. Diesmal aber nicht die Kneipe, sondern das Hoffnungshaus. Genauer gesagt das Zimmer von Corcken. Der zieht ja aus und hier ist es ebenso ein komisches Gef&uuml;hl. Auf einen SchLag sind 2 Bewohner raus aus dem Haus und im Moment bin ich hier allein im ganzen Haus. Seltsam, aber auch spannend diese Dinge zu beobachten. Sachen gehen zu ende. Neue Sachen beginnen. Kai zieht ja nun ein. Bin mal auf die kommenden Monate gespannt, und wie sich die ganze Sache mit den Freaks hier in Bremen entwickelt.</p>
