---
layout: post
status: publish
published: true
title: Garantie
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 111
wordpress_url: http://blog.moerssl.net/2007/03/06/garantie/
date: '2007-03-06 23:24:49 +0100'
date_gmt: '2007-03-06 22:24:49 +0100'
categories:
- newstime
tags: []
comments:
- id: 73
  author: Sibe
  author_email: sibe@jesusfreaks.ch
  author_url: http://sibeletti.blogspot.com
  date: '2007-03-07 15:39:11 +0100'
  date_gmt: '2007-03-07 14:39:11 +0100'
  content: happy birthday... :-)
- id: 74
  author: Lobprice
  author_email: Iris@new-island.de
  author_url: ''
  date: '2007-03-07 20:57:12 +0100'
  date_gmt: '2007-03-07 19:57:12 +0100'
  content: Happy Birthday, M&ouml;r&szlig;l :-)!
---
<p>Wenn ich mich nicht total t&auml;usche ist es in Deutschland doch so, dass auf Elektroger&auml;te und so eine Garantie von 2 Jahren gew&auml;hrt wird. W&uuml;rde das auch auf mein Christsein zutreffen, so w&auml;re mit dem heutigen Tag die Garantie abgelaufen:</p></p>
<p>Wir schreiben das Jahr 2005. Es ist der erste Sonntag im M&auml;rz. Der 6. M&auml;rz, 8 Uhr morgens um genau zu sein. &Uuml;ber Nacht hat es geschneit. Als ich aufstehe liegen 15cm Schnee. Es ist ein Morgen, auf den ich mich die ganze Woche &uuml;ber gefreut habe. Ich bin n&auml;mlich zu einem Gottesdienst eingeladen. In knapp einer 3/4 Stunde werde ich von Anke, einer Klassenkameradin, abgeholt und wir fahren gemeinsam zum St. Benno Gymnasium nach Dresden, wo die Jesusgemeinde ihren Gottesdienst feiert.</p></p>
<p>Anke war es, die mich zu diesem Gottesdienst eingeladen hatte. Ich wollte mir dieses "Schauspiel" mal ansehen. Als ich meinen Eltern von meinem Vorhaben berichtete bekam ich zu allererst den Satz "Pass blo&szlig; auf, dass du da in keine Sekte ger&auml;tst!" zu h&ouml;ren. Die Warnung hab ich zur Kenntnis genommen, allerdings nicht allzu sehr beachetet, weil ich mir einfach nicht vorstellen konnte, dass es Anke in eine Sekte verschl&auml;gt.</p></p>
<p>Anke und ich fahren also gen Dresden - durch unsere verschneite K&auml;fferlandschaft. Der Winterdienst hat inzwischen ger&auml;umt.<br /><br />
Auf der Fahrt nach Dresden werde ich von meiner Klassenkameradin noch ein bisschen vorbereitet, sodass ich nicht gleich ganz verst&ouml;rt den Gottesdienstraum verlasse. Einige der Anwesenden w&uuml;rden w&auml;hrend des Singens die H&auml;nde heben usw.</p></p>
<p>Bei diesem Besuch wurden einige meiner Vorurteile aufgehoben. Der Gottesdienst der Jesusgemeinde fand und findet nicht in einer Kirche statt, sondern einer Turnhalle. Statt Orgelmusik gibt es zeitgem&auml;&szlig;e Musik mit E-Gitarre, Schlagzeug und so weiter. Die Leute hier scheinen Spa&szlig; daran zu haben, in den Gottesdienst zu gehen. Aus meiner Konfirmandenzeit wei&szlig; ich noch, dass es immer voll frustig war Sonntags in die Kirche zu gehen, nur um seine Punkte abzuholen. Hier schien das anders zu sein.</p></p>
<p>In der Lobpreiszeit ist es der Text eines Liedes, der mich sehr ber&uuml;hrt. Es ist eines der Standartlieder in freikirchlichen Kreisen - "Blessed Be Your Name" von Matt Redman, f&uuml;r den Gro&szlig;teil der Besucher freundlicherweise ins Deutsche &uuml;bersetzt. Folgende Passage hat mich zum Nachdenken gebracht:</p></p>
<blockquote>
<p>You give and take away<br /><br />
You give and take away<br /><br />
(But) My heart will choose to say<br /><br />
Lord, Blessed be Your name</p></p>
<p>Du gibst und nimmst mein Gott<br /><br />
Du gibst und nimmst mein Gott<br /><br />
Doch mein Herz schreit zu dir:<br /><br />
Gepriesen sei dein Nam'</p></blockquote></p>
<p>Diese Stelle wird - wie der Rest des Liedes - von der gesamten Gemeinde laut mitgesungen. Daraufhin muss ich mich ersteinmal setzen und nachdenken. Ich wei&szlig;, dass es bei mir in der Geschichte meiner Familie so die eine oder andere Begebenheit gab, wo Leute diese Verse nicht ehrlich h&auml;tten singen k&ouml;nnen. Also f&uuml;hre ich in etwa das folgende gedankliche Selbstgespr&auml;ch: "Wenn diese Leute dieses Lied aus voller Kehle und ehrlich singen k&ouml;nnen, dann muss an diesem Glauben was dran sein. Und dann willst du genauso glauben wie diese Leute!" F&uuml;r mich stand zu diesem Zeitpunkt fest, dass ich zumindest am darauf folgenden Sonntag wieder in diesen Gottesdienst gehen w&uuml;rde.</p></p>
<p>Nachdem Anke mich wieder zu hause abgesetzt hat, ziehe ich mich in mein Zimmer zur&uuml;ck. Von irgendwo her suche ich mir eine Bibel, um darin mehr &uuml;ber Gott und Jesus zu erfahren. Eine Taktik habe ich dabei nicht. Ich lese hier mal etwas aus einem Evangelium, dann da was aus den Psalmen. Wie lange das so geht, wei&szlig; ich nicht. Ich wei&szlig; nur eines. Als ich die Bibel dann zuklappe und beiseite lege, bekomme ich auf einmal das Gef&uuml;hl, dass ich beten soll. In diesem Gebet &uuml;bergebe ich Jesus mein Leben.</p></p>
<p align="center">[youtube XCVwRK5nsUo]</p></p>
