---
layout: post
status: publish
published: true
title: Die kleinen Dinge
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 138
wordpress_url: http://blog.moerssl.net/2007/06/21/die-kleinen-dinge/
date: '2007-06-21 19:32:36 +0200'
date_gmt: '2007-06-21 17:32:36 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ja, ich lebe noch und hab auch mal wieder was zu melden hier. Die Sache, die es heute zu berichten gibt, ist sogar noch ziemlich frisch. So grade mal eine Stunde alt:<br />
Ich war eben noch in der Firma. Auf einmal steht unser Netzwerkadministrator in der T&uuml;r und vermeldet, dass er nun geht. Das ist f&uuml;r meine aktuelle Situation ein wenig doof, da er der einzige in der Firma war, der noch einen Schl&uuml;ssel f&uuml;r die Firma hatte. Die anderen mit Schl&uuml;ssel waren alle schon gegangen. Kurz zum Verst&auml;ndis. Bei uns wurden vor kurzem die Schl&ouml;sser ausgetauscht und es hat noch nicht jeder einen neuen Schl&uuml;ssel. Deshalb m&uuml;ssen sich die Leute absprechen, wer wann geht, damit unsere Alarmanlage noch scharfgeschaltet wird usw.<br />
Dummerweise hatte ich zu dem Zeitpunkt, als unser Admin in der T&uuml;r stand, aber noch eine Installation einer Software am laufen und es sah so aus, als w&uuml;rde die noch eine Weile brauchen. OK. Ich hatte schon mit dem Gedanken gespielt den Rechner bis zum n&auml;chsten Tag laufen zu lassen... Aber da waren ja auch noch die Putzleute. Man h&auml;tte also auch mit denen anhauen k&ouml;nnen. Die haben n&auml;mlich auch nen Schl&uuml;ssel - hatte sich herausgestellt. Nun, diese L&ouml;sung angenommen. Jetzt musste nur noch meine Installation schnell fertig werden und ich k&ouml;nnte dann mit den Putzleuten raus..</p>
<p>Das &Auml;rgerliche an der Sache war, dass ich zwar noch rechtzeitig aus der Firma rauskam. Das Ergebnis der Installation war allerdings ein Fehler und die Installation unvollst&auml;ndig. Die ganze Sache mit dem unvorhergesehenen Aufbruch und der misslungenen Installation hat mich sowas von aufgeregt...</p>
<p>Zu hause angekommen, wollte ich mich einfach nur noch abreagieren. Aber dann dachte ich mir, dass das nicht DIE L&ouml;sung sein konnte. Ich hab mich dann f&uuml;r vielleicht 5 Minuten ins Gebet zur&uuml;ckgezogen. Hab Gott gebeten, diese Aggressionen, die ich wegen Kleinigkeiten hatte (das muss man sich mal &uuml;berlegen, wor&uuml;ber ich mich da aufgeregt hab ;-) ), zu nehmen, hab die ganze Situation nochmal an ihn abgegeben und die schei&szlig; Laune war weg.</p>
<p>Ich will jetzt nicht sagen, dass das das Allheilmittel ist, aber da wir ja so zu Gott kommen k&ouml;nnen, wie wir sind, k&ouml;nnen wir das auch machen. Auch wenn wir grad schlecht gelaunt und / oder aggressiv sind. Vielleicht sind es gerade diese Situationen, in denen wir uns ins Gebet fl&uuml;chten sollten, anstatt und mit irgendwelchen Dingen abzulenken.</p>
<p>So. Und jetzt greif ich mir zum kr&ouml;nenden Abschluss selber an die Nase...</p>
