---
layout: post
status: publish
published: true
title: Freitag, 19h -> Eine Ode an die Arbeit
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 156
wordpress_url: http://blog.moerssl.net/2007/11/02/freitag-19h-eine-ode-an-die-arbeit/
date: '2007-11-02 18:54:57 +0100'
date_gmt: '2007-11-02 17:54:57 +0100'
categories:
- newstime
tags: []
comments:
- id: 92
  author: anja
  author_email: anjafeierabend@gmx.net
  author_url: ''
  date: '2008-01-20 14:16:24 +0100'
  date_gmt: '2008-01-20 13:16:24 +0100'
  content: das labyrinth oder kaputt - lied ist viel sch&ouml;ner!
---
<p>Aus aktuellem Anlass:</p>
<p>[youtube hWEk3FYyrNo]</p>
<p>Oder sollte da lieber das Bruttosozialprodukt stehen.</p>
<p>Quelle des Videos: <a href="http://youtube.com/watch?v=hWEk3FYyrNo" title="Ode an die Arbeit">http://youtube.com/watch?v=hWEk3FYyrNo</a></p>
