---
layout: post
status: publish
published: true
title: Hoffnungshaus International
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 139
wordpress_url: http://blog.moerssl.net/2007/06/26/hoffnungshaus-international/
date: '2007-06-26 08:47:01 +0200'
date_gmt: '2007-06-26 06:47:01 +0200'
categories:
- newstime
tags: []
comments:
- id: 84
  author: Simone
  author_email: rueslimiegel@freenet.de
  author_url: ''
  date: '2007-06-26 20:34:06 +0200'
  date_gmt: '2007-06-26 18:34:06 +0200'
  content: |-
    Hi du,
    genau deswegen hab ich dir heut nachmittag ne Mail geschrieben an die jesusfreaks-bremen-Adresse. Guck mal rein.
- id: 85
  author: cate
  author_email: que_tea@hotmail.com
  author_url: http://missionfreak.blogspot.com
  date: '2007-06-30 00:09:57 +0200'
  date_gmt: '2007-06-29 22:09:57 +0200'
  content: "gut zu wissen, danke.\n:-) erleichterung! \nich bin grad in zagreb!!!
    endlich hab ich es nach croatian geschafft!!!!!"
---
<p>Wir Hoffnungsh&auml;usler, wie wir von <a href="http://zwischenwelten.de.tp" title="Zwischenweltem" target="_blank">Melly</a> genannt werden, sind ja schon ne ganze Weile auf der Suche nach Nachmietern. Lilly war ja bereits im Februar ausgezogen - f&uuml;r sie war Silke als Zwischemieterin eingezogen. Nun zieht Silke zum 1. Juli wieder aus, genauso wie Corcken.</p>
<p>Wir hatten nun 2 Zimmer frei und suchten nach neuen Bewohnern. Neuer Mitbewohner Nummer 1 ist Kai. Auf der Suche nach dem 2. hatten wir bei bremen.de eine Anzeige geschaltet, auf die anfangs niemand reagierte. Daraufhin brachten wir noch eine Anzeige am Schwarzen Onlinebrett an - 5 Minuten sp&auml;ter hatten wir eine Antwort.</p>
<p>Der Absender war Josef. Er hat sich Corcken Zimmer am Sonntag angesehen und er ist unser Zwischenmieter bis Mitte September.</p>
<p>Aber was ist nun daran International? Naja. Alle Mieter im Hoffnungshaus kommen urspr&uuml;nglich aus unterschiedlichen Nationen:</p>
<p>- Cate aus den USA<br />
- Kai aus S&uuml;dafrika<br />
- Youssef aus Marokko<br />
- und ich aus Sachsen ;-)</p>
<p>Nichtsdestotrotz sind wir immer noch auf der Suche nach einem festen Nachmieter. Denn ab September brauchen wir wieder einen. Bei Interesse und / oder Fragen k&ouml;nnt ihr hier einfach nen Kommentar schreiben oder mir ne Mail schicken (blog at moerssl dot net).</p>
