---
layout: post
status: publish
published: true
title: 50% und alles ist komplett!
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 110
wordpress_url: http://blog.moerssl.net/2007/02/28/50-und-alles-ist-komplett/
date: '2007-02-28 14:29:34 +0100'
date_gmt: '2007-02-28 13:29:34 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Ist es nicht einfach sch&ouml;n, wenn Dinge einfach erledigt sind?</p></p>
<p>Mit dem heutigen Tag beginnt die 2. H&auml;lfte meiner Ausbildung zum Fachinformatiker. Heut morgen 8h habe ich meine Zwischenpr&uuml;fung geschrieben. Nach einer Dauer von etwa zwei Stunden war ich auch damit fertig. Und selbst wenn ich nicht fertig gewesen w&auml;re, h&auml;tte ich abgeben m&uuml;ssen...</p></p>
<p><img height="168" alt="DSC01569" src="http://blog.moerssl.net/wp-content/uploads/2007/02/dsc01569-1.jpg" width="225" align="left" />Mit dem heutigen Tag ist alles komplett, was ich Ende M&auml;rz f&uuml;r den Flug nach Texas brauche. Der Flug war schon eine geraume Zeit bezahlt, das Ticket hatte ich auch schon ne Weile. Was noch fehlte war der biometrische Reisepass. Den habe ich heute nach der Pr&uuml;fung abgeholt. :D</p></p>
<p>&nbsp;</p><br />
<a href="http://blog.moerssl.net/wp-content/uploads/2007/02/dsc01569.jpg"></a> </p>
