---
layout: post
status: publish
published: true
title: CODEGEIST
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 137
wordpress_url: http://blog.moerssl.net/2007/06/05/codegeist/
date: '2007-06-05 10:53:23 +0200'
date_gmt: '2007-06-05 08:53:23 +0200'
categories:
- newstime
tags: []
comments:
- id: 83
  author: Michi
  author_email: Michael.Laun@carfi.ch
  author_url: http://www.carfi.ch
  date: '2007-06-19 12:33:10 +0200'
  date_gmt: '2007-06-19 10:33:10 +0200'
  content: |-
    Herzlichen Gl&uuml;ckwunsch, das Ergebnis kann sich echt sehen lassen.
    Michi
---
<p>Ich hatte im Februar f&uuml;r die HEC, meinen Ausbildungsbetrieb, ein Plugin f&uuml;r unser Bugtrackingsystem SKAI bzw. JIRA geschrieben. Das Plugin hei&szlig;t <a href="http://confluence.atlassian.com/display/JIRAEXT/Ji-QA+-+JIRA+Quick+Access" title="Ji-QA - JIRA Quick Access Englische Dokumentation" target="_blank">Ji-QA</a></p>
<p>Im April wurde von Atlassian, der Firma, die JIRA vertreibt ein Wettbewerb f&uuml;r Plugins - CODEGEIST - f&uuml;r ihre Software ausgeschrieben. Ich habe mit Ji-QA an diesem Wettbewerb teilgenommen.</p>
<p>Heute habe ich eine Email von Atlassian in meinem Postfach gehabt, in der mir mitgeteilt wurde, dass die Ergebnisse des Wettbewerbs feststehen. Ich mach mich also auf, um die <a href="http://confluence.atlassian.com/display/CODEGEIST/JIRA+Entries" title="Ergebnisse CODEGEIST" target="_blank">Ergebnisse</a> einzusehen: Ich bin mit Ji-QA auf dem 7. von 15 Pl&auml;tzen gelandet. Ich hab mich gefreut.</p>
<p>EDIT: Mit diesem Eintrag wird mein Blog dreistellig. Das ist der hunderste.</p>
