---
layout: post
status: publish
published: true
title: Vivis Psalm
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 98
wordpress_url: http://blog.moerssl.net/2006/12/12/vivis-psalm/
date: '2007-06-01 01:10:11 +0200'
date_gmt: '2007-05-31 23:10:11 +0200'
categories:
- newstime
tags: []
comments: []
---
<br />
<blockquote><p>Nimm diese Last<br />
von meinen Schultern<br />
denn ich will fliegen<br />
Oh mach mich frei!<br />
Nimm diese Last<br />
von meinen Schultern<br />
denn ich will aufstehn<br />
und mit dir gehn.Denn diese Schatten<br />
dr&uuml;cken mich zu Boden<br />
und das Vergangene<br />
h&auml;lt mich zur&uuml;ck.</p>
<p>Nimm diese Last<br />
von meinen Schultern<br />
denn ich will fliegen<br />
Oh mach mich frei!<br />
Nimm diese Last<br />
von meinen Schultern<br />
denn ich will aufstehn<br />
und mit dir gehn.</p>
<p>Denn diese Trauer<br />
saugt mich aus<br />
denn diese L&uuml;gen<br />
sind mein Tod.</p>
<p>Nimm diese Last<br />
von meinen Schultern<br />
denn ich will fliegen<br />
Oh mach mich frei!<br />
Nimm diese Last<br />
von meinen Schultern<br />
denn ich will aufstehn<br />
und mit dir gehn.</p>
<p>Du hast gesprochen<br />
es ist versprochen<br />
ich will dir glauben<br />
ich glaube dir.</p>
<p>du gibst mir Freude<br />
drum bin ich froh<br />
du gibst mir Fl&uuml;gel<br />
ich flieg mit dir<br />
du nimmst die Last<br />
von meinen Schultern<br />
du nimmst die Last<br />
und machst mich frei</blockquote><br />
Gefunden bei <a href="http://pimbcm.blogspot.com/2006/12/vivis-psalm.html" title="Vermutungen und S&auml;tze" target="_blank">Wiebke</a></p>
