---
layout: post
status: publish
published: true
title: Lustich
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 116
wordpress_url: http://blog.moerssl.net/2007/03/31/lustich/
date: '2007-03-31 01:43:04 +0200'
date_gmt: '2007-03-30 23:43:04 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Der Originalpost ist zwar schon ein wenig alt, das Bild ist aber zum Schie&szlig;en. Folgt mal dem Link:</p>
<p><a title="Dresdner Dumme Sachen" href="http://dredusa.blogspot.com/2006/08/was-du-der-welt-schon-immer-sagen.html">Was du der Welt schon immer mal sagen wolltest</a></p>
