---
layout: post
status: publish
published: true
title: Den Umst&auml;nden entsprechend
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 135
wordpress_url: http://blog.moerssl.net/2007/05/29/den-umstaenden-entsprechend/
date: '2007-05-29 01:45:40 +0200'
date_gmt: '2007-05-28 23:45:40 +0200'
categories:
- newstime
tags: []
comments:
- id: 82
  author: cate
  author_email: sklavejesus@web.de
  author_url: http://missionfreak.blogspot.com
  date: '2007-05-31 20:03:42 +0200'
  date_gmt: '2007-05-31 18:03:42 +0200'
  content: was los bruder?
---
<p>Ihr kennt das sicher auch. Viele Sachen laufen schief, man bekommt nix auf die Reihe. Man bekommt einiges an R&uuml;ckschl&auml;gen und muss auch mal einstecken. Mit der Zeit bekommt man das Gef&uuml;hl, als habe man die ganze Welt gegen sich.</p>
<p>Hmm, das klingt erstmal nicht so toll - und das ist es ja auch nich. Ich mein, das alles ist ja nicht einfach nur so dahin gesagt, sondern in jedem einzelnen Fall stecken da Menschen dahinter. Das ist so ne Sache, die ich meistens vergesse.. Das hinter (fast) jeden Geschichte eine oder mehrere Personen stehen, die diese ganzen Sachen wirklich erlebt haben. Wie w&uuml;rde es mit ergehen, wenn ich das erlebt haben w&uuml;rde, was in irgendeiner Erz&auml;hlung / Zeugnis passiert ist? Mir reicht grad das, was ich selber erlebe.</p>
<p>Ich kenne dieses Gef&uuml;hl, dass vieles gegen mich steht. Ich bin am zweifeln, wei&szlig; nicht weiter, will nicht mehr usw. usw. Aber dann kommt der gro&szlig;e Papa von oben und erinnert mich die Zusagen, die er gemacht hat, an die Dinge, wo er mir schon im meinem Leben geholfen hat oder daran, wo er anderen Leuten geholfen hat - sei es in meinem Umfeld oder z.B. in der Bibel..</p>
<p>Und wenn dich (und mich) dieses "Die-ganze-Welt-ist-gegen-mich"-Gef&uuml;hl &uuml;berf&auml;llt, so kannst du (und ich) dennoch zuversichtlich sein und beten:</p>
<blockquote><p>Der Herr ist mein Licht, er rettet mich.<br />
Vor wem sollte ich mich noch f&uuml;rchten?<br />
Bei ihm bin ich geborgen wie in einer Burg.<br />
Vor wem sollte ich noch zittern und zagen?<br />
Wenn eine ganze Armee gegen mich aufmarschiert, f&uuml;rchte ich mich nicht,<br />
denn du, Gott, bist bei mir, dein Stecken und Stab tr&ouml;sten mich.</p>
<p>Psalm 27:1.3 &amp; Psalm 23:4</blockquote></p>
