---
layout: post
status: publish
published: true
title: Soundso
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 148
wordpress_url: http://blog.moerssl.net/2007/08/13/soundso/
date: '2007-08-13 23:30:02 +0200'
date_gmt: '2007-08-13 21:30:02 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>[youtube _LbEeM7hUSg]</p>
<p>Das ist einer meiner aktuellen Ohrw&uuml;rmer.. Ich hab mir vor kurzem das neue Album der Helden gekauft und bin ganz zufrieden damit. Mehr davon kommt vielleicht in K&uuml;rze, wenn ich wieder in Schreiblaune bin.. -.-</p>
