---
layout: post
status: publish
published: true
title: Ausgezeichnet
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 147
wordpress_url: http://blog.moerssl.net/2007/07/31/ausgezeichnet/
date: '2007-07-31 17:27:15 +0200'
date_gmt: '2007-07-31 15:27:15 +0200'
categories:
- newstime
tags: []
comments:
- id: 88
  author: Lilly
  author_email: lionin@gmx.de
  author_url: ''
  date: '2007-08-05 06:42:31 +0200'
  date_gmt: '2007-08-05 04:42:31 +0200'
  content: Habt ihr nur ein T-shirt bekommen? Welchen Platz habt ihr gemacht?
- id: 89
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2007-08-05 12:28:06 +0200'
  date_gmt: '2007-08-05 10:28:06 +0200'
  content: |-
    Insgesamt gab es in unserer Sparte des Wettbewerbs 15 Teilnehmer - wir sind auf Platz 7 gelandet.
    F&uuml;r die ersten beiden Pl&auml;tze gabs Geldpr&auml;mien, f&uuml;r jeden Teilnehmer ein T-Shirt. ;-)
---
<p>Mit der erfolgreichen Teilnahme an der Codegeist-Competition, f&uuml;r die ich das JIRA-Plugin Ji-QA geschrieben habe, wurden mir und meinem Kollegen nun die "Preise" zugestellt.</p>
<p align="center"><img src="http://blog.moerssl.net/img/2007/07/ji-qa-auszeichnung.jpg" alt="Ji-QA-Auszeichnung" height="389" hspace="5" vspace="5" width="400" /></p></p>
