---
layout: post
status: publish
published: true
title: 7 days
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 124
wordpress_url: http://blog.moerssl.net/2007/04/08/7-days/
date: '2007-04-08 08:13:21 +0200'
date_gmt: '2007-04-08 06:13:21 +0200'
categories:
- newstime
tags: []
comments:
- id: 78
  author: surfsquaw
  author_email: surfsquaw@gmx.de
  author_url: http://hochzeit.bortmann.de
  date: '2007-04-10 09:59:13 +0200'
  date_gmt: '2007-04-10 07:59:13 +0200'
  content: |-
    So, zur&uuml;ck von der wunderbaren Ostsee mu&szlig;te ich ja gleich mal sehen was so los ist bei Euch... also ich freu mich &uuml;ber die Gr&uuml;ndung der zweiten JF Bremen Lobpreisband ;o) Das wird toll!
    Auch den neuen Trend vom Osterhasen-Halab&auml;ndchen finde ich gut...
    Aber "KatzenFotos" sind langweilig! "Keine Tiere" ;o)
---
<p><img align="left" title="Texas Weather Easter Sunday" id="image126" alt="Texas Weather Easter Sunday" src="http://blog.moerssl.net/img/2007/04/texasweather1.jpg" />Heute vor einer Woche sind wir hier in Dallas angekommen. Es f&uuml;hlt sich aber gar nicht so an, als sei man schon eine ganze Woche hier.<br />
Das Wetter macht es einem aber auch nicht gerade einfach zu denken, man sei im Ausland - im Ausland, wo es normalerweise seeehr warm ist. Heute morgen hat es sogar geschneit! Wirklich richtiger Schnee. Das Bild hab ich von Kellys Blog gescreenshottet (Ich wei&szlig;, Anglizismen sind Bullshit ;-)). Ich hab heute Nachmittag schon so zum Scherz gesagt, dass wir wohl das deutsche Wetter exportiert haben. Ihr in Deutschland habt wohl das texanische bekommen - so weit man h&ouml;rt, ist es bei euch ja warm...</p>
<p>So f&uuml;r die Hochzeit von Lilly und Kelly ist noch ne ganze Menge zu erledigen. Musik rippen, odnen, Playlists erstellen, Kleider / Anz&uuml;ge anprobieren, Alk kaufen und und und. Dazu kommt noch der ganz normale Alltag - und ein paar Leute, die unterhalten werden wollen (und manchmal ein paar Menchen, die einfach gar nix machen wollen).</p>
<p>Lillys Eltern mit Anhang waren gestern z.B. beim Rodeo. Ich wollte da nicht unbedingt hin. Ich bin froh um jede Minute, die ich einfach mal so mit Nixtun verbringen kann. Ich hab ja schlie&szlig;lich Urlaub.. So kann ich von der ersten Woche nicht wirklich viel berichten, was los war.. Einiges bekommt ihr ja &uuml;ber die <a title="Bilder aus Texas" href="http://blog.moerssl.net/usa-2007/">Bilderseite</a> mit, die ich vor ein paar Tagen eingerichtet habe.</p>
<p>Ein Highlight der letzten Tage war der kurze Lobpreiseinsatz, den wir in Kellys Wohnung veranstaltet haben. Dank Kellys Beamer, dem Lobpreisordner (nochmal vielen Dank an Frido f&uuml;s Zusammenstellen) und einigen alten Lobpreis- und Newspr&auml;sentationen kam da ein wenig Godi-Stimmung auf - zumindest bei mir. Auch Lilly meinte, dass das etwas von Heimat hatte.</p>
<p>Das ist so mein rein subjektiver Zwischenstand aus Texas..<br />
Ich vermiss euch Leute!!</p>
<p>Gott liebt euch!<br />
M&ouml;r&szlig;l</p>
