---
layout: post
status: publish
published: true
title: Apostelgeschichte 8
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 104
wordpress_url: http://blog.moerssl.net/2007/01/23/apostelgeschichte-8/
date: '2007-01-23 03:12:24 +0100'
date_gmt: '2007-01-23 02:12:24 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>In letzter Zeit hat eine Passage aus der Apostelgeschichte meine Aufmerksamkeit bekommen. Wie die &Uuml;berschrift vermuten l&auml;sst, handelt es sich dabei um das achte Kapitel. Da wiederum um die Begegnung von Philippus und dem K&auml;mmerer der Kandake. Den Text h&auml;ng ich an den Post mit an.</p>
<p>Also, was hat mich an dieser Begebenheit so fasziniert? Nun, hier passiert ziemlich viel in relativ kurzer Zeit. Philippus erh&auml;lt 2 Anweisungen von Gott, er trifft einen hohen Angestellten aus einem fernen Land, der Typ liest in den Schriften, die beiden reden miteinander, der Typ bekehrt sich und l&auml;sst sich taufen und Philippus wird entr&uuml;ckt. So gesehen, eben richtig viel.<br />
Gott verr&auml;t in dieser Situation nicht seinen ganzen Plan, sondern gibt nur die ersten Anweisungen. Den Rest sieht f&uuml;r Philippus schon von selbst.<br />
Er bekommt die Anweisung: "Geh zu der einsamen Stra&szlig;e." Und er geht.<br />
Er bekommt die Anweisung: "Halt dich in der N&auml;he des Wagens auf." Und er tuts.<br />
Da gibt es kein Lamentieren oder Zweifeln auf Philippus' Seite. Er h&ouml;rt und geht.</p>
<p>Hier der Bibeltext:</p>
<blockquote><p>26 Aber der Engel des Herrn redete zu Philippus und sprach: Steh auf und geh nach S&uuml;den auf die Stra&szlig;e, die von Jerusalem nach Gaza hinabf&uuml;hrt und &ouml;de ist. 27 Und er stand auf und ging hin. Und siehe, ein Mann aus &Auml;thiopien, ein K&auml;mmerer und M&auml;chtiger am Hof der Kandake, der K&ouml;nigin von &Auml;thiopien, welcher ihren ganzen Schatz verwaltete, der war nach Jerusalem gekommen, um anzubeten. 28 Nun zog er wieder heim und sa&szlig; auf seinem Wagen und las den Propheten Jesaja. 29 Der Geist aber sprach zu Philippus: Geh hin und halte dich zu diesem Wagen! 30 Da lief Philippus hin und h&ouml;rte, dass er den Propheten Jesaja las, und fragte: Verstehst du auch, was du liest? 31 Er aber sprach: Wie kann ich, wenn mich nicht jemand anleitet? Und er bat Philippus, aufzusteigen und sich zu ihm zu setzen. 32 Der Inhalt aber der Schrift, die er las, war dieser (Jesaja 53,7-8): &raquo;Wie ein Schaf, das zur Schlachtung gef&uuml;hrt wird, und wie ein Lamm, das vor seinem Scherer verstummt, so tut er seinen Mund nicht auf. 33 In seiner Erniedrigung wurde sein Urteil aufgehoben. Wer kann seine Nachkommen aufz&auml;hlen? Denn sein Leben wird von der Erde weggenommen.&laquo; 34 Da antwortete der K&auml;mmerer dem Philippus und sprach: Ich bitte dich, von wem redet der Prophet das, von sich selber oder von jemand anderem? 35 Philippus aber tat seinen Mund auf und fing mit diesem Wort der Schrift an und predigte ihm das Evangelium von Jesus. 36-37 Und als sie auf der Stra&szlig;e dahinfuhren, kamen sie an ein Wasser. Da sprach der K&auml;mmerer: Siehe, da ist Wasser; was hindert's, dass ich mich taufen lasse?1 38 Und er lie&szlig; den Wagen halten und beide stiegen in das Wasser hinab, Philippus und der K&auml;mmerer, und er taufte ihn. 39 Als sie aber aus dem Wasser heraufstiegen, entr&uuml;ckte der Geist des Herrn den Philippus und der K&auml;mmerer sah ihn nicht mehr; er zog aber seine Stra&szlig;e fr&ouml;hlich. 40 Philippus aber fand sich in Aschdod wieder und zog umher und predigte in allen St&auml;dten das Evangelium, bis er nach C&auml;sarea kam.<br />
Apostelgeschichte 8:26-40</blockquote></p>
<p>W&auml;hrend ich in den letzten Wochen in den Weiten des WWW unterwegs war, habe ich auch noch ne Predigt zum Thema "Apostelgeschichte 8" gefunden. Die ist allerdings auf Englisch, jedoch sehr aufschlussreich. Gehalten wurde sie von Lee-Anne Benn auf dem <a href="http://www.jgdresden.de/index.php?option=com_content&amp;task=blogcategory&amp;id=102&amp;Itemid=192">LTT</a> (Leadership Training Time) in S&uuml;dafrika. Hier der Download: <a href="http://ncmi.net/LTT_Audio2006/Audio/Bloem_2006_day4_ses2.wma">Vision for an Acts 8 Priesthood</a></p>
