---
layout: post
status: publish
published: true
title: Die Happy - Inside
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 141
wordpress_url: http://blog.moerssl.net/2007/06/28/die-happy-inside/
date: '2007-06-28 22:52:53 +0200'
date_gmt: '2007-06-28 20:52:53 +0200'
categories:
- newstime
tags: []
comments: []
---

<p align="center">[youtube 4fQb3L05dK0]</p></p>
<blockquote><p>Wer losl&auml;sst, wird nicht &auml;rmer. Im Gegenteil: Er bekommt die H&auml;nde frei f&uuml;r etwas Neues.<br />
J&uuml;rgen Werth</blockquote></p>
