---
layout: post
status: publish
published: true
title: Sonntag und Montag
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 122
wordpress_url: http://blog.moerssl.net/2007/04/03/sonntag-und-montag/
date: '2007-04-03 05:51:38 +0200'
date_gmt: '2007-04-03 03:51:38 +0200'
categories:
- newstime
tags: []
comments:
- id: 77
  author: surfsquaw
  author_email: surfsquaw@gmx.de
  author_url: ''
  date: '2007-04-05 20:45:00 +0200'
  date_gmt: '2007-04-05 18:45:00 +0200'
  content: |-
    Hi Ihr da dr&uuml;ben,
    wunderbare shopping Fotos...hatte damit sehr viel Spa&szlig;...
    Euch frohe Ostern... na und dann ist es ja auch bald soweit ;o)

    Wir d&uuml;sen gleich los nach Fehmarn. Mechi &uuml;bernimmt Fraidy ;o)
---
<p>Jetzt sind schon 2 Tage hier ins Land gegangen und ich hab hier noch nich wirklich berichet. Naja, werd ich nun mal nachholen.</p></p>
<p>Gestern war Sonntag, und Kelly, Kai, Cate und ich waren in der Highland Baptist Church zum Gottesdienst gegangen. Da ich nun das erste Mal in den USA bin, war das auch mein erster amerikanischer Gottesdienst. Der war ganz lustich, vor allem, weil der Prediger ein paar Witze &uuml;ber die Palmzweige gemacht hat, die wir zu Beginn des Gottesdienstes gekommen haben.</p></p>
<p>Nach dem Gottesdienst sind wir dann erstmal zur&uuml;ck zu Kellys Apartment und dann weiter zu dem Hotel, in dem der Rest der Truppe untergebracht ist. Da sind wir dann ein paar Stunden geblieben. Einen Spaziergang durch Dallas Downtown gabs dann gegen Abend.</p></p>
<p>&nbsp;</p></p>
<p>Heute war ein eher chilliger Tag. Ich hab bis gegen 10 gepennt und dann den Tag so einfach passieren lassen. OK, ich hab hier aufm Blog ne <a href="http://blog.moerssl.net/usa-2007/" target="_blank">Gallerieseite</a> aufgesetzt, die sich in den n&auml;chsten Wochen immer mehr mit Inhalt f&uuml;llen wird...</p></p>
<p>Die anderen waren heute im Zoo, einkaufen und so. Heut abend haben wir uns schon mal vorab die Kirche angesehen, in der die Trauung stattfinden wird. Die ist so gro&szlig;, dass ich mich allein mit Sicherheit drin verlaufen h&auml;tte.</p></p>
<p>Nach der Besichtigung waren wir bei Kellys Eltern..</p></p>
<p>So, das waren Montag und Sonntag<br /><br />
Have fun, genie&szlig;t die Sonne</p></p>
