---
layout: post
status: publish
published: true
title: ER ist wirklich Jahwe-Jireh
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 108
wordpress_url: http://blog.moerssl.net/2007/02/22/er-ist-wirklich-jahwe-jireh/
date: '2007-02-22 01:22:51 +0100'
date_gmt: '2007-02-22 00:22:51 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Vor ein paar Monaten war mir ja so ein kleines <a href="http://blog.moerssl.net/2006/08/28/jahwe-jireh/">Mal&ouml;rchen</a> passiert. Ich hatte mit nem Fahrrad ein parkendes Auto geschrammt. Dummerweise hatte ich zum damaligen Zeitpunkt noch keine Haftpflichtversicherung, sodass ich da ein ziemlich gro&szlig;es Minus auf meinem Konto sah. Der Halter des Wagens wohnt bei uns in der Stra&szlig;e und das Auto parkt demzufolge auch hier. Ich sehe das Auto also fast t&auml;glich.</p></p>
<p>Jedes mal wenn ich das Auto in der Zeit nach dem Unfall gesehen hatte, gingen mir die Erinnerungen an diesen Unfall wieder durch den Kopf und damit zusammen, das da noch ne ziemlich hohe Rechnung auf mich wartet. Unterm Strich kann man sagen, dass ich mich jedes Mal schei&szlig;e gef&uuml;hlt habe, wenn ich den Van gesehen habe. Das ging so mehrere Monate.</p></p>
<p>Wie ihr vielleicht mitbekommen habt, haben wir nach einer Nachfolgerin f&uuml;r Lilly gesucht, die ja ausgezogen ist. Viele unserer Optionen auf potientielle Nachmieter l&ouml;sten sich mit der Zeit in Luft auf. Bis vor einer Woche hatten wir noch keinen Nachmieter. Nachdem auch unser letzter Kandidat absagte, wurde ich leicht hibbelig. Letzten Mittwoch haben wir uns dann entschlossen, eine Anzeige auf bremen.de zu schalten und auf diesem Weg nach einem Zwischenmieter zu suchen.</p></p>
<p>Zur&uuml;ck zum Auto. Der von mir gelinkte Beitrag hat ja den Titel Jahwe-Jireh. Und das bedeutet ja so viel wie "Gott versorgt". Das "Unfallauto" hat sich f&uuml;r mich in ein Symbol f&uuml;r "Jahwe-Jireh" entwickelt. Und jedes mal, wenn ich den Wagen jetzt sehe, werde ich daran erinnert, dass Gott mein Versorger ist.</p></p>
<p>Und das haben wir als Haus auch in Sachen Zwischenmieter erfahren d&uuml;rfen. Wir hatten in der besagten Anzeige ausgeschrieben, dass wir am Sonnabend einen Besichtigungstermin haben. Angemeldet hatten sich vier Leute. War ja schon mal nicht so der Hammer Andrang. Von diesen vier Leuten kam genau <strong>eine</strong> Person. Cate und ich sa&szlig;en in ihrem Zimmer auf dem Sofa und lauschten Jansalleine. Nachdem ein Viertel des Besichtigungszeitraumes rum war, hatte immer noch niemand geklingelt. Cate und ich beteten dann nochmals um Gottes Versorgung f&uuml;r einen Nachmieter. Jener war wohl schon auf dem Weg zu uns, denn kurz darauf l&auml;utete es an der T&uuml;r und sie da Silke stand vor der T&uuml;r. Sie zieht am Sonntag bei uns ein. Die Story, wie das dann alles abgelaufen ist, k&ouml;nnt ihr bei <a title="nachmieterin im hoffnungshaus" href="http://missionfreak.blogspot.com/2007/02/nachmieter.html" target="_blank">Cate</a> nachlesen.</p></p>
<p>Es ist einfach toll, da ganz oben jemanden sitzen zu haben, der sich nicht aus der Ruhe bringen l&auml;sst und wei&szlig;, was wir ben&ouml;tigen und uns es auch gibt.</p></p>
<blockquote>
<p>GoD is in control and he never makes a mistake!<br /><br />
Mirko Sander</p></blockquote></p>
