---
layout: post
status: publish
published: true
title: Psst ... Ich liebe dich
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 151
wordpress_url: http://blog.moerssl.net/2007/09/01/psst-ich-liebe-dich/
date: '2007-09-01 14:44:34 +0200'
date_gmt: '2007-09-01 12:44:34 +0200'
categories:
- newstime
tags: []
comments:
- id: 91
  author: JJ
  author_email: kennobi@gmx.net
  author_url: ''
  date: '2008-02-29 03:36:03 +0100'
  date_gmt: '2008-02-29 02:36:03 +0100'
  content: echt total krass. Das ist eines meiner Lieblingslieder, aber als Liebeslied
    von Jesus an mich hab ich das noch nie gesehen. Danke f&uuml;r die Sichtweise.
    Das gibt dem Lied ganz neue Tiefe.
---
<p>Ich hab es immer mal wieder, dass mich Gott, mein Papa in Situationen anr&uuml;hrt, in denen ich gar nicht damit rechne. Auf dem Weg zur Arbeit, w&auml;hrend der Arbeit. Da rechne ich eigentlich nicht damit. Aber oft ist das schon vorgekommen.</p>
<p>Vorgestern ist das wieder passiert. Ich war grade in die Arbeit vertieft, als mir folgende Zeile eines Liedes durch den Kopf schoss: "Look into my eyes, you will see, what you mean to me."</p>
<p>Ein total sch&ouml;nes Lied. Ich wusste sofort, dass das von Gott war. Allerdings wusste ich weder Titel noch Interpret. Naja, dank Google hab ich dann doch noch den Titel rausgefunden. Hier ist "Everythin I do" von Brian Adams f&uuml;r euch und f&uuml;r mich:</p>
<p align="center">[youtube e4_zIgmvxoM]</p><br />
Jesus singt dieses Lied f&uuml;r dich, f&uuml;r dich ganz pers&ouml;nlich. Weil du ihm einfach so viel bedeutest. F&uuml;r mich wars wie so ein kleines Hauchen Gottes in mein Ohr: "Psst ... Ich liebe dich." Dir will er das auch sagen.</p>
