---
layout: post
status: publish
published: true
title: Noch mehr Bilder
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 130
wordpress_url: http://blog.moerssl.net/2007/04/25/noch-mehr-bilder/
date: '2007-04-25 17:50:42 +0200'
date_gmt: '2007-04-25 15:50:42 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Es wurde ja immer wieder von mehreren Seiten angefragt, wann ich denn Bilder von der Hochzeit geben wird.</p></p>
<p>Alle die so sehns&uuml;chtig auf Bilder gewartet haben, kann ich nun an <a title="Kellys Blog" href="http://drytea.blogspot.com/2007/04/wedding-pictures-german-invasion-and.html" target="_blank">Kellys Blog</a> weiterreichen. Er hat ein paar Bilder von der Hochzeit ver&ouml;ffentlicht.</p></p>
