---
layout: post
status: publish
published: true
title: on the road
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 157
wordpress_url: http://blog.moerssl.net/2007/11/16/on-the-road/
date: '2007-11-16 09:38:36 +0100'
date_gmt: '2007-11-16 08:38:36 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Wer in den n&auml;chsten 2 Wochen durch die Bremer Innenstadt geht, wird vielleicht auf eine Gruppe von Leuten aufmerksam werden. Diese Leutchen sind in grauen Kapuzenpullis, roten Taschen und schwarzen Cappis unterwegs...  Und sie suchen und suchen und suchen und finden hoffentlich auch!</p>
<p>Bei diesem Menschen handelt es sich um HEC-Mitarbeiter, die auf der Suche nach neuen Kollegen sind. Dank des Aufschwungs suchen wir Projektleiter, Berater, Softwareentwickler und Diplomanten.</p>
<p>Falls einer von euch Interesse an einem solchen Job hat oder jemanden kennt, der in der IT-Branche arbeiten m&ouml;chte, der kann einerseits auf <a href="http://www.hec.de/" title="Hanseatische Softwareentwicklungs- und Consulting GmbH" target="_blank">www.hec.de</a> vorbeischauen oder direkt an jobs(at)hec.de schreiben.</p>
<p><img src="http://blog.moerssl.net/img/2007/11/hec-claim.jpg" alt="HEC" align="right" hspace="5" vspace="5" /></p>
