---
layout: post
status: publish
published: true
title: Weit weg!
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 114
wordpress_url: http://blog.moerssl.net/2007/03/24/weit-weg/
date: '2007-03-24 13:48:53 +0100'
date_gmt: '2007-03-24 12:48:53 +0100'
categories:
- newstime
tags: []
comments:
- id: 75
  author: Lobprice
  author_email: Iris@new-island.de
  author_url: ''
  date: '2007-03-25 19:03:30 +0200'
  date_gmt: '2007-03-25 17:03:30 +0200'
  content: |-
    Ha! Ich wusste es- ich bin nicht allein!:-)
    Obwohl ich die alte S&amp;V Version mit Colin Firth sch&ouml;ner finde. Wenn Du "solche" Filme magst kann ich Dir North &amp; South empfehlen...Neben Jane Eyre gerade mein absoluter Liebling!
- id: 76
  author: surfsquaw
  author_email: surfsquaw@gmx.de
  author_url: ''
  date: '2007-03-28 20:43:49 +0200'
  date_gmt: '2007-03-28 18:43:49 +0200'
  content: |-
    Hab ich gemacht!

    Wunderbar...hab gleich wieder Lust bekommen den Film an zu schmei&szlig;en...
---
<p>"Stolz und Vorurteil" ist so ein sch&ouml;ner Film. "Far away" von Nickelback ein sch&ouml;nes Lied. Hier kommen beide zusammen. Genie&szlig; es einfach:</p>
<p>[youtube EgEq6NcIIeI]</p>
