---
layout: post
status: publish
published: true
title: Update
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 134
wordpress_url: http://blog.moerssl.net/2007/05/25/update/
date: '2007-05-25 20:47:10 +0200'
date_gmt: '2007-05-25 18:47:10 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Jaja, mein Blog lief ne ganze Weile auf ner richtig alten Wordpressversion. Ich hatte ihn seit &uuml;ber einem Jahr nicht aktualisiert, sodass er in der Versionierung fast &uuml;berholt worden w&auml;re.</p>
<p>Ab heute steht <em>des m&ouml;r&szlig;ls blog</em> in Wordpress Version 2.2 zur Verf&uuml;gung!!<br />
Das mag jetzt keinen von euch interessieren, aber das ist mir egal ;-).</p>
<p>M&ouml;ge die n&auml;chste Aktualisierung nicht so lange auf sich warten lassen, wie die aktuelle..</p>
<p>PS: Eine Neuerung k&ouml;nnt ihr schon rechts in der Sidebar sehen. <strike>Jetzt gibts zu einigen Links Beschreibungen, war vorher nich so...</strike>Die Anordnung hat sich ein wenig ge&auml;ndert. Nach etwas Copy&amp;Paste und dank eines neuen Features (den Widgets f&uuml;r Sidebar) habe ich nun eine einfach anzupassende Sidebar. Ich bin fasziniert.</p>
<p>Genie&szlig;t das Lesen.</p>
