---
layout: post
status: publish
published: true
title: Erich Engler, Gottes Reden und IKEA
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 145
wordpress_url: http://blog.moerssl.net/2007/07/14/erich-engler-gottes-reden-und-ikea/
date: '2007-07-14 02:33:37 +0200'
date_gmt: '2007-07-14 00:33:37 +0200'
categories:
- newstime
tags: []
comments:
- id: 87
  author: Bianca
  author_email: praiselife@bianca.in
  author_url: http://www.bianca.in
  date: '2008-06-25 23:36:02 +0200'
  date_gmt: '2008-06-25 21:36:02 +0200'
  content: |-
    Oh Glory, was gibt es Besseres, als die volle Ladung von Gottes G&uuml;te zu erfahren! Ich habe 15 Jahre freudlos als Christ gelebt, bevor ich das Wort des Glaubens h&ouml;rte, das auch Pastor Erich Engler auf eine wunderbar erfrischende und ansteckende Art verk&uuml;ndet. Seit ich seine Predigten h&ouml;re, habe ich keine Depri-Tage mehr erlebt. So ist unser Vater im Himmel, Freude in jeder Situation! Ich staune selber dar&uuml;ber, was das Wort des Glaubens bewirken kann. Durch Pastor Engler hat mir Gott Sein Wort auf eine ganz neue, lebendige, klare und herrliche Art offenbart. Ich empfehle jedermann, der im Glauben weiterkommen m&ouml;chte, diese Predigten zu h&ouml;ren, die alle auf <a href="www.internetkirche.com" rel="nofollow">www.internetkirche.com</a> angeh&ouml;rt (seit 2007 auch angeschaut) oder heruntergeladen werden k&ouml;nnen. Um dich auf den Geschmack zu bringen, hier ein paar Leckerbissen:

    Ohne Freude kann niemand stark sein in Gottes Reich  ::  Mit unseren Worten bestimmen wir unsere Zukunft  ::  Bevor du das Gute siehst, musst du das Gute glauben  ::  Wenn du merkst, du wirst begeistert, dann glaubst du  ::  Wohlstand kommt nicht zu uns, sondern flie&szlig;t durch uns  ::  Was du lernst hier auf Erden zu &uuml;berwinden, wird deine Position im Himmel bestimmen  ::  Der Hauptausdruck von Agape (Liebe Gottes) ist zu geben  ::  Dass du lebst, ist der gr&ouml;&szlig;te Beweis daf&uuml;r, dass Gott dich liebt  ::  Gnade ist Gottes Liebe in Aktion  ::  Erl&ouml;sung ist Geben von neuem Leben. Das Erl&ouml;sungs-Paket beginnt mit S&uuml;ndenvergebung, beinhaltet Heilung, Erl&ouml;sung vom Fluch, Kr&ouml;nung mit Gnade und Barmherzigkeit, Erneuerung im Alter und h&ouml;rt mit dem Segen Abrahams auf  ::  Wenn du deine Freude nicht verlierst, wirst du den Kampf gewinnen  ::  Seine Gnade steht ALLEN zur Verf&uuml;gung, weil sie niemand verdient hat  ::  Lebe einen Stil des Gebens/S&auml;ens  ::  H&ouml;r auf die Situation zu akzeptieren, wie sie ist. Steh auf im Glauben, lach der Situation ins Angesicht, k&auml;mpfe dagegen, verkriech dich nicht in die Ecke und heul  ::  Als Christ tr&auml;gst du Heilung in dir  ::  Der Vater kann nur in dem Ma&szlig;e mit dir Gemeinschaft haben, wie &auml;hnlich du Ihm wirst  ::  Was wir wirklich brauchen, ist das Wort des Glaubens! Nutz die Zeit um dem Herrn zu Glauben  ::  Was Gott gesegnet hat, kann niemand verfluchen
---
<p>In den letzten Woche war ich bei <a href="http://online-predigt.de">online-predigt.de</a> auf der Suche nach ein paar Predigten, die ich mir auf meiner tagt&auml;glichen Fahrt zur Arbeit und wieder nach hause anh&ouml;ren k&ouml;nnte. Ich habe die angebotene Suche einfach mal strikt ignoriert und mich selbst auf Schnuppertour begeben. Gelandet bin ich schlie&szlig;lich bei <a href="http://online-predigt.de/suche.php?keywords=erich+engler&amp;Suchen=%A0%A0%A0%A0%A0" title="Erich Engler @ online-predigt.de" target="_blank">4 Predigten von Erich Engeler </a> (<em>Sich l&ouml;sen von Minderwertigkeit und Co.</em>[1,2] und <em>Bist du ein &Uuml;berwinder oder gehst du unter?</em> [1,2] in der Tabelle ganz unten).</p>
<p>Sein Stil hat mir sehr gut gefallen, sowie sein schweizer(ischer?) Akzent. Ich mag es wenn Leute mit nem Akzent predigten, denn dann muss man ein wenig genauer hinh&ouml;ren, um wirklich zu verstehen, was die Person sagt. Als netter Nebeneffekt nimmt man da gleich ein wenig mehr von der Botschaft auf. Ist zumindest bei mir so..</p>
<p>Naja, die Predigten von ihm haben mir wie gesagt gut gefallen, sodass ich mir noch ne Predigtreihe von ihm runtergeladen habe. "<strong>Von Gott h&ouml;ren"</strong> hei&szlig;t die (Ganz oben in der Tabelle). W&auml;hrend dieser Predigten ist es mir wichtig geworden auch mehr in der Bibel zu lesen. Denn wenn man es mal so sieht.. Da will Papa mit uns reden! Die Bibel ist Gottes eMail an uns. Und was Gott uns in seiner eMail sagt, ist genauso wahr, wie die Sachen, die er uns im Chat oder am Telefon (also im Gebet) sagt. Und deshalb k&ouml;nnen wir diese Dinge genauso annehmen.. Auch wenn Gott in seiner eMail keine Bilder aus "Herr der Ringe" verwendet ;-)</p>
<p>Eine Sache, die mir neben dem Bibellesen noch wichtig geworden ist, kann man wohl am besten mit einem Spruch von IKEA zusammenfassen: "Nutze die M&ouml;glichkeiten" oder besser "Nutze seine M&ouml;glichkeiten"<br />
Damit meine ich nicht etwa irgendwelche zeitlichen Begebenheiten, sondern Dinge, die Jesus f&uuml;r jeden von uns parat hat, ohne das wir uns auf einen "Welche-Gaben-habe-ich-denn?-Exkurs" begeben m&uuml;ssen. Dieser "Welche-Gaben-habe-ich-denn?-Exkurs" ist gut und man sollte ihn auf jeden Fall machen - auch immer wieder! Aber nimm doch vorher den "Was-meint-denn-Jesus-&uuml;ber-mich?-Exkurs". Viele von den Leuten, die schon lange dabei sind, werden jetzt vielleicht st&ouml;hnen und denken: "Wei&szlig; ich doch schon alles!" Kann schon sein, doch du wirst bestimmt noch ein paar neue Dinge finden, die du bis jetzt noch nicht wusstest. Zu finden sind diese Sachen &uuml;brigens im neuen Testament ;-) .</p>
<p>PS: Nen kleinen Haken hat der Vergleich zwischen Bibel und eMail. Die Bibel kann man nicht als gelesen markieren :-P</p>
