---
layout: post
status: publish
published: true
title: Kaaaaaafffffffffffffffeeee
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 143
wordpress_url: http://blog.moerssl.net/2007/07/04/kaaaaaafffffffffffffffeeeeeeeeeeeeeeeeeeee/
date: '2007-07-04 15:10:47 +0200'
date_gmt: '2007-07-04 13:10:47 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ich hab ihn bei Haso gefunden und gleich mal selber gemacht. Der <a href="http://mingle2.com/bb/view/how-addicted-to-coffee-are-you" title="Kaffees&uuml;chtig?" target="_blank">Test</a> dauert grad mal 4 Minuten...</p>
<p align="left"><a href="http://mingle2.com/bb/view/how-addicted-to-coffee-are-you" style="text-align: center;padding-top: 167px;height: 35px;font-size: 16px;font-family: Arial;text-decoration: none;color: #ffffff">I am 69% Addicted to Coffee</a></p></p>
