---
layout: post
status: publish
published: true
title: Think positive
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 106
wordpress_url: http://blog.moerssl.net/2007/02/08/think-positive/
date: '2007-02-08 08:42:10 +0100'
date_gmt: '2007-02-08 07:42:10 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>An jedem Tag sollte es doch zumindest etwas geben, wor&uuml;ber man sich freuen kann...<br /><br />
Sita - Happy</p></p>
<p align="center">[youtube -a-MGZfEspI]</p><br />
Die Szenen sind &uuml;brigens aus der Serie "Lost." </p>
