---
layout: post
status: publish
published: true
title: Lichtkegel und Waldwege
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 154
wordpress_url: http://blog.moerssl.net/2007/10/08/lichtkegel-und-waldwege/
date: '2007-10-08 20:22:10 +0200'
date_gmt: '2007-10-08 18:22:10 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Der Beitrag, den du grad liest, ist erst ver&ouml;ffentlicht, wenn ich wieder in Bremen bin. F&uuml;r die, die es nicht wissen, ich bin &uuml;ber die erste Oktoberwoche in Sachsen (gewesen). Ich wurde am Sonntag von meinem Bruder am Dresdner Hauptbahnhof abgeholt. Zusammen haben wir dann am Montag und Dienstag mein altes Fahrrad wieder aufgebaut.</p>
<p>Mit eben diesem Fahrrad habe ich die letzten Tage einige Radtouren unternommen. Vor 2 Stunden bin ich wieder von einer solchen Tour wieder gekommen. Das besondere an dieser Tour war, dass ich sie am Abend gefahren bin. Irgendwie war diesmal Vieles dabei: Gut ausgebaute Stra&szlig;en, Waldwege, beleuchtete Stra&szlig;en und nicht beleuchtete. Was mir bei der Tour aufgefallen ist, ist die Wichtigkeit der Beleuchtung am Fahrrad. Solange man in gut ausgeleuchteten Stra&szlig;en - also innerhalb von Ortschaften -  kann man auf die Beleuchtung ja fast verzichten (tuts nicht, ist gegen die StVZO). Besonders froh war ich, als mich meine Tour auf einen Waldweg f&uuml;hrte. Der Weg war gesch&auml;tzt 3 Meter breit und direkt daneben floss die Wei&szlig;eritz - dieses Fl&uuml;sschen, dass 2002 den Dresdner Hauptbahnhof unter Wasser gesetzt hat - auf der einen Seite und Felsen auf der anderen. Ich war froh dieses Licht an meinem Rad zu haben, um den Weg zu erkennen, den ich in den n&auml;chsten 2 Sekunden fahren werde. Rundum war es stockdunkel. Nix zu sehen. Und dann ist da dieser kleine Kegel Licht, der mir den Weg beleuchtet. Ich bin langsamer gefahren, weil ich nicht mehr so viel sah, wie auf den gut ausgeleuchteten Stra&szlig;en vorm Einbiegen in den Waldweg. Als mir die Wichtigkeit der Beleuchtung f&uuml;r meinen weiteren Weg klar wurde, fiel mir folgender Vers aus Psalm 119 ein. David schreibt:</p>
<blockquote><p>Dein Wort ist meine Fu&szlig;es Leuchte und ein Licht auf meinem Wege.<br />
Psalm 119: 105</blockquote><br />
Gottes Wort arbeitet in unserem Leben so, wie meine Fahrradlampe auf diesem n&auml;chtlichen Waldweg. Es beleuchtet nur soviel deines Lebensweges, wie du gerade wissen musst. Kurven erkennst du rechtzeitig genug, ebenso wie du fr&uuml;h genug merkst, wenn du zu nah an den Wegrand kommt und fast im Wasser landest. Ich brauchte den Lichtkegel meiner Lampe den gesamten Weg, nicht nur ab und zu mal. Wenn ich die Lampe nur alle 5 Minuten eingeschaltet h&auml;tte, w&auml;re ich vermutlich nach einer sehr kurzen Wegstrecke im Wasser gelandet. Wir brauchen Gottes Wort auf unserem gesamten Lebensweg und zwar an jedem Tag und in jedem Augenblick, sonst landen wir im Wasser oder am Felsen. Beides wird weh tun..</p>
<p>Pappa, ich danke dir f&uuml;r diese Erkenntnis, f&uuml;r dieses Aufblitzen deines Wortes an so praktischen Dingen. Du bist einfach wunderbar.</p>
<p>Amen.</p>
