---
layout: post
status: publish
published: true
title: In den Wartephasen des Lebens &uuml;berwinden ...
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 155
wordpress_url: http://blog.moerssl.net/2007/10/11/in-den-wartephasen-des-lebens-ueberwinden/
date: '2007-10-11 08:20:30 +0200'
date_gmt: '2007-10-11 06:20:30 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ich war ja letzte Woche in Sachsen, das steht ja auch schon im letzten Beitrag. Am Sonntag war ich dann zum Gottesdienst in der Jesusgemeinde. Der Gottesdienst war richtig geil. Es war sch&ouml;n die ganzen Leute von "damals" wieder zu sehen. Jedenfalls gibt auch die Jesusgemeinde ihr Gemeindeblatt heraus - bei uns hei&szlig;t das Newsletter. Jedes Gemeindeblatt hat bei denen so eine Art <a href="http://www.jgdresden.de/index.php?option=com_content&amp;task=blogcategory&amp;id=79&amp;Itemid=169">Leitartikel</a>, von denen sie in regelm&auml;&szlig;igen Abst&auml;nden einige auf ihrer Homepage ver&ouml;ffentlichen. Den Artikel vom Juni geb ich mal hier wieder:</p>
<blockquote><p><span style="font-size: 14pt">In den Wartephasen des Lebens &uuml;berwinden ...</span></p>
<p><em>Hebr 6:11,12: &bdquo;Wir w&uuml;nschen aber, dass jeder von euch denselben Flei&szlig; bis ans Ende beweise, entsprechend der vollen Gewissheit der Hoffnung, dass ihr ja nicht tr&auml;ge werdet, sondern Nachfolger derer, welche durch Glauben und Geduld die Verhei&szlig;ungen ererben.&ldquo;</p>
<p></em><strong>Es gibt Vieles, was uns im Bezug auf Warten herausfordert</strong>. Jemand wartet auf die richtige Arbeit, der N&auml;chste wartet auf den richtigen Partner f&uuml;r sein Leben, man wartet auf die erfreuliche Nachricht: &bdquo;wir sind schwanger&ldquo; <strong>oder wir warten auf die Unterschrift unter einen Vertrag oder eine Genehmigung vom Amt! Das tun wir, als Gemeinde, seit Monaten im Bezug auf die neuen R&auml;ume...! </strong></p>
<p align="justify"> <strong>Geduld</strong> ist die F&auml;higkeit, den Prozess des Pr&uuml;fens und der Bew&auml;hrung auszuhalten. Warten ist selbstverst&auml;ndlich ein wesentlicher Teil davon. Geduld ist eine <strong>Charaktereigenschaft</strong> wenn der Prozess des Aushaltens/Abwartens eine Gewohnheit geworden ist. <strong>Geduld ist mehr als eine passive Akzeptanz der Dinge, es ist vielmehr eine aktive Festigkeit, eine Beharrlichkeit, eine Ausdauer, ein Beweis, dass der Glaube echt ist.<br />
</strong><br />
Glaube greift sofort auf alles, was Gott verhei&szlig;en hat, steht aber immer in Gefahr diesen Griff wieder zu lockern. Geduld ist die F&auml;higkeit festzuhalten, auch wenn das erwartete Ergebnis sehr langsam erscheint. Geduld beugt sich nicht vor Schwierigkeiten oder Widerstand.<br />
<strong>Manchmal merkt man nicht alles, was Gott in solchen Phasen im Leben alles tut. Der Charakter wird geformt, Vertrauen wird tiefer und zu gel&auml;utertem Gold geschmolzen, Motive werden gereinigt und Gott formt unsere Umwelt so, dass wir sp&auml;ter siegreich werden k&ouml;nnen.</strong></p>
<p>In solchen Zeiten, lernen wir Gott in einer Art und Weise kennen, die wir nie vergessen werden. Und wir lernen wie wir sind. Und das auch auf eine Art und Weise, dass wir es nie vergessen werden. Rebellische Haltungen kommen ans Licht, Unfrieden wird erkannt und auf Stolz und Bitterkeit wird man aufmerksam gemacht. Nur dann kommen wir in seine geplante Versorgung oder seinen Segen, ohne das wir denken, wir haben alles durch unser Tun selber geschafft!<br />
Jesus Christus, der das Kreuz selber erduldete, bietet uns st&auml;ndig seine Kraft an, sodass wir &uuml;berwinden k&ouml;nnen.&nbsp; (Hebr 12,2)</p>
<p><strong><u>Wie k&ouml;nnen wir in den Wartephasen siegreich leben?</p>
<p></u>1. Halte an deiner Freude fest<br />
</strong>Es soll in unseren Herzen schon entschieden sein, &bdquo;wir achten es f&uuml;r lauter Freude&ldquo; (Jak1,1-3), nicht weil alles sch&ouml;n ist, sondern weil wir wissen, welche Auswirkungen die Anfechtungen haben (Hebr 12,11)!</p>
<p><strong>2. Verstehe, dass du in einem Prozess bist.<br />
</strong>Wachstum in deinem Leben ist kein Ereignis, sondern das Gesamtergebnis vieler Erfahrungen. Geduld ist notwendig, um jeden Prozess zu Ende zu bringen.</p>
<p><strong>3. Richte dich aus, auf das was wirklich wichtig ist. (Fokus)<br />
</strong>Was wirklich wichtig ist, ist doch das Leben in der Ewigkeit. Triff Entscheidungen, die f&uuml;r die Ewigkeit Bestand haben!</p>
<p><strong>4. Sei stark und mutig.<br />
</strong>In Josua 1 wurde dies dem neuen Leiter Josua oft gesagt. St&auml;rke ist dort notwendig, wo es scheint, dass sich nichts &auml;ndert und Frustration erlebt wird. Es ist wichtig, das wir&nbsp; nicht vor dem Ziel aufgeben!</p>
<p><strong>5. Tue seinen Willen.<br />
</strong>W&auml;hrend wir auf Gott warten, gibt es eine Menge, was wir tun k&ouml;nnen. Wir sollen immer seinen Wille umsetzen. Unabh&auml;ngig davon, ob wir denken in einer Wartephase zu sein oder ob alles gut l&auml;uft und vorw&auml;rts geht.</p>
<p>Lasst uns in den Wartephasen siegreich leben!<br />
</p>
<p align="right"> Wayne Neuper</p></p>
<p align="left">Quelle: <a href="http://www.jgdresden.de/index.php?option=com_content&amp;task=view&amp;id=338&amp;Itemid=169" title="Jesus Gemeinde Dresden: In den Wartephasen des Lebens &uuml;berwinden ...">http://www.jgdresden.de/index.php?option=com_content&amp;task=view&amp;id=338&amp;Itemid=169</a></p><br />
</blockquote></p>
