---
layout: post
status: publish
published: true
title: Bitter To Better
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 162
wordpress_url: http://blog.moerssl.net/2008/01/23/bitter-to-better/
date: '2008-01-23 23:37:08 +0100'
date_gmt: '2008-01-23 22:37:08 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Hall&ouml;chen,</p>
<p>ich bin immer noch da! Und gut ins neue Jahr gekommen. Das ist ja auch schon ganz sch&ouml;n fortgeschritten und so. Aber egal... :)</p>
<p>Es ist ja bestimmt nicht schwer zu erraten, dass mein Blog, was die Textbeitr&auml;ge angeht in letzter Zeit son bisschen - naja - vor sich hin d&uuml;mpelt.</p>
<p>Aber ich hab heute mal wieder was zu erz&auml;hlen. Wieder so ne "Begegnung der vierten Art" wie ich sie nenne. Also, die letzten Tage war ich aufgrund einer Verkettung widriger Umst&auml;nde <strong>"""</strong>ein wenig<strong>"""</strong> miesmuschlig drauf. Wer ne genauere Beschreibung der Au&szlig;enwirkung meiner Gef&uuml;hlswelt haben m&ouml;chte, kann sich gerne an <a href="http://missionfreak.blogspot.com" title="Deutscher Dschungel" target="_blank">Cate</a> wenden.</p>
<p>Ich hatte schon die letzten Tage gemerkt, dass das wohl nicht f&ouml;rderlich ist, so ein Pulverfass mit sich rumzutragen. Also hatte ich die ganze Sache im Gebet an Gott abgegeben, so richtig mit Bibelstelle dazu und so halt. Die Sache war damit bei Gott. Das Gef&uuml;hlspulverfass aber immer noch bei mir. Hmm, doof.</p>
<p>Eben komm ich vom Hauskreis nach hause, da fragt Cate mich, ob wir mal zusammen beten k&ouml;nnten. Klar, kein Problem. Ich hab da in diesem Gebet die ganzen negativen Gef&uuml;hle und was da noch alles umzu war in Gottes Hand gegeben - und auf einmal f&uuml;hlte ich mich 20 Kilo leichter. Die ganzen Sachen, die so belastend in mir drin waren, sind jetzt bei Gott. Nicht mehr bei mir - ich war (und bin) froh. Noch w&auml;hrend des Gebetes fielen mir 2 Bibelstellen ein, die ich hier einfach mal zitieren werde. Ich denke viele von euch kennen die:</p>
<blockquote><p>Kommt her zu mir, alle, die ihr m&uuml;hselig und beladen seid; ich will euch erquicken.<br />
Matth&auml;us 11:28</p>
<p>Des Gerechten Gebet vermag viel, wenn es ernstlich ist.<br />
Jakobus 5:16b</blockquote><br />
Danke Gott und danke Cate :D</p>
<p>PS: Passend zum Titel gibts auch nen Song und ein ganzes Album von <a href="http://www.diehappy.de" title="Die Happy">Die Happy</a>. H&ouml;rt mal ein..</p>
