---
layout: post
status: publish
published: true
title: CLOSED
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 172
wordpress_url: http://blog.moerssl.net/?p=172
date: '2008-12-01 11:58:15 +0100'
date_gmt: '2008-12-01 10:58:15 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Wie ihr sicherlich gemerkt habt, bin ich im mittlerweile letzten Jahr echt schreibfaul geworden und hab den Blog echt vernachl&auml;ssigt. Ich hab zwar immer wieder Besserung gelobt, aber so richtig ist da nix drau&szlig; geworden.</p>
<p>Ich komme auch nicht wirklich dazu hier was zu schreiben und ehrlich gesagt, fehlt mir auch der Stoff hier was zu posten.</p>
<p>Aus diesen Gr&uuml;nden habe ich mich dazu entschieden den Blog zu schlie&szlig;en. Mal schauen, vielleicht lasse ich ihn sp&auml;ter mal unter ner anderen Ausrichtung wieder aufleben.</p>
<p>Ich bedanke mich jedenfalls bei meinen Lesern, dass sie hier so ab und an mal reingeschaut haben. Die Bloggerzeit war sch&ouml;n - aber nun ist sie vorbei.</p>
