---
layout: post
status: publish
published: true
title: 'Retro-Woche: P.O.D. - Youth of the Nation'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 168
wordpress_url: http://blog.moerssl.net/?p=168
date: '2008-07-24 09:22:59 +0200'
date_gmt: '2008-07-24 07:22:59 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Diese Woche gehen mir und nem Kollegen immer wieder n paar alte Liederchen durch den Kopf. Hier mal das von gestern.</p>
<p style="text-align: center">[youtube kF69iiGK5Uc]</p></p>
