---
layout: post
status: publish
published: true
title: Auf der Zielgeraden
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 165
wordpress_url: http://blog.moerssl.net/?p=165
date: '2008-06-18 02:12:39 +0200'
date_gmt: '2008-06-18 00:12:39 +0200'
categories:
- newstime
tags: []
comments:
- id: 94
  author: Melly
  author_email: melly@jesusfreaks-bremen.de
  author_url: http://www.zwischenwelten.de.tp
  date: '2008-06-21 14:13:07 +0200'
  date_gmt: '2008-06-21 12:13:07 +0200'
  content: f&uuml;hl dich metaphorisch in den Arm genommen...ach quark... *knuddel*
    passt da eher ;)
---
<p>zu sein und die Linie schon zu sehen ist schon ein seltsames Gef&uuml;hl.</p>
<p>Ich hab heute festgestellt, dass ich morgen (Mittwoch) meinen letzten Arbeitstag als Auszubildender in der HEC habe. Das ist schon komisch. Die 3 Jahre der Ausbildung sind sehr schnell vergangen - als w&auml;ren sie einfach so an mir vorbeigezogen. So manchmal frag ich mich auch, wo diese Zeit hin ist.</p>
<p>Oft denk ich, dass in der vergangenen Zeit nix passiert ist. Doch das stimmt nicht. Schon wenn ich mal ne halbe Minute nachdenke, fallen mir schon so viele Sachen ein, die allein dieses Jahr geschehen sind.</p>
<p>Wir sind als Freaks 2 mal umgezogen. Aus dem CVJM ins Cafe Chance und dann von da aus ins Zollamt. Da haben wir jetzt ja noch ein paar Sachen zu tun. Aber auch diese Zeit ist sinnvoll eingesetzt. Und selbst wenn hier nicht so viel passieren w&uuml;rde, w&auml;re Gott immer noch Gott und w&uuml;rde bei uns sein und in unserem Innern wirken.</p>
<p>Es ist irgendwie so wie mit diesem Blog. Da hat sich anscheinend nicht viel getan seit dem letzten Eintrag (der Eindruck kann ja entstehen, wenn ein Blog seit fast nem halben Jahr brach liegt). Aber wie ihr schon lesen konntet ist dem ja nicht so. Auch wenn man manchmal nichts sieht, passieren Dinge. Genauso wie in unsrem Innern. Da ist Gott auch die ganze Zeit am Wirken und wir sehen davon nix. Bzw. wir bemerken das erst r&uuml;ckwirkend.</p>
<p>Ich hab ja eingangs fallen lassen, dass ich auf der Zielgeraden bin. Morgen der letzte Arbeitstag und in ner Woche ist dann die Pr&uuml;fung. Danach gehts ja weiter. Nur die Etappe "Ausbildung" ist dann f&uuml;r mich vorbei. Ich freu mich schon auf die n&auml;chste Etappe. Auf die Herausforderungen, vor die ich gestellt werde und auf die Menschen, denen ich begegnen werde.</p>
<p>Leute, ich m&ouml;chte euch danken. Danken f&uuml;r die letzten 3 Jahre. Danke f&uuml;r die Zeit, in der wir miteinander lachen konnten, weinen konten, Frust ablassen konnten, Sachen gerockt haben, f&uuml;reinander da sein konnten. Es waren pr&auml;gende Jahre. Ich hab Erfahrungen gemacht, die mich in meiner Entwicklung weitergebracht haben, war mit einfach tollen Menshen zusammen. Danke Leute, dass ich euch kennen darf. Ich liebe euch!</p>
