---
layout: post
status: publish
published: true
title: Jemand k&auml;mpft f&uuml;r dich
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 164
wordpress_url: http://blog.moerssl.net/2008/02/23/jemand-kaempft-fuer-dich/
date: '2008-02-23 00:54:46 +0100'
date_gmt: '2008-02-22 23:54:46 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Bei Melly gibt es dieses Video zwar auch zu sehen, aber ich stell es euch auch nochmal vor. Einfach toll.</p>
<p align="center">[youtube cyheJ480LYA]</p></p>
<p align="left">&nbsp;</p></p>
