---
layout: post
status: publish
published: true
title: 'Retrowoche: In Extremo - Vollmond'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 169
wordpress_url: http://blog.moerssl.net/?p=169
date: '2008-07-25 09:01:21 +0200'
date_gmt: '2008-07-25 07:01:21 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ist zwar noch nicht so lange her f&uuml;r Retro, aber gestern war In Extremo dran:</p>
<p style="text-align: center">[youtube 0Ujl-wr1Yuo]</p></p>
