---
layout: post
status: publish
published: true
title: mac attack
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 163
wordpress_url: http://blog.moerssl.net/2008/01/31/mac-attack/
date: '2008-01-31 07:36:47 +0100'
date_gmt: '2008-01-31 06:36:47 +0100'
categories:
- newstime
tags: []
comments:
- id: 93
  author: lokke
  author_email: lokke@timoteam.de
  author_url: ''
  date: '2008-02-06 23:44:27 +0100'
  date_gmt: '2008-02-06 22:44:27 +0100'
  content: |-
    also ich hab nur 16% potential
    aber nur weilcih gro&szlig;z&uuml;gig behauptete das ich mir ein iphone zulegen wollen - das stimmt gar nit
    ich w&uuml;rde mich aber freuen eins geschenkt zu bekommen
---
<p>  Cate hat nen Link zu einem "Wie-s&uuml;chtig-bin-ich-nach-Apple"-Test gepostet. Ich geb ja zu, ich bin nicht grade begeistert  von den  wei&szlig;en Teilen aus Cupertino. Es hat mich allerdings mal interessiert, ob ich nicht auch vom Applevirus infiziert wurde. Die erleichternde Antwort findet sich in dem kleinen Bildchen hier unten ;) <a href="http://www.justsayhi.com/bb/apple_addiction">17%</a></p>
