---
layout: post
status: publish
published: true
title: Hols St&ouml;ckchen...
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 167
wordpress_url: http://blog.moerssl.net/?p=167
date: '2008-07-22 08:36:02 +0200'
date_gmt: '2008-07-22 06:36:02 +0200'
categories:
- newstime
tags: []
comments:
- id: 96
  author: Melly
  author_email: melly@jesusfreaks-bremen.de
  author_url: http://www.zwischenwelten.de.tp
  date: '2008-07-22 12:12:17 +0200'
  date_gmt: '2008-07-22 10:12:17 +0200'
  content: brav :-D
- id: 97
  author: cate
  author_email: sklavejesus@web.de
  author_url: http://missionfreak.blogspot.com
  date: '2008-07-23 15:19:10 +0200'
  date_gmt: '2008-07-23 13:19:10 +0200'
  content: und was ist mit der 5 wg?? ;-) hanna, kai, und kartoffel-yeusoph...dass
    waren ja zeiten..
- id: 98
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2008-07-23 15:34:25 +0200'
  date_gmt: '2008-07-23 13:34:25 +0200'
  content: Habs mal angepasst :)
---
<p>Dass Frauen von Zeit zu Zeit mal mit Untertassen oder anderem Porzellan werfen k&ouml;nnen, ist ja glaub ich hinreichend bekannt. Die m&auml;nnlche Szenen steht dem in manchen Facetten in nix nach... :P</p>
<p>Doch nun hab ich von Melly mal was anders an den Kopf bekommen als ne Bibel oder nen Spruch:</p>
<p><strong>4 Jobs, die Du in deinem Leben hattest</strong></p>
<ul>
<li>Prospekteverteiler</li>
<li>Admin diverser Homepages</li>
<li>Programmierer</li>
<li><span style="text-decoration: line-through">Thresenschlampe</span> Thekenkraft in einer Kneipe (copy&amp;paste ist toll :))</li><br />
</ul><br />
<strong>4 Filme, die Du immer wieder anschauen kannst</strong></p>
<ul>
<li>Pulp Fiction</li>
<li>Welcome To The Jungle</li>
<li>Fluch der Karibik 1-3</li>
<li>Hot Shots 2</li><br />
</ul><br />
<strong>4 Orte, an denen Du gerne gewohnt hast</strong></p>
<ul>
<li>in einem kleinen Kuhkaff <span style="text-decoration: line-through">im Emsland</span> in Sachsen</li>
<li>allein in Bremen Nord</li>
<li>in einer Zweier/Dreier/Vierer/F&uuml;nfer-WG in Walle</li><br />
</ul><br />
<strong>4 TV-Serien, die Du gerne anschaust</strong></p>
<ul>
<li>Angel - J&auml;ger der Finsternis</li>
<li>Stargate (mit Atlantis)</li>
<li>Dr. House</li>
<li>Bones</li><br />
</ul><br />
<strong>4 Pl&auml;tze, an denen Du im Urlaub warst</strong></p>
<ul>
<li>B&ouml;mischer Wald</li>
<li>Gotha</li>
<li>Dallas</li>
<li>Riesengebirge</li><br />
</ul><br />
<strong>4 Webseiten, die Du t&auml;glich besuchst</strong></p>
<ul>
<li>jesusfreaks-bremen.de</li>
<li>die-St&auml;mme.de</li>
<li>google.de</li>
<li>spiegel.de</li><br />
</ul><br />
<strong>4 Deiner Lieblingsessen</strong></p>
<ul>
<li>Totes Tier</li>
<li>Chinesisch</li>
<li>Spagetti</li>
<li>D&ouml;ner (richtiger!)</li><br />
</ul><br />
<strong>4 Pl&auml;tze an denen Du gerne im Augenblick sein m&ouml;chtest</strong></p>
<ul>
<li>an nem sonnigen Sandstrand</li>
<li>in den gr&uuml;nen Bergen</li>
<li>zu Hause</li>
<li>aufm Rad nach irgendwo unterwegs</li><br />
</ul><br />
<strong>4 erf&uuml;llbare W&uuml;nsche</strong></p>
<ul>
<li>aufger&auml;umte H&uuml;tte</li>
<li>mehr Zeit mit Jesus</li>
<li>freien Kopf</li>
<li>...</li><br />
</ul><br />
<strong>4 Blogger, an die Du das St&ouml;ckchen weiter gibst</strong></p>
<ul>
<li><a href="http://doro-unterwegs.blogspot.com/" target="_blank">Doro</a></li>
<li><a href="http://blogomotion.wordpress.com/" target="_blank">Julian</a></li>
<li><a href="http://lokkemotion.blogspot.com/" target="_blank">Lokke</a></li>
<li><a href="http://muckauf.blogspot.com" target="_blank">Muck</a></li>
<li>EDIT: <a href="http://seelenkaelte.myblog.de" target="_blank">seelenkaelte</a></li><br />
</ul></p>
