---
layout: post
status: publish
published: true
title: Autos und so
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 170
wordpress_url: http://blog.moerssl.net/?p=170
date: '2008-08-12 00:39:48 +0200'
date_gmt: '2008-08-11 22:39:48 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Grade laufen ja die Olypischen Spiele in Peking. Was meines Wissens keine olympische Disziplin ist, ist das Autorennen. Ich hab auf YouTube mal ein Video gefunden, dass zeigt, dass es sich bei den Rennen und auch sonst beim Autofahren immer noch um eine recht gef&auml;hrliche Angelegenheit handelt.</p>
<p>In den letzten Jahren h&ouml;ren wir in Europa ja recht wenig von Toten oder Verletzten in Formel 1 und Co (zumindest ist mir in den letzten Jahren nicht sonderlich viel zu Ohren gekommen.)</p>
<p>Hier mal das Video:</p>
<p style="text-align: center">[youtube wSf7xfMiwus]</p><br />
Wie schon gesagt, die Rennen sind und bleiben gef&auml;hrlich. Jedoch ist hier bei dieser Geschichte niemand ums Leben gekommen.</p>
