---
layout: post
status: publish
published: true
title: BE-STAN-DEN oh ooh
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 166
wordpress_url: http://blog.moerssl.net/?p=166
date: '2008-06-26 15:02:04 +0200'
date_gmt: '2008-06-26 13:02:04 +0200'
categories:
- newstime
tags: []
comments:
- id: 95
  author: Vali
  author_email: valu.due@gmx.net
  author_url: ''
  date: '2008-07-03 09:12:04 +0200'
  date_gmt: '2008-07-03 07:12:04 +0200'
  content: |-
    Hi M&ouml;r&szlig;l!

    Herzlichen Gl&uuml;ckwunsch zur bestandenen Pr&uuml;fung! :-) Phu, endlich geschafft. Und nun w&uuml;nsch ich dir weiter viel Spass und Freude bei der Arbeit aber vor allem, dass du in Jesus Christus ganz krass gesegnet bist, so dass alle um dich herum angesteckt werden *yeah*

    LG Vali
---
<p>hach, es ist einfach toll. ich hab 3 jahre lang auf diesen tag hin gearbeitet und nun ist es endlich soweit.</p>
<p>heute morgen um 10 uhr war ich eingeladen um meine m&uuml;ndliche pr&uuml;fung abzulegen. die hat auch gut geklappt, auch wenn mich der beamer etwas im stich gelassen hat...</p>
<p>m&uuml;ndliche pr&uuml;fung bestanden. ausbildung vorbei. und wie gehts nun weiter?? ab dienstag bin ich fest angestellt. :)</p>
<p>Ein riesiges Danke geht an die Leute, die mich die ganzen Jahre unterst&uuml;tzt haben, an und f&uuml;r mich geglaubt haben und f&uuml;r mich gebetet haben.</p>
<p>Und auf gehts nun in den neuen Lebensabschnitt :).</p>
