---
layout: post
status: publish
published: true
title: Neuer&ouml;ffnung
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 176
wordpress_url: http://moerssl.net/blog/?p=176
date: '2010-08-11 19:51:01 +0200'
date_gmt: '2010-08-11 19:51:01 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ja, hier kommt er. In neuem Gewand, mit neuem Titel und mit bew&auml;hrter Technik. Ich fang wieder an zu bloggen. Und diesmal wieder unter meinem liebgewonnen Wordpress.</p>
<p>Nachdem ja der Ausflug zu Drupal nicht soooo erfolgreich war. Diesmal hab ich mir gedacht, dass ich einfach mal die Strecke zu meiner Vision, mein Leben und Wirken ein wenig dokumentiere. Also schreibe ich wahrscheinlich einfach das, was mir in den Sinn kommt.</p>
<p>Ich freu mich schon wieder sehr auf die nun neu anbrechende Bloggerzeit. Auf dass sie sehr segensreich werde.</p>
