---
layout: post
status: publish
published: true
title: On The Road To Vision
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 181
wordpress_url: http://blog.moerssl.net/?p=181
date: '2010-08-26 19:32:05 +0200'
date_gmt: '2010-08-26 19:32:05 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>So wie der Titel hei&szlig;t nun auch mein Blog. Ich hab den auch nicht ohne Grund so genannt.Vielleicht kennt ihr das, ihr habt von Gott einen Traum, eine Vision aufs Herz gelegt bekommen und die l&auml;sst euch einfach nicht mehr los. Jedenfalls ist es bei mir so. Ich hab mir lange Zeit gelassen, um das publik zu machen, aber ich denke so langsam ist es an der Zeit. Ich sp&uuml;re schon eine l&auml;ngere Zeit, dass es mich nach S&uuml;dafrika zieht, um da was zu machen. Was genau das sein wird, wei&szlig; ich jetzt noch nicht genau. Aber das (Zwischen-)Ziel sehe ich schon eine ganze Weile. Um nun alles ein wenig genauer zu beleuchten und um auch f&uuml;r mich den Werdegang der Vision nach zu vollziehen, nutze ich den Blog hier. Ich m&ouml;chte hier einfach so die Schritte beleuchten, die ich so als n&auml;chstes angehe. Ein "Visionstatement" habe ich bisher noch nicht ausformuliert, aber ich hoffe, dass das bald mal geschehen kann. Auch daf&uuml;r soll der Blog dienen.</p>
<p>Ich bin mal gespannt, was die n&auml;chste Zeit so alles bringt. Das eine oder andere Ereignis wirft schon seine Schatten voraus.</p>
