---
layout: post
status: publish
published: true
title: Kurzupdate
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 194
wordpress_url: http://blog.moerssl.net/?p=194
date: '2010-10-26 17:33:31 +0200'
date_gmt: '2010-10-26 17:33:31 +0200'
categories:
- bodywork
tags: []
comments:
- id: 103
  author: Tina
  author_email: mifell@gmx.net
  author_url: ''
  date: '2011-02-15 11:54:34 +0100'
  date_gmt: '2011-02-15 11:54:34 +0100'
  content: M&ouml;r&szlig;lchen, wo steckst du denn?
---
<p>Nicht dass ich es vergessen h&auml;tte hier was zu schreiben, nur war der letzte Monat sehr reisereich und daher die Zeit zum Schreiben etwas rar.</p>
<p>"projekt rauchfrei 2010" erfreut sich immer noch bester Aktualit&auml;t. Mittlerweile ist es schon &uuml;ber anderhalb Monate her, dass ich die letzte Kippe geraucht hab. Allerdings ist es grad in stressreichen Zeiten immer wieder ein Kampf es auch dabei zu belassen. Wer mag kann gerne beten.</p>
<p>Was das andere Projekt angeht, werde ich Anfang November sehen, wies weiter geht. Schlie&szlig;lich hab ich dann den n&auml;chsten Termin beim HNO. Bin schon ganz gespannt auf dieses Schnarchger&auml;t.</p>
