---
layout: post
status: publish
published: true
title: rauchfrei 2010 - schnarchfrei 2010
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 191
wordpress_url: http://blog.moerssl.net/?p=191
date: '2010-09-20 22:05:19 +0200'
date_gmt: '2010-09-20 22:05:19 +0200'
categories:
- bodywork
tags: []
comments:
- id: 100
  author: Tina
  author_email: mifell@gmx.net
  author_url: ''
  date: '2010-10-04 08:45:31 +0200'
  date_gmt: '2010-10-04 08:45:31 +0200'
  content: Der M&ouml;r&szlig;l ist wieder da!!!! Juchu :-) !
- id: 101
  author: Beti
  author_email: bbergdolt@gmx.de
  author_url: ''
  date: '2010-10-06 20:18:13 +0200'
  date_gmt: '2010-10-06 20:18:13 +0200'
  content: Dann mal alles Gute! Du schaffst das.
- id: 102
  author: Von der Fortf&uuml;hrung | moerssl.NET
  author_email: ''
  author_url: http://moerssl.net/2012/06/21/von-der-fortfuhrung/
  date: '2012-06-21 12:45:27 +0200'
  date_gmt: '2012-06-21 10:45:27 +0200'
  content: "[...] Sommer 2010 startete ich 2 Projekte: rauchfrei2010 und schnarchfrei2010.
    Damit wollte ich meine Lebensqualit&#228;t [...]"
---
<p>Ich hab vor ein paar Wochen zwei Projekte f&uuml;r mich ins Leben gerufen. Das eine ist "rauchfrei 2010" und das andere "schnarchfrei 2010".</p>
<p>Das mit dem Schnarchen hat die Bewandnis, dass man ja nicht nur anderen den Schlaf raubt, sondern auch selber nicht wirklich gut schl&auml;ft. Wer schonmal mit mir nen Raum geteilt hat (oder auch einfach nur neben an gepennt hat) wei&szlig;, dass ich schon ne recht gute Lautst&auml;rke drauf hab. Damit ich nun demn&auml;chst nicht auch noch Anzeigen wegen L&auml;rmbel&auml;stigung bekomme, habe ich mich dazu entschlossen, endlich mal was gegen das Schnarchen zu unternehmen. Daf&uuml;r habe ich mein Projekt "schnarchfrei 2010" ins Leben gerufen. Letzte Woche Dienstag hatte ich bereits den Kickoff-Termin f&uuml;r dieses Projekt. Mein erster Besuch beim Hals-Nasen-Ohren-Arzt stand an. Nach kurzer Untersuchung konnte jener nicht sofort feststellen, woher meine n&auml;chtlichen S&auml;geger&auml;usche stammen. Also gehts demn&auml;chst - genauer gesagt Anfang November - mit einem Diagnoseger&auml;t s&auml;gen. Mal schauen, was hierbei rauskommt. Ich werde euch auf dem Laufenden halten.</p>
<p>Ein weiteres Projekt, das dieses Jahr ansteht ist "rauchfrei 2010". Dass Rauchen eigentlich ziemlich idiotisch ist, wei&szlig; heut zu tage jedes Kind. Trotzdem hatte ich recht sp&auml;t mitm Rauchen angefangen. Doof f&uuml;r die Gesundheit, doof f&uuml;r den Geldbeutel - und genau deshalb h&auml;ng ich es jetzt an den Nagel.</p>
<p>Nach dem Freakstock hatte ich angefangen so langsam den Konsum runter zu reduzieren. Gestartet bin ich bei 13 Kippen pro Tag. Mit einigen Aufs und Abs bin ich nun seit 8 Tagen ohne Kippe. Es ist zwar jeden Tag ein Kampf, aber ich bin guten Mutes, diesen Kampf zu gewinnen.</p>
<p>Wer m&ouml;chte kann ja gern f&uuml;r mich und meine zwei Projekte beten. Ich werde euch auf dem Laufenden halten.</p>
