---
layout: post
status: publish
published: true
title: Happy Birthday, Baby Jesus
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 212
wordpress_url: http://blog.moerssl.net/2011/12/25/happy-birthday-baby-jesus/
date: '2011-12-25 18:17:50 +0100'
date_gmt: '2011-12-25 18:17:50 +0100'
categories:
- holyday
tags: []
comments: []
---
<p>Ausschlafen, dann Fleisch und Gem&uuml;se schnippseln, alles schon in Sch&auml;lchen dekorieren, K&uuml;che schm&uuml;cken, Raclette aufbauen und dann mit den Partyg&auml;sten zusammen eine wunderbare Geburtstagsparty f&uuml;r Jesus feiern. :D
<div>Ein Heilig Abend der (noch) etwas anderen Art. Cool wars, auf jeden!</div></p>
