---
layout: post
status: publish
published: true
title: Familyhopping II
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 205
wordpress_url: http://blog.moerssl.net/2011/12/18/familyhopping-ii/
date: '2011-12-18 12:08:42 +0100'
date_gmt: '2011-12-18 12:08:42 +0100'
categories:
- familystory
- heartbeat
tags: []
comments: []
---
<p>Da waren sie vorbei - die beiden Wochenenden, wo wir beide unsere Vorg&auml;ngergeneration besucht haben. Zur Hinfahrt nach Duisburg hie&szlig; es erst einmal schleichen. Der Verkehrsfunk von ffn warnte vor Eis auf der Autobahn und ein Blicke nach drau&szlig;en und aufs Autothermometer lie&szlig;en auch nix anderes Schlussfolgern. &Auml;hnlich sah das Bild der anderen Autofahrer aus. Vorsicht ist besser als Nachsicht werden sich wohl viele gedacht haben - und schneller als 110 Stundenkilometer ging dann nix.
<div>So kamen wir mit ner Stunde Versp&auml;tung gegen&uuml;ber dem Navi im verregneten Duisburg an.</div>
<div>Zun&auml;chst gabs Aufw&auml;rmcappu bei der Mama der Liebsten und nachher noch einen kleinen Ausflug zum Duisburger Weihnachtsmarkt. (Hallo Bremen, hallo Leipzig - so geht Weihnachtsmarkt). Hier haben wir dann auch schon ein paar Geschenke u.a. f&uuml;r meine Kleine gefunden. Sch&ouml;n wars. Eine Fahrt im Riesenrad und Met rundeten dann diesen Besuch ab.</div>
<div>Am n&auml;chsten Morgen gings dann flux noch auf den "t&uuml;rkischen Basar." Hier lernte man dann auch, dass Orangen mit Garantie verkauft werden. "Orangen, 2 Jahre Garantie", schrie einer der Budenbesitzer. Ich hab ja so gelacht. Nach einem Rundgang auf dem Oberhausener Weihnachtsmarkt gings dann auch schon wieder zur&uuml;ck nach Bremen. Diesmal war das Wetter wohl gesonnener, weil w&auml;rmer. Mit einem sch&ouml;nen und erfolgreichen Wochenende hatte uns die Hansestadt dann wieder.</div>
<div>Und n&auml;chstes Wochenende - bleiben wir erstmal in Bremen. Die Autobahnen &uuml;berleben auch ohne uns ;).</div></p>
