---
layout: post
status: publish
published: true
title: Familyhopping
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 203
wordpress_url: http://blog.moerssl.net/2011/12/11/familyhopping/
date: '2011-12-11 19:05:20 +0100'
date_gmt: '2011-12-11 19:05:20 +0100'
categories:
- familystory
- heartbeat
tags: []
comments: []
---
<div>Wie wunderbar die Familie im fernen Sachsenland doch schaut, wenn man auf einen &Uuml;berraschungsbesuch vorbeischaut. Hatte ich doch Mitte letzter Woche noch angerufen, dass die Liebste und ich zwar in der Gegend sind, es aber nicht schaffen w&uuml;rden noch auf einen Kaffee oder so vorbei zu schauen.</div>
<div>Geplant war der Besuch auch nicht - ergab sich dann aber aus einer verfr&uuml;hten Abfahrt. &Uuml;berraschte Gesichter bei Mutter, Schwester und Oma sind dann doch was sch&ouml;nes. Wenn man f&ouml;rmlich sehen kann, wie die kleine Schwester beim Anblick des gro&szlig;en Bruders nachdenkt, ob das sein kann - einfach k&ouml;stlich.</div>
<div>Aber da ja nicht immer alles so spontan sein kann, wie der vergangene Besuch <strike>in der Zone</strike> im Sachsenland, gehts n&auml;chstes Wochenende geplant weiter gen Westen. Zur Mama der Liebsten.</div></p>
