---
layout: post
status: publish
published: true
title: Ab auf die Stra&szlig;e
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 197
wordpress_url: http://blog.moerssl.net/?p=197
date: '2011-05-17 19:11:00 +0200'
date_gmt: '2011-05-17 19:11:00 +0200'
categories:
- holyday
tags: []
comments: []
---
<p>On the road to vision - eigentlich sollte der Satz nur symbolisieren, dass ich mich bewusster mit meiner Berufung, meiner Vision auseinandersetzen will. Der Blog soll dazu dienen, um hier die Schritte meiner Visionsfindung zu dokumentieren. Naja, das hab ich im letzten Jahr ein wenig schleifen lassen. Daf&uuml;r sind wunderbare Dinge in Sachen "Bestimmung leben" passiert.</p>
<p>Mittlerweile ist der Slogan des Blogs gewisserma&szlig;en zum Lebensmotto geworden. Seit Anfang des Jahres bin ich bei einem Finanzdienstleister in Braunschweig t&auml;tig und pendle somit zwischen Bremen und Braunschweig hin und her. In den vergangenen Monaten hat sich aber auch die Vision immer weiter ins Praktische r&uuml;cken lassen. Ich habe mit Rainer einen Partner gefunden, mit dem ich die n&auml;chsten Schritte auf meinem Berufsweg gehen werden. Dazu gibts dann demn&auml;chst wirklich mehr.</p>
<p>On the road to vision - neben der Pendlerei bin ich auch immer wieder gern in Deutschland unterwegs, um Menschen zu treffen und kennen zu lernen. Demn&auml;chst steht das Willo Freak an. Darauf freue ich mich schon wie ein kleines Kind. Wird doch da mein Bruderherz mit von der Partie sein. On the road werden wir auch wieder sein - auf dem Weg durch Deutschland. Wohin es genau geht? Werden wir wohl erst am Sonntag nach Himmelfahrt wissen :).</p>
<p>Ich hoffe, das Schreiben erfolgt nun wieder ein wenig regelm&auml;&szlig;iger. Der Wille ist ja da (oh man, wie oft habe ich das schon hier geschrieben - glaubt mir das noch jemand?!?).</p>
<p>Stay tuned!</p>
