---
layout: post
status: publish
published: true
title: Auf die Beine
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 201
wordpress_url: http://blog.moerssl.net/2011/12/06/auf-die-beine/
date: '2011-12-06 06:07:16 +0100'
date_gmt: '2011-12-06 06:07:16 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Da habe ich in den vergangenen Jahren diverse Versuche gestartet, diesen Blog wieder an Laufen zu kriegen und das funktionierte auch mal gut mal weniger gut. Nun starte ich wieder einen Versuch. Den Blog zusammen mit mir wieder auf die Beine zu kriegen.&nbsp;
<div>Ich als alter IT-Futzie fahre da gleich mal mehrere Gesch&uuml;tze auf. War ich es regelm&auml;&szlig;ig leid, &uuml;ber die Wordpress-Maske zu bloggen und mich einzuloggen etc. und dann von Facebook and Friends abgelenkt zu werden, schreib ich nun &uuml;ber Blogilo. Wahrscheinlich so ne Art Blogdesk f&uuml;rs Linux. Mal sehen, wie sich das entwickelt.</div>
<div>Zus&auml;tzlich dazu, werd ich die Ausstattung des Blogs in n&auml;chster Zeit noch etwas pimpen. Da ich ja ab und an mal predige, werde ich hier einen Podcast mit meinen Predigten laufen lassen. Mal sehen, wie sich das Plugin schl&auml;gt. Runtergeladen ist es schon, eingerichtet muss es noch werden.&nbsp;</div>
<div>Ready for social networks ist dann die n&auml;chste Bloginitiative, die hier gestartet wird. Ihr d&uuml;rft weiter (wieder?) gespannt sein.&nbsp;</div></p>
