---
layout: post
status: publish
published: true
title: Land in Sicht?
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 377
wordpress_url: http://moerssl.net/?p=377
date: '2012-07-15 13:35:20 +0200'
date_gmt: '2012-07-15 11:35:20 +0200'
categories:
- bodywork
tags: []
comments: []
---
<p>So langsam bin ich diese Krankheitsphase echt leid und ich sehne mich nach Normalit&auml;t.</p>
<p>Gern w&uuml;rde ich die Medikamente endlich los sein und nicht mehr einen Gro&szlig;teil der Abendplanung auf die Einnahme der Tabletten abstimmen m&uuml;ssen. Allerdings werde ich die Medis nicht ohne Absprache mit dem Arzt absetzen. So schlau bin ich ja.</p>
<p>Am Mittwoch habe ich den n&auml;chsten Arzttermin. Ich werde dann 4,5 Monate krank geschrieben sein. Wir werden dann (hoffentlich) einen Plan aufstellen, wie ich wieder ins Arbeitsleben finde. Weitere Treffen seitens der Arbeit werden dann folgen.</p>
<p>Ich hoffe, dass es nicht mehr allzu lange dauert, bis ich wieder mit dem Arbeiten anfangen kann. So langsam wird die Zeit zu hause anstrengend und echt zur Belastung. Und das ist ja nicht der Sinn davon, krankgeschrieben zu sein.</p>
<p>Ich will wieder arbeiten gehen - und das am liebsten schon recht bald!</p>
