---
layout: post
status: publish
published: true
title: Ein ungeschickter Brief
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 452
wordpress_url: http://moerssl.net/?p=452
date: '2012-11-19 19:31:41 +0100'
date_gmt: '2012-11-19 18:31:41 +0100'
categories:
- unsent
tags: []
comments:
- id: 124
  author: vollblutmami
  author_email: vollblutmami@web.de
  author_url: http://vollblutmami.wordpress.com/
  date: '2012-11-21 16:00:02 +0100'
  date_gmt: '2012-11-21 15:00:02 +0100'
  content: "Eine Beziehung zu beenden ist immer schwer. Wenn dabei noch Kinder im
    Spiel sind, wird es meistern sehr h&auml;&szlig;lich. Ich wei&szlig; das aus eigener
    Erfahrung. Bei mir ist es aber genau umgekehrt gewesen. Nach der Scheidung wollte
    der Kindesvater keinen Kontakt. \n\nDeine Gef&uuml;hle f&uuml;r die kleine sind
    voller Liebe und es ist sch&ouml;n zu sehen das es so ist. R. wird ihr irgendwann
    erkl&auml;ren m&uuml;ssen wer ihr Vater ist. Wenn sie fair ist, stellt sie dich
    dann nicht als \"Buh-Mann\" hin sondern erkl&auml;rt ihr die Wahrheit. (N&auml;mlich
    das die Mama und der Papa sich nicht mehr lieb hatten und deshalb nicht mehr zusammen
    sind. Der Papa wollte Kontakt zu ihr, aber die Mama war so traurig und b&ouml;se
    das sie den Kontakt verbot.) Das ist nicht immer einfach den anderen nicht als
    \"Buh-Mann\" da stehen zu lassen, aber man sollte es dem Kind zu liebe versuchen.\n\nWas
    den Brief angeht... Das Vergangene in Worte zu fassen ist sicherlich schwer. Du
    liebst deine Tochter &uuml;ber alles. Du hast sie und R. gehen lassen aus Liebe
    zu dem Kind. Das wird sie jetzt noch nicht verstehen, aber eines Tages schon.
    La&szlig; dir Zeit mit dem Brief. Und wenn die kleine Maus irgendwann vor dir
    steht voller Erwartungen und Fragen, vllt auch voller Wut und Entt&auml;uschung
    weil du all die Jahre nicht da warst, DANN  la&szlig; dein Herz sprechen. Du wirst
    die richtigen Worte finden. \n\nDenn Liebe ist immer St&auml;rker . <3\n\nIch
    w&uuml;nsche dir ganz viel Kraft und Gottes segen. Du hast eine tolle Frau und
    wunderbare Freunde die dich st&uuml;tzen und dir zur Seite stehen. \n\nGLG vollblutmami"
---
<p>Schon lange denke ich dar&uuml;ber nach einen Brief an meine Tochter zu schreiben. Sie ist grade erst zwei Jahre alt geworden und muss ohne ihren Vater aufwachsen.</p>
<p>Ich w&uuml;rde ihr gern schreiben, warum. M&ouml;chte schreiben, dass ihre Mutter (R.) und ich uns trennten, als sie noch nicht geboren war. Dass die Trennung schei&szlig;e war, dass R. mir das Konto leer r&auml;umte und das Auto mitnahm. Ohne jegliche Erkl&auml;rung. Gl&uuml;cklicherweise hatte ich Kontakt zu ihren Eltern und wusste dadurch, dass sie zu ihnen f&auml;hrt.</p>
<p>Ich m&ouml;chte ihr beschreiben, wie dreckig es mir in der Zeit ging, als sie noch nicht geboren war. In der Zeit, als ich einsam in einem kleine Kaff in Niedersachsen lebte - fern ab von meinen Freunden. Dass ich beim Punk Unteschlupf finden konnte, dass meine Gemeinde mich getragen hat.</p>
<p>Ich m&ouml;chte ihr schreiben, wie warm mir ums Herz wurde, als ich das Bild von ihr bekam, nachdem sie geboren war. Ich hab sie sofort ins Herz geschlossen, obwohl ich da schon wusste, dass ich sie nicht oft sehen werde. Sie lebt ja schlie&szlig;lich im Harz und ich in Bremen.</p>
<p>Ich m&ouml;chte ihr schreiben, wie mich der Kontakt zu R. dieses Jahr fast in den Ruin brachte. Jeder Besuch geriet zur Tortur. Wir verabredeten Termine, keiner fand so statt, wie vereinbart. An Infos ran zu kommen, schier unm&ouml;glich. Es machte mich kaputt, mich mit R. auch nur in Gedanken auseinander zu setzen.</p>
<p>Es gab Zeit, da hatte ich Angst wenn das Handy vibrierte, weil es ja eine SMS von R. sein k&ouml;nnte. Und wenn dann tats&auml;chlich mal eine SMS von ihr ankam, fiel ich in tiefe Schw&auml;rze.</p>
<p>Ich m&ouml;chte ihr schreiben, dass ich um sie k&auml;mpfen wollte. Dass ich sie liebe. M&ouml;chte ihr schreiben, wie sehr es mich traf, als ich erfuhr, dass R. meiner Anerkennung der Vaterschaft nicht zustimmte. Dass R. mir damit den letzten kleinen Schimmer Hoffnung nahm. Nun hatte ich nicht einmal mehr das Recht auf meiner Seite. Ich war nichts. Der Kleinen gegen&uuml;ber genauso viele Rechte, wie der Kassierer aus dem Sparmarkt.</p>
<p>Ich unternahm erstmal nix. Hoffte aus zwischenmenschliche &Auml;nderungen und dass sie meiner Vaterschaftsanerkennung doch noch zustimmen w&uuml;rde. Wie viel an so einer Unteschrift doch h&auml;ngen kann.</p>
<p>Ich m&ouml;chte ihr von dem Knall dieses Jahr schreiben. Davon dass R. &uuml;berhaupt nicht vor hatte, meiner Vaterschaft zuzustimmen. Und mir damit die M&ouml;glichkeiten nahm. M&ouml;chte ihr schreiben, wie mich die Vorw&uuml;rfe trafen, ich w&uuml;rde mich f&uuml;r sie nicht interessieren. M&ouml;chte ihr erkl&auml;ren, wie jeder Kontakt zu R. mich l&auml;hmte, mich fertig machte. Mich - ich schrieb es schon - an den Rand des Zusammenbruchs brachte.</p>
<p>Ich m&ouml;chte ihr schreiben, wie schwer es mir fiel, die Anerkennung zu widerrufen. Ich hasste mich daf&uuml;r. Es schien mir aber der einzige Ausweg. F&uuml;r einen weiteren Kampf um sie hatte ich einfach keine Energie mehr. Einen weiteren Zusammenbruch dieses Jahr h&auml;tte ich nicht verkraftet. Es gab schon zwei - einen im November und einen Ende Februar. Die Kraft von einem dritten wieder auf zu stehen, hatte ich nicht. Ich w&auml;re liegen geblieben. Von der Kraft f&uuml;r einen Kampf um sie ganz zu schweigen.</p>
<p>Ich lie&szlig; die beiden ziehen. Wenn auch nicht ganz freiwillig. Es war reiner Selbstschutz, diesen Schritt zu gehen. Es war die schrecklichste Entscheidung meines Lebens. Ein schwarzer Fleck auf meiner Seele.</p>
<p>Das alles m&ouml;chte ich schreiben. Alleine mir fehlen die Worte, um es in Briefform zu packen. :'-(</p>
