---
layout: post
status: publish
published: true
title: Gl&uuml;ckseeligkeit
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 202
wordpress_url: http://blog.moerssl.net/?p=202
date: '2012-01-25 14:29:08 +0100'
date_gmt: '2012-01-25 14:29:08 +0100'
categories:
- heartbeat
tags: []
comments: []
---
<p>M: "Wie hast du das nur geschafft&shy;????????????&shy;"<br />
Ich: "Gewartet, lange gewartet und dann den richtigen Moment abgepasst."</p>
<p><3</p>
