---
layout: post
status: publish
published: true
title: 'One lesson per day #1'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 513
wordpress_url: http://moerssl.net/?p=513
date: '2012-12-25 18:44:24 +0100'
date_gmt: '2012-12-25 17:44:24 +0100'
categories:
- dailylesson
tags: []
comments:
- id: 132
  author: Tina Pappnase
  author_email: tinakoch9@gmx.de
  author_url: http://www.pappnase9.de
  date: '2012-12-26 15:25:39 +0100'
  date_gmt: '2012-12-26 14:25:39 +0100'
  content: |-
    Sonntag: wir Ossis wissen halt was gut ist *g* Bei uns auch nur mit Gurkenwasser.

    LG
- id: 133
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2012-12-28 22:59:37 +0100'
  date_gmt: '2012-12-28 21:59:37 +0100'
  content: Bei uns auch nur mit Gurkenwasser. War irgendwie Geheimwaffe f&uuml;r alles.
---
<p>Die Liebste hat eine ganz tolle Idee vom Hauskreis mit gebracht: Jeden Tag macht man sich bewusst, was man neu gelernt hat und teilt das dann mit anderen. Wir dachten uns, dass das doch was gut blogbares w&auml;re. Nun ja, soweit die Idee.</p>
<p>Hier nun die ersten Erkenntnisse:</p>
<p><strong>[Freitag]</strong></p>
<p>Man lernt jeden Tag was neues ;-).</p>
<p><strong>[Samstag]</strong></p>
<p><a title="Manchmal" href="http://moerssl.net/2012/12/22/manchmal/" target="_blank">Diese Traurigkeit</a> ist nur eine Phase.</p>
<p><strong>[Sonntag]</strong></p>
<p>Im Kartoffelsalatrezept der Liebsten fehlt das Gurkenwasser. Bei uns geh&ouml;rte das mit dazu.</p>
<p><strong>[Montag]</strong></p>
<p>Der Brauch der Weihnachtsgans in England wurde erst ab 1600 durch Elisabeth I. eingef&uuml;hrt. Vorher war Schweinebraten &uuml;blich.</p>
