---
layout: post
status: publish
published: true
title: Zum Davonrennen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 315
wordpress_url: http://moerssl.net/?p=315
date: '2012-05-14 18:14:31 +0200'
date_gmt: '2012-05-14 18:14:31 +0200'
categories:
- bodywork
tags: []
comments:
- id: 110
  author: Tina
  author_email: mifell@gmx.net
  author_url: ''
  date: '2012-05-15 14:13:06 +0200'
  date_gmt: '2012-05-15 14:13:06 +0200'
  content: |-
    Ich schieb dir mal ein Surfbrett r&uuml;ber und dr&uuml;ck dich (((((M&ouml;erssl)))))
    Du schaffst das, da bin ich ganz sicher!
---
<p>Du sitzt in der Bahn, willst die Liebste von der Arbeit abholen, hast Linkin Park auf dem Ohr. Und dann br&uuml;llt die Chester ins Ohr: "I wanna run away, never say good bye. I wanna know the truth, instead of wondering why." Und dann siehst du die Wellen der Vergangenheit, wie sie in rei&szlig;enden Fluten hinter dir her sind. Brausend, sch&auml;umend, schwarz, vernichtend. Erinnert ihr euch an die Bilder von den Tsunamis in Japan und S&uuml;dostasien?</p>
<p>Und du stellst dir die Frage, ob du dich diesen Wellen wirklich stellen willst, obwohl dir zum wegrennen ist. Nun habe ich vor circa einem halben Jahr inne gehalten und laufe den Wellen entgegen, die scheinbar alles zermalmen, was ihnen in den Weg kommt.</p>
<p>An manchen Tagen f&uuml;rchte ich mich vor meinem eigenen Mut. Manchmal m&ouml;chte ich mich nur in Sicherheit bringen und von neuem anfangen, wenn sich die Wellen der Vergangenheit verzogen haben. Manchmal.</p>
<p>&nbsp;</p>
<p>http://www.youtube.com/watch?v=hfnKhVuCHAM</p>
