---
layout: post
status: publish
published: true
title: Tagged! In 20 Fragen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 461
wordpress_url: http://moerssl.net/?p=461
date: '2012-11-22 14:44:55 +0100'
date_gmt: '2012-11-22 13:44:55 +0100'
categories:
- heartbeat
tags: []
comments: []
---
<p>Die <a href="http://federschwarz.wordpress.com/2012/11/21/tagged-in-20-fragen/" target="_blank">Liebste</a> hat mich getaggt und nun darf ich ein paar Fragen zu mir beantworten. Auf gehts.</p>
<p><strong>1. Beschreibe Dich in 3 Worten.</strong></p>
<p>loyal, gutherzig, Wortspielfanatiker</p>
<p>&nbsp;</p>
<p><strong>2. Wie f&uuml;hlst Du Dich, wenn Du mit der Kamera sprichst?</strong></p>
<p>Gestellte Bilder sind f&uuml;r mich ein Graus. "Bitte l&auml;cheln", und ich verziehe derma&szlig;en das Gesicht, dass es besser w&auml;re, kein Foto zu schie&szlig;en. Filmen ist da eine andere Sache, da kann ich ausblenden, dass die Kamera da ist. Mich dann nachher auf den Aufnahmen zu sehen, ist aber seltsam.</p>
<p>&nbsp;</p>
<p><strong>3. Was magst Du nicht an Deinem Aussehen?</strong></p>
<p>Es gab eine Zeit, da war ich mit meinem Gesicht unzufrieden. Das war aber mal. Mein Bauch d&uuml;rfte ein wenig straffer sein.</p>
<p>&nbsp;</p>
<p><strong>4. Ohne welches Produkt willst Du nicht rausgehen?</strong></p>
<p>Z&auml;hlt der Schl&uuml;ssel als Produkt? Ich will ja auch wieder in die Wohnung kommen ;). Ansonsten w&auml;re - oh Wunder - das Smartphone. Kontaktm&ouml;glichkeit, Emailpostfach, Feedreader und Spielzeug in einem.</p>
<p>&nbsp;</p>
<p><strong>5. Machst Du etwas, obwohl Du es nicht kannst?</strong></p>
<p>Von mir denken, dass ich Dinge kann. (Nennt man das Selbstbewusstsein?) Oft tue ich Sachen nicht, weil ich denke, dass ich sie nicht gut genug kann. Ist aber bei n&auml;herem Hinschauen Schwachsinn. Grade was die Arbeit angeht.</p>
<p>&nbsp;</p>
<p><strong>6. Was w&uuml;rdest Du gerne an Dir &auml;ndern, tust es aber nie?</strong></p>
<p>Ich bin dabei einige Dinge zu &auml;ndern, die ich an mir nicht mochte. Der Prozess l&auml;uft also. Das macht es um so schwerer diese Frage zu beantworten...</p>
<p>Ich w&uuml;rde gern mehr lesen, bin da aber meist zu faul.</p>
<p>&nbsp;</p>
<p><strong>7. Was magst Du nicht an anderen Menschen?</strong></p>
<p>Dummes Gerede. Wenn Leute reden, damit sie reden und sich selbst dabei gerne zuh&ouml;ren. Einfach schrecklich. Wenn es dann noch der gr&ouml;&szlig;te Bullshit ist, verlasse ich am liebsten den Raum.</p>
<p>&nbsp;</p>
<p><strong>8. Nenne 4 Dinge, die Du gerne machst.</strong></p>
<ul>
<li>Zeit mit meiner Frau verbringen, zusammen gekuschelt auf dem Sofa.</li>
<li>Mich mit Freunden &uuml;ber ihre Tr&auml;ume unterhalten.</li>
<li>Buchhaltung und finanzielle Pl&auml;ne schmieden ;-)</li>
<li>Web Design und Webanwendungen so gestalten, dass sie intuitiv sind. Und da lernen, lernen, lernen.</li><br />
</ul><br />
&nbsp;</p>
<p><strong>9. Gibt es ein Kleidungsst&uuml;ck, welches Du nicht magst, aber trotzdem tr&auml;gst?</strong></p>
<p>Es gibt ein Paar Schuhe, dass ich ungern anziehe. Dann liegen die eine Zeit lang rum und ich vergesse warum ich sie nicht mehr anziehe. Dann zieh ich sie ein oder zwei Mal an und mir f&auml;llt es wieder ein. Der Grund: Schnell kalt werdende F&uuml;&szlig;e.</p>
<p>&nbsp;</p>
<p><strong>10. Wie wichtig ist Dir das Aussehen?</strong></p>
<p>Mir ist wichtig, dass ich mich wohl f&uuml;hle und dass ich ich sein kann. Das k&ouml;nnen Jeans und Hemd sein oder die Jogginghose. Auch im Anzug f&uuml;hle ich mich wohl. Es muss halt passen.</p>
<p>&nbsp;</p>
<p><strong>11. Gibt es etwas, was du sammelst?</strong></p>
<p>Wenn ich l&auml;nger dr&uuml;ber nachdenken muss, sammle ich wohl nix ;).</p>
<p>&nbsp;</p>
<p><strong>12. Was tust Du, wenn Dir keiner zuschaut?</strong></p>
<p>Laut und anhaltend wegen Kleinigkeiten fluchen.</p>
<p>&nbsp;</p>
<p><strong>13. Welche Farben tr&auml;gst Du gerne auf Deinen N&auml;geln?</strong></p>
<p>Meine N&auml;gel sind in der Regel unbehandelt. An ganz ausgefallenen und bisher sehr seltenen Tagen spendiere ich ihnen schwarzen Nagellack.</p>
<p>&nbsp;</p>
<p><strong>14. Nenne 3 Dinge, die Dir am anderen Geschlecht gefallen.</strong></p>
<ul>
<li>Die Augen (und ich meine die Augen im Gesicht!)</li>
<li>Der R&uuml;cken</li>
<li>Die andere Sicht auf die Welt</li><br />
</ul><br />
&nbsp;</p>
<p><strong>15. Mit was kommst Du nicht klar?</strong></p>
<p>Mit den deutschen Autofahrern, die das Rei&szlig;verschlussprinzip nicht verstanden haben.</p>
<p>&nbsp;</p>
<p><strong>16. Welche ber&uuml;hmte Person bewunderst Du?</strong></p>
<p>Bewundern ist so ein gro&szlig;es Wort. Und das w&uuml;rde ich f&uuml;r keinen der Ber&uuml;hmtheiten benutzen. Viele Leute, bei denen man sich was abschauen kann, stehen nicht im Rampenlicht.</p>
<p>&nbsp;</p>
<p><strong>17. Was ist Deine gr&ouml;&szlig;te Angst?</strong></p>
<p>Das sch&ouml;ne Leben wieder zu verlieren, das ich jetzt habe.</p>
<p>&nbsp;</p>
<p><strong>18. Was bedeutet Gl&uuml;ck f&uuml;r Dich?</strong></p>
<p>Menschen und einen Gott an meiner Seite zu wissen, die immer f&uuml;r mich da sind. Mein Gl&uuml;ck habe ich dieses Jahr geheiratet.</p>
<p>&nbsp;</p>
<p><strong>19. Was planst Du schon lange, hast es aber immer noch nicht gemacht?</strong></p>
<p>Eine Reise nach S&uuml;dafrika.</p>
<p>&nbsp;</p>
<p><strong>20. Nenne etwas Merkw&uuml;rdiges &uuml;ber Dich!</strong></p>
<p>Wenn ich deutsche Synchronisationen sehe bzw. h&ouml;re und ich eine Stimmen h&ouml;re, die mir bekannt vorkommen, muss ich so lange nachgr&uuml;beln, bis ich auch die andere Besetzung der Stimme herausgefunden habe. Das gilt &uuml;brigens auch f&uuml;r Dokumentationen und Werbespots.</p>
<p>Dass ich Nutellabrot mit Bautzner Senf esse ist doch nicht merkw&uuml;rdig, oder?</p>
<p>&nbsp;</p>
<p><strong>21. Wen taggst Du?</strong></p>
<p>Ich tagge die Frau <a title="Feuerengel" href="http://www.meinfeuerengel.net/" target="_blank">Feuerengel</a> und <a title="Corcken" href="http://corcken.com/" target="_blank">Corcken</a>.</p>
