---
layout: post
status: publish
published: true
title: Ready for LiftOff
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 364
wordpress_url: http://moerssl.net/?p=364
date: '2012-06-27 14:02:49 +0200'
date_gmt: '2012-06-27 12:02:49 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Schon im letzten Post schrieb ich, dass ich nun fast vier Monate zu hause sitze. Arbeiten ging gar nicht mehr und anfangs war ich mit reinem Fernsehalltag &uuml;berfordert.</p>
<p>Nach und nach konnte ich kleine Erfolge feiern, mir wieder Sachen zutrauen und ein paar Dinge tun. Seit kurzem habe ich alte Hobbies wieder ausgegraben: Ich spiele Gitarre oder lese oder auch das Schreiben hier.</p>
<p>Im Juli werden wir eine Wiedereingliederung in den Job wagen. War es anfangs noch ein "Ich traue mir das zu, mal sehen obs klappt.", ist es nun zu einem "Ich will wieder regelm&auml;&szlig;ig was tun" geworden. Ich habe mich sehr gefreut, als dieser Schalter in meinem Kopf umgelegt wurde.</p>
<p>Diese Woche steht (hoffentlich) ein Termin mit meinem Vorsetzten an, wo wir kl&auml;ren, wie die Eingliederung von statten gehen soll. Ich sehne mich danach - wird die Zeit zu hause trotz aller Hobbies doch so langsam langweilig.</p>
<p>Am Wochenende werden wir dann noch einen kleinen Testballon steigen lassen. Da werde ich als Teil eines Teams eine Datenbankmigration unterst&uuml;tzen. Allerdings im Homeoffice. Die eigene Wohnung als Netz, falls es mal zu viel wird.</p>
<p>Ich freue mich auf das Wochenende, auf diese Datenbankmigration und auch darauf, bald wieder im Arbeitsleben stehen zu k&ouml;nnen.</p>
