---
layout: post
status: publish
published: true
title: Das Ende ist nah
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 380
wordpress_url: http://moerssl.net/?p=380
date: '2012-07-18 15:59:43 +0200'
date_gmt: '2012-07-18 13:59:43 +0200'
categories:
- bodywork
tags: []
comments:
- id: 117
  author: devbrain83
  author_email: matthias.wichert@gmail.com
  author_url: http://www.devbrain.eu
  date: '2012-07-18 17:22:04 +0200'
  date_gmt: '2012-07-18 15:22:04 +0200'
  content: |-
    Es freut mich, dass es bei Dir so steil bergauf geht. Bei mir dauert das alles noch - bin zur Zeit in Tagesklinik und dort erstmal mit Arbeitstherapie konfrontiert. Ich hoffe, irgendwann dieses Jahr wieder arbeitsf&auml;hig zu werden - und dann geht die Jobsuche los...

    Gr&uuml;&szlig; Deine Liebste von mir :-)
---
<p>Der heutige Termin beim Neurologen war sehr erfreulich. Haben wir doch einen Plan f&uuml;r meine Wiedereingliederung aufgestellt.<br />
Ich werde ab Montag wieder arbeiten gehen. Zun&auml;chst drei Stunden pro Tag. Nach drei Wochen steigern wir dann auf f&uuml;nf. Und nach den Flitterwochen gehts Vollzeit weiter.<br />
Ich freu mich. Auf Regelm&auml;&szlig;igkeit. Aufs Arbeiten. Auf die Kollegen. Und auf die Zeit, die vor mir liegt.<br />
Wenn man bedenkt, dass ich vor ein paar Monaten noch mit Fernsehen &uuml;berfordert war, ist das echt erstaunlich.<br />
Ich will hier mal ein gro&szlig;es Danke an meinen Gott, die Liebste, meine Gemeinde und meine Freunde los werden. Ohne euch w&auml;re ich untergegangen.</p>
