---
layout: post
status: publish
published: true
title: Der Countdowb geht zu Ende
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 425
wordpress_url: http://moerssl.net/?p=425
date: '2012-11-13 07:42:55 +0100'
date_gmt: '2012-11-13 06:42:55 +0100'
categories:
- heartbeat
- newstime
tags: []
comments:
- id: 122
  author: Nadinechen
  author_email: knobloch.nadine@gmail.com
  author_url: http://www.bloghaven.de
  date: '2012-11-19 20:46:56 +0100'
  date_gmt: '2012-11-19 19:46:56 +0100'
  content: "Jeder Anfang ist auf seine Art und Weise schwer/neu...\nIch dr&uuml;cke
    dir die Daumen, dass du es rockst! \nImmer positiv denken - das hilft wirklich!!!
    \n\n:)"
- id: 123
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2012-11-19 21:13:58 +0100'
  date_gmt: '2012-11-19 20:13:58 +0100'
  content: Dank dir. Ich bin mal gespannt, was die neue Stelle so bringt. :-)
---
<p>&Uuml;ber einen Monat habe ich nun auf Twitter jeden Arbeitstag runter gez&auml;hlt. Heute kommen die letzten beiden Tweets mit "1" und "0" dazu.<br />
Die Liebste hat Kuchen gebacken. Den gibts heute zum Ausstand in der Firma.<br />
Ein Lebensabschnitt geht zu Ende. Ich freu mich schon auf den neuen.</p>
