---
layout: post
status: publish
published: true
title: Das Gute am Vergangenen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 419
wordpress_url: http://moerssl.net/?p=419
date: '2012-10-20 18:29:41 +0200'
date_gmt: '2012-10-20 16:29:41 +0200'
categories:
- bodywork
tags: []
comments: []
---
<p>Es war in den Monaten der Krankheit, als ich mit meiner pers&ouml;nlichen Vergangenheit nicht zufrieden war. Ich hab dies nicht getan, bei jenem h&auml;tte ich mehr erreichen k&ouml;nnen, andere hatten jenes, ich aber nicht und das hier ich verpasst. Der Gedanke, viel verpasst zu haben, war recht oft sehr pr&auml;sent.</p>
<p>Die Liebste und ich sprachen dar&uuml;ber. Oft. Auch kontrovers.</p>
<p>Nun bin ich ja aus der Krankheitsphase raus. Und der Blick ist ein anderer geworden. Weg vom Vergangenen hin zum Jetzt und in die Zukunft. Die Vergangenheit kann ich nicht mehr &auml;ndern. Aber durch meine Vergangenheit bin ich zu dem geworden, was ich nun bin.</p>
<p>Es war nicht alles rosig, war passiert war. Es war aber auch nicht alles schei&szlig;e. F&uuml;r die Dinge, die ich nicht getan habe, habe ich andere sch&ouml;ne Dinge erlebt. Und die machen mich nun aus, die haben mich zu dem gemacht, was ich heute bin. Und das ist auch gut so.</p>
<p>Wie schon gesagt, mein Blick auf mich selbst ist nun ein anderer. Wenn ich nun so auf mein Leben schaue, kann ich sagen, dass ich nun das Leben habe, was ich so viele lange Jahre haben wollte. Ich habe eine liebe Ehefrau, die mich unterst&uuml;tzt und die ich unterst&uuml;tze. Ich habe einen guten Job und eine sch&ouml;ne Wohnung. Ich habe gute Freunde, die in den schwierigen Zeiten immer f&uuml;r mich da waren. Und ich bin dankbar f&uuml;r das alles. Und nun bin ich auch dankbar f&uuml;r diese ganzen verpassten Sachen in der Vergangenheit, denn sonst w&auml;re ich nun nicht hier, wo ich bin und h&auml;tte vermutlich das nicht, was ich nun habe. Ein sch&ouml;nes, zufriedenes Leben.</p>
