---
layout: post
status: publish
published: true
title: Der Countup
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 503
wordpress_url: http://moerssl.net/?p=503
date: '2012-12-15 20:53:50 +0100'
date_gmt: '2012-12-15 19:53:50 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Vor unserer Hochzeit programmierte ich einen <a title="Code is poetry" href="http://moerssl.net/2012/05/25/code-is-poetry/">Countdown</a>, der die Tage bis zur Hochzeit anzeigt. Es war ein Wunsch der Liebsten. Angezeigt wurde er in der Sidebar unserer Blogs.</p>
<p>Die verbleibenden Tage bis zur Hochzeit konnte man nun auf den Blogs sehen. Seit dem Ja-Wort standen da drei Herzen.</p>
<p>Nun wurde der Countdown zu einem Countup - und z&auml;hlt die Tage, Monate und Jahre, die wir verheiratet sind <3.</p>
