---
layout: post
status: publish
published: true
title: Mary Poppins und ihre flei&szlig;igen Helfer
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
excerpt: 'Es ist kaum zu glauben, dass es nun schon fast eine Woche her ist. Aber
  am letzten Samstag stand ja der Umzug ins traute Heim an.

'
wordpress_id: 228
wordpress_url: http://blog.moerssl.net/?p=228
date: '2012-03-01 17:58:08 +0100'
date_gmt: '2012-03-01 17:58:08 +0100'
categories:
- heartbeat
tags: []
comments: []
---
<p>Es ist kaum zu glauben, dass es nun schon fast eine Woche her ist. Aber am letzten Samstag stand ja der Umzug ins traute Heim an.<br />
<a id="more"></a><a id="more-228"></a><br />
Nachdem ich die Liebste auf 7 Uhr morgens zur Arbeit gefahren hatte, erhielt die Umzugsplanung einen mittelschweren D&auml;mpfer: Der fest eingeplante Transporter stand doch nicht zur Verf&uuml;gung. Wir mussten also auf die Autos aus dem Freundeskreis zur&uuml;ckgreifen - 2 Kombis und ein Golf.<br />
Meine Sachen waren f&uuml;rs erste in den 3 Wagen untergebracht. Als der Punk und ich dann an der Wohnung waren, wurde auch schon das Sofa angeliefert. &Uuml;brigend 2 Stunden eher als geplant.<br />
Mit den Sachen der Liebsten begann nun der Mary-Poppins-Teil des Umzuges (man denke an ihre Handtasche). Ich fuhr die ersts Tour der Liebsten Kisten und bei Beginn meiner n&auml;chsten Tour waren die Kisten schon fast alle weg! Die Liebste, der Punk, ich und so ziemlich alle andeten waren erstaunt, dass wir beide Umz&uuml;ge innerhalb von 3,5 Stunden &uuml;ber die B&uuml;hne gekriegt haben.<br />
Auch an dieser Stelle nochmals ein riesiges Danke an alle Helferinnen und Helfer. Ihr seid die besten!</p>
