---
layout: post
status: publish
published: true
title: Guter Weg ist gut
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 414
wordpress_url: http://moerssl.net/?p=414
date: '2012-10-12 17:44:43 +0200'
date_gmt: '2012-10-12 15:44:43 +0200'
categories:
- bodywork
tags: []
comments: []
---
<p>Fast zweieinhalb Monate sind nun vergangen, seit dem ich wieder arbeite. Anfang noch mit reduzierter Stundenanzahl, aber nach den Flitterwochen bin ich wieder in meinem alten Vertrag vor der Krankheit unterwegs.</p>
<p>Und ich muss sagen, dass mir das Arbeiten gut tut. Vereinzelt gibt es kurze Phasen, in denen ich etwas bedr&uuml;ckt bin. Ein paar Minuten unter Tr&auml;nen auf deim heimischen Sofa waren auch dabei. Aber das sind nur kurze Phasen.</p>
<p>Im Gegensatz zu vor ein paar Monaten habe ich erhebliche Fortschritte machen k&ouml;nnen. Mittlerweile &uuml;berwiegen die guten Tage und nicht die schlechten. Wenn es mir nicht gut geht, dann erkenne ich das. Und ich kann inzwischen Gegenma&szlig;nahmen einleiten. Ich erkenne schlechte Angewohnheiten bei mir, kann auch die Herkunft herausfinden und sie mir dann abtrainieren.</p>
<p>Alles in allem habe ich wohl einen guten Weg eingeschlagen und werde ihn auch weiter gehen. Tschakka.</p>
