---
layout: post
status: publish
published: true
title: Unheilig - Ein Konzert wie eine Zeitreise
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
excerpt: Vor kurzem hatte mich die liebste Frau Feuerengel zum Unheilig-Konzert ins
  Bremer Pier2 eingeladen. Ursprünglich auf einen Samstag angesetzt, musste es leider
  verschoben werden. Der Graf war erkrankt. Am Mittwoch war es nun soweit.
wordpress_id: 280
wordpress_url: http://moerssl.net/?p=280
date: '2012-04-20 10:56:00 +0200'
date_gmt: '2012-04-20 10:56:00 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Vor kurzem hatte mich die liebste Frau <a title="Frau Feuerengel" href="http://www.meinfeuerengel.net/" target="_blank">Feuerengel</a> zum Unheilig-Konzert ins Bremer Pier2 eingeladen. Urspr&uuml;nglich auf einen Samstag angesetzt, musste es leider verschoben werden. Der Graf war erkrankt. Am Mittwoch war es nun soweit.</p>
<p>Wir trafen kurz vor dem offizellen Einlass am Pier2 ein. Die Schlange der potentiellen Konzertbesucher reichte schon recht weit - der Ossi in mir freute sich schon auf Bananen. Die Schlange r&uuml;ckte recht z&uuml;gig weiter, wurde dabei aber nur unmerklich k&uuml;rzer. Uns egal, wir waren ja drin.</p>
<p>Dann kam die bekannte Prozedur: Karte abrei&szlig;en, abtasten lassen, zur Garderobe. Nachdem ich die Jacke abgegeben hatte, durfte ich noch kurz Ostern nachfeiern. Die Suche nach dem Jackenzettel begann. Hatte ich ihn verloren? Irgendwo hingesteckt wo ich ihn nicht fand? Nach f&uuml;nf Minuten wildester Sucherei und einigen verlorenen Nerven ging es dann nochmal zur&uuml;ck an die Garderobe. Die nette Bedienung grinste schon, als ich sagte, ich h&auml;tte den Zettel verloren. Das stimmte n&auml;mlich nur teilweise. Ich hatte ihn einfach an der Garderobe liegen lassen.</p>
<p>Nachdem mir dann die liebe Begleitung den Zettel abgenommen und in Verfahrung gebracht hatte, liefen wir Richtung B&uuml;hne. Nach einer kurzen Wartezeit wurden auch schon die Kerzen auf der B&uuml;hne angez&uuml;ndet, die Band betrat die B&uuml;hne und das Licht wurde dunkler. Der Graf sang im Hintergrund.</p>
<p>Schon in dieser Zeit merkte ich, dass es ein sehr emotionaler Abend werden w&uuml;rde. Der Verdacht sollte sich sp&auml;ter am Abend noch bewahrheiten. Bereits mit dem zweiten oder dritten Lied ging die Zeitreise durch meine Vergangenheit los - war Unheilig in den letzten Jahren doch immer ein treuer Begleiter gewesen.</p>
<p>Ich durchlebte w&auml;hrend der Lieder sch&ouml;ne und auch weniger sch&ouml;ne Augenblicke und drang immer tiefer in meine Geschichte ein. Einige Szenen waren hart: die leer ger&auml;umte Wohnung, einige Trennungen. Andere waren die sch&ouml;nsten meines Lebens: der Abend auf einem Dach in der Jerusalemer Altstadt, der erste Kuss mit der Liebsten. Auch dazwischen lagen Erinnerungen: die Ankunft beim Willo vor zwei Jahren (eine Ankunft voller Heilung), die Mitarbeit im Gebetsteam auf dem Freakstock letztes Jahr.</p>
<p>Die Tr&auml;nen arbeiteten sich mit jedem Ton weiter vor, und bei "An deiner Seite" brachen sie hervor. (Wann hatte ich eigentlich das letzte Mal &ouml;ffentlich geweint?). Beim letzten Lied (Mein Stern) waren sie auch noch einmal da. Ein Lied, dass mich an meine T&ouml;chterchen erinnert.</p>
<p>Der Abend war sehr gelungen, sehr schon, sehr wohl tuend. Vielen Dank an den Grafen, an die Band und an die Frau Feuerengel. Diese sch&ouml;ne Reise in die eigene Vergangenheit w&auml;re so ohne euch nicht m&ouml;glich gewesen <3.</p></p>
