---
layout: post
status: publish
published: true
title: Standesamt - die erste
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 325
wordpress_url: http://moerssl.net/?p=325
date: '2012-05-24 09:34:51 +0200'
date_gmt: '2012-05-24 09:34:51 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Gestern waren die Liebste und ich zum (ersten) offiziellen Ehetermin beim Standesamt. Ich nannte ihn gern den Termin zur Anmeldung des Termins der Eheschlie&szlig;ung. Ein Hoch auf Deutschland.</p>
<p>Gr&ouml;&szlig;tenteils war es ein Vorlesen unserer eingegeben Daten. Ein sch&ouml;nes Stammbuch konnten wir uns aussuchen. Und irgendwie typisch f&uuml;r uns, brauchte es nur einen Blick und wir wussten beide, welches Stammbuch wir nehmen w&uuml;rden.</p>
<p>Nun sind es nur noch drei Monate bis zur Hochzeit - so langsam steigt das Kribbeln und die Aufregung im Bauch.</p>
<p>Ich freue mich auf diese Hochzeit :).</p>
