---
layout: post
status: publish
published: true
title: Ein erl&ouml;sender Anruf
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 411
wordpress_url: http://moerssl.net/?p=411
date: '2012-10-04 14:15:41 +0200'
date_gmt: '2012-10-04 12:15:41 +0200'
categories:
- newstime
tags: []
comments:
- id: 121
  author: vollblutmami
  author_email: vollblutmami@web.de
  author_url: http://vollblutmami.wordpress.com/
  date: '2012-10-06 21:28:55 +0200'
  date_gmt: '2012-10-06 19:28:55 +0200'
  content: Gratuliere! Dann kann es jetzt ja vorw&auml;erts gehen.
---
<p>Es war heute in der Mittagspause, als mein Handy klingelte. Ein Blick auf die Nummer verriet mir, dass es sich um die Firma handelte, bei der ich vorgestern das zweite Vorstellungsgespr&auml;ch hatte.<br />
"Guten Tag Herr ... . Wie hat Ihnen denn das Vorstellungsgespr&auml;ch gefallen."<br />
"Guten Tag Frau ... . Das Gespr&auml;ch hat mir sehr gut gefallen."<br />
"Das freut uns. Uns n&auml;mlich auch. und zwar so gut, dass wir Ihnen ein Jobangebot machen wollen."<br />
(Yes, yes, yes. Denke ich mir.)<br />
"Das freut mich sehr, m&ouml;chte ich doch gern f&uuml;r Sie arbeiten."</p>
<p>Der Vertrag wird mir nun zu geschickt. Zu hause wird dann erstmal eine Flasche Champagner gek&ouml;pft.<br />
Ich bin froh, dass die Arbeitssuche nun beendet ist. Es macht sich Erleichterung breit.<br />
Wie Homer jetzt sagen w&uuml;rde: "Juhuu!" *ArmeInDieLuftReiss*</p>
