---
layout: post
status: publish
published: true
title: Changelog
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 350
wordpress_url: http://moerssl.net/?p=350
date: '2012-06-15 19:58:20 +0200'
date_gmt: '2012-06-15 17:58:20 +0200'
categories:
- heartbeat
tags: []
comments: []
---
<p>Man entdeckt immer wieder neue Seiten an sich. Und verlernt dabei andere. Das ist mir in der letzten Woche aufgefallen.</p>
<p>Sonst war ich immer jemand, der sich am Geruch vom frischem Asphalt, der grade auf die Stra&szlig;e gebracht wird, nicht satt riechen konnte. Nun am Dienstag fuhr ich durch die Stadt und fand mich angewidert in einer Baustelle wieder. Eine echt seltsame Szene, wenn du neben dir stehst und dich dabei wundert, wie etwas einst wunderbares auf einmal unangenehm wurde. Ob das nun was einmaliges war? Die n&auml;chste Baustelle mit frischen Teer wird es zeigen.</p>
<p>Auf der anderen Seite merke ich, dass mir die h&auml;usliche Buchhaltung doch sehr viel Freude und Erf&uuml;llung beschert. Das mir der Umgang mit Geld Spa&szlig; macht, ist nun nicht so ganz neu. An Fundraising und Geldbeschaffung hab ich im letzten Jahr schon Gefallen gefunden. Aber nun den eigenen Haushalt aufzuschl&uuml;sseln: Eine neue Freude in meinem Leben. Der &Uuml;berblick &uuml;ber die h&auml;uslichen Gelder ist dabei ein nettes Abfallprodukt.</p>
<p>Bei diesen ganzen Ver&auml;nderungen ist es aber sch&ouml;n, wenn ein paar Sachen immer noch gleich bleiben. Eine paar Eigenheiten, die einen jedesmal selbst zum Schmunzeln bringen. So muss bei uns immer das gleiche Besteck auf Tisch liegen (wenn ich den Tisch decke). Ob das was ist, was sich jemals &auml;ndert?</p>
