---
layout: post
status: publish
published: true
title: Die Vergangenheit l&auml;uft nicht weg
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 427
wordpress_url: http://moerssl.net/?p=427
date: '2012-11-15 20:05:04 +0100'
date_gmt: '2012-11-15 19:05:04 +0100'
categories:
- bodywork
- newstime
tags: []
comments: []
---
<p>In letzter Zeit schwirren mir viele Gedanken im Kopf rum. Ich habe immer noch einiges an Erinnerungsl&uuml;cken aus meiner Jugendzeit. Soll ich mich dahinter klemmen um diese Erinnerungen wieder zu bekommen? Aktuell werd ichs wohl darauf beruhen lassen und mich (hoffentlich) freuen, wenn Erinnerungen wieder kommen. Meine Verfangenheit l&auml;uft mir nicht weg.<br />
Das Bild, das ich von mir und meiner Pers&ouml;nlichkeit habe, ist seit etwas mehr als 10 Jahren nicht mehr aktualisiert worden und daher auch einfach mal falsch. Noch so eine Erkenntnis der letzten Woche(n). Nun m&ouml;chte ich erst einmal mein jetziges Ich erforschen und kennenlernen. Wie gesagt, die Vergangenheit l&auml;uft nicht weg.<br />
Nun hatte ich vorgestern meinen letzten Arbeitstag in der alten Firma. Noch eine Ver&auml;nderung in diesen ver&auml;nderungsreichen Jahr. Der Wechsel wird spannend - die letzten Tage waren sehr wehm&uuml;tig. Es ist schon ein gro&szlig;er Schritt nach &uuml;ber 7 Jahren die Firma zu verlassen. Ein Lebensabschnitt geht zu Ende. Ein neuer geht los. Und nun hei&szlig;t es, nach vorn schauen. Die Vergangenheit l&auml;uft nicht weg.</p>
