---
layout: post
status: publish
published: true
title: Mal was neues
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 496
wordpress_url: http://moerssl.net/?p=496
date: '2012-12-14 18:44:53 +0100'
date_gmt: '2012-12-14 17:44:53 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Wordpress hat ja diese Woche die Version 3.5 ver&ouml;ffentlicht. Das habe ich mal wieder als Anlass genommen, um dem Blog hier zu aktualisieren.</p>
<p>In der neuen Version war auch das neue Standarttheme Twenty Twelve enthalten. Da der Blog bisher auf Twenty Eleven lief, habe ich nun mal zum neuen Theme gewechselt. Noch bin ich mir unschl&uuml;ssig, ob es mir gef&auml;llt. Aber der Wechsel ist auch erst ein paar Minuten her.</p>
<p>&nbsp;</p>
