---
layout: post
status: publish
published: true
title: Level Up II
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 394
wordpress_url: http://moerssl.net/?p=394
date: '2012-08-04 15:01:22 +0200'
date_gmt: '2012-08-04 13:01:22 +0200'
categories:
- familystory
- heartbeat
tags: []
comments: []
---
<p>Die erste Woche der Wiedereingliederung ist rum. Es ist erstaunlich, wie viel Unterschied diese drei Stunden Arbeiten am Tag machen. Ich f&uuml;hle mich erneut erstarkt und voller Energie.</p>
<p>Die ersten zwei Tage waren noch ein wenig schwierig, aber mittlerweile konnte ich mich in ein Webentwicklungsprojekt einfinden. Und die steckt mir ja bekanntlich im Blut.</p>
<p>Es ist ein sch&ouml;nes Gef&uuml;hl, wieder regelm&auml;&szlig;ig was tun zu k&ouml;nnen. Und dass das auch in Zukunft so bleibt, schreibe ich flei&szlig;ig Bewerbungen.</p>
<p>Viele Sachen &auml;ndern sich f&uuml;r uns grade. Vieles ist im Umbruch. Die Hochzeit steht diesen Monat an. Die Liebste schreibt ihr Bachelorarbeit und kommt so dem Studiumsabschluss immer n&auml;her, ich bin auf Jobsuche und wir haben uns gestern auch ein neues Auto gekauft. Der Start ins neue Leben wird tats&auml;chlich ein Start in ein neues Leben. Es ist so spannend und aufregend grade. Ich freu mich drauf.</p>
