---
layout: post
status: publish
published: true
title: Leben mit der L&uuml;ge
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 437
wordpress_url: http://moerssl.net/?p=437
date: '2012-11-17 15:09:36 +0100'
date_gmt: '2012-11-17 14:09:36 +0100'
categories:
- bodywork
- heartbeat
tags: []
comments: []
---
<p>Dann waren da noch Gedanken und Ansichten, die ich &uuml;ber mich hatte / habe, die inzwischen schon etwas in die Jahre gekommen sind.</p>
<p>In meiner Kindheit und Jugend war ich wenig bis gar nicht selbstbewusst und was Gef&uuml;hle anging total kalt. Ich f&uuml;hlte rein gar nichts. Es muss an einem Samstag Nachmittag gewesen sein, ich sah grade Star Trek Next Generation. Data lief auf die Br&uuml;cke, als ich mich mit ihm verglich. Immer auf Logik gepolt, fern jeglicher Emotion. Es war schockierend. Um mich von dem Gegenteil zu &uuml;berzeugen, schlug ich mit der Faust gegen die neben mir stehende Wand und f&uuml;hlte: nix. Kein Schmerz, keine Regung. Nix.</p>
<p>Ich lebte einige Jahre so weiter, verga&szlig; dieses Erlebnis. Und dann zog ich nach Bremen. Ich fand Freunde und eine neue Familie. Meine Gemeinde - die Jesus Freaks Bremen.</p>
<p>Ich erkannte, dass ich eine riesige Mauer um mich herum auf gezogen hatte. Ich lie&szlig; nichts an mich rankommen. Aber nun wollte ich f&uuml;hlen. Ich wollte Gef&uuml;hle - ich hatte zu lange ohne gelebt. Und sie kamen. Ich konnte wieder weinen, aus vollen Herzen lachen, war traurig und ab und zu auch mal w&uuml;tend.</p>
<p>Eine Zeit, in der ich mit der Masse an Emotionen auch etwas &uuml;berfordert war. In mir formte sich der Satz: "Ich lern grade mit den Emotionen umgehen. Das ist alles total neu f&uuml;r mich." Ein Satz, der mittlerweile &uuml;ber sieben Jahre alt ist.</p>
<p>Letztens sprachen die Liebste und ich &uuml;ber dieses Thema. Und ich sprach diesen Satz wieder aus. Er hallte nach. Einige Tage. Bei einem anderen Gespr&auml;ch fiel dieser Satz wieder. Und es hallte weiter.</p>
<p>Der Groschen fiel anscheinend pfennigweise. So neu sind die Gef&uuml;hle f&uuml;r mich gar nicht. Ich habs nur eine ganze Zeit lang nicht gemerkt und bin mit der gleichen Einstellung wie vor sieben Jahren an das Emotionsthema herangegangen.</p>
<p>Ich habe jahrelang mit einer L&uuml;ge &uuml;ber mich selbst gelebt. Nun habe ich sie enttarnt. Neu sind die Gef&uuml;hle nicht mehr. Fast ein Viertel meines Lebens empfinde ich nun wieder. Ich brauche nicht mehr mit dieser L&uuml;ge leben. Und ich werde nicht mehr mit dieser L&uuml;ge leben.</p>
<p>&nbsp;</p>
