---
layout: post
status: publish
published: true
title: Stark in Schw&auml;che
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 319
wordpress_url: http://moerssl.net/?p=319
date: '2012-05-15 20:04:56 +0200'
date_gmt: '2012-05-15 20:04:56 +0200'
categories:
- newstime
tags: []
comments:
- id: 111
  author: Frau Federschwarz
  author_email: federschwarz@yahoo.de
  author_url: http://federschwarz.wordpress.com/
  date: '2012-05-16 08:36:22 +0200'
  date_gmt: '2012-05-16 08:36:22 +0200'
  content: "Manchmal so schwer. Und manchmal so einfach. \nWir schaffen das schon
    - zusammen. Weisst du, ja?\n<3"
---
<p>Am Abend eines anstrengenden Tages sitzt du dann auf der Couch. Die Liebste und du haben die Laptops auf den Beinen und du schaust in Facebook bei einem guten Freund in den Status und liest:</p>
<p style="padding-left: 30px">Wer vor seiner Vergangenheit flieht, verliert immer das Rennen.<br />
Thomas Stearns Eliot</p><br />
Heute Nachmittag sa&szlig; ich allein auf der Couch - aufgel&ouml;st. Dem Gef&uuml;hl inne, alles nicht zu schaffen. Alles sei zu viel. Dem Aufgeben nahe.</p>
<p>Dann kommt die Liebste nach Hause und wirft ein v&ouml;llig neues Licht auf die Situation. Ihre geheime Superkraft: Die St&auml;rke eines Menschen sehen, wo er sie selbst nicht sieht.</p>
