---
layout: post
status: publish
published: true
title: Wandern
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 226
wordpress_url: http://blog.moerssl.net/2012/02/18/wandern/
date: '2012-02-18 10:22:40 +0100'
date_gmt: '2012-02-18 10:22:40 +0100'
categories:
- heartbeat
tags: []
comments: []
---
<p>Man m&ouml;chte fast denken, dass umziehen eines meiner Hobbies sei. Obwohl dem nicht so ist, steht in einer Woche wieder einer an. Zusammen mit der Liebsten werden wir genau ein halbes Jahr vor der Hochzeit unser heimliches Nest beziehen.<br />
Die Einrichtung haben wir schon fast komplett und ich habe das Gef&uuml;hl endlich ankommen zu k&ouml;nnen. Waren die letzten Jahre doch recht von Hektik gepr&auml;gt.<br />
Ich freu mich jedenfalls riesig auf das neue Heim. Unser Heim</p>
