---
layout: post
status: publish
published: true
title: Mut zur L&uuml;cke
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 333
wordpress_url: http://moerssl.net/?p=333
date: '2012-05-26 17:57:05 +0200'
date_gmt: '2012-05-26 15:57:05 +0200'
categories:
- bodywork
tags: []
comments: []
---
<p>Manchmal, ja manchmal.. Eigentlich nicht wirklich manchmal, sondern eher oft - da geht es mir nicht schnell genug.</p>
<p>Sei es nun das Hotdog in der Mikrowelle, die Einarbeitung in ein neues Thema oder gar einfach nur meine Gesundung. Das will ich dann sofort und jetzt und gestern. Ungeachtet dessen, dass noch kein Meister vom Himmel gefallen ist, knabbert in mir drin oft der Wunsch viele Sachen auf Anhieb k&ouml;nnen zu k&ouml;nnen oder schon durch gestanden zu haben. Der Weg zum Ziel beschreitet sich f&uuml;r mich oft zu langsam.</p>
<p>Fahre ich deshalb gern mit 200 &uuml;ber die Autobahn? Werde ich deshalb beim Bahn fahren schnell ungeduldig und gereizt? Breche ich deshalb manche Einarbeitungen ab? Weil es mir zu lange dauert? Fragen &uuml;ber Fragen, die eine weitere nach sich ziehen: Wie lernt man Geduld? Ist hier nun die Antwort: durch Warten, in dem man es tut?</p>
<p>Oder ist es eine andere Frage? Die Frage danach, etwas zu verpassen oder aufholen zu m&uuml;ssen. Die Sehnsucht nach vermeintlich Verpasstem. Eine L&uuml;cke in der Entwicklung zu sehen, die so schnell wie m&ouml;glich geschlossen werden soll. Wobei man dennoch wei&szlig;, dass es Zeit braucht, bis diese L&uuml;cke geschlossen ist. Und dabei die Ver&auml;nderung nicht sieht, da man nur auf die L&uuml;cke fixiert ist.</p>
<p>Und dann sagt dir eine Stimme: Schau nicht auf die L&uuml;cke, sondern auf den die L&uuml;cke schlie&szlig;enden Teil. Hier wirst du die Ver&auml;nderung eher sehen. Schlie&szlig;lich hast du Spa&szlig; am Wachstum. Freue dich am Wachsen und verharre nicht auf dem Schlie&szlig;en der L&uuml;cke.</p>
<p>Das scheint mir ein guter Ansatz zu sein. Runter gebrochen scheint nix anderes zu bedeuten als: Denk positiv. Freue dich am Wachsen. &Auml;ndere deinen Blick auf dich und die Situation. Mit erhobenem Kopf lebt es sich leichter.</p>
