---
layout: post
status: publish
published: true
title: B. Wer? Bung!
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 407
wordpress_url: http://moerssl.net/?p=407
date: '2012-09-18 19:42:37 +0200'
date_gmt: '2012-09-18 17:42:37 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Kaum sind wir aus den Flitterwochen wieder zur&uuml;ck, hat uns auch schon der Alltag wieder voll in Beschlag genommen. Nach meiner Wiedereingliederungszeit, die einen Tag vor der standesamtlichen Hochzeit endete, hat mich nun auch die "richtige" Arbeitswelt wieder.</p>
<p>Die Liebste steckt mitten in der Abschlussarbeit, was recht viel Zeit in Beschlag nimmt. Zus&auml;tzlich zu Ihrer Arbeit.</p>
<p>Auch bei mir ist es mit dem Arbeiten allein nicht getan. Nach Feierabend sitze auch ich noch am Rechner, suche Stellen und schreibe Bewerbungen. Bis Anfang Dezember muss ein neuer Job als Softwareentwickler in Bremen her.</p>
<p>Die ersten Gespr&auml;che hatte ich schon, die ersten Reaktionen der Firmen kamen auch. Die Suche geht bisher weiter. Sollte ein neuer Job in Aussicht stehen, wird hier nat&uuml;rlich dr&uuml;ber berichtet.</p>
<p>So, und nun springe ich wieder in die Welt der Stellenangebote. In diesem Sinne: "Wir melden uns."</p>
