---
layout: post
status: publish
published: true
title: Wind in den Segeln...
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 300
wordpress_url: http://moerssl.net/?p=300
date: '2012-05-07 17:52:01 +0200'
date_gmt: '2012-05-07 17:52:01 +0200'
categories:
- heartbeat
tags: []
comments: []
---
<p>... oder Sturm, der sie zerrei&szlig;t?</p>
<p>Manchmal gibt es Situationen im Leben, da denkt man, man verliert den Boden unter den F&uuml;&szlig;en, vieles erscheint vage und ein Gro&szlig;teil der Vergangenheit erscheint auf einmal in einem anderen Licht.</p>
<p>Gestern war es mal wieder soweit. Heftiger Wind kam auf und wir wurden ganz gut durch ger&uuml;ttelt. Bis vier Uhr wachliegen und nicht schlafen k&ouml;nnen inbegriffen. Es sind Nachrichten, die dich herausfordern, vielleicht &uuml;berfordern.</p>
<p>Ich f&uuml;hlte mich gestern &uuml;berfordert - sah die Erholungserfolge der letzten Wochen dahinschwinden. Ich sah kein Land mehr. Um mich herum nur noch Wasser, Wellen, Wind. Ich lag am Boden, k&ouml;nnte mich nicht bewegen, jede Bewegung schmerzte.</p>
<p>Und heute? Der Ursprung des Sturmes ist immer noch da. Der Wind schmerzt nur nicht mehr so sehr im Gesicht. Die Segel sind intakt, der Sturm hat sie nicht zerrissen. Was tun? Ja, richtig. Segel setzen und den Wind nutzen, um vorw&auml;rts zu kommen.</p>
<p>Wir haben ein Ziel. Und einen Weg. Und wir werden das Ziel erreichen.</p>
<p>In diesem Sinne - Ahoi!</p>
<p>PS: Vielleicht werde ich demn&auml;chst mal konkreter, um was f&uuml;r einen Sturm es sich gehandelt hat. Meine Worte sind nur grade Eindr&uuml;cke aus der Situation. Aber vielleicht findet sich ja jemand darin wieder.Mir macht es Mut, dass auch schlimme und schmerzende Nachrichten, Kraft geben k&ouml;nnen.</p></p>
