---
layout: post
status: publish
published: true
title: Borkum Beach Side
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 275
wordpress_url: http://blog.moerssl.net/?p=275
date: '2012-03-29 11:36:00 +0200'
date_gmt: '2012-03-29 11:36:00 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Der Tag starte recht fr&uuml;h am Morgen. Um f&uuml;nf Uhr, um genau zu sein. Aufstehen, Duschen, Kaffee, Fr&uuml;hst&uuml;ck. Wie ein Tag nun mal so startet. Eine Stunde sp&auml;ter klingelte dann ein Freund an der T&uuml;r, mit dem ich einen kleinen Trip in die Nordsee unternehmen w&uuml;rde.</p>
<p>Der Tour ging nach Borkum. Mit dem gemieteten Sprinter ging es zuerst auf die Autobahn in Richtung Niederlande. Um F&auml;hrgeld zu sparen, fuhren wir &uuml;ber Eemshaven und nicht &uuml;ber Emden. Auf der Autobahn konnten wir dann den Sonnenaufgang beobachten. Ein sch&ouml;ner Anblick, nur doof, wenn man direkt rein f&auml;hrt und die Sonnenbrille im letzten Mietwagen liegt.</p>
<p>Wir kamen zur rechten Zeit in Eemshaven an. Nach einer kurzen Kaffeepause checkten wir f&uuml;r die F&auml;hre ein (die Kosten f&uuml;r den F&auml;hrmann eines Sprinters sind horender als ein paar M&uuml;nzen oO).</p>
<p><img style="vertical-align: baseline" src="http://blog.moerssl.net/img/2012/03/2012-03-27-12.04.581.jpg" alt="" width="320" height="240" /> Eine kleine Odysee war der Weg zum Domizil, jenem Ort, wo wir die n&auml;chsten Stunden verweilen w&uuml;rden. Vor dem Mittagessen spazierten wir noch kurz an den Strand, an dem dann auch das Bild entstand, was ihr hier seht. Zeitweise konnte man nicht unterscheiden, ob wir nun am Strand oder in der W&uuml;ste sind. Rings um uns her war nur Sand.</p>
<p>Ein Blick auf die Uhr verriet dann, dass es Zeit zum Essen sei. Also R&uuml;ckweg antreten. Gest&auml;rkt durch Schnitzel und Kartoffelecken konnten wir uns nun ans Werk machen. Es galt einen Gastronomiekombid&auml;mpfer vom Keller des Domizils in den Sprinter zu wuchten. Es waren die Minuten, weswegen wir den Weg auf die Insel &uuml;berhaupt eingeschlagen hatten.</p>
<p>Ein paar Uffzer und "Sch**** ist das Ding schwer" sp&auml;ter hatten wir den D&auml;mpfer im Sprinter verstaut. W&auml;hrend er noch fachm&auml;nnisch vertaut wurde, kamen noch ein paar andere Extras mit an Bord. Danach konnten wir noch ein paar Impressionen von der Insel mitnehmen. Kurz vor f&uuml;nf mussten wir dann den R&uuml;ckweg antreten, die F&auml;hre wartete.</p>
<p>Wie wir nachher feststellen durften, wartete sie entweder im anderen Hafen oder doch auf See. Mit einer Versp&auml;tung, die man sonst nur von der Bahn kennt, traf die F&auml;hre auf Borkum ein. Das Laden der Kraftfahrzeuge war dann schon ein Schauspiel f&uuml;r sich. Unterbrochen durch umher fahrende Z&uuml;ge und Fu&szlig;g&auml;nger beobachteten wir, wie Fahrzeug um Fahrzeug in der F&auml;hre verschwand. Wir - die wir mit die eines der ersten Fahrzeuge an der F&auml;hre waren - kamen als vorletztes auf das Schiff. Millimetergenau eingestellt, sodass die Klappe der Rampe verfehlte uns nur um ein paar Zentimeter.</p>
<p>Nach der erfolgreichen R&uuml;ckfahrt nach Bremen und dem Ausladen des D&auml;mpfers ging dann auch ein sehr sch&ouml;ner, langer und erholsamer Tag zu Ende. Es bleibt zu sagen: Borkum - immer eine Reise wert.</p></p>
