---
layout: post
status: publish
published: true
title: The day before
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 283
wordpress_url: http://moerssl.net/?p=283
date: '2012-04-23 20:58:23 +0200'
date_gmt: '2012-04-23 20:58:23 +0200'
categories:
- familystory
tags: []
comments: []
---
<p>Morgen ist er da. Der Tag. Ein Tag, den ich auf der einen Seite herbei sehnte, auf der anderen Seite aber froh bin, wenn er vorbei ist. Morgen ist der Tag, an dem meine Gro&szlig;mutter bestattet wird. Meine erste Beerdigung.<br />
Grade heute wurde mir wieder bewusst, welch gro&szlig;en Teil sie un meinem Leben hatte. Als Kinder hatten wir immer wieder bei ihr &uuml;bernachtet. Nach der Schule stand bei ihr immer das Mittagessen auf dem Tisch...<br />
Und morgen werden ihre Kinder und Enkelkinder auf dem Friedhof stehen und ihr das letzte Geleit geben. Eine M&ouml;glichkeit Abschied zu nehmen.<br />
Am Tag davor sitze ich zusammen mit der Liebsten beim Bruderherz - und warte auf den n&auml;chsten Tag. Was wird mich erwarten? Wie werde ich mich f&uuml;hlen, wenn die Beerdigung vorr&uuml;ber ist? Wie ist die Stimmung allgemein in der Familie? Alles Fragen die in meinem Kopf herumschwirren.<br />
Morgen wird kommen und gehen. Und danach wird es weiter gehen. In unserem Jahr.</p>
