---
layout: post
status: publish
published: true
title: Auf ins neue Leben
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 387
wordpress_url: http://moerssl.net/?p=387
date: '2012-07-29 14:21:27 +0200'
date_gmt: '2012-07-29 12:21:27 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Nicht mal mehr einen Monat dauert es noch, bis die Liebste und ich uns das Ja-Wort geben. So langsam f&auml;ngt bei mir das Kribbeln an.</p>
<p>Am Montag starte ich wieder ins Arbeitsleben, die Wiedereingliederung kann losgehen. Zun&auml;chst einmal mit 3 Stunden und in 2 Wochen steigert sich das Arbeitspensum dann auf 5 Stunden pro Tag.</p>
<p>Ab 1. Oktober suche ich eine neue Festanstellung als Software- oder Webentwickler in Bremen. Die Arbeiten in der Firma konnte ich mit den nun bald neuen Lebensumst&auml;nden nicht mehr vereibaren. Wer also ein paar Infos &uuml;ber offene Stellen hat, kann mir gerne Bescheid geben.</p>
<p>Ich bin in der Webentwicklung zu hause, kann in ASP.NET als auch in PHP laufen. &Uuml;berwiegende Kenntnisse konnte ich durch die Erstellung von mehreren Plugins f&uuml;r WordPress sammeln. Auch in Bereich von ASP.NET habe ich mehrj&auml;hrige Projekterfahrung. Neben der Webentwicklung interessiere ich mich f&uuml;r User Interface Design und bin auf der Suche nach der besten L&ouml;sung f&uuml;r den Benutzer.</p>
<p>Der Start ins neue Leben wird ein Start in ein neues Leben. Viele &Auml;nderungen hat es dieses Jahr schon gegeben und es geht weiter.</p>
