---
layout: post
status: publish
published: true
title: Vorw&auml;rts immer, r&uuml;ckw&auml;rts nimmer!
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 340
wordpress_url: http://moerssl.net/?p=340
date: '2012-06-03 22:36:44 +0200'
date_gmt: '2012-06-03 20:36:44 +0200'
categories:
- bodywork
tags: []
comments:
- id: 113
  author: FrauPerle
  author_email: stinelinee@googlemail.com
  author_url: http://www.perlchenblog.wordpress.com
  date: '2012-06-03 22:44:51 +0200'
  date_gmt: '2012-06-03 20:44:51 +0200'
  content: Manchmal braucht man Pause um Luft zu holen, um Kr&auml;fte f&uuml;r die
    weiteren Tage an denen man sie wieder braucht, zu sammeln. Und um auch einfach
    mal zur&uuml;ck zu schauen, was man schon so alles geschafft hat :)
- id: 114
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2012-06-03 22:46:40 +0200'
  date_gmt: '2012-06-03 20:46:40 +0200'
  content: |-
    Ganz genau. Von daher darf so ein Tag auch mal sein. :)
    Und der Blick auf die vergangene Woche hat mich echt positiv &uuml;berrascht.
---
<p>Immer High Level, immer gut, tolle Laune, sch&ouml;ne Tage - so kann man die letzte Woche zusammenfassen. So insgesamt f&uuml;hlte ich mich pudelwohl und dachte nur mehr bedingt daran, dass ich ja eigentlich geschw&auml;cht bin. Das einzige, was mich des Tags dran erinnerte, war die Einnahme der Medis. Ansonsten war mir sehr gut zumute.</p>
<p>Heute morgen dann f&uuml;hlte ich schon, dass es kein besonders guter Tag werden w&uuml;rde. Ich kam schwer aus dem Bett und auch sonst war die Laune eher gedr&uuml;ckt. Nach dem Hoch der letzten Tage durfte das nun auch mal so sein. Schon nach dem ersten Kaffee konnte ich sagen: "Heute ist ein komischer Tag." Ein seltsamer Durchh&auml;nger, der so nicht zur letzten Woche passt.</p>
<p>Die gedr&uuml;ckte Stimmung hielt auch dann an, als die Liebste zur Arbeit aufbrach und ich mich allein zum Gottesdienst der Jesus Freaks aufmachte. Wusste ich doch um meine Lautst&auml;rkeempfindlichkeit ging ich der lauten Musik weitestgehend aus dem Weg. Es war das erste Mal, dass ich w&auml;hrend des musikalischen Teils des Gottesdienstes im abgelegenen Teil des Raumes sa&szlig;, der eindeutig leiser war. Es f&uuml;hlte sich seltsam an.</p>
<p>In diesem Teil wurde ich etwas ruhiger. W&auml;hrend dieser Zeit fiel mir auf, dass dieser "schlechte Tag" sich um einen wesentlichen Teil von den anderen "schlechten Tagen" unterschied. Hatte ich sonst immer das innerliche Gef&uuml;hl von Atemnot wie ein Ertrinkender, war es diesmal ein grobes Unwohlf&uuml;hlen. Um diese Erkenntnis reicher wurde der Tag nun doch zu einem guten.</p>
<p>Mit mir geht es bergauf. Es geht vorw&auml;rts. Und die Angst wieder zur&uuml;ckzufallen, zusammen zu brechen ist in weite Entfernung ger&uuml;ckt. Eine sehr freudige Entwicklung.</p>
