---
layout: post
status: publish
published: true
title: Von Entscheidungen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 373
wordpress_url: http://moerssl.net/?p=373
date: '2012-07-09 15:30:27 +0200'
date_gmt: '2012-07-09 13:30:27 +0200'
categories:
- heartbeat
tags: []
comments: []
---
<p>Manche Entscheidung geht schnell von der Hand, andere brauchen l&auml;nger. Manche werden direkt umgesetzt, bei anderen muss man warten.</p>
<p>Was alle gemein haben? Es ist gut Entscheidungen zu treffen und sie umzusetzen. Das verhindert Stillstand.</p>
