---
layout: post
status: publish
published: true
title: Das Ziel vor Augen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 345
wordpress_url: http://moerssl.net/?p=345
date: '2012-06-08 15:36:21 +0200'
date_gmt: '2012-06-08 13:36:21 +0200'
categories:
- bodywork
tags: []
comments: []
---
<p>Manchmal brauche ich das Schreiben ja als Selbstmotivation. Am vergangenen Mittwoch war mal wieder ein Arzttermin angesagt. Als erstes Ergebnis gab es erstmal eine weitere Krankschreibung bist Mitte Juli. Nochmal sechs Wochen krank. Das klingt schon ganz sch&ouml;n heftig. Allerdings streben wir ab dann auch eine Wiedereingliederung ins Arbeitsleben an. Und das ist finde ich eine tolle Entwicklung. Die Wiederaufnahme des Arbeitslebens kann ich mir in sechs Wochen durchaus vorstellen - w&auml;ren es jetzt nur drei gewesen, w&auml;r ich skeptisch. Allerdings habe ich ja in den vergangenen Woche gro&szlig;e Fortschritte in der Erholung gemacht, sodass ich der Wiedereingliederung durchaus i gegen&uuml;ber stehe.</p>
<p>Jetzt habe ich ein Datum, jetzt habe ich ein Ziel. Das wird sicherlich vieles einfacher machen. Habe ich doch vor Jahren bei mir festgestellt, dass es mit leichter f&auml;llt, Sachen durchzustehen, wenn ich ein Ziel vor Augen habe. Und dieses Datum ist eins.</p>
<p>Der Wille in mir ist da, wieder Sachen zu tun. Einiges mute ich mir ja auch so schon zu und &uuml;bernehme das. Nur bisher recht unregelm&auml;&szlig;ig. Wir werden sehen, was die n&auml;chste Zeit bringt.</p>
