---
layout: post
status: publish
published: true
title: 'Das Wort zum Tag: Endlich'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 216
wordpress_url: http://blog.moerssl.net/2012/01/08/das-wort-zum-tag-endlich/
date: '2012-01-08 20:31:13 +0100'
date_gmt: '2012-01-08 20:31:13 +0100'
categories:
- heartbeat
tags: []
comments: []
---
<p>"Und dazu hab ich nun auch nur noch ein Wort zu sagen." <br />"Endlich?" <br />"Jaaaaa."
<div><br /></div>
<div><br /></div>
<div>Ungef&auml;hr so war die Konversation zwischen einem <a href="http://corcken.com">Freund</a> und mir am Ende des heutigen Gottesdienstes, als die <a href="http://federschwarz.wordpress.com/">Liebste</a> und ich die Gemeinde zum Sekt einluden. An Neujahr hatte ich ihr mit Feuerwerk im Hintergrund die Frage der Fragen gestellt - und sie hat ja gesagt.&nbsp;</div>
<div>Ich finde ja, dass uns beiden die Ringe richtig gut stehen :D.</div>
<div><br /></div>
<div><img width="400" height="300" title="2 H&auml;nde - 2 Ringe" src="http://blog.moerssl.net/img/2012/01/2haende-2ringe_web.jpg" alt="H&auml;nde - 2 Ringe" /></div></p>
