---
layout: post
status: publish
published: true
title: Ein neuer Lebensabschnitt
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 231
wordpress_url: http://blog.moerssl.net/2012/03/09/ein-neuer-lebensabschnitt/
date: '2012-03-09 21:44:25 +0100'
date_gmt: '2012-03-09 21:44:25 +0100'
categories:
- heartbeat
tags: []
comments: []
---
<p>Wir sind nun schon seit zwei Wochen in der Wohnung. Schon faszinierend, wie schnell die Zeit verging. Heute gesellte sich dann auch eine weitere Weggef&auml;hrtin zu uns - meine Katze.</p>
<p>Ich freue mich tierisch (haha) das Fellkn&auml;uel wieder an meiner Seite zu haben. Im letzten Jahr war das ja mit dem Einsatz in der L&ouml;wenstadt recht schwierig gewesen. Die Kleine war sehr oft alleine und wir von einander getrennt. Zuerst durch die Anfangszeit im Hotel, danach war sie dann meist an den Wochenenden alleine. Zum Ende des Jahres war sie dann mit ein paar anderen Katern zusammen in der WG. So richtig angefreundet haben die sich auch nie wirklich.</p>
<p>Allen Bef&uuml;rchtungen zum Trotz hat sie sich doch recht schnell an ihr neues Revier gew&ouml;hnt und die neuen Zimmer erkundet. Ganz neugierig reagierte sie auf die Rennm&auml;use der Liebsten. Immer wenn es bei den M&auml;dels der Liebsten raschelte, war das K&auml;tzchen auch schon zur Stelle. Schlie&szlig;lich will man ja nix verpassen.</p>
<p>F&uuml;r mich ein weiterer Schritt ins Wohlf&uuml;hlen - zusammen mit der Herzensdame <3.</p></p>
