---
layout: post
status: publish
published: true
title: Du bist so flauschig!!
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 218
wordpress_url: http://blog.moerssl.net/2012/01/24/du-bist-so-flauschig/
date: '2012-01-24 21:15:57 +0100'
date_gmt: '2012-01-24 21:15:57 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Du begleitest mich nun schon so lange und bist eine echt treue Seele. Viele Sachen haben wir zusammen durchgemacht. Du warst immer f&uuml;r mich da, als ich dich brauchte. Ich schrieb es schon, du bist eine treue Seele und ich m&ouml;chte dich niemals missen.</p>
<p>Wir waren oft unterwegs und auf Strecke, hatten viel zu schleppen in den letzten Jahren. Oft haben dir die Fahrten nicht gefallen. Es tat mir k&ouml;rperlich weh, dich neben mir winseln zu h&ouml;ren. Wir beide waren froh, als die Fahrten vorbei waren.</p>
<p>Die letzte Tour hast du mir wahrscheinlich krumm genommen. Die Unterkunft war auch bissl stessig. Bald werden wir nochmal auf Reise gehen. Aber diesmal sind wir angekommen. Diesmal sind wir da.</p>
<p>Mein liebsten K&auml;tzchen, wir ziehen zusammen - zusammen mit der Frau, mit der wir den Rest unseres Leben verbringen werden. Du bist so flauschig.</p></p>
