---
layout: post
status: publish
published: true
title: Ein Prediger
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 302
wordpress_url: http://moerssl.net/?p=302
date: '2012-05-10 20:00:04 +0200'
date_gmt: '2012-05-10 20:00:04 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Der eine oder andere mag ja wissen, dass ich mich den Jesus Freaks Bremen und dem christlichen Glauben zugeh&ouml;rig f&uuml;hle. Ich bin nun einer von jenem Schlag, der seinen Glauben auch aktiv auslebt. Ab und zu predige ich bei in meiner Gemeinde - und wenn man mich fragt auch in ausw&auml;rtigen Gemeinden.</p>
<p>Bei den Freaks werden die Predigten meist aufgenommen. Und an dieser Stelle m&ouml;chte ich nun auf eine neue Seite auf dem Blog hinweisen, die <a title="Predigten" href="http://moerssl.net/predigten/">meine Predigten</a> enth&auml;lt. Zus&auml;tzlich zur Seite gibt es die Predigten auch als <a title="Predigtpodcast" href="http://moerssl.net/?podcast" target="_blank">Podcast</a>.</p>
<p>Wer also mag, der schaue rein oder abonniere.</p>
<p>&nbsp;</p>
