---
layout: post
status: publish
published: true
title: Redewendungen meines Vaters
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 441
wordpress_url: http://moerssl.net/?p=441
date: '2012-11-19 18:33:22 +0100'
date_gmt: '2012-11-19 17:33:22 +0100'
categories:
- familystory
tags: []
comments: []
---
<p>... und was ich draus gemacht habe.</p>
<p style="padding-left: 30px"><em>Zacki - Schnellsein durch Weglassen wichtiger Handgriffe</em></p><br />
Mein Vater arbeitete lange Zeit als Maurer. Sein Chef sa&szlig; seinen Angestellten und somit auch meinem Vater regelm&auml;&szlig;ig im Nacken, dass sie schneller arbeiten sollten. "Zacki" war dabei des Chefs Lieblingswort, um seine Mitarbeiter zu motivieren. Nun ja, unter schneller arbeiten leidet meist die Qualit&auml;t, was zu hause dann meist in diesem Spruch m&uuml;ndete, wenn mein Vater mal wieder vom "Zacki" erz&auml;hlte.</p>
<p>Was habe ich draus gemacht? Ich lass mir Zeit beim Arbeiten und schaue auf die Qualit&auml;t. Manchmal sieht es so aus, als w&uuml;rde ich nix tun, aber da denke ich &uuml;ber die Folgen meines Handelns nach. Bevor(!) ich was tue. Nachteil an dieser Herangehensweise: Ich komme mir manchmal unproduktiv vor.</p>
<p style="padding-left: 30px"><em>Ich h&ouml;re immer nur kaufen, kaufen, kaufen. Lasst mich das Geld doch erstmal verdienen!</em></p><br />
Dieser Satz kam fast jedes mal, wenn wir etwas anschaffen wollten. Ja, mein Vater war lange Zeit Hauptverdiener in unserer Familie und ich kann verstehen, dass mit "seinem" Geld vern&uuml;nftig umgegangen werden sollte. Aber es gab auch Zeit, da haben meine beiden Eltern gearbeitet. Auch da kam dieser Satz.</p>
<p>Was ich draus gemacht habe? Manchmal denke ich diesen Satz noch selber und frage mich, ob so manche Anschaffung wirklich n&ouml;tig ist. Allerdings stelle ich mir diese Frage manchmal auch zu oft. In der Vergangenheit habe ich mich dann oft &auml;rmer gedacht, als ich tats&auml;chlich war.</p>
<p>Was irgendwie h&auml;ngen blieb, ist dass Geld aus zu geben, etwas Schlechtes ist und Geld zu sparen etwas Gutes. Anschaffungen sind nun nicht per se schlecht. Und Geld darf auch ausgegeben werden. Ich denke da bei jeder Anschaffung und bei einigen Eink&auml;ufen dran.</p>
<p>Das soll nun f&uuml;r den Anfang erst einmal reichen. Vielleicht entsteht ja daraus doch noch so eine Art Reihe. Wir werden sehen.</p>
<p>Habt ihr auch solche Redewendungen, die in eurem Leben wider hallen?</p>
