---
layout: post
status: publish
published: true
title: Ein (fehlender) Eintrag
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 480
wordpress_url: http://moerssl.net/?p=480
date: '2012-11-25 21:22:00 +0100'
date_gmt: '2012-11-25 20:22:00 +0100'
categories:
- familystory
- unsent
tags: []
comments: []
---
<p>Heute fand ich eine Geburtsurkunde von mir. Zur Hochzeit hatte ich noch einen Auszug aus dem Geburtenregister angefordert. Die beiden Dokumente unterscheiden sich. Laut Geburtsurkunde habe ich keinen Geburtsnamen, laut Auszug aber schon.<br />
Ein Gespr&auml;ch auf Twitter kl&auml;rte ein wenig auf. Und doch kamen neue Fragen auf.<br />
Ich bin ein uneheliches Kind. Meine Eltern heirateten erst knapp zwei Jahre nach meiner Geburt. Mit der Hochzeit meiner Eltern nahm och dann auch den Familiennamen meines Vaters an. Das kann ich aus dem Geburtsregisterauszug entnehmen. Was mich nun stutzen l&auml;sst, ist die Tatsache, dass der Eintrag f&uuml;r die Anerkennung der Vaterschaft fehlt.<br />
Haben meine Eltern die Anerkennung einfach vergessen? Wollte mein Vater nicht anerkennen? Hat meine Mutter der Anerkennung nicht zugestimmt? Sollte eine der beiden letzten Vermutungen stimmen, warum haben sie trotzdem geheiratet? Weil man eine Schwangere nicht verl&auml;sst oder weil man in der DDR doch nicht alleine erzieht? Das d&uuml;rfte ein Telefonat mit meiner Mutter kl&auml;ren. Fragen die in einer Zeit kommen, in der ich mich auf die Suche nach meiner Vergangenheit mache...</p>
<p>EDIT<br />
Heute mit meiner Mutter telefoniert und irgendwie nur unzureichende Antworten bekommen. Man habe sie im Krankenhaus nicht nach dem Vater gefragt oder danach, ob er eingetragen werden soll. Die Anerkennung sind sie dann wohl nicht angegangen, weil sie sowieso heiraten wollten. An den Rest kann sie sich nicht mehr erinnern oder ist in den Weiten der DDR-B&uuml;rokratie untergegangen.</p>
<p>Ich kenne ja meinen Vater. Und der, den ich als meinen Vater kenne, ist auch mein Vater. Meine Geschwister sind da der beste Beweis daf&uuml;r.<br />
Nur hat sich nun eine kleine L&uuml;cke aufgetan und es zehrt an mir, nicht zu 100% zu wissen, warum die Vaterschaftsanerkennung fehlt.<br />
Wenn mir das schon so geht, wie geht das dann erst meiner Tochter, wenn sie sich auf die Suche nach ihrem Vater macht. Mein Name steht ja nun nicht im Geburtsregister. Diese Tatsache macht mich ein wenig traurig.</p>
<p>Auf der anderen Seite &auml;ndert dieser fehlende Eintrag nichts daran, dass meinen Vater kennen gelernt hab. Und das in der ganzen Zeit, in der ich noch bei meinen Eltern gewohnt habe. Wir haben uns irgendwann von einander entfernt. Er war nicht auf der Hochzeit. Ich habe auch nicht im Ansatz Lust, ihn wegen dieser Sache anzurufen.<br />
Und doch. Ich will wissen, was in der Zeit um meine Geburt bei meinen Eltern los war: Wie lange haben sie schon zusammen gewohnt, als ich geboren wurde. Wann haben sie sich dazu entschieden zu heiraten? (Einen Antrag gabs nach meinem Wissen nicht.)</p>
