---
layout: post
status: publish
published: true
title: Freudiger Abend f&uuml;r freudige Zeit
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 342
wordpress_url: http://moerssl.net/?p=342
date: '2012-06-04 21:33:08 +0200'
date_gmt: '2012-06-04 19:33:08 +0200'
categories:
- heartbeat
tags: []
comments: []
---
<p>Heute konnten wir die Best&auml;tigung f&uuml;r unsere Flitterwochen abschicken.</p>
<p>Wir werden flittern, yeah! Es wird so sch&ouml;n. Vor allem mit dieser Frau. *hachz*</p>
