---
layout: post
status: publish
published: true
title: Der Sinn des Lebens
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 473
wordpress_url: http://moerssl.net/?p=473
date: '2012-11-24 18:29:00 +0100'
date_gmt: '2012-11-24 17:29:00 +0100'
categories:
- holyday
tags: []
comments: []
---
<p>Im Religionsunterricht war es in der Mittelschule mal Thema. Der Sinn des Lebens. Warum sind wir auf diesem Planeten. Es kamen Dinge zur Sprache, wie Familie gr&uuml;nden, Haus bauen, ber&uuml;hmt werden, reich werden. Damals alles noch sehr weit weg.</p>
<p>Seit ich Christ bin, lese und h&ouml;re ich immer wieder, dass es einen Plan f&uuml;r mein Leben gibt. Dass mein Leben einen Sinn hat. Dass Gott etwas f&uuml;r mich vorbereitet hat. Das es etwas gibt, mit dem ich meinem Leben Sinn geben kann.</p>
<p>Ich war eine Zeit lang auf der Suche. Habe mich ausprobiert. Habe gesucht. Ich habe mich bei dieser Suche ein wenig kennen gelernt. Ich habe Sehns&uuml;chte entdeckt, denen ich nun nach gehen kann.</p>
<p>Die Traumfrau zu treffen, sie zu heiraten und mit ihr zusammen zu leben und gemeinsam Familie gr&uuml;nden. Das stellte sich als eine der st&auml;rksten Sehns&uuml;chte heraus. Mit meiner Traumfrau lebe ich zusammen. Wir haben geheiratet. Einer meiner Lebenstr&auml;ume ist damit schon wahr geworden.</p>
<p>Doch nicht nur die eigene Familie stellte sich als Sehnsucht heraus. Ich bin auf der Suche nach mir selber, bin &uuml;ber die Jahre mit meinem Selbstbild nicht hinterhergekommen. Das wird sich auch in Zukunft &auml;ndern, die Therapie l&auml;uft bereits.</p>
<p>Ich m&ouml;chte anderen mit meinem Handeln helfen. Ich m&ouml;chte mit meinem Sein und mit meinen F&auml;higkeiten f&uuml;r andere da sein. Sei es nun als h&ouml;rendes Ohr, als Ratgeber oder dann doch als Programmierer. Mein Geld m&ouml;chte ich unter anderem damit verdienen, dass ich den Benutzern im Internet zu einer guten Erfahrung verhelfe. Hier handle ich bereits, lerne aber noch stetig dazu. Es ist und bleibt auch ein Feld, wo man immer wieder lernen muss. Es ver&auml;ndern sich so viele Dinge in recht kurzer Zeit.</p>
<p>Oben im Header der Seite prangt die s&uuml;dafrikanische Flagge. Ich habe dieses Land zwar bisher noch nie besucht, aber irgendwie zieht es mich dahin. Eines Tages in S&uuml;dafrika leben - ein weiterer Traum. Ein Traum, der mir wohl von Gott selbst in Herz gelegt wurde.</p>
<p>Ich m&ouml;chte mich aber auch nicht zu sehr drauf versteifen, nach S&uuml;dafrika zu ziehen. Bisher war ich ja noch nie da. Vielleicht gef&auml;llt mir das Land ja &uuml;berhaupt nicht. Und auch an die Familie will gedacht werden. Aus den Augen m&ouml;chte ich es trotzdem nicht verlieren. Wohl mal eine Reise in das Land anstreben. Mag jemand sponsoren?</p>
<p>S&uuml;dafrika, Frau, Familie und Interneterfahrungen optimieren stehen bisher auf der Liste. Ein Teil fehlt dennoch. So wie ich auf der Suche nach dem Sinn meines Lebens, nach der Vision f&uuml;r mein Leben bin, so m&ouml;chte ich auch andere Menschen darin unterst&uuml;tzen, ihn f&uuml;r ihr Leben zu finden. Ich m&ouml;chte das Potential aus Menschen herauskitzeln, F&auml;higkeiten f&ouml;rdern, die vorhanden sind. Ihnen helfen, ihre Tr&auml;ume umzusetzen. Mit Rat, Unterst&uuml;tzung, Finanzierung oder auch als Mitarbeiter.</p>
<p>Was mir noch fehlt ist eine Art Slogan, an der ich die Vision festmachen kann. Kurz, pr&auml;gnant, einpr&auml;gsam. Zumindest f&uuml;r mich.</p>
<p style="padding-left: 30px">Ich m&ouml;chte meine und die F&auml;higkeiten meiner Mitmenschen f&ouml;rdern und mit ihnen zusammen Tr&auml;ume Wirklichkeit werden lassen.</p><br />
Das w&auml;re ein Versuch.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
