---
layout: post
status: publish
published: true
title: Fast Content
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 488
wordpress_url: http://moerssl.net/?p=488
date: '2012-12-06 20:46:27 +0100'
date_gmt: '2012-12-06 19:46:27 +0100'
categories:
- newstime
tags: []
comments:
- id: 129
  author: Feuerengel
  author_email: Tuffelbrinkmann@web.de
  author_url: http://meinFeuerengel.net
  date: '2012-12-06 20:52:45 +0100'
  date_gmt: '2012-12-06 19:52:45 +0100'
  content: "*tschakka* *knuddel*  <3"
- id: 130
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2012-12-06 20:53:49 +0100'
  date_gmt: '2012-12-06 19:53:49 +0100'
  content: ":-) <3"
---
<p>Ausformulierte Beitr&auml;ge gibts bald wieder. Hier mal ein kurzer Abriss:</p>
<p>- Therapie l&auml;uft als tiefenosychologische Therapie weiter<br />
- die neue Stelle macht Spa&szlig;, das Team ist toll<br />
- die neuen Aufgaben sind ein oder zwei Level h&ouml;her als die bisherigen<br />
- 8 Stunden sind noch anstrengend, wird aber das wird<br />
- Erkenntnis: Ich bin kein Sklave meiner Vergangenheit<br />
- Erkenntnis: Nicht alles war damals schei&szlig;e<br />
- Erkenntnis: Ich hab schon viel geschafft</p>
<p>(Sollte ich auch diese Wochenr&uuml;ckblicke schreiben?)</p>
