---
layout: post
status: publish
published: true
title: Seltsame Zeiten
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 287
wordpress_url: http://moerssl.net/?p=287
date: '2012-04-28 11:31:23 +0200'
date_gmt: '2012-04-28 11:31:23 +0200'
categories:
- bodywork
tags: []
comments: []
---
<p>Oder: Wenn Kopf und Gef&uuml;hle sich nicht einig sind und sich dann doch zusammen finden.</p>
<p>Kennt ihr das, wenn das Hirn sagt: "Es geht weiter, es wird besser" und das Herz oder die Gef&uuml;hle einem vorgaukeln: "Hmmbmm bbmm grmm hmpfm bmm". Also dass es so bedr&uuml;ckt ist, dass es nicht sprechen kann?</p>
<p>So war es bei mir die letzten Tage - bis zum letzten Blogpost. Dann kam der Kopf und hat das Herz freiger&auml;umt. Die beiden laufen nun wieder gemeinsam. Es f&uuml;hlt sich toll an.</p></p>
