---
layout: post
status: publish
published: true
title: 2 Br&uuml;der auf Reisen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 213
wordpress_url: http://blog.moerssl.net/?p=213
date: '2012-01-03 21:42:32 +0100'
date_gmt: '2012-01-03 21:42:32 +0100'
categories:
- holyday
tags: []
comments: []
---
<p>Wenn sich Autos von Bremen und auch aus Dresden mit (zum Teil) Jesus Freaks an Bord in Bewegung setzen, dann geht es meistens nach Borgentreich. Immer, nein nicht immer. Am vergangenen Donnerstag ging es Richtung Frankfurt. Das Bruderherz war in Frankfurt auf Silvester eingeladen und so auch wir.&nbsp;
<div>Es war echt sch&ouml;n diese lieben Menschen wieder zu sehen - man habe ich Frankfurt vermisst.</div>
<div>Auf ein scharfes Fr&uuml;hst&uuml;ck mit der "besten Worscht in Town" gabs einen lustigen Spaziergang auf der Zeil. Am Abend gabs auf der "Nacht der Eisblumen" noch was tolles auf die Ohren. Ein netter Tag mit Juri, dem Bruderherz und der Liebsten.</div>
<div><br /></div>
<div>Der letzte Tag des Jahres hatte auch was f&uuml;r die Ohren und den Gaumen &uuml;brig. Nachdem wir uns an Juris fantastischem Chilli und dem weiterem Salat gelabt haben, wurde mit GuitarHero und SingStar aufgetrumpft. Eine sch&ouml;ne Feier wars - wenn dann auch ohne das Bruderherz.</div>
<div><br /></div>
<div>Der Ausflug war ein toller Erfolg - und einen sch&ouml;ner Start ins Jahr wars auf jeden Fall.</div></p>
