---
layout: post
status: publish
published: true
title: Die n&auml;chste Etappe
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 370
wordpress_url: http://moerssl.net/?p=370
date: '2012-07-07 18:15:13 +0200'
date_gmt: '2012-07-07 16:15:13 +0200'
categories:
- bodywork
- newstime
tags: []
comments: []
---
<p>In den letzten Tagen konnte ich einige Weichen f&uuml;r meine Wiedereingliederung ins Arbeitsleben stellen. Ich hatte ein Gespr&auml;ch mit meinem Vorgesetzten. Es war ein nettes Gespr&auml;ch - wir verstehen uns ja auch ganz gut.</p>
<p>Ich werde Mitte dieses Monats zusammen mit dem Neurologen einen Fahrplan aufstellen, wie ich wieder in Richtung Vollzeitarbeit gehen kann. In der Zwischenzeit werden Gespr&auml;che gef&uuml;hrt, um meinen zuk&uuml;nftigen Einsatzort heraus zu finden.</p>
<p>Es besteht die M&ouml;glichkeit, dass ich mich in einer Interagentur unterfinden k&ouml;nnte. Das w&auml;re mir sehr lieb, ist es doch das, worauf ich mich in den letzten Jahren eingeschossen habe.</p>
<p>Meine Wille wieder zu arbeiten erstarkt nun von Tag zu Tag. Ich m&ouml;chte wieder was tun. Die n&auml;chsten Wochen kann ich nun nutzen, um mich in ein f&uuml;r mich neues CMS einzuarbeiten. (Das wird in der Agentur fl&auml;chendeckend eingesetzt.)</p>
<p>Mitte Juli wei&szlig; ich dann mehr - und euch werde ich auch nicht dumm sterben lassen.</p>
