---
layout: post
status: publish
published: true
title: Kleinigkeiten, die das Leben vers&uuml;&szlig;en
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 232
wordpress_url: http://blog.moerssl.net/?p=232
date: '2012-03-12 07:49:00 +0100'
date_gmt: '2012-03-12 07:49:00 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Im Netz gibt es immer mal wieder kleine Nettigkeiten. So verlost die <a title="Tabletcommunity" href="http://tabletcommunity.de/12449/jubilaums-gewinnspiel-asus-transformer-prime-und-samsung-galaxy-tab-10-1n-zu-gewinnen/" target="_blank">Tabletcommunity</a> zwei Tablets.</p>
<p>Folgt dem Link und erfahrt mehr :-).</p></p>
