---
layout: post
status: publish
published: true
title: Aus der Haut gefahren
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 321
wordpress_url: http://moerssl.net/?p=321
date: '2012-05-22 10:29:49 +0200'
date_gmt: '2012-05-22 10:29:49 +0200'
categories:
- bodywork
- familystory
tags: []
comments: []
---
<p>Die Liebste und ich waren &uuml;ber das verl&auml;ngerte Wochenende auf dem Willo - dem kleinen Familientreffen der Jesus Freaks. Sch&ouml;n war es, Herzensmenschen zu treffen, die man schon lange nicht mehr gesehen hat. Es war eine Zeit zum Auftanken, sie tat sehr gut.</p>
<p>Eine Frage kommt dann immer, wenn man in gr&ouml;&szlig;eren Menschenmengen unterwegs ist: "Wie geht es dir?" Mal ist es eine H&ouml;flichkeitsfloskel, mal ist es ernst gemeint. Und manchmal scheue ich mich vor der Beantwortung dieser Frage. L&uuml;gt man nun, weil man ungern ein langes Gespr&auml;ch vom Zaun brechen m&ouml;chte oder weil es den Fragenden sowieso nicht interessiert? Am Wochenende schreckte ich meist vor der Frage zur&uuml;ck, wenn sie mir als Floskel gestellt wurde.</p>
<p>Nichtsdestotrotz habe ich gerne mit meinen Herzensmenschen geredet, tiefe Gespr&auml;che gehabt, geweint. Und dann gest&auml;rkt aus dem Wochenende wieder gekommen. Waren die letzten Tage vor dem Willo doch sehr anstrengend, ist es nun wie ausgewechselt. Seit gestern Mittag macht sich in mir das Gef&uuml;hl breit, mich &auml;hnlich einer Schlange geh&auml;utet zu haben. Die anstrengende Zeit der letzten Woche sehe ich nun in einem ganz anderen Licht - die Haut war einfach zu klein geworden und das dr&uuml;ckte, schmerzte. Nun f&uuml;hle ich mich wieder wohl in meiner Haut und auch die Erholung kann weiter gehen.</p>
<p>Danke Jesus, danke Freaks, danke Willo.</p>
