---
layout: post
status: publish
published: true
title: Das Ende ist nah
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 423
wordpress_url: http://moerssl.net/?p=423
date: '2012-11-12 07:13:31 +0100'
date_gmt: '2012-11-12 06:13:31 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Eine Nacht vergeht noch, dann habe ich meinen letzten Arbeitstag on der alten Firma.<br />
Es ist ein mulmiges Gef&uuml;hl nach etwas mehr als sieben Jahren nun getrennte Wege zu gehen. Aber es ist der richtige Weg. In der Firma habe ich meine Ausbildung gemacht und im Beruf das laufen gelernt.<br />
Zum 1.12. gehts dann beim neuen Arbeitgeber weiter. Der Arbeitgeberwechsel - eine weitere Ver&auml;nderung in diesem Jahr. Ein Jahr, das unser Leben richtig umgekrempelt hat. Wird es die letzte Ver&auml;nderung bleiben? Wir werden sehen.</p>
