---
layout: post
status: publish
published: true
title: And counting
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 400
wordpress_url: http://moerssl.net/?p=400
date: '2012-08-19 14:37:02 +0200'
date_gmt: '2012-08-19 12:37:02 +0200'
categories:
- heartbeat
tags: []
comments: []
---
<p>Ruhig wars hier auf dem Blog die letzten Wochen. Mein Kopf ist recht besch&auml;ftigt mit Bewerbungen, mit dem Arbeiten in der Wiedereingliederung und heute in ner Woche werden die Liebste und ich uns das Ja-Wort geben.</p>
<p>Die Wiedereingliederung l&auml;uft ziemlich gut. Den Wechsel von drei Stunden auf f&uuml;nf Stunden am Tag hab ich gut verkraftet. Auch wenn die ersten Tage recht anstrengend waren.</p>
<p>Neben der Wiedereingliederung laufen die Bewerbungen und Vorstellungsgespr&auml;che. Die ersten Gespr&auml;che hatte ich schon, die ersten R&uuml;ckl&auml;ufer sind auch schon in den heimischen Katakomben angekommen. Ich suche weiter. (Eine Stelle als Software- oder Webentwickler in Bremen. Wer was wei&szlig;, bitte melden.)</p>
<p>Die Aufregung steigt. Die Hochzeitswoche beginnt und so langsam f&auml;llt es schwer sich zu konzentrieren. Die Hochzeit macht sich doch recht stark in den Gedanken breit. Nicht selten erwische ich mich bei den Gedanken, wie ich am n&auml;chsten Sonntag am Altar stehe und die ersten Blicke auf die Liebste erhaschen kann. Eine sehr aufregende Zeit.</p>
