---
layout: post
status: publish
published: true
title: Far far away?
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 353
wordpress_url: http://moerssl.net/?p=353
date: '2012-06-18 13:19:31 +0200'
date_gmt: '2012-06-18 11:19:31 +0200'
categories:
- heartbeat
tags: []
comments: []
---
<p>Rechts im Block tickt der Counter immer weiter runter. Noch 69 mal schlafen. Ist ja eigentlich nicht mehr so lange. Gef&uuml;hlt immer noch sehr weit weg. Hat das nun was mit der Zerst&uuml;ckelung der Zeit durch die Arzttermine zu tun?</p>
<p>Immer wieder spreche ich &uuml;ber die Hochzeit, aber manchmal f&uuml;hle ich mich noch gar nicht hochzeitlich. Irgendwie noch ganz weit weg und im n&auml;chsten Moment dann doch wieder so schnell da. Zehn Wochen sind es noch. Zehn Wochen. Zehn Wochen. </p>
