---
layout: post
status: publish
published: true
title: Als es Klick machte
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 485
wordpress_url: http://moerssl.net/?p=485
date: '2012-12-03 20:48:45 +0100'
date_gmt: '2012-12-03 19:48:45 +0100'
categories:
- heartbeat
tags: []
comments: []
---
<p>Letzte Woche gr&uuml;belte ich noch, mit welcher Therapieform ich weiter machen m&ouml;chte. Die Entscheidung ist gefallen. Es ist die tiefenpsychologische Therapie.<br />
Nun wollte ich mich darauf konzentrieren, mein jetziges Ich kennen zu lernen. Vor 10 Jahren noch mangelte es mir an Selbstvertrauen, ich war verschlossen, zog mich zur&uuml;ck. Das war vor 10 Jahren. Da hat sich einiges ge&auml;ndert.<br />
Ich hab die Ver&auml;nderungen aufgez&auml;hlt, ebenso wie meine jetzigen Eigenschaften. Aber ich muss mich noch kennen lernen?!? Es ist sch&ouml;n, wenns endlich klick macht.</p>
