---
layout: post
status: publish
published: true
title: We have a LiftOff
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 368
wordpress_url: http://moerssl.net/?p=368
date: '2012-07-04 12:23:14 +0200'
date_gmt: '2012-07-04 10:23:14 +0200'
categories:
- bodywork
- newstime
tags: []
comments: []
---
<p>Am Wochenende stand f&uuml;r mich ja so ein kleiner Test an. Ich wollte mich in einem gesteckten Rahmen testen, wie es denn mit meiner Arbeitsverfassung aussieht. Ich hatte es ja im letzten Post schon gesagt. Es handelte sich um eine Datenmigration f&uuml;r die Jesus Freaks.</p>
<p>Den Freitag Abend verbrachte ich mit ein paar Vorbereitungen - parallel fand sich der Rest des Teams in Berlin ein. Ich arbeitete von zu hause aus. Am Samstag ging es dann richtig los. Datenstrukturen analysieren, den Kaffeeverbrauch hoch treiben und immer sch&ouml;n voran kommen. Es freute mich schon w&auml;hrend des Tages zu sehen, dass ich mich nicht &uuml;bernehmen w&uuml;rde. Die Arbeit machte Spa&szlig; - und ich lie&szlig; sie dann nach acht Stunden auch Arbeit sein.</p>
<p>Am Sonntag ging es dann noch f&uuml;r ein paar Stunden weiter. Der Kaffeeverbrauch und der Ersch&ouml;pfungsgrad waren dann am zweiten Tag zwar schon nach der H&auml;lfte der Zeit erreicht, allerdings habe ich mich mit diesem Einsatz nicht &uuml;bernommen.</p>
<p>Am Sonntag Abend konnte ich mich dann endg&uuml;ltig &uuml;ber diesen Erfolg freuen. An der Stimmung, dass ich mich wieder aufs Arbeiten freue, hat sich nix getan. Der Test war erfolgreich. Die n&auml;chsten Schritte in Richtung Arbeitsleben k&ouml;nnen kommen. *freu*</p>
