---
layout: post
status: publish
published: true
title: Level Up
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 285
wordpress_url: http://moerssl.net/?p=285
date: '2012-04-26 19:17:00 +0200'
date_gmt: '2012-04-26 19:17:00 +0200'
categories:
- bodywork
tags: []
comments:
- id: 106
  author: Leben mit der Depression &laquo; Federschwarz
  author_email: ''
  author_url: http://federschwarz.wordpress.com/2012/05/02/leben-mit-der-depression/
  date: '2012-05-02 17:09:32 +0200'
  date_gmt: '2012-05-02 17:09:32 +0200'
  content: "[...] wieder arbeiten, brach nach ein paar Monaten wieder zusammen und
    ist nun wieder krank geschrieben. Neun Wochen sind es jetzt und so langsam, ganz
    langsam, geht es ihm [...]"
- id: 107
  author: Leben mit der Depression &raquo; federschwarze Ansichten
  author_email: ''
  author_url: http://federschwarz.de/2012/05/02/leben-mit-der-depression/
  date: '2014-09-10 15:07:33 +0200'
  date_gmt: '2014-09-10 13:07:33 +0200'
  content: "[&#8230;] wieder arbeiten, brach nach ein paar Monaten wieder zusammen
    und ist nun wieder krank geschrieben. Neun Wochen sind es jetzt und so langsam,
    ganz langsam, geht es ihm [&#8230;]"
---
<p>In der <a title="Januszeit" href="http://moerssl.net/2012/03/24/januszeit/" target="_blank">Januszeit</a> hatte ich ja schon geschrieben, dass ich zur Zeit sehr mit mir selber zu k&auml;mpfen habe. Das Erholen f&auml;llt schwer und geht nur sehr langsam. Das geht nun auch schon eine recht lange Weile so. Vor der Beerdigung meiner Oma habe ich bei meinem Bruder auf dem Sofa nachgez&auml;hlt, dass ich nun schon die achte Woche krank geschrieben bin.</p>
<p>Bis vor kurzem f&uuml;hlte ich mich wie ein Akku mit Memoryeffekt. Ich war bei 10% stecken geblieben, h&ouml;her hinaus ging es nicht. Vor ein paar Wochen wurde dann der Memoryeffekt geknackt, der Akku begann weiter zu laden als die 10%. Ein Highlight der letzten Wochen. Ich saugte frische Luft und Kraft in mich auf. Ein gro&szlig;artiges Gef&uuml;hl, sich befreit zu f&uuml;hlen. Frei von den Bedr&uuml;ckungen der letzten Jahre, frei von Druck, frei von Selbstvorw&uuml;rfen. Gest&auml;rkt durch Zuversicht, ein Licht am Ende des Tunnels, den Silberstreif am Horizont.</p>
<p>Ich traute mit wieder Dinge zu, sa&szlig; einige Zeit am Computer. Ein bisschen zuviel wie sich nachher festellen sollte. Es kam zum Einbruch. Gl&uuml;cklicherweise fiel ich dann nicht komplett auf null zur&uuml;ck, es ging mir erholter als zu Beginn der Krankenzeit. Auf diesem Level steh ich nun schon einen Weile. Die Erholung geht weiterhin langsam von statten. Wahrscheinlich durch die Beerdigung meiner Oma bedingt.</p>
<p>Viele Tage sind nun recht mittelm&auml;&szlig;ig, ich empfinde nur selten Regeneration. Nachwirkungen der Beerdigung - wahrscheinlich. Ich hoffe nun, dass es die n&auml;chsten Tage wieder besser wird. Eins steht fest, es wird mir besser gehen. Tief im Inneren wei&szlig; ich das. Und wenn ich es vergesse, ist die Liebste da, um mich dran zu erinnern.</p>
<p>Also Credo f&uuml;r die n&auml;chsten Tage: Level Up.</p></p>
