---
layout: post
status: publish
published: true
title: Die Schlagerkindkeit
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 335
wordpress_url: http://moerssl.net/?p=335
date: '2012-05-31 18:56:01 +0200'
date_gmt: '2012-05-31 16:56:01 +0200'
categories:
- heartbeat
tags: []
comments: []
---
<p>Aufgewachsen im sagenumwobenen Erzbegirgsvorland, bekannt durch seine sch&ouml;ne Sprache, war meine Kindheit gepr&auml;gt von Wolfgang Petry, Roland Kaiser, Matthias Reim, Heino, Tom Astor, Truckstop und anderen. Viele Lieder von Wolle und Roland kann ich heute noch auswendig in jeder Strophe mitsingen. Manchmal schockiert mich das.</p>
<p>Und manchmal stehe ich auf und habe eines dieser Lieder aus der Kindheit im Ohr. Dieser Tage ist es mal wieder eins von Wolle. Schon oft hat es mich zum Weinen gebracht. Einen kleinen Happen aus dem Refrain gef&auml;llig, der mir zwischen den Ohren tobt?</p>
<p>Ich w&uuml;nsche dir viel Gl&uuml;ck auf deiner Reise<br />
Schaue in dein Herz - h&ouml;r in dich rein<br />
Und wenn du nicht mehr weiter wei&szlig;, komm zu mir<br />
Ich liebe dich, mein Sohn</p>
<p>*tr&auml;nchenvergie&szlig;*</p>
