---
layout: post
status: publish
published: true
title: Code is poetry
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 328
wordpress_url: http://moerssl.net/?p=328
date: '2012-05-25 20:58:17 +0200'
date_gmt: '2012-05-25 20:58:17 +0200'
categories:
- newstime
tags: []
comments:
- id: 112
  author: Der Countup | moerssl.NET
  author_email: ''
  author_url: http://moerssl.net/2012/12/15/der-countup/
  date: '2012-12-15 20:53:54 +0100'
  date_gmt: '2012-12-15 19:53:54 +0100'
  content: "[...] unserer Hochzeit programmierte ich einen Countdown, der die Tage
    bis zur Hochzeit anzeigt. Es war ein Wunsch der Liebsten. Angezeigt wurde er in
    der [...]"
---
<p>Die Liebste w&uuml;nschte sich als Vorhochzeitsgeschenk ein Countdown-Widget bis zur Hochzeit f&uuml;r ihren Blog. Logisch, diese Countdowns gibt es wie Sand am Meer und auch bei den Blogs bei wordpress.com ist so ein Widget schon mit dabei. Aber das war ja nicht der Sinn der Sache. Es sollte ja eins von mir sein. S&uuml;&szlig;, oder?</p>
<p>Bis dann schlie&szlig;lich das Ergebnis fertig war, brauchte es einige Anl&auml;ufe. Als erstes programmierte ich ein kleines JavaScript, nat&uuml;rlich konfigurierbar. Seit heute Abend wei&szlig; ich dann auch, dass es bei wordpress.com nicht m&ouml;glich ist, JavaScript einzusetzen. Der Plan war gut, die Umsetzung auch, nur die Rahmenbedingungen haben nicht gepasst.</p>
<p>Also auf zum n&auml;chsten Versuch. Diesmal gabs ein Bild zum einsetzen. Nur das Bild alleine w&auml;re ja statisch, also nix mit runterz&auml;hlen. Also ein bisschen PHP in die Tasten gehauen und mittels der Skriptsprache das Bild generieren lassen, die Logik vom JavaScript &uuml;bernehmen und noch bisschen aufh&uuml;bschen.</p>
<p>In der Sidebar oben seht ihr das Ergebnis. Bei der Liebsten auf dem Blog &uuml;brigens auch.</p>
