---
layout: post
status: publish
published: true
title: Hallo liebes Vodafoneteam - Ein offener Brief II
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 225
wordpress_url: http://blog.moerssl.net/2012/02/02/hallo-liebes-vodafoneteam-ein-offener-brief-ii/
date: '2012-02-02 18:01:33 +0100'
date_gmt: '2012-02-02 18:01:33 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Danke f&uuml;r euren netten Anruf heute morgen. Ich h&auml;tte ja fast nicht abgenommen, hinter der verborgenen Nummer h&auml;tte sich ja jeder verstecken k&ouml;nnen.</p>
<p>Ich finde es super, dass ihr auch &uuml;ber 3 Seiten lange Briefe lest, die euch geschickt werden. Vielen Dank auch f&uuml;r eure Nachsicht und das Entgegenkommen bei unserer beider Beziehungsende - im April.</p>
<p>Viele Gr&uuml;&szlig;e</p></p>
