---
layout: post
status: publish
published: true
title: F&uuml;r Oma
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 309
wordpress_url: http://moerssl.net/?p=309
date: '2012-05-08 16:23:32 +0200'
date_gmt: '2012-05-08 16:23:32 +0200'
categories:
- familystory
- heartbeat
tags: []
comments:
- id: 108
  author: FrauPerle
  author_email: stinelinee@googlemail.com
  author_url: http://www.perlchenblog.wordpress.com
  date: '2012-05-08 17:17:01 +0200'
  date_gmt: '2012-05-08 17:17:01 +0200'
  content: "F&uuml;r deine Oma \n\n&hearts;\n\nund Morgen schicke ich ein paar gute
    Gedanken f&uuml;r euch und f&uuml;r sie in den Himmel."
- id: 109
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2012-05-08 17:18:00 +0200'
  date_gmt: '2012-05-08 17:18:00 +0200'
  content: Danke <3. Ich werd auch ans Schwesterchen denken.
---
<p>Mir schwirrt es schon seit ein paar Tagen im Kopf herum. Meine Oma h&auml;tte morgen Geburtstag gehabt. Es wird das erste Mal sein, dass ich am neunten Mai nicht bei meiner Oma anrufen werde.</p>
<p>Bei <a title="Frau Perle" href="http://perlchenblog.wordpress.com/2012/05/08/%E2%99%A5-10/" target="_blank">Frau Perle</a> las ich heute &auml;hnliches.</p>
<p>In Gedenken wurden zwei Bildchen gestaltet und an Frau Perle geschickt. Nachdem wir die Fotos gemacht hatten, klarte ein St&uuml;ck des Himmels auf. Ein sch&ouml;nes Zeichen, wie ich finde.</p>
<p>An Gedenken an Oma h&auml;ngt nun ein kleines Herz bei uns im Fenster - hatte sie doch ein gro&szlig;es Herz f&uuml;r ihre Enkel. Ein Herz, dass mich an sie erinnert.</p>
<p><a href="http://blog.moerssl.net/img/2012/05/herz_fuer_oma.jpg"><img class="size-medium wp-image-310 alignleft" title="Ein Herz f&uuml;r Oma" src="http://blog.moerssl.net/img/2012/05/herz_fuer_oma-300x225.jpg" alt="Ein Herz f&uuml;r Oma" width="300" height="225" /></a></p>
