---
layout: post
status: publish
published: true
title: Von der Fortf&uuml;hrung
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 356
wordpress_url: http://moerssl.net/?p=356
date: '2012-06-21 12:45:24 +0200'
date_gmt: '2012-06-21 10:45:24 +0200'
categories:
- bodywork
tags: []
comments: []
---
<p>Im Sommer 2010 startete ich 2 Projekte:<a title="rauchfrei 2010 &ndash; schnarchfrei 2010" href="http://moerssl.net/2010/09/20/rauchfrei-2010-schnarchfrei-2010/"> rauchfrei2010 und schnarchfrei2010</a>. Damit wollte ich meine Lebensqualit&auml;t steigern</p>
<p>Hatte ich doch nur durch erh&ouml;htes Stressaufkommen wieder mit dem Rauchen angefangen, sollte es von da an nicht weiter Teil meines Lebens sein. Ich machte mir einen etwas entfernten Termin, ab wann ich meinen Zigarettenkonsum langsam senken w&uuml;rde. Mit dieser Taktik war ich schonmal f&uuml;r l&auml;ngere Zeit von Glimmstengel losgekommen. Das Vorhaben ging auf und im September 2010 konnte ich das Projekt als abgeschlossen ansehen. rauchfrei2010 war erfolgreich.</p>
<p>Anders sah es bei schnachfrei2010 aus. Da gab es mehrere Termine bei einem HNO-Arzt. Es folgten Schlafscreening und Nachbesprechung. Doch mehr geschah nicht. Beim Meilensteinmeeting zur Besprechung des Screenings sollte ich mir Gedanken &uuml;ber eine OP machen. Meine Lebensumst&auml;nde &auml;nderten sich. &Uuml;ber ein Jahr arbeitete ich in einer entfernten Stadt. Weitere Termine bei diesem HNO fanden nicht statt. Ich begn&uuml;gte mich mit der Ansage, auf der rechten Seite zu schlafen. Mal klappte da die Schnarchfreiheit, mal nicht.</p>
<p>Nun habe ich 2 Jahre sp&auml;ter einen weiteren Versuch gestartet.&nbsp; Wider der L&auml;rmbel&auml;stigung. Die Liebste und auch die Nachbarn werden es mir (in hoffentlich nicht allzu ferner Zukunft) danken.</p>
<p>Mittlerweile ist der Projektfortschritt &auml;hnlich weit wie 2010. Den Arzt habe ich gewechselt. Das Screening habe ich bereits hinter mir. Im Juli steht die Besprechung an. Mal sehen, wie die Alternativen dann stehen und ob der neue Arzt zu anderen Schl&uuml;ssen kommt als jener in 2010. Die ersten Unterschiede gab es bereits bei der Erstuntersuchung.</p>
<p>Den weiteren Verlauf wird es dann demn&auml;chst hier zu lesen geben. Wider der Lautst&auml;rke!</p>
