---
layout: post
status: publish
published: true
title: Die neue Arbeit - Ein Zweiwochenbericht
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 499
wordpress_url: http://moerssl.net/?p=499
date: '2012-12-14 19:25:59 +0100'
date_gmt: '2012-12-14 18:25:59 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Seit Anfang des Monats bin ich nun bei meinem neuen Arbeitgeber. Mit dem Wechsel kam ja nicht nur der neue Arbeitgeber, ein k&uuml;rzerer Arbeitsweg, neue Aufgaben, sondern auch wieder eine 40 Stunden Woche.</p>
<p>Nach meinem ersten Nervenzusammenbruch vor &uuml;ber einem Jahr (krass, das ist schon so lange her) &nbsp;konnte ich meinen Vertrag ja auf 32 Stunden reduzieren. Den freien Tag nutzte ich dann f&uuml;r die Therapie.</p>
<p>Nun habe ich mich wieder stabilisiert und wollte auch schon l&auml;nger auf 40 Stunden zur&uuml;ck. Nun ist es soweit. Und ich muss sagen, die ersten Tage waren auch echt anstrengend. Da habe ich gemerkt, dass ich das nicht mehr gewohnt war. Nach der zweiten Arbeitswoche habe ich mich so langsam wieder dran gew&ouml;hnt und komme nun nicht mehr total ausgepowert nach hause.</p>
<p>Das ist auch der Grund, warum ich mich nun hier dran setze und diesen Beitrag schreibe.</p>
<p>Und was soll ich nun sagen. Ich f&uuml;hle mich einfach sau wohl da. Das Team ist toll. Die Stimmung ist super. Wir d&uuml;rfen viel selber bestimmen und selber planen. Das Projektmanagement l&auml;sst und viele Freiheiten. Manchmal frag ich mich, wie viel Rosa Brille da noch dabei ist.</p>
<p>Die erste Woche war von vielen Meetings gepr&auml;gt. Das wird auch fast jede zweite Woche so sein. Da ist viel Transparenz da. Die Zeit bisher habe ich neben den anderen Entwicklern gesessen und ein bisschen mit den Augen abgeschaut. Training on the job, Einarbeiten durch Fragen stellen.</p>
<p>Die ersten Erfolgserlebnisse konnte ich in der Zeit des Beisitzens auch schon vermerken. Es tut gut, wenn man sich einbringen kann.</p>
<p>Seit heute kann ich dann auch tats&auml;chlich mitarbeiten. Ich habe meinen neuen Laptop bekommen. N&auml;chste Woche gehts dann los. Ich freu mich schon.</p>
