---
layout: post
status: publish
published: true
title: Projekt70
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 330
wordpress_url: http://moerssl.net/?p=330
date: '2012-05-26 11:09:13 +0200'
date_gmt: '2012-05-26 11:09:13 +0200'
categories:
- projectseventy
tags: []
comments: []
---
<p>Die magische Grenze meines Gewichts lag jahrelang bei 70 Kilo. Ich konnte futtern, was ich wollte, selbst tagt&auml;glich Fastfood konnten dieser Grenze nicht Herr werden.</p>
<p>Letztes Jahr war es dann vorbei damit. Meinem Arbeitsumfeld war es geschuldet, dass ich nun in einer fremden Stadt arbeiten sollte. Und damit schien es dann vorbei mit der magischen Grenze zu sein. Monat f&uuml;r Monat fand ein zus&auml;tzliches Kilo auf meinen Rippen eine neue Heimat.</p>
<p>Was Anfangs nicht so auffiel, war dann gegen Mitte des Jahres nicht mehr wegzudiskutieren. Ich f&uuml;hlte mich nach und nach unwohler in meinem K&ouml;rper und die Waage kletterte weiter. Ende Dezember verk&uuml;ndete mir die Waage, dass monatlich ein Kilo dazu gekommen war. Ich war ein wenig deprimiert. Jahrelang f&uuml;hlte ich mich wohl, das war nun vorbei.</p>
<p>Bereits Mitte des Jahres hatte ich f&uuml;r mich das "Projekt70" ausgerufen, wollte ich doch schon da wieder auf mein altes Gewicht zur&uuml;ck. Das hat wohl nicht angeschlagen. Nun starte ich einen neuen Versuch - ein Neustart f&uuml;r "Projekt70".</p>
<p>Diesmal wird es anders aufgezogen. Mit diesem Artikel starte ich "Projekt70" ganz offiziell und werde hier wohl auch ab und an Zwischenergebnisse vorzeigen. Inzwischen habe ich eine Mitgliedschaft bei einer Fitnesskette, die durch Werbema&szlig;nahmen zweier Ukrainer unterst&uuml;tzt wird, abgeschlossen.</p>
<p>Heute Nachmittag geht es wieder auf zum Training. Die Waage zeigt aktuell 79 Kilo. Auf die weiteren 9 Kilo.</p>
<p>In diesem Sinne: Sport frei!</p>
<p>&nbsp;</p>
