---
layout: post
status: publish
published: true
title: Jahresr&uuml;ckblick 2012
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 521
wordpress_url: http://moerssl.net/?p=521
date: '2012-12-28 18:07:40 +0100'
date_gmt: '2012-12-28 17:07:40 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Das Jahr neigt sich ja so langsam dem Ende zu und ich werd mich mal an einem Jahresr&uuml;ckblick versuchen. Ob mir f&uuml;r jeden Monat etwas einf&auml;llt?</p>
<p><strong>Januar</strong></p>
<p>Das Jahr war erst ein paar Minuten alt. Und es stand fest, das wird unser Jahr. Wir werden heiraten. Verlobung zu Neujahr. Die Liebste bekommt ihre Dreads.</p>
<p><strong>Februar</strong></p>
<p>Eine Wohnung will eingerichtet werden. Haben wir geschafft. Den Umzug auch. Wir habens sch&ouml;n.<br />
Twittertreffen in Dresden.</p>
<p><strong>M&auml;rz</strong></p>
<p>Kurz nach dem Umzug der Zusammenbruch. Ich bleibe krankheitsbedingt zu hause und nehme Medikamente. Ende des Monats stirbt meine Oma.</p>
<p><strong>April</strong></p>
<p>Meine Oma wird beerdigt. Der Gang ist schwer. Es ist meine erste Beerdigung. Die Location f&uuml;r unsere Hochzeit steht fest: eine Burg. Es wird eine Traumhochzeit werden.</p>
<p><strong>Mai</strong></p>
<p>Mich erreicht eine niederschmetternde Nachricht. Das Willo der Jesus Freaks in Borgentreich findet statt. Es ist eine sch&ouml;ne Zeit und zeitgleich der Tiefpunkt der Krankheit. Ich treffen die schlimmste Entscheidung meines Lebens.</p>
<p><strong>Juni</strong></p>
<p>Mit mir gehts bergauf. Die Flitterwochen werden gebucht. Der Hochzeitscounter entsteht.</p>
<p><strong>Juli</strong></p>
<p>Das Freakstock findet ohne uns statt. Die Hochzeitsvorbereitungen laufen auf Hochtouren. Ich fange die Wiedereingliederung ins Arbeitsleben an und mache mich auf die Suche nach einer neuen Arbeitsstelle. Ich k&uuml;ndige schweren Herzens meine Arbeitsstelle zu Ende November.</p>
<p><strong>August</strong></p>
<p>Die ersten Vorstellungsgespr&auml;che stehen an. Die ersten Absagen kommen an. Ich gew&ouml;hne mich langsam wieder an das Arbeiten. Es tut gut. Wir kaufen ein Auto. Am 26. feiern wir unsere Traumhochzeit zusammen mit Freunden und Familien <3. Wir verbringen unsere Flitterwochen.</p>
<p><strong>September</strong></p>
<p>Ich bin nicht mehr krank geschrieben. Mein neuer Arbeitgeber l&auml;dt mich zum Bewerbungsgespr&auml;ch ein. Ein zweites Gespr&auml;ch folgt. Ich habe ein gutes Gef&uuml;hl.</p>
<p><strong>Oktober</strong></p>
<p>Ein Aufruf beendet die Bewerbungsphase. Ab Dezember kann ich eine neue Stelle antreten. Der Druck auf meinen Schultern l&auml;sst nach.</p>
<p><strong>November</strong></p>
<p>Die letzten Tage in der alten Firma stehen an. Es f&uuml;hlt sich seltsam an, nach sieben Jahren nun verschiedene Wege gehen. Ich nehme meinen restlichen Jahresurlaub.</p>
<p><strong>Dezember</strong></p>
<p>Ich fange die neue Stelle an. Ich f&uuml;hle mich wohl und arbeite gern da. Ich gew&ouml;hne mich ein. Die ersten Tage und die volle Arbeitszeit sind anstrengend. Ich gew&ouml;hne mich daran. Wir feiern unser erstes Weihnachten als Ehepaar entspannt zu hause auf der Couch.</p>
