---
layout: post
status: publish
published: true
title: Spielend weiter
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 360
wordpress_url: http://moerssl.net/?p=360
date: '2012-06-25 19:38:43 +0200'
date_gmt: '2012-06-25 17:38:43 +0200'
categories:
- heartbeat
tags: []
comments:
- id: 115
  author: vollblutmami
  author_email: vollblutmami@web.de
  author_url: http://vollblutmami.wordpress.com
  date: '2012-06-26 08:29:00 +0200'
  date_gmt: '2012-06-26 06:29:00 +0200'
  content: |-
    Sie ist wirklich sch&ouml;n. Vielleicht kann die Liebste dir ein paar Akkorde zeigen, sie hatte jahrelang mit mir Unterricht. ;)

    Es scheint dir langsam besser zu gehen und das freut mich.
- id: 116
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2012-06-26 13:54:34 +0200'
  date_gmt: '2012-06-26 11:54:34 +0200'
  content: Ja, es geht bergauf. Und das freut mich sehr. :) Ich suche wieder nach
    Besch&auml;ftigung. Ein sch&ouml;nes Zeichen.
---
<p>Ich bin nunmehr fast vier Monate zu hause. Das ist eine lange Zeit und so langsam macht es sich auch bemerkbar. Ab und an f&auml;ngt die Decke an zu zittern und droht mir auf den Kopf zu fallen. Noch hat sie es nicht getan.</p>
<p>In den vergangenen Jahre hatte ich mir ein paar Sachen vorgenommen, die &uuml;ber die Zeit eingeschlafen waren. Gitarre spielen zu lernen geh&ouml;rte da mit dazu. Vor zweieinhalb Jahren hatte ich meine Gitarre an den Nagel geh&auml;ngt. Keinen Kopf mehr zum Spielen, kein Geld um bei meinem Gitarrenlehrer weiter Stunden zu nehmen. Dann verschwanden irgendwann meine Akkorde und die Gitarre stand ungenutzt in der Ecke.</p>
<p><a href="http://blog.moerssl.net/img/2012/06/2012-06-21-21.19.16-e1340645874176.jpg"><img class="alignright size-medium wp-image-362" title="Die Neue und die Alte" src="http://blog.moerssl.net/img/2012/06/2012-06-21-21.19.16-e1340645874176-225x300.jpg" alt="" width="225" height="300" /></a>In den letzten Wochen wurde dann die Lust zu spielen wieder wach gekitzelt. Es juckte mich wieder in den Fingern die Gitarre in die Hand zu nehmen und einige Akkorde zu spielen. Also kaufte ich mir eine neue Gitarre - die andere war schwer zu spielen. Auf dem Bildchen seht ihr die beiden. Die Schwarze ist die neue. Hachze, ich mag sie. Und sie ist schwarz. SCHWARZ <3.</p>
<p>Nun sitze ich den einen oder anderen Abend auf dem Sofa und klampfe ein bisschen vor mich hin. Schlie&szlig;lich mag ich wirklich spielen und es soll nun nicht noch einmal einschlafen. Vielleicht bes&auml;nftige ich damit ja auch die Decke ;).</p>
