---
layout: post
status: publish
published: true
title: Ein Genie&szlig;ertag
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 291
wordpress_url: http://moerssl.net/?p=291
date: '2012-05-03 19:33:15 +0200'
date_gmt: '2012-05-03 19:33:15 +0200'
categories:
- bodywork
- heartbeat
tags: []
comments: []
---
<p>Ich habe es gern, wenn ich am Ende eines Tages sagen kann, dass ich ihn genossen habe. Heute war mal wieder ein solcher Tag. Es geht aufw&auml;rts und das ist gut so.</p>
<p>Immer wieder staunte ich heute dar&uuml;ber, dass ich Dinge anpacken und tun wollte. So haben wir heute die Einladungskarten f&uuml;r die Hochzeit fertig stellen k&ouml;nnen. Eine mehr oder weniger spontan beschlossene Sache, gab es doch ein paar Probleme mit der Buchhaltung der Gemeinde.</p>
<p>Eine spontane &Auml;nderung im Tagesablauf, so wie sie heute stattfand, war vor ein paar Wochen f&uuml;r mich noch ein Anlass komplett im Chaos zu versinken. Wenn ich nun auf den Weg zur&uuml;ckschaue, den ich bereits hinter mir habe, staune ich ein wenig. Und habe Freudentr&auml;nen in den Augen, dass ich schon so weit bin.</p>
<p>Auch den Rest werde ich meistern, das sei gewiss. Und gibt es auch <a href="http://federschwarz.wordpress.com/2012/05/02/leben-mit-der-depression/" target="_blank">anstrengende und weniger gute Tage</a>, nehmen sie doch ab und die guten gewinnen an Anzahl. Eine freudige Entwicklung. Das kann so weiter gehen :D.</p>
