---
layout: post
status: publish
published: true
title: Traumhochzeitswoche
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 403
wordpress_url: http://moerssl.net/?p=403
date: '2012-09-09 23:10:35 +0200'
date_gmt: '2012-09-09 21:10:35 +0200'
categories:
- familystory
- heartbeat
tags: []
comments:
- id: 118
  author: Tina
  author_email: mifell@gmx.net
  author_url: ''
  date: '2012-09-10 01:06:38 +0200'
  date_gmt: '2012-09-09 23:06:38 +0200'
  content: "Und schon wieder sitz ich hier und heule Rotz und Wasser... Allerdings
    habe ich auch laut &uuml;ber die Kopfhaut gelacht :-) . Die &Auml;rzte kommen
    doch immer gut!\nWie schade, das ich nicht dabei sein konnte, aber eine zweite
    Hochzeit w&uuml;nsche ich euch beiden nicht ;-), das muss jetzt reichen! (Es sei
    denn, ihr erneuert euer  Versprechen irgendwann mal, dann komm ich auch. Ein zweites
    Mal wird mir kaum die Bude abbrennen).\nAuf jeden Fall warte ich sehns&uuml;chtig
    auf Bilder und Videos, habt ihr meine Adresse? \nIch wollte deine holde Gattin
    &uuml;brigens mit meiner Nachfrage nicht nerven, lasst euch blo&szlig; Zeit und
    genie&szlig;t die Flitterei! Nur ist unser geschenkter PC &auml;lter als ich und
    ich wusste nicht, ob meine Gl&uuml;ckw&uuml;nsche angekommen sind. Nicht das ihr
    denkt, ich h&auml;tte euren gro&szlig;en Tag vergessen..."
- id: 119
  author: devbrain83
  author_email: m.wichert@devbrain.eu
  author_url: http://www.devbrain.eu
  date: '2012-09-10 10:18:15 +0200'
  date_gmt: '2012-09-10 08:18:15 +0200'
  content: |-
    Hach, da kommen lebhafte Erinnerungen bei mir hoch. Ich war auch saunerv&ouml;s ;-) Bei uns kam noch erschwerend hinzu, dass wir in unserem Gemeindesaal gefeiert haben, und als Letztes alle Tische und St&uuml;hle raus mussten und alles aufger&auml;umt werden musste, damit tags drauf der Gottesdienst stattfinden konnte ;-) Aber dank jeder Menge flei&szlig;iger Helferh&auml;nde war das ratz fatz erledigt.

    Und ich freue mich, dass das Geschenk von meiner Frau und mir so gut bei euch angekommen ist ;-) Gr&uuml;&szlig; Deine Liebste ganz lieb von mir.
- id: 120
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2012-09-10 22:33:15 +0200'
  date_gmt: '2012-09-10 20:33:15 +0200'
  content: |-
    Wenn ich das so lese, werde ich ja rot. Ja, bei der Kopfhaut war ich froh, dass wir noch nen Notfallplayer dabei hatten.
    Genervt hast du mit deiner Nachfrage nicht. Wir hatten halt nur sporadisch eine Internetverbindung zur Verf&uuml;gung.
    Eure Adresse haben wir nicht, aber die Bilder werden wir ja sicherlich digital bekommen und deine Mailadresse ist uns ja bekannt.
---
<p>Es war bereits eine Woche vor der standesamtlichen Trauung - am Freitag, um 11.10 Uhr. Genau eine Woche noch, dann w&uuml;rden die Liebste und ich uns auf dem Standesamt das Ja-Wort geben. Die Aufregung stieg, ich konnte an kaum mehr was anderes denken.</p>
<p>Diese Aufregung hielt sich &uuml;ber das gesamte Wochenende. Besser wurde das erst am Montag. Da kam mein Bruder samt Begleitung in Bremen an. Die pure Anwesenheit meines Trauzeugen reichte aus, um mich zu beruhigen.</p>
<p>Am Dienstag machten wir dann nach meiner Arbeit noch einen kleinen Ausflug zu einem Bremer Tattoostudio. Mein Bruder liess sich spontan am Tag meines Junggesellenabschiedes noch t&auml;ttowieren.</p>
<p>Am Mittwoch Abend fand dann mein Junggesellenabschied statt. Mehr, als dass ich normal zu unserem Hauskreis gehen sollte, wusste ich nicht. Ich wurde da schon von einer Gro&szlig;zahl der Jungs begr&uuml;&szlig;t. Der Abend stand unter der Schirmherrschaft von <a title="EpicMealTime" href="http://www.epicmealtime.com/" target="_blank">EpicMealTime</a>. Im Gep&auml;ck hatten sie mehrere Kilo Hack und Fladenbrote. Zur Begr&uuml;&szlig;ung durfte ich einen gro&szlig;en Hieb aus der Whiskyflasche nehmen (nach dem ersten Schluck durfte ich feststellen, dass sich doch nur Eistee darin befand. Man kann da ja auf einem Junggesellenabschied nie sicher sein.) Dann wurde ich noch mit den n&ouml;tigen Utensilien ausgestattet. Ein T-Shirt (bacon strips &amp; bacon strips &amp; bacon strips &amp; bacon strips &amp; bacon strips &amp; got married), eine Kette (Mein letzter Tag als Freiwild) und das dazu passende Geweih. Dummerweise hatte ich mein Smartphone nicht dabei, sodass der Handypl&ouml;mpel dann auf meiner Stirn landete. Ein Umstand, der Tage sp&auml;ter noch f&uuml;r Gel&auml;chter sorgte.</p>
<p>Nachdem nun das Hack fertig zubereitet war und ich ein "H&ouml;r auf den Bacon zu fressen, du kriegst nachher noch das ganze Fladenbrot!" zu h&ouml;ren bekam, machten wir uns dann zum Grillplatz auf. Auf dem Weg dahin hie&szlig; mich ein Schild "Vorsicht Absturzgefahr" willkommen. Ich war froh um diesen Hinweis. (Der gef&uuml;rchtete Absturz blieb dann doch aus. Puh). Es war ein sch&ouml;ner netter Abend mit viel Gel&auml;chter, Magenschmerzen und noch mehr Lachen. Danke Jungs f&uuml;r dieses unvergessliche Erlebnis.</p>
<p>Am Donnerstag kamen dann unsere M&uuml;tter nebst Freunden an. Geplant war die elterliche Ankunft in unserer Wohnung gegen 17 Uhr. Da meine Mutter nebst Schwester und Freund allerdings schon gegen f&uuml;nf Uhr morgens in Dresden losfuhren, warteten sie schon vor unserer Haust&uuml;r, bevor wir da ankamen. Ganz zum Gegenteil zum Gefolge der Liebsten. Die warteten vor dem Hostel, dass sie einchecken durften. Die Donnerstag Abend war dann ein nettes Zusammensitzen mit den M&uuml;ttern nebst Freunden. So konnten sich die beiden schonmal beschnuppern und kennen lernen. Au&szlig;erdem konnten wir so schon die Absprachen f&uuml;r den Freitag und damit die standesamtliche Trauung treffen.</p>
<p>Der Freitag war quasi Generalprobe f&uuml;r Sonntag. Und der Tag, als der Brautf&uuml;hrer der Liebsten aus der Schweiz anreisen w&uuml;rde. Wir standen also fr&uuml;h genug auf, um noch ein bisschen Zeit f&uuml;r uns zu haben und noch schnell durch die Wohnung zu huschen. Ich war recht gelassen, fr&uuml;hst&uuml;ckte in Ruhe und legte mich noch zu einem kleinen Schl&auml;fchen auf die Couch. Von Aufregung keine Spur. Und dann klingelten die Schweizer. Da stieg der Puls. Kurz nach den Schweizern traf dann auch die Trauzeugin der Liebsten ein, ebenso mein Bruderherz. Gesammelt fuhren wir dann zum Standesamt. Da ging es zu wie im Taubenschlag. Allein auf der Aussichtsplattform konnten wir mindestens sechs Brautpaare z&auml;hlen. Alle in wei&szlig; bzw. Anzug. Wir fielen da ein wenig raus. Ich im schwarzen Hemd und M&auml;nnerrock, die Liebste im Korsett und Hose. Im Trauzimmer befanden wir uns dann auch nur knapp 10 Minuten, dann waren wir vor dem Gesetz verheiratet. F&uuml;r uns war diese Trauung angemessen - die kirchliche Trauung am Sonntag war uns dann eh wichtiger. In der Tiefgarage des Standesamtes sagte ich dann zur Liebsten: "Das war ja nur f&uuml;r den Nachnamen und die Steuer." Die Generalprobe hatten wir geschafft. Die Probe der Feier fand dann bei MudderSeemann im Garten statt. Am Abend gingen wir noch in unser Standesamtklamotte aufs &Uuml;berseefestival. Ein gelungener Abend nach einem sch&ouml;nen Tag.</p>
<p>Samstag luden wir zum Fr&uuml;hst&uuml;ck f&uuml;r alle Angereisten und Gastgeber. Wieder eine Kennenlernm&ouml;glichkeit f&uuml;r die M&uuml;tter, die nun langsam gegenseitig auftauten. Als dann alle G&auml;ste wieder ausgeflogen waren, fielen wir im Wohnzimmer in einen komat&ouml;sen Schlaf. Die Tage bisher waren dann doch sehr anstrengend gewesen. Am Abend dann noch eine kleine Krise. Unser Gitarrist sagte ab, weil sein Vater im Krankenhaus lag. Doch daf&uuml;r w&uuml;rde sich eine andere L&ouml;sung finden - in unserer Gemeinde sind genug Musiker.</p>
<p>Und dann war er da. Der Tag, auf den wir schon seit Anfang des Jahres hingefiebert hatten. Unser Hochzeitstag. Wir standen recht fr&uuml;h auf, sollte ich doch gegen 10 Uhr schon zur Burg aufbrechen. Mein Bruder und Begleitung schlugen fr&uuml;h bei uns auf. Die Trauzeugin der Liebsten folgte auch recht bald. Ich war da schon nix weiter als ein nerv&ouml;ses B&uuml;ndel. Dann hie&szlig; es anziehen - mein Gewand. Nach einem kleinen Hinzuf&uuml;gen eines G&uuml;rtels brachen wir dann in Richtung Burg auf. Fahrzeit: eine knappe Stunde. Das Wetter: bew&ouml;lkt und regnerisch.</p>
<p>Wir kamen etwas nach dem von mir angepeilten Zeitpunkt an der Burg an. Eine schwerwiegende Entscheidung stand an. Trauung im Biergarten im Freien oder dann doch drinnen. Da wir die ersten von den Helfern an der Burg waren, wartete ich noch auf die Techniker um die Entscheidung zu treffen. Dann trafen die ersten Helfer ein - die Techniker waren noch nicht darunter. Etwas sp&auml;ter kam dann der Prediger und Techniker in Personalunion an. Beim &Ouml;ffnen des Burgtores klemmte ich mir noch den rechten Ringfinger ein. Ausgerechnet den rechten Ringfinger. Zum Nerv&ouml;sit&auml;tsabbau trug dieser Umstand dann nicht wirklich bei. Eine kurze Absprache mit dem Techniker. Seine &Auml;u&szlig;erung: "Wenn's regnet k&ouml;nnen wir einfach T&uuml;ten dr&uuml;ber legen, dann passt das schon." Also dann doch die Trauung im Biergarten. Ab dann hielt ich immer ein Auge in Richtung Himmel. Die St&uuml;hle wurden aufgestellt, die Notfallk&ouml;rbchen auf die Toiletten gestellt und gewartet. Auf den Fotografen und die Person, die den Altarschmuck aufbauen sollte. Wertvolle Sekunden verrannen, nix tat sich. Ich tigerte wie aufgel&ouml;st durch den Biergarten, durch den Innenhof, zum Parkplatz. Dann die Hiobsbotschaft: Die Mikros fehlten. Also machte sich der Prediger nochmal auf nach Bremerhaven um die Mikros zu holen. Die St&uuml;hle standen und die Sitzkissen waren platziert, als der Himmel das erste Mal seine Schleusen &ouml;ffnete. "War es doch die falsche Entscheidung, die Trauung im Biergarten stattfinden zu lassen, war das Risiko zu hoch?" Eine Frage, die mich noch eine zeitlang besch&auml;ftigen sollte.</p>
<p>Auf einmal stand dann der Mann von der Trauzeugin im Biergarten, den Brautstrau&szlig; von Freitag in der Hand. "Ihr seid schon da?", fragte ich ihn. "F*ck, die sind schon da, wie sp&auml;t ist das? Hier fehlt noch der Altarschmuck, der Fotograf und der Prediger ist auch grade nochmal losgefahren. Und schei&szlig;e, hoffentlich bleibt das trocken. Wenn die Liebste total durchn&auml;sst zum Altar kommt, w&auml;r das doof. Und wo bleiben die ganzen G&auml;ste?" Meine Nervosit&auml;t erreichte einen neuen H&ouml;hepunkt. Der Aktionismus &uuml;berfiel mich. Ich rannte ins Restaurant und wollte einen Blick in Richtung Parkplatz werfen, um zu schauen, wo denn die Altaraufbaudame bleibt. Mein Bruder pfiff mich zur&uuml;ck, ich d&uuml;rfte da aus Gr&uuml;nden nicht mehr hin. Ich schnappte mir die Frau des Predigers, zusammen bauten wir den Altarschmuck auf. Der zweite Techniker kam auf mich zu, fragte nach dem MP3-Player f&uuml;r die Einzugsmusik. Ich reichte ihm einen von dem beiden. Da sollte dann nur ein Lied drauf sein. Das erste Lied, was er abspielte war "Kopfhaut" von den &Auml;rzten. Mein Bruder machte einen Scherz, dass es doch recht lustig sei, wenn die Liebste zu "Du kannst gehen, aber deine Kopfhaut bleibt hier" einzieht. Gl&uuml;cklicherweise hatten wir einen zweiten MP3-Player mit Greensleaves best&uuml;ckt. Eine halbe Minute sp&auml;ter ert&ouml;nte die Einzugsmusik im Biergarten. Dies war der Moment, wo ich das erste Mal zum Taschentuch griff, um mir die Freudentr&auml;nen wegzuwischen.</p>
<p>Dann traf der Prediger wieder ein. Inzwischen lagen die Kirchenbl&auml;ttchen und die Gastgeschenke auf den Sitzpl&auml;tzen. Und es begann wieder zu regnen. Also nochmal St&uuml;hle zusammenr&uuml;cken, damit sie nicht nass werden. Es war Millimeterarbeit. In Absprache mit mir rief der Prediger dazu auf, sich nun einen Platz zum Sitzen zu suchen. Es regnete fr&ouml;hlich weiter. Immer wieder kamen in der Zwischenzeit Menschen zu mir, um mich zu beruhigen: mein Trauzeuge, die Trauzeugin der Liebsten, der Prediger und wer nicht sonst noch alles. An einer Ecke sah ich schon den Brautf&uuml;hrer meiner Braut, w&auml;hrend wir am Altar in einer Last-Minute-Entscheidung noch die Trauzeugen neben uns platzierten, damit sie auch im Trockenen sitzen k&ouml;nnen.</p>
<p>Ich befand mich noch im Wuselmodus, als die Einzugsmusik erklang - und der Regen noch einmal st&auml;rker wurde. Als ich dann erahnen konnte, dass die Liebste auf dem Weg zum Altar war, war jegliche Anspannung vergessen. Ich versuchte einen Blick auf meine Braut zu erhaschen, doch stand da der Fotograf im Weg. Als er dann weg war, war ich wie erschlagen von der Sch&ouml;nheit meiner Braut und die Tr&auml;nen schossen mir in die Augen. Das Atmen fiel mir schwer. (Noch immer kommen mir die Tr&auml;nen, wenn ich an diesen Moment denken muss.) Wie in Trance nahm ich sie entgegen. Dass sich der Brautf&uuml;hrer setzte, bekam ich gar nicht mit.</p>
<p>Die wundersch&ouml;ne Zeremonie begann, auch wenn sie anfangs noch in Regen getaucht war. Die Predigt war passend zu uns und ich denke dass sich unsere nichtchristlichen Freunde auch nicht gelangweilt haben. Der Herzschlag erh&ouml;hte sich noch einmal, als wir uns unsere Eheversprechen vorlasen. Was bin ich froh, dass ich da noch die Worte rausgebracht habe. Wir beide zitterten beim Ringewechsel - aber wohl im gleichen Takt, sodass zumindest ich keine Probleme hatte, meiner Braut den Ring anzustecken. Der Kuss wurde dank unserer Gastgeschenke von Gl&ouml;ckchenl&auml;uten begleitet. Und zum letzen Lied waren einige Kinder mit nach vorn gekommen und machten Seifenblasen. So sch&ouml;n, so sch&ouml;n, als wir dann beide zu Greensleaves auszogen. Hinter der Burg umarmten wir uns dann das erste Mal als Ehepaar <3.</p>
<p>Zum Sektempfang begr&uuml;&szlig;te uns die Sonne. Die Einzelfotos wurden gemacht. Da die von uns eingeplante Hellebarde nicht verf&uuml;gbar war, kam der Schulterdrache der Liebsten zum Einsatz. Ich bin gespannt darauf, was unsere G&auml;ste mit ihm anstellten. Irgendwann waren wir an der Reihe. Typisch f&uuml;r uns sa&szlig;en wir in den Traukost&uuml;men rittlinks auf der Kanone. Sind sicher sch&ouml;ne Bilder geworden.</p>
<p>Nachdem der Brautstrau&szlig; geworfen war, blies der Barde Giacomo zum Rittermahl. Eine sehr sch&ouml;ne und auch lustige Zeit - und genau das, was wir uns vorstellt hatten. Eine wundersch&ouml;ne Feier f&uuml;r unsere Traumhochzeit.</p>
<p>Zwischendurch nahmen meine Frau und ich uns immer mal wieder Zeit um eine oder zwei Runden um die Burg zu drehen und Zeit f&uuml;r uns zu haben. einfach wundersch&ouml;n.</p>
<p>Nachdem Giacomo mit seinem Programm geendet hatte, schnitten wir die Hochzeitstorte an. Eine Erdbeertorte als Doppelherz. Nun war so langsam die Zeit gekommen, als uns die ersten G&auml;ste verlie&szlig;en. Mein Bruder, seine Begleitung und wir verlie&szlig;en als letzte die Burg - die restlichen Utensilien und die Geschenke im Kofferraum.</p>
<p>Zuhause angekommen trug ich meine Frau standesgem&auml;&szlig; &uuml;ber die Schwelle, dann verabschiedeten wir meinen Bruder und seine Begleitung und wir uns in die Hochzeitsnacht. ;)</p>
<p>Und nun - nun sind wir Mann und Frau. Es war eine Traumhochzeit, von der wir beiden schon jahrelang getr&auml;umt hatten. Es war einfach wundersch&ouml;n. Aber alleine h&auml;tten wir das nie auf die Beine stellen k&ouml;nnen. Also auch an dieser Stelle nochmal ein riesengro&szlig;es Dankesch&ouml;n an alle, die uns geholfen haben. <3</p>
