---
layout: post
status: publish
published: true
title: Ruhe
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 235
wordpress_url: http://blog.moerssl.net/?p=235
date: '2012-03-28 06:15:00 +0200'
date_gmt: '2012-03-28 06:15:00 +0200'
categories:
- familystory
tags: []
comments: []
---
<p>Es war ein Sonntag Morgen. Noch gar nicht so lange her. So gegen f&uuml;nf Uhr. Da ist sie von uns gegangen. Meine Oma.</p>
<p>Es ist der erste Todesfall, der mir so nah ist. Nach dem Aufstehen warf ich einen Blick aufs Handy: ein Anruf meiner Mutter, eine SMS von ihr und eine WhatsApp-Nachricht von meinem Bruder. Jedesmal sollte ich mich melden. Mir schwante etwas.</p>
<p>Dann rief meine Ma nochmal an und &uuml;berbrachte mir die Nachricht. Und dann kamen sie, die Tr&auml;nen. Gl&uuml;cklicherweise war die Liebste in diesem Moment da.</p>
<p>Ich werde dich vermissen <3.</p>
