---
layout: post
status: publish
published: true
title: Manchmal
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 510
wordpress_url: http://moerssl.net/?p=510
date: '2012-12-22 21:15:55 +0100'
date_gmt: '2012-12-22 20:15:55 +0100'
categories:
- heartbeat
tags: []
comments:
- id: 131
  author: 'One lesson per day #1 | moerssl.NET'
  author_email: ''
  author_url: http://moerssl.net/2012/12/25/one-lesson-per-day-1/
  date: '2012-12-25 18:44:27 +0100'
  date_gmt: '2012-12-25 17:44:27 +0100'
  content: "[...] Diese Traurigkeit ist nur eine Phase. [...]"
---
<p>Manchmal taucht sie noch auf. Die Traurigkeit der Vergangenheit. Manchmal ist sie da. Und will nicht wieder weg. Manchmal f&uuml;hle ich mich wie damals. Damals in den dunkelsten Stunden meines Lebens. Damals, als ich allein war. Mich einsam f&uuml;hlte. Allein in einer Wohnung, in der ich nicht mehr sein wollte. Abgeschnitten von den Freunden. Raus wollte ich, weg von diesem schlimmen Ort. Ein Ort, der eigentlich die Erf&uuml;llung eines Traums werden sollte. Ein Traum, der sich so schnell in einen Alptraum verwandelte.</p>
<p>Manchmal reisen die Gedanken zur&uuml;ck in diese dunkle Zeit. Manchmal nehmen sie mich gefangen. Fast drei Jahre ist es jetzt her, als der Traum begann und dann doch so bald zerplatzte. Und mich die Dunkelheit gefangen nahm.</p>
<p>Manchmal tauche ich noch ab. Manchmal bleibe ich da. Aber nur kurz. Denn ich wei&szlig;, der eigentliche Traum - von der Frau und dem angenehmen Heim - ist nicht mehr Traum, sondern Realit&auml;t geworden. Danke.</p>
