---
layout: post
status: publish
published: true
title: Hallo liebes Vodafoneteam - Ein offener Brief
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
excerpt: Kennt ihr das, wenn man unterwegs ist und mal dringend jemanden erreichen
  muss? In Dresden wird das schwierig, wenn man im Vodafone-Netz ist. Ging zumindest
  mir letzte Woche so. Aber das ist nicht das erste Mal,dass ich mit Vodafone unzufrieden
  bin. Einen detaillierten Bericht gibts in den folgenden Zeilen.
wordpress_id: 217
wordpress_url: http://blog.moerssl.net/2012/01/23/hallo-liebes-vodafoneteam-ein-offener-brief/
date: '2012-01-23 11:55:53 +0100'
date_gmt: '2012-01-23 11:55:53 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Kennt ihr das, wenn man unterwegs ist und mal dringend jemanden erreichen muss? In Dresden wird das schwierig, wenn man im Vodafone-Netz ist. Ging zumindest mir letzte Woche so. Aber das ist nicht das erste Mal,dass ich mit Vodafone unzufrieden bin. Einen detaillierten Bericht gibts in den folgenden Zeilen.</p>
<p>Mein Leben mit Vodafone begann mit einer eigentlich recht guten Entscheidung. In meiner Familie waren eure Vertr&auml;ge recht weit verbreitet, so auch im Freundeskreis. Im Zusammenspiel mit den netzinternen Flatrates eine super Entscheidung. Also ab dann Vodafone.<br />
Das lief auch soweit ganz gut. Allerdings hatte ich den Vertrag &uuml;ber einen Reseller abgeschlossen. Irgendwann wurden dann die Vertr&auml;ge, die &uuml;ber den Reseller liefen bei euch einverleibt. Ich wei&szlig; nicht, was ihr gemacht habt, jedenfalls lief was schief. Und die Kompetenzen schienen auch nicht immer klar gewesen zu sein. Nun ja, ich machte dann den Fehler ein paar Tarifoptionen zubuchen zu wollen. Die Kollegin im Callcenter versicherte mir, dass alles so gebucht wird, wie ich es dachte - ist ja auch ein Standardvorgehen.<br />
Einen Monat sp&auml;ter merkte ich dann, dass da wohl nicht alles so glatt gelaufen war, wie ich dachte. Jedenfalls war meine Mobilfunkrechnung auf einmal sehr hoch. Die Rechnung machte mich etwas stutzig - ich konnte sie ja online einsehen. Nach dem gef&uuml;hlten f&uuml;nfzigsten Lesen ging mir ein Kronleuchter auf. Ich verglich die Rechnung mit den vorangegangenen und musste feststellen, dass ich keine zus&auml;tzliche Tarifoption, sondern einen komplett neuen Grundtarif bekommen hatte. Nat&uuml;rlich zu meine Ungunsten. Die Agenten im Callcenter verwiesen mich auf den Reseller, die Agents des Resellers auf euch. Im Sport hei&szlig;t das glaub ich Ping-Pong - mit dem Kunden als Spielball. Nach einer gef&uuml;hlten Ewigkeit hatte ich dann doch das Geld wieder auf dem Konto. Und ihr einen ersten Stapel Beschwerden von mir auf dem Tisch.<br />
In der Zwischenzeit hatte ich den Vertrag aus Gr&uuml;nden gek&uuml;ndigt und die K&uuml;ndigung wieder schriftlich zur&uuml;ckgezogen. Das auch hier nicht alles glatt lief, musste ich dann am vormals Vertragsende sp&uuml;ren. Mein Handy funktionierte nicht mehr, die SIM-Karte war inaktiv. Ein Besuch im Shop offenbarte, dass die K&uuml;ndigung der K&uuml;ndigung nicht bearbeitet worden war. Meine Nummer war auch wieder auf dem Markt. Im Ganzen also etwas unsch&ouml;n. Ein paar Telefonate des Mitarbeiters sp&auml;ter war die Nummer wieder da und mein Vertrag wieder am Laufen. Die Beschwerde nahm diesmal der Shopmitarbeiter entgegen.<br />
Noch bevor mein Handyvertrag bei euch f&auml;lschlicheweise auslief, hatte ich noch einen Festnetzvertrag bei euch abgeschlossen. Man bekommt ja daf&uuml;r 10 Euro Rabatt auf die Mobilfunkrechnung. Behalten wir das mal eben im Hinterkopf.<br />
Ihr kennt das bestimmt, 2 Jahre sind eine lange Zeit und in dieser Zeit kann sich das Mobilfunkverhalten eines Kunden mal &auml;ndern. Das habt ihr nat&uuml;rlich auch in eurer Tarifumstellung ber&uuml;cksichtigt. Man kann neuen Tarifoptionen dazu buchen - was ich ja auch schon mal genutzt habe (siehe oben). Nun habe ich vor demn&auml;chst ofter mobil im Internet zu sein. Ja, auch das geht mit Vodafone. Nur ist das von meinem Vertrag aus gesehen etwas kostspielig, weshalb ich bisher drauf verzichtete. Vor ein paar Tagen wurde ich auf ein Flatrateangebot in einem eurer Shops aufmerksam: Ein Flatratepaket f&uuml;r 30 Euro im Monat. "Was tun?", sprach Zeus und promt stand ich im Laden. (Das war &uuml;brigens der zweite Laden an diesem Tag. Im ersten wollte man mich wohl nicht richtig beraten und verkaufen erst recht nix. Jedenfalls war der Mitarbeiter sowas von unfreundlich, als h&auml;tte ich seine Mutter beleidigt. Aber zur&uuml;ck zum aktuellen Shop.) Hier erfuhr ich nun, dass es durchaus m&ouml;glich w&auml;re, das Flatrateangebot auf meinen Vertrag zu schalten - allerdings ohne Telefon. Mir d&auml;mmerte in diesem Augenblick, dass ich f&uuml;r ein Telefon mit bezahle, was ich aber nie bekommen habe. (Mehrkosten I) "Ja, ich habe Festnetz bei Vodafone. Der Rabatt sollte auch geschaltet sein.", entgegnete ich auf die entsprechende Frage des Verk&auml;ufers. Er darauf: "Lassen Sie mich nachschauen. Nein, ist er aber nicht." Da hatte zum wiederholten Mals eine Vertragsanpassung wohl nicht funktioniert. Ich war sauer (Mehrkosten II).<br />
Ein Nachvollziehen der &Auml;nderungen war auch nicht m&ouml;glich, da mein Vertrag bei euch mittlerweile so krude sein muss, dass auch MeinVodafone - das Onlineportal - bei mir nicht richtig funktioniert. Jedenfalls kann ich meine Rechnungen nicht einsehen, auch per Mail werden keine versendet.</p>
<p>Ich k&ouml;nnte noch mehr Sachen aufz&auml;hlen, aber ich tu es nicht. Das Ende vom Lied ist, dass ich mit Vodafone vor allem im letzten Jahr immer unzufriedener geworden bin. Mir tut es Leid. F&uuml;r meine Familie, die bald h&ouml;herere Kosten haben werden, um mit mir in Kontakt zu treten. Ich werde euch nach etwas mehr als sechs Jahren nun den R&uuml;cken kehren. </p>
<p>Machts (wieder) gut.</p></p>
