---
layout: post
status: publish
published: true
title: Tief oder Analyse?
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 468
wordpress_url: http://moerssl.net/?p=468
date: '2012-11-23 14:06:08 +0100'
date_gmt: '2012-11-23 13:06:08 +0100'
categories:
- bodywork
tags: []
comments:
- id: 125
  author: Feuerengel
  author_email: Tuffelbrinkmann@web.de
  author_url: http://meinFeuerengel.net
  date: '2012-11-23 14:09:51 +0100'
  date_gmt: '2012-11-23 13:09:51 +0100'
  content: "also ganz ehrlich... von Psychoanalyse halte ich selber so gar nix. Wie
    mein Therapeut damals sagte, es ist weniger wichtig warum etwas ist wie es ist
    sondern viel wichtiger einen Strich unter die Vergangenheit zusetzen, nach vorne
    zu schauen und es in der Zukunft einfach anders/besser zu machen.\n\nZumal
    einige grundlegende Ursachen auch in der \"normalen\" Therapie ans Licht kommen
    und das reicht in der Regel v&ouml;llig aus. \n\nAu&szlig;erdem kann die Psychoanalyse
    einen in H&auml;rtef&auml;llen auch m&auml;chtig zur&uuml;ckwerfen. \n\nAlso lieber
    positiv nach vorne schauen und und sich auf die Zukunft konzentrieren :o)"
- id: 126
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2012-11-23 14:36:14 +0100'
  date_gmt: '2012-11-23 13:36:14 +0100'
  content: Das mit dem Zur&uuml;ckwerfen ist noch so ein Grund, warum ich vor der
    Psychoanalyse zur&uuml;ckschrecke. Die Tendenz geht schon richtig tiefenpsychologischer
    Therapie. Ist die Entscheidung damit nicht schon gefallen?
- id: 127
  author: Feuerengel
  author_email: Tuffelbrinkmann@web.de
  author_url: http://meinFeuerengel.net
  date: '2012-11-23 14:37:55 +0100'
  date_gmt: '2012-11-23 13:37:55 +0100'
  content: ich denke schon... und wenn es das ist, was Dein Bauch Dir sagt ist es
    auch die richtige Entscheidung!!
- id: 128
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2012-11-23 14:43:00 +0100'
  date_gmt: '2012-11-23 13:43:00 +0100'
  content: Ich werd das noch ein paar Tage beobachten. Der Donnerstag ist ja noch
    ein Weilchen hin.
---
<p>Ich bin in meiner Therapie nun an einer Stelle angelangt, wo ich mich entscheiden muss, wie es denn nun weiter geht.</p>
<p>Nach dem ersten Zusammenbruch letztes Jahr im November hatte ich eine Therapie angefangen. Zun&auml;chst lief sie als Kurzzeittherapie mit einem tiefenpsychologischen Ansatz. Die Stunden f&uuml;r die Kurzzeittherapie sind nun aufgebraucht. Und die Entscheidung steht an: Tiefenpsychologische Therapie oder Psychoanalytische Therapie.</p>
<p>Was bedeutet das eine, was bedeutet das andere?</p>
<p>Tiefenpsychologisch:</p>
<ul>
<li>einmal die Woche</li>
<li>Gespr&auml;ch im Sitzen, ich w&uuml;rde den Therapeuten anschauen k&ouml;nnen</li>
<li>Dauer, ca. 18 Monate</li><br />
</ul><br />
Psychoanalytisch:</p>
<ul>
<li>zwei oder drei Mal die Woche</li>
<li>Gespr&auml;ch von der Couch aus</li>
<li>Dauer: ca. 3 oder 4 Jahre</li><br />
</ul><br />
Und nun schwirren Fragen in meinem Kopf herum. Die Entscheidung f&auml;llt mir schwer. Will ich &ouml;fter zur Therapie als jetzt? Wie "kaputt" bin ich eigentlich? Will ich f&uuml;r jedes Jahr Erinnerung, das mir fehlt, ein Jahr Therapie machen? Brauche ich &uuml;berhaupt 4 Jahre Therapie? Bringt es mir was, die ganzen Jahre an fehlenden Erinnerungen zu schlie&szlig;en, nur damit ich wei&szlig;, warum ich zum emotionalen Eisblock geworden war? Sollte ich mich nicht lieber im Jetzt kennen lernen?</p>
<p>Viele Fragen. Vor ein paar Tagen hatte ich geschrieben, dass ich mich eher um die Gegenwart k&uuml;mmern m&ouml;chte. Wieviel von meinen vierzehnj&auml;hrigen Ich muss ich wissen, um jetzt gut leben zu k&ouml;nnen? Was w&uuml;rde mich st&auml;rker belasten? Das Wissen, Erinnerungen nicht zu haben oder die Erinnerungen an sich.<del> Es wird ja einen guten Grund haben, warum ich so viele Jahre verdr&auml;ngt habe.</del></p>
<p>Was bleibt ist die Frage, ob ich eine langj&auml;hrige Psychoanalyse wirklich n&ouml;tig habe oder ob es gen&uuml;gt, mich der tiefenpsychologischen Therapie zu stellen. Ich schrecke vor dem zeitlichen und emotionalen Aufwand der Psychoanalyse zur&uuml;ck. Schie&szlig;e ich durch diese Therapieform mit Kanonen auf Spatzen? Welche Form ist denn nun das richtige Werkzeug f&uuml;r mich und meine Vergangenheit?</p>
<p>Ich habe zwei M&ouml;glichkeiten. Die eine schreckt mich aufgrund des Aufwands ab. Bleibt ja nur die andere. Noch muss ich mich nicht entscheiden. Zeit habe ich noch bis n&auml;chste Woche Donnerstag. Aber so langsam erkenne ich eine Tendenz.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
