---
layout: post
status: publish
published: true
title: Januszeit
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 234
wordpress_url: http://blog.moerssl.net/2012/03/24/januszeit/
date: '2012-03-24 14:24:55 +0100'
date_gmt: '2012-03-24 14:24:55 +0100'
categories:
- bodywork
tags: []
comments:
- id: 105
  author: Level Up | moerssl.NET
  author_email: ''
  author_url: http://moerssl.net/2012/04/26/level-up/
  date: '2012-04-26 19:17:38 +0200'
  date_gmt: '2012-04-26 19:17:38 +0200'
  content: "[...] der Januszeit hatte ich ja schon geschrieben, dass ich zur Zeit
    sehr mit mir selber zu k&auml;mpfen habe. Das [...]"
---
<p>Die Liebste schrieb es heute auch schon. Wir sind mittlerweile schon vier Wochen in der neuen Wohnung. Wir haben sie innerhalb k&uuml;rzester Zeit eingerichtet. F&uuml;r mich ist es seit vielen Jahren mal wieder ein Gef&uuml;hl von "Zu hause". Ein wundersch&ouml;nes zu hause. Ein R&uuml;ckzugsort.</p>
<p>Die &Uuml;berschrift sagt "Januszeit". Janus - eine Kreatur mit 2 Gesichern in einem Kopf. Und dieser Vergleich beschreibt mein aktuelles Befinden sehr gut. Auf der einen Seite ist die Zeit mit der Liebsten in der Wohnung zusammen mit das sch&ouml;nste, was ich bisher erlebt habe. Auf der anderen Seite ist mein k&ouml;rperliches und seelisches Befinden grad extrem angeknackst. Vor ein paar Wochen fiel es mir schwer, den normalen Alltag zu bewerkstelligen. Mein Erholungsgen scheint sich abgemeldet zu haben. Ich komme mir vor, wie ein Akku mit 10% Restkapazit&auml;t.&nbsp;</p>
<p>Der gr&ouml;&szlig;te Teil meiner Zeit &uuml;berwiegt der gute Teil des Janus. Der Teil, wo ich die Zeit mit der Liebsten genie&szlig;e, Kraft tanke und ich mich dann doch erholen kann. Aber manchmal bricht der andere Teil durch und vieles wird schwarz. Das sind Zeiten, in denen ich neben mir stehe und mich wundere, was da grade in mir los ist. Zeiten, in denen ich mich nicht wieder erkenne. Zeiten, in denen ich von mir selber geschockt bin. Es sind schlimme Zeiten.</p>
<p>Ich sehne mich nach der Zeit, wo Janus nicht mehr Janus ist, sondern nur noch ich bin. Es geht langsam, sehr langsam. Und in der Zeit genie&szlig;e ich die guten Zeiten.</p></p>
