---
layout: post
status: publish
published: true
title: Ab in die R&ouml;hre
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 383
wordpress_url: http://moerssl.net/?p=383
date: '2012-07-24 11:58:25 +0200'
date_gmt: '2012-07-24 09:58:25 +0200'
categories:
- bodywork
tags: []
comments: []
---
<p>In der Zeit in der ich zuhause bin, habe ich nunmehr die Zeit gefunden um mich um meine anderen kleinen Gebrechen zu k&uuml;mmern. So war ich vor ein paar Wochen ein Orthop&auml;den, um mal meine andauernden Knie- und auch R&uuml;ckenschmerzen untersuchen zu lassen.</p>
<p>Um ehrlich zu sein, es war schon der zweite Arzt, bei dem ich deswegen war. Beim ersten f&uuml;hlte ich mich nicht wohl, er fand auch weiter nix. Der jetzige fand bei der ersten Untersuchung direkt heraus, dann mein rechtes Beim um einen halben Zentimeter k&uuml;rzer ist, als das linke. Eine Einlegesohle f&uuml;r den rechten Schuh war schnell verschrieben.</p>
<p>Nun hatte ich heute eine MRT-Untersuchung. Es hie&szlig; f&uuml;r mich also "Ab in die R&ouml;hre". Es war f&uuml;r mich ja nun nix neues, hatte ich doch vor ein paar Jahren schonmal ein paar MRTs hinter mir. Das Ergebnis des heutigen MRTs: Ich habe einen angerissenen Miniskus.</p>
<p>Das erkl&auml;rt die manchmal auftretenden Knieschmerzen. Aber gut, dass nun die Ursache erkannt ist und nun etwas dagegen machen k&ouml;nnen. Demn&auml;chst gibt es also einen weiteren Termin beim Orthop&auml;den und dann schauen wir weiter.</p>
<p>Ach ja, morgen gibts dann Neuigkeiten von der Wiedereingliederung. Stay tuned.</p>
