---
layout: post
status: publish
published: true
title: Wenn alte Tr&auml;ume wieder kommen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 529
wordpress_url: http://moerssl.net/?p=529
date: '2012-12-29 21:53:09 +0100'
date_gmt: '2012-12-29 20:53:09 +0100'
categories:
- runningthougths
tags: []
comments: []
---
<p>Tr&auml;ume aus der Kindheit sollten ja eigentlich was tolles sein. Wovon tr&auml;umt man? Davon, Feuerwehrmann zu werden. Oder Astronaut. Bei mir war es der&nbsp;Klempner&nbsp; <del>Da ist viel&nbsp;draus&nbsp;geworden. Ich und Handwerk.</del></p>
<p>Aber um diese Tr&auml;ume soll es heute nicht gehen. In den letzten Tagen k&auml;mpfen sich Erinnerungen aus Tr&auml;ume aus meiner Kindheit ihren Weg ins Bewusstsein. Ich muss so um die acht oder j&uuml;nger gewesen sein. Sch&ouml;ne Tr&auml;ume? Mitnichten. Als Kind hatte ich verst&auml;rkt Alptr&auml;ume.</p>
<p>Da war ein Traum von bodenlosen Fallen. Rings um mich herum war alles dunkel. Und ich fiel und fiel und fiel und fiel. Es war, als w&auml;re ich im Weltall, nur k&ouml;nnte ich da normal atmen.</p>
<p>Ein anderes Motiv sind Schlangen. Die tauchten auch immer wieder auf. In verschiedenen Arten und Weisen. Einmal glich mein Bett einer Schlangengrube. &Uuml;berall wimmelte es von Schlangen. Die Gewissheit, dass es sich um Giftschlangen handelt, war gro&szlig;. Nach diesem Traum wachte ich immer schwei&szlig; gebadet auf.</p>
<p>In einem anderen Traum, den ich auch mehrfach hatte, hatte mich eine Riesenschlange - eine Boa oder so - bereits bis zur H&uuml;fte verschlungen und arbeitete sich langsam weiter vor. Hier war ich mir nach einigen Wiederholungen sicher, dass ich tr&auml;umte. Hier versuchte ich aktiv aufzuwachen,was mir aber nur selten gelang.</p>
<p>Grade die Schlangentr&auml;ume dr&auml;ngen sich wenn ich wach bin immer wieder ins Bewusstsein. Mich w&uuml;rde mal interessieren, was die bedeuten bzw. was der K&ouml;rper damit verarbeiten wollte. Habt ihr Ideen?</p>
