---
layout: post
status: publish
published: true
title: Von Priorit&auml;ten und Grunds&auml;tzen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 669
wordpress_url: http://moerssl.net/?p=669
date: '2013-08-20 21:09:17 +0200'
date_gmt: '2013-08-20 19:09:17 +0200'
categories:
- babydream
- familystory
tags: []
comments:
- id: 148
  author: Dod
  author_email: dod1977@gmx.de
  author_url: ''
  date: '2013-08-20 22:38:22 +0200'
  date_gmt: '2013-08-20 20:38:22 +0200'
  content: Ganz meine Meinung - ich k&ouml;nnte sicher auch besser verdienen, w&uuml;rde
    dann meine Familie aber weniger sehen. So kann ich jederzeit mal am Familienleben
    teilnehmen und auch spontan mal was mit ihnen unternehmen. Das wiegt kein Geld
    der Welt auf! Bleib dabei, dir w&uuml;rde sonst so viel entgehen.
- id: 149
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2013-08-21 08:11:22 +0200'
  date_gmt: '2013-08-21 06:11:22 +0200'
  content: Ich hab das mit dem "was leisten" mal von meinem Vater geh&ouml;rt, als
    er noch nem 2. Fulltime Job hatte. Muss ich nicht haben. ;-)
---
<p>Man liest immer mal wieder davon, dass alte Menschen auf ihr Leben zur&uuml;ckschauen. Und bereuen. Dann liest oder h&ouml;rt man S&auml;tze wie: "Ich w&uuml;nschte ich h&auml;tte mehr Zeit mit meiner Familie verbracht" oder "Ich h&auml;tte weniger arbeiten sollen."</p>
<p>Es gibt so ein paar Dinge, die ich nie sagen oder tun m&ouml;chte. Die Arbeit oder den Dienst &uuml;ber die Familie stellen geh&ouml;rt f&uuml;r mich dazu. Und danach versuche ich auch mein Leben auszurichten.<br />
Ich m&ouml;chte nicht, dass ich &Uuml;berstunden schiebe, mehr Geld nach hause bringe, damit wir uns was leisten k&ouml;nnen und ich dabei gar nicht mehr f&uuml;r die Familie verf&uuml;gbar bin.<br />
Meine Frau und mein(e) Kind(er) sollen auch was von mir haben. Ich habe lieber weniger Geld aufm Konto und daf&uuml;r mehr Zeit mit meinen Lieben.</p>
