---
layout: post
status: publish
published: true
title: Der Plan f&uuml;rs Jahr
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 549
wordpress_url: http://moerssl.net/?p=549
date: '2013-01-06 20:27:36 +0100'
date_gmt: '2013-01-06 19:27:36 +0100'
categories:
- newstime
- runningthougths
tags: []
comments: []
---
<p>&nbsp;</p>
<p>So wirkliche Vors&auml;tze habe ich mir f&uuml;r dieses Jahr nicht vorgenommen. Habe ich noch nie gemacht. Ich setze mir eher Ziele, die ich &uuml;ber das Jahr erreichen m&ouml;chte. Letztes Jahr zum Beispiel wollte ich schlicht wieder auf die Beine kommen und den Zusammenbruch vom November verkraften.</p>
<p>Das Ziel habe ich erreicht. Ein weiterer Zusammenbruch kam im Laufe des Jahres dazu, aber ich konnte mich wieder aufrappeln. Und nun kann ich wahrscheinlich in der n&auml;chsten Woche meine Medikation reduzieren.</p>
<p>Letztes Jahr war f&uuml;r uns neben meinem Zusammenbruch noch ein sehr ausgabenreiches Jahr. Wir haben unsere neue Wohnung eingerichtet, der Umzug kam dazu und auch die Hochzeit. Alles zusammen konnten wir letztes Jahr einige gro&szlig;e Sachen wuppen. Nun wird dieses Jahr in einem finanziell anderen Licht stehen. Wir haben uns ein finanzielles Ziel gesteckt, Pl&auml;ne geschmiedet und Ma&szlig;nahmen vereinbart. Ich bin gespannt.</p>
<p>Neben den privaten Finanzen befasse ich mich noch gern mit anderen Finanzen. Daher m&ouml;chte ich mich auch dieses Jahr mehr mit Fundraising f&uuml;r gemeinn&uuml;tzige Organisationen besch&auml;ftigen. Ein Lehrjahr was das angeht, k&ouml;nnte man sagen.</p>
