---
layout: post
status: publish
published: true
title: 'One lesson per day #10'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 640
wordpress_url: http://moerssl.net/?p=640
date: '2013-02-25 22:11:03 +0100'
date_gmt: '2013-02-25 21:11:03 +0100'
categories:
- dailylesson
tags: []
comments:
- id: 145
  author: Lutherleser
  author_email: lutherleser@christenpack.de
  author_url: http://lutherleser.blogspot.com
  date: '2013-02-27 06:35:50 +0100'
  date_gmt: '2013-02-27 05:35:50 +0100'
  content: '*klugschei&szlig;modusan* Donnerstag: richtig hei&szlig;t es "hatte gehabt".
    Plus quam perfekt: "mehr als vollendet". 8 Jahre Latein. Wo ist die Zeit hin?
    ;-)'
- id: 146
  author: Lutherleser
  author_email: lutherleser@christenpack.de
  author_url: http://lutherleser.blogspot.com
  date: '2013-02-27 06:37:53 +0100'
  date_gmt: '2013-02-27 05:37:53 +0100'
  content: also "gehabt" als Beispiel-Partizip...
---
<p>Jeden Tag lernen wir dazu. Manchmal n&uuml;tzlich, manchmal nichtig, manchmal lustig. Gemeinsam lernen macht mehr Spa&szlig;, also erz&auml;hlen die Liebste und ich uns jeden Abend, was wir denn gelernt haben. Mittlerweile schon in der 10. Woche.&nbsp;Und jeden Dienstag gibts unsere Zusammenfassungen. One lesson per day. Und los gehts:</p>
<p><strong>[Dienstag]</strong></p>
<p>Die Stra&szlig;enbahnlinie 10 Richtung Bahnhof ist um 8.04 Uhr sehr &uuml;berf&uuml;llt. 10 Minuten sp&auml;ter ist sie daf&uuml;r so leer, dass man noch entspannt einen Sitzplatz bekommt.</p>
<p><strong>[Mittwoch]</strong></p>
<p>"Fatigue" ist Englisch und hei&szlig;t erm&uuml;den.</p>
<p><strong>[Donnerstag]</strong></p>
<p>Manche Ausw&uuml;chse der deutschen Sprache zaubern mir ja G&auml;nsehaut auf den R&uuml;cken. Das S&uuml;ddeutsche Plusquamperfekt geh&ouml;rt dazu. Probe gef&auml;llig? "Ich habe das optimiert gehabt."</p>
<p><strong>[Freitag]</strong></p>
<p>Die Flagge der Schweiz ist quadratisch.</p>
<p><strong>[Samstag]</strong></p>
<p>Sandra Bullock hat f&uuml;r Blind Side einen Oscar bekommen.</p>
<p> <strong>[Sonntag]</strong></p>
<p>Wieder was &uuml;ber mich selbst gelernt.</p>
<p><strong>[Montag]</strong></p>
<p>Wurden mehrere Steuerklassen auf der Lohnsteuerbescheinigung aufgez&auml;hlt, dann tr&auml;gt man die zu letzt g&uuml;ltige Steuerklasse in Anlage N bei der Steuererkl&auml;rung ein.</p>
