---
layout: post
status: publish
published: true
title: Geschwisterchen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 685
wordpress_url: http://moerssl.net/?p=685
date: '2013-11-12 19:17:09 +0100'
date_gmt: '2013-11-12 18:17:09 +0100'
categories:
- unsent
tags: []
comments:
- id: 155
  author: Mudder Seemann
  author_email: meike@aumund.org
  author_url: http://www.mudder-seemann.de/mudderssocken/
  date: '2013-11-12 20:02:52 +0100'
  date_gmt: '2013-11-12 19:02:52 +0100'
  content: "<3 so sch&ouml;n <3 Und ich hoffe, sie k&ouml;nnen sich wirklich irgendwann
    treffen"
- id: 156
  author: skami
  author_email: eva@bayrhuber.de
  author_url: ''
  date: '2013-11-12 20:14:55 +0100'
  date_gmt: '2013-11-12 19:14:55 +0100'
  content: |-
    Seufz.
    Viel Kraft daf&uuml;r. Denn es ist sicher nicht einfach...
- id: 157
  author: Madame Mim
  author_email: acivasha@web.de
  author_url: http://www.madamemim.de/
  date: '2013-11-12 20:49:38 +0100'
  date_gmt: '2013-11-12 19:49:38 +0100'
  content: Ich kann auch nur hoffen, dass die beiden sich irgendwann kennen lernen
    und einen unvoreingenommenen Umgang pflegen k&ouml;nnen.
- id: 158
  author: glitztinkerbell
  author_email: nordkindentertainment@hotmail.com
  author_url: ''
  date: '2013-11-13 00:36:07 +0100'
  date_gmt: '2013-11-12 23:36:07 +0100'
  content: Sch&ouml;n geschrieben. Ich hoffe die beiden k&ouml;nnen sich unvoreingenommen
    kennen lernen. Das w&uuml;rde ich euch allen von ganzem Herzen w&uuml;nschen.
- id: 159
  author: jukefrosch
  author_email: t4schentuch@gmail.com
  author_url: http://jukefrosch.wordpress.com
  date: '2013-11-13 10:31:58 +0100'
  date_gmt: '2013-11-13 09:31:58 +0100'
  content: Das macht mich traurig, irgendwie, und ich hoffe sehr mit dir mit!
---
<p>Hallo mein kleiner Sonnenschein.<br />
Vor drei Wochen bist du Halbschwester geworden. Wir haben uns sehr gefreut.<br />
In den ersten Tagen nach der Geburt des Kleinen musste ich an deine ersten Tage auf dieser Welt denken.<br />
Daran, wie mir deine Mama das Bild von dir schickte und mir sagte, dass du geboren warst. Ich hatte mich sehr gefreut dieses Bild von dir zu sehen.<br />
Ich dachte an den ersten Arbeitstag und daran, dass sich meine Gedanken nur um dich drehten.<br />
Und sehr oft erinnerte ich mich an unser erstes Treffen. Du musst da ungef&auml;hr so alt gewesen sein, wie der Kleine jetzt. Unser Treffen dauerte zwar nur eine Stunde, aber es war eine sehr sch&ouml;ne Stunde.<br />
Ich hoffe, ihr zwei werdet euch irgendwann kennen lernen.<br />
Ich trage dich im Herzen und denke an dich.</p>
<p>Ganz liebe Gr&uuml;&szlig;e.<br />
dein Vater</p>
