---
layout: post
status: publish
published: true
title: Wo ist die Zeit hin?
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 647
wordpress_url: http://moerssl.net/?p=647
date: '2013-02-26 17:38:32 +0100'
date_gmt: '2013-02-26 16:38:32 +0100'
categories:
- heartbeat
tags: []
comments: []
---
<p style="text-align: center"><a style="line-height: 1.714285714;font-size: 1rem" href="http://blog.moerssl.net/img/2013/02/6-wunderbare-monate.png"><img class="size-full wp-image-648 aligncenter" alt="6-wunderbare-monate" src="http://blog.moerssl.net/img/2013/02/6-wunderbare-monate.png" width="282" height="174" /></a></p><br />
&nbsp;</p>
<p>Ein halbes Jahr jetzt schon.</p>
<p>Verheiratet.</p>
<p>Die Zeit verfliegt.</p>
<p>Eine wunderbare Zeit.</p>
<p>Mit dir mein Engel.</p>
<p>Meine Traumfrau. <3</p>
