---
layout: post
status: publish
published: true
title: 'One lesson per day #2'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 518
wordpress_url: http://moerssl.net/?p=518
date: '2013-01-01 13:00:00 +0100'
date_gmt: '2013-01-01 12:00:00 +0100'
categories:
- dailylesson
tags: []
comments:
- id: 134
  author: Joachim
  author_email: kennobi@gmx.net
  author_url: ''
  date: '2013-02-20 10:59:26 +0100'
  date_gmt: '2013-02-20 09:59:26 +0100'
  content: Juhu ich habs geschafft. Ich hab Mark Zuckerberg geblockt.
- id: 135
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2013-02-20 12:42:29 +0100'
  date_gmt: '2013-02-20 11:42:29 +0100'
  content: Funktioniert das mittlerweile? Als ichs probierte, gings noch nicht.
---
<p><strong>[Dienstag]</strong></p>
<p>In den Sissifilmen wird nicht die deutsche Nationalhymne gespielt. Es ist die Melodie von Haydn aus dem Jahr 1797. Hoffmann von Fallersleben dichtete sp&auml;ter (1841) nur neuen Text zur bestehenden Melodie.</p>
<p><strong>[Mittwoch]</strong></p>
<p>Eine Mehlschwitze macht man mit Butter / Magarine und Mehl. F&uuml;r eine dunkle So&szlig;e nimmt man den dunklen Bratensud des Bratens, f&uuml;r eine helle nimmt man Milch.</p>
<p><strong>[Donnerstag]</strong></p>
<p>Eine W&uuml;stenrennmaus wird durchschnittlich zwei bis drei Jahre alt.</p>
<p><strong>[Freitag]</strong></p>
<p>Tansania liegt im Norden von Mosambik. Damit liegt wo anders als ich bisher dachte.</p>
<p><strong>[Samstag]</strong></p>
<p>Portugal liegt in einer anderen Zeitzone als Deutschland oder Spanien. N&auml;mlich eine Stunde eher (Wir haben 12 Uhr, Portugal 11 Uhr). Bisher dachte ich, dass die L&auml;nder die gleiche Zeitzone l&auml;gen.</p>
<p><strong>[Sonntag]</strong></p>
<p>Auf Facebook ist es nicht m&ouml;glich <a title="Facebook - Mark Zuckerberg" href="https://www.facebook.com/zuck" target="_blank">Mark Zuckerberg</a> zu blocken. Versucht man es trotzdem, erscheint eine Meldung, dass das Blockierfunktion &uuml;berlastet ist. Ihr glaubt es nicht? Probiert es aus.</p>
<p><strong>[Montag]</strong></p>
<p>Knoblauchgeruch an den H&auml;nden kann man los werden, in dem nan die H&auml;nde nach dem Waschen an Edelstahl reibt.</p>
