---
layout: post
status: publish
published: true
title: Schon fast drei Wochen?
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 682
wordpress_url: http://moerssl.net/?p=682
date: '2013-11-11 20:30:45 +0100'
date_gmt: '2013-11-11 19:30:45 +0100'
categories:
- babydream
- newstime
tags: []
comments: []
---
<p>Seit der Geburt des Prinzen scheint die Zeit schneller zu vergehen. Drei Wochen ist er morgen schon alt. Und dabei haben wir doch eben erst das Geburtshaus verlassen und den Duft von Schmalzkuchen vom Freimarkt in der Nase gehabt.</p>
<p>Aber diese Zeit ist tats&auml;chlich schon ins Land gegangen. Der Freimarkt ist inzwischen vorbei. Und es war schon eine herausfordernde Zeit.</p>
<p>In der ersten Wochen waren die N&auml;chte gef&uuml;hlt gef&uuml;llt mit Gebr&uuml;ll. In Wirklichkeit waren es nur maximal 30 Minuten. Ansonsten klappt das Handling des Kleinen super. Stillen klappt, das Anziehen und Wickeln hat bei mir auch quasi sofort geklappt.</p>
<p>In der ersten Woche war ich f&uuml;rs Wickeln, W&auml;sche waschen, Essen machen etc. zust&auml;ndig. Wie man das halt als Mann im Wochenbett so macht. Und auch das hat funktioniert. Wir sind weder verhungert, noch mussten wir den ganzen Tag nackt herumlaufen.</p>
<p>Nach diesen zwei Wochen muss ich sagen, dass sich viele meiner Bef&uuml;rchtungen nicht bewahrheitet haben. Ich hatte damit gerechnet, dass ich einige Probleme im Handling mit dem Prinzen haben werde, dass wir &uuml;ber Wochen nicht mehr schlafen und dass die Liebste und ich doch sehr oft aufgrund von M&uuml;digkeit aneinander geraten. Doch nix von dem ist eingetreten - und das freut mich doch sehr.</p>
<p>Hier wird also gekuschelt, gestillt, gewickelt, geschlafen(!) und immer wieder gefreut. :D</p>
<p>Dass ich nun wirklich Vater bin, hat bei mir allerdings einige Zeit gedauert. Genauer gesagt eine ganze Woche. Eine Woche nach der Geburt machte ich mich auf zum ersten &Auml;mtermarathon. Der Kleine wollte beim Standesamt angemeldet, die Geburtsurkunde ausgestellt und abgeholt werden. Nachdem ich nun die Geburtsurkunde des Prinzen in der Hand hatte, traten mir die Tr&auml;nen in die Augen: Ich bin Vater, er ist tats&auml;chlich mein Kind, wir sind Familie. <3</p>
<p>Das ganze Organisatorische nach der Geburt (Geburtsurkunde, Krankenkasse, Elterngeld, Kindergeld, Arbeitgeber) belastete mich doch sehr. Nach und nach konnten wir dann doch die einzelnen Antr&auml;ge abarbeiten - wir brauchten ja nur noch diverse Bescheinigungen, ausgef&uuml;llt hatten wir die Antr&auml;ge schon vor der Geburt. Vor ein paar Tagen  dann habe ich den letzten Antrag eingeworfen. Mein Anteil als Ern&auml;hrer der Familie f&uuml;r die Dauer der Elternzeit ist also getan. Wieder eine Last weniger.</p>
<p>Mich als Einzelpersonen habe ich zum Teil auch wieder gefunden. Wir als Paar finden auch allm&auml;hlich wieder zu uns. Einige Tage waren echt anstrengend (und nicht so wie ich es mir ausgemalt hatte), aber mittlerweile ruckelt sich alles zurecht und kommt den Vorstellungen recht nahe.<br />
Am Ende habe ich f&uuml;r diesen Artikel drei Anl&auml;ufe gebraucht. Ein Patchworkartikel also. Drei Anl&auml;ufe, drei verschiedene Emotionen, drei verschiedene Tageszeiten. Und das ist etwas, an das ich mich noch gew&ouml;hnen muss: Ich muss mir weniger am Tag vornehmen.</p>
