---
layout: post
status: publish
published: true
title: Die Geburt des Prinzen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
excerpt: |-
  Nur 4% aller Kinder kommen am errechneten Termin. Das hatte man uns immer wieder gesagt. Nicht so sehr aufs Datum versteifen, die meisten Erstgeb&auml;renden &uuml;bertragen.

  Unser Sohn sah das anders. Er erblickte am 22.10. p&uuml;nktlich zum errechneten Termin das Licht der Welt. Ich war bei der Geburt dabei und m&ouml;chte euch nun an diesem wunderbaren aber auch herausfordernen Ereignis teilhaben lassen.

  (Wer nun nix von Verzweiflung, Blut, anderen K&ouml;rperfl&uuml;ssigkeiten oder oder oder lesen mag, der h&ouml;re hier auf.)

  F&uuml;r alle anderen, die schon immer mal wissen wollten, wie man als Mann eine Geburt erlebt, gehts weiter.
wordpress_id: 675
wordpress_url: http://moerssl.net/?p=675
date: '2013-10-25 20:14:30 +0200'
date_gmt: '2013-10-25 18:14:30 +0200'
categories:
- babydream
tags:
- Geburtsbericht
- Mann
- Vater
comments:
- id: 150
  author: ntales
  author_email: ntales37@googlemail.com
  author_url: ''
  date: '2013-10-25 21:00:05 +0200'
  date_gmt: '2013-10-25 19:00:05 +0200'
  content: "Sch&ouml;n geschrieben. Gut mal einen Bericht eines Vaters zu lesen. Danke.
    \nIch w&uuml;nsch euch alles Gute :)"
- id: 151
  author: Madi
  author_email: erdzwerg@gmx.net
  author_url: http://madimaus.wordpress.com
  date: '2013-10-25 23:33:15 +0200'
  date_gmt: '2013-10-25 21:33:15 +0200'
  content: "*hachz*...ich freu mich so f&uuml;r euch :) ich w&uuml;nsche euch alles
    Gute und genie&szlig;t die Zeit mit dem kleinen Prinzen :) die werden so schnell
    gro&szlig;."
- id: 152
  author: Annie
  author_email: atropillon@gmail.com
  author_url: ''
  date: '2013-10-26 09:43:00 +0200'
  date_gmt: '2013-10-26 07:43:00 +0200'
  content: |-
    &hearts;
    Ich w&uuml;nsch euch alles Gl&uuml;ck der Welt!
- id: 153
  author: Bluhnah
  author_email: bluhnah@googlemail.com
  author_url: http://bluhnah.blogspot.de/
  date: '2013-10-27 10:35:26 +0100'
  date_gmt: '2013-10-27 09:35:26 +0100'
  content: "<3-lichen Gl&uuml;ckwunsch euch Dreien :-)"
- id: 154
  author: Uli
  author_email: Ulrike.hahn@live.de
  author_url: ''
  date: '2013-11-14 15:38:52 +0100'
  date_gmt: '2013-11-14 14:38:52 +0100'
  content: M&ouml;r&szlig;l, das hast du mega sch&ouml;n geschrieben. Danke f&uuml;r
    den tollen Bericht!!
- id: 487
  author: Kathrin
  author_email: kathrin@oeko-hippie-rabenmuetter.de
  author_url: http://www.oeko-hippie-rabenmuetter.de
  date: '2016-04-27 09:41:33 +0200'
  date_gmt: '2016-04-27 09:41:33 +0200'
  content: Mit laufen die Tr&auml;nen! Man liest soviel Liebe aus deinen Worten. Ich
    bin sprachlos. Wundersch&ouml;n, wirklich. Und unglaublich respektvoll deiner
    Frau gegen&uuml;ber! Toll! <3
- id: 489
  author: dadvelopment
  author_email: blog@moerssl.net
  author_url: ''
  date: '2016-04-27 11:10:09 +0200'
  date_gmt: '2016-04-27 11:10:09 +0200'
  content: Mir wird ganz warm ums Herz. Danke.
---
<p>Nur 4% aller Kinder kommen am errechneten Termin. Das hatte man uns immer wieder gesagt. Nicht so sehr aufs Datum versteifen, die meisten Erstgeb&auml;renden &uuml;bertragen.</p>
<p>Unser Sohn sah das anders. Er erblickte am 22.10. p&uuml;nktlich zum errechneten Termin das Licht der Welt. Ich war bei der Geburt dabei und m&ouml;chte euch nun an diesem wunderbaren aber auch herausfordernen Ereignis teilhaben lassen.</p>
<p>(Wer nun nix von Verzweiflung, Blut, anderen K&ouml;rperfl&uuml;ssigkeiten oder oder oder lesen mag, der h&ouml;re hier auf.)</p>
<p>F&uuml;r alle anderen, die schon immer mal wissen wollten, wie man als Mann eine Geburt erlebt, gehts weiter.<a id="more"></a><a id="more-675"></a></p>
<p>Schon einige Wochen vor dem eigentlichen Termin bin ich unbewusster Weise auf Lauerstellung. Ich gehe noch wie gewohnt zur Arbeit, lausche aber schon mit einem halben Ohr auf Handy, ob die Liebste mir nicht schreiben w&uuml;rde, dass es nun so langsam losgeht. Drei Wochen vor ET (errechneter [Geburts-]Termin) ist das sehr anstrengend.</p>
<p>Um so erleichterter bin ich, dass ich f&uuml;nf Tage vor ET meinen letzten B&uuml;rotag habe und noch ein paar freie Tage mit meiner Frau verbringen kann. Seltsamerweise ist auch mit dem ersten Urlaubstag meine ganze Anspannung weg. (Daf&uuml;r ist sie dann bei der Liebsten da.)</p>
<p>Sonntag. ET-2. Ich gehe allein zum Gottesdienst. Nat&uuml;rlich kommen die Fragen, ob der Kleine schon da w&auml;re. Der Punk nimmt mir die Antwort aus dem Mund: "Nee, dann w&auml;re er n&auml;mlich nicht hier." Recht hat er. Ich bleibe auch nicht so lange. Die Liebste klagt &uuml;ber ein Ziehen in der Nierengegend, was wir aber erst einmal als normale Reaktion auf die erh&ouml;hte Fl&uuml;ssigkeitsaufnahme deuten. Ich rechne immer noch nicht damit, dass ich in zwei Tagen Vater sein werde. Ganz im Gegenteil. Inst&auml;ndig hoffe ich, dass sich der kleine Prinz noch diesen Monat auf den Weg macht, damit ich nicht nochmal extra Urlaub mit der Firma absprechen muss.</p>
<p>Montag. ET-1. Ein Tag f&uuml;r die Tonne. Ich wache schon wenig ausgeruht auf. Kaffee bringt auch nur wenig. Beim Duschen ruinieren wir die Duschstange und den Tag endg&uuml;ltig. Die Laune bei uns beiden ist auf Tiefstand. Die Liebste schweigt mich eine Stunde lang an, w&auml;hrend ich mit meinen nicht wirklich vorhandenen handwerklichen F&auml;higkeiten nach einer guten L&ouml;sung google. (Die Handwerksallzweckwaffe war ja leider auf Montage.) Wir fassen nach einer Stunde einen Endschluss, ich fahre zum Baumarkt. Der erste Baumarkt ist geschlossen, weil abgebrannt. Auf zum n&auml;chsten. Nur Idioten auf der Stra&szlig;e. Dann endlich wieder zu hause. Duschstange repariert, gegessen und Laune etwas angehoben.</p>
<p>Gegen 23 Uhr werde ich schlagartig m&uuml;de. Wir legen uns hin, ich penn ein. Die Liebste steht wieder auf, als ich schlafe. Sie kann nicht schlafen. Und sie wird auch eine ganze Weile nicht mehr schlafen.Gegen kurz vor eins wache ich wieder auf und gehe zur Liebsten aufs Sofa. Eine Stunde sp&auml;ter dann der n&auml;chste Schlafversuch. Ich bin grade wieder am Wegd&ouml;sen, als die Liebste mir zufl&uuml;stert: "Ich steh wieder auf, ich glaube, ich habe Wehen. Vielleicht sind die aber auch gleich wieder weg. Bleib liegen, schlaf dich aus." In meinem Kopf kreisen die Gedanken w&auml;hrend ich wieder wegnicke. <em>"Fehlalarm, das erste Kind wird meist &uuml;bertragen, warum sollte ausgerechnet unser Kind p&uuml;nktlich kommen.",&nbsp;</em>sind einige der Gedanken.</p>
<p>Dienstag. ET. 5.30 Uhr. Ich werde geweckt. Die Liebste m&ouml;chte in die Badewanne, ihr ist kalt. Ich bin etwas &uuml;berrumpelt, aber dann doch recht schnell wach.<del> Noch immer bin ich skeptisch.</del> Ich hocke mich neben die Wanne, rede normal mit der Liebsten. Und warte. Warte auf die Wehen. Als sie dann doch schon sehr schnell aufeinander kommen, bin ich etwas &uuml;berrascht. Ich hatte mit 20-Minuten-Abst&auml;nden gerechnet, statt dessen waren es vier Minuten. In diesem Augenblick wird mir klar, dass ich schon einige Stunden Wehen verschlafen hatte (und hatte ein schlechtes Gewissen).</p>
<p>Gegen 6 Uhr wechseln wir dann aufs Sofa. Also ich wechsel aufs Sofa, die Liebste nimmt im Vierf&uuml;&szlig;lerstand vor dem Sofa Platz. In meinem Kopf schwirrt die Frage, wann wir denn nun die Hebamme anrufen. Flei&szlig;ig beobachteten wir die Abst&auml;nde.(Und ich esse erstmal was.) Gegen halb sieben dann der Anruf. Halb acht Treffen im Geburtshaus. Die Rechnerei geht los. <em>Wie lange brauchen wir? 20 Minuten. Wie lange werden wir bis zum Auto brauchen? 5 Minuten, nein besser 10. Sie ist ja nicht so schnell.</em> Kurz vor sieben peilen wir an, das Haus zu verlassen.</p>
<p>Vorher noch anziehen, Z&auml;hne putzen (zumindest ich im Schnelldurchgang), Klinik<del>tasche</del>kiste mitnehmen. Der Laptop und Big Bang Theory bleiben zu hause. (Diesen Part meine Geburtsvorstellung konnte ich also schonmal streichen.)</p>
<p>Mit der Kiste in der Hand und der schnaufenden Frau an der Seite gehts Richtung Auto. Als wir die Haust&uuml;r verlassen, stelle ich fest, dass es doch sehr k&uuml;hl ist. Jacke vergessen. Schei&szlig; drauf. Als wir kurz vor dem Auto sind, sprinte ich los, stelle die Kiste auf den Boden, schlie&szlig;e das Auto auf und &ouml;ffne der Liebsten die T&uuml;r.<em> "Jetzt nur nicht die Kiste hier stehen lassen"</em>, schie&szlig;t es mir noch durch den Kopf. Ich pack sie in den Kofferraum. Die Babyschale war schon seit ein paar Wochen im Auto.</p>
<p>Frau. Check. Kiste. Check. Es kann los gehen. Langsam mache ich mich auf den Weg. Ich fahre wie auf rohen Eier. &Uuml;berall sehe ich potentielle Feinde. Und neben mir t&ouml;nt es: "Oooooooooooooo."</p>
<p>Das Navi liegt noch in der Wohnung.<em> "Du findest den Weg auch so. Du wirst dich nicht verfahren. Du musst jetzt Sicherheit ausstrahlen. Du schaffst das. Du kennst den Weg. Atmen, atmen nicht vergessen."</em>, kreiselt es im Kopf, w&auml;hrend ich mich auf die Fahrbahn konzentriere.</p>
<p>"Oooooooooooooo.", t&ouml;nt es immer wieder rechts neben mir. Der Puls wird schneller. Jetzt noch durch den Kreisel und dann die zweite Ausfahrt nehmen. <em>"Fuck. Schei&szlig;e, hier ist ja auch Kopfsteinpflaster. Die Arme. *jaul*"&nbsp;</em></p>
<p><em></em>Vor mit f&auml;hrt ein Roller. Ich traue mich nicht ihn auf der zweispurigen Stra&szlig;e zu &uuml;berholen. <em>"Blo&szlig; nix riskieren... Schei&szlig; Kopfsteinpflaster, ey!"</em> Hinter der n&auml;chsten Ampel abbiegen, dann kommt wieder Asphalt. Ich atme auf. Noch eine Ampel und vier mal abbiegen, dann sind wir da. Ein Blick auf die Uhr verr&auml;t, wir sind viel zu fr&uuml;h. Auch die Liebste hatte es bemerkt.</p>
<p><em>"Bald geschafft, letzte Abbiegung und dann ist das vorne vorm Geburtshaus schon ein Parkplatz f&uuml;r dich frei.</em>", denk ich mir noch, da sprichts neben mir: "Schatz, halt an. Ich lauf den Rest. Ich will nicht &uuml;ber das Kopfsteinpflaster fahren." Ich halte an, lass sie aussteigen und fahre alleine nun etwas schneller Richtung Geburtshaus / Parkplatz. Stelle den Wagen ab und sprinte raus, der Liebsten entgegen. Dabei werde ich fast noch von zwei oder drei Fahrradfahrern &uuml;berfahren.</p>
<p>Ich bin bei ihr. Zusammen laufen wir zum Geburtshaus. Es ist noch dunkel, die Hebamme ist noch nicht da. Ich muss das Auto noch umparken, sonst hat die Hebamme keinen Platz mehr. Gl&uuml;cklicherweise ist direkt gegen&uuml;ber noch ein Platz frei.</p>
<p>Das Auto ist umgeparkt, wir laufen noch ein St&uuml;ck. An einem Begrenzungspfosten bleiben wir stehen.&nbsp;"Oooooooooooooo.", t&ouml;nt es durch die Stra&szlig;e. Wir machen uns auf den Weg zur&uuml;ck, da biegt ein Auto um die Ecke. Die Hebamme ist da, sie parkt wo anders in der Stra&szlig;e. Sie schlie&szlig;t das Haus auf, wir gehen in den Geburtsraum. Es ist nun kurz nach halb acht.</p>
<p>Wir hocken uns aufs Bett, ich neben der Liebsten. Ich halte ihre Hand. Die Muttermundsuntersuchung ergibt: Fingerdurchl&auml;ssig, ein Zentimeter. Die Zeichen stehen auf Geburt, aber wir stehen noch ganz am Anfang. "Jetzt stellt sich nat&uuml;rlich die Frage, wie machen wir weiter? Bleibt ihr hier oder fahrt ihr nochmal nach hause?", gibt uns die Hebamme zu denken. Bei der n&auml;chsten Wehe erbricht sich die Liebste. "So, ich glaube ihr bleibt hier", beschlie&szlig;t die Hebamme.</p>
<p>Wir bleiben also da, zusammen auf dem Bett. Recht schnell wird aus dem&nbsp;"Oooooooooooooo." ein "Aaaaaaaaaaa." Ich versuche die Massagetechniken aus dem Geburtsvorbereitungskurs anzuwenden. Aber die Liebste winkt ab, Ber&uuml;hrungen am Stei&szlig;bein sind nicht angenehm. Ich kraule und streichle ihr also die Schultern. Und fange an unter den Wehen zu beten.</p>
<p>Die erste Stunde im Geburtshaus vergeht wie im Flug. Auch die zweite dauert nicht sehr lange. Immer mal wieder versuche ich die Massagen anzuwenden. Nach dem dritten vergeblichen Ansatz bleibe ich bei Wasser reichen, Hand halten, Schulter streicheln und beten. Die Hebamme hat Teamsitzung. Wir sind also einen Teil der ersten Zeit allein. "Du machst das gut", sage ich immer wieder und gebe einen Kuss auf die Stirn.</p>
<p>Gegen zehn lassen wir Wasser in die Badewanne ein. Ein Wechsel ins Nass steht bevor. Es werden 90 Minuten, die etwas Entspannung f&uuml;r die Liebste bringen. Hatte sie doch die Nacht &uuml;ber nicht geschlafen und seit dem Abendessen am Vortag auch nix mehr gehabt. Die Wehen werden k&uuml;rzer und weniger intensiv. Die Wehenpausen daf&uuml;r l&auml;nger, das T&ouml;nen leiser. Ich hole mir einen Snack aus der Kiste, beginne mir Notizen f&uuml;r den Bericht hier zu machen. F&uuml;r mich ist das die Zeit, in der ich mich am &uuml;berfl&uuml;ssigsten f&uuml;hle. Die Liebste schlie&szlig;t die Augen, d&ouml;st glaube ich sogar ein wenig. Auch ich werde etwas m&uuml;de. Ich finde etwas Zeit zum Nachdenken. <em>"Heute wirst du Vater sein. Bald seid ihr zu dritt.</em>", kommt mir in den Sinn.</p>
<p>Gegen 11.20 Uhr steigt die Liebste aus der Wanne und geht Richtung Toilette. Von da aus h&ouml;re ich ein: "Yeah! Blut." "Der Schleimpfropf?" "Ja, ich glaube schon. Holst du die Hebamme?" Ich mache mich also auf den Weg. Am Ende der Treppe (der Geburtsraum liegt im ersten Stock) kommt mir die Hebamme schon mit einer Tasse Kaffee f&uuml;r mich entgegen.</p>
<p>Die Untersuchung des Muttermundes ergibt: f&uuml;nf Zentimeter &Ouml;ffnung. Es geht voran. Nun kommen wir in die Phase, die f&uuml;r mich am unangenehmsten war. Nicht wegen des Blutes oder wegen des Schleimes, der sich nun stetig seinen Weg aus dem K&ouml;rper der Liebsten bahnte. Es waren diese herzzerrei&szlig;enden Schreie, das Wimmern, die Ausdruck an Verzweiflung in den Augen der Frau, die ich liebe. Fast bei jeder Wehe, bei jedem Schrei habe ich Tr&auml;nen in den Augen, weil ich es nur schwer aushalten kann. "Schatz, bete!", h&ouml;re ich in diesen Stunden aber auch schon davor immer wieder. Ich halte ihre Hand, spreche ihr gut zu, versuche meine Tr&auml;nen zu verstecken und f&uuml;r meine Frau stark zu sein. Immer wieder streichle ich ihr &uuml;bers Gesicht und &uuml;ber den Kopf, sage ihr, dass ich sie liebe. Und dass sie das toll macht. "Schatz, das n&auml;chste wird ein Hund!", diesen Satz werde ich wohl mein Lebtag nicht vergessen. Ach ja, und die Tatsache, dass sie mir unter Schmerzen sagte, ich solle die Notizen f&uuml;r ihren Geburtsbericht nicht vergessen.</p>
<p>In dieser Phase bin ich immer mal wieder der Verzweiflung nahe. Es ist die Phase von Auspr&uuml;chen wie: "Es zerrei&szlig;t mich. Diese Schmerzen. Oh Gott, hilf mir. Ich schaffe das nicht." Ich traue mich nur mit schlechtem Gewissen selbst auf die Toilette, weil ich das Gef&uuml;hl habe, sie im Stich zu lassen. Es bleibt mir oft nix weiter als zu beten. Und Angst habe ich, Angst um meine Frau. Bei einigen Momenten, in denen ich ihr ins Gesicht schaue, macht sie auf mich den Eindruck, dass sie kurz vor der Ohnmacht steht. Jedenfalls sah sie bei dem Zusammenbruch beim Gipsbauchabdruck genauso aus. Und auch mir wird zeitweise schwummerig. Da bin ich dann der Hebamme sehr dankbar, dass sie mir etwas Essen reicht. Ich selbst will meiner Frau nicht von der Seite weichen.</p>
<p>Irgendwann kommt dann die obligatorische Frage nach einer Spritze. Da wei&szlig; dann auch die Hebamme, dass die &Uuml;bergangsphase losgeht. Die etwa zwei Stunden nach der Wanne finden dann ein Ende, als die Hebamme zu einem Toilettengang r&auml;t. Das Sitzen war f&uuml;r die Liebste ob der Schmerzen nicht m&ouml;glich. Sie ging so schnell in den Vierf&uuml;&szlig;lerstand, dass ich dachte, dass sie umkippt. Nachdem diese Wehe vorbei ist, machen wir uns wieder auf den Weg Richtung Bett. Ein kurzer Stopp noch am Waschbecken - die n&auml;chste Wehe ist da. (Hier bei&szlig;t die Liebste noch ins Waschbecken, was sie mir dann nach der Geburt erz&auml;hlt.)</p>
<p>"Ich hab das Gef&uuml;hl, ich muss pressen. Darf ich denn?" Die Untersuchung des Muttermundes ergibt: &nbsp;zehn Zentimeter. Offen. Pressen, Zielgerade. Es ist gegen 13.30 Uhr. Die Liebste ist im Vierf&uuml;&szlig;lerstand auf dem Boden. Ich will die Notiz machen, dass der Muttermund offen ist. Da h&ouml;re ich neben mir ein: "Na endlich." Ein Blick auf den Boden verr&auml;t mir, dass die Fruchtblase geplatzt ist. Ich schreibe auch das noch schnell auf und knie mich dann selbst vor die Liebste.</p>
<p>Ich soll n&auml;her an sie ran r&uuml;cken. Sie krallt sich mit ihren H&auml;nden in meine Oberschenkelknochen (kein Witz!), st&ouml;&szlig;t mir den Kopf ans Schl&uuml;sselbein, ich fasse ihr mit beiden H&auml;nden um die Rippen und rede ihr immer wieder Mut zu. Dann bricht bei jeder Presswehe ein Geschrei aus meiner Frau hervor, die ich nur mit Formel-1-Motoren am Grenzbereich vergleichen kann. Ich h&auml;tte nie gedacht, dass die Liebste so laut werden kann. "Ich liebe dich. Du machst das toll. Du schaffst das", sage ich ihr. Und immer wieder ein Kuss auf die Wange. Nach ein paar Wehen schlafen mir die Beine ein, aber es ist mir egal. Es geht hier grade nicht um mich. Als die Liebste sich in den Oberschenkel krallt, sind das auch Schmerzen. Ich schlucke sie runter, denn im Gegensatz zu den Schmerzen, denen sie grad ausgesetzt ist, ist das ja ein Witz.</p>
<p>In den Wehenpausen schiele ich immer wieder zur Uhr, die neben mir steht. Sollte unser kleiner Prinz tats&auml;chlich jetzt schon ein Nerdbaby sein und ausgerechnet um 13.37 Uhr auf die Welt kommen? Die Uhrzeit kam und verstrich.</p>
<p>Die Pressphase war f&uuml;r mich nur weniger schlimm. Ich konnte aktiv teilhaben, war auch im Mittelpunkt des Geschehens. Mein Blick geht regelm&auml;&szlig;ig zum Boden, ob ich denn auch schon etwas sehen kann. Aber au&szlig;er Fruchtwasser, dass nachflie&szlig;t und etwas Blut, ist erst einmal nix zu sehen. Die Hebamme holte in einer Wehenpause einen Waschlappen, um ihn gegen das K&ouml;pfchen des Kleinen zu halten. Die Liebste schnauzt sie dann an, dass die den Kleinen nicht festhalten soll.</p>
<p>Noch eine Wehe und der Kopf ist da. Noch einmal, zweimal heult der Formel-1-Motor auf, dann sehe ich unser Kind auf dem Boden. Ich bin &uuml;bergl&uuml;cklich. Ein Moment, der mir sogar jetzt beim Schreiben noch Tr&auml;nen in die Augen schie&szlig;en l&auml;sst. Ich schaue die Liebste an, auch sie hat Tr&auml;nen in die Augen. Ich dr&uuml;cke ihr einen Kuss auf den Mund. "Ich liebe dich", kommt synchron aus unser beider M&uuml;nder. Es ist 13.46 Uhr. Unser erstes Kind ist geboren. Wir sind Eltern.</p>
<p>Nachdem ich kurz meine Beine ausgestreckt habe, dass sie auch noch etwas Blut abgekommen, rutsche ich zur Liebsten. Typisch f&uuml;r sie hat sie schon wieder einen Spruch auf den Lippen, ihr scheint es gut zu gehen. Wir ziehen aufs Bett um. Kuschelzeit. Nachdem die Nabelschnur auspulsiert ist, darf ich sie durchschneiden. Ich muss sagen, ich hatte sie mir widerspenstiger vorgestellt.</p>
<p>Die Notizen sind egal, die Zeiten auch. Wir haben als Familie Zeit um anzukommen. Dann kommt das erste Stillen. F&uuml;r mich nach einiger Zeit das erste Wickeln, w&auml;hrend die Liebste untersucht wird. (Gl&uuml;cklicherweise ist sie nur leicht gerissen.)</p>
<p>Wir informieren unsere Familien ganz schnell. Nachdem ich und die Liebste geduscht haben, machen wir uns gegen 17.15 Uhr wieder auf den Heimweg.</p>
<p>Es ist ein warmer Nachmittag in Bremen. Vom Freimarkt zieht der Duft von Schmalzkuchen her&uuml;ber. Ein toller Augenblick, um mit einem Neugeborenen nach Hause zu fahren.</p>
<p>Die R&uuml;ckfahrt ist entspannter als die Hinfahrt. Die Liebste sitzt hinten beim Prinzen. Zu hause angekommen finden wir einen Parkplatz direkt vor der Haust&uuml;r.</p>
<p>Nun sind wir zu Hause.&nbsp;Nun sind wir zu dritt. Nun sind wir Familie. Nun sind wir &uuml;bergl&uuml;cklich.</p>
<p>&nbsp;</p>
