---
layout: post
status: publish
published: true
title: 'One lesson per day #5'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 577
wordpress_url: http://moerssl.net/?p=577
date: '2013-01-21 20:02:10 +0100'
date_gmt: '2013-01-21 19:02:10 +0100'
categories:
- dailylesson
tags: []
comments:
- id: 139
  author: Corcken
  author_email: corcken@bortmann.de
  author_url: http://corcken.com
  date: '2013-01-21 20:41:03 +0100'
  date_gmt: '2013-01-21 19:41:03 +0100'
  content: Brot in Dosen lernt man kennen, wenn man mal eine Weile im Ausland ist
    und die Leute aus der Heimat einem mal richtiges Brot schicken ;-)
---
<p>Das Lernexperiment geht in die f&uuml;nfte Woche. Jeden Abend gabs eine neue Weisheit.</p>
<p><strong>[Dienstag]</strong></p>
<p>Es gibt Brot in Dosen. Gabs heute beim Abend essen.&nbsp;<a title="Brot in Dosen" href="http://www.mestemacher.de/produkte/dosen/vollkornbrot" target="_blank">Beweis</a> gef&auml;llig?</p>
<p><strong>[Mittwoch]</strong></p>
<p>Deutschland besitzt 3.400 Tonnen Gold. Damit liegt Deutschland auf Platz zwei des Goldbesitzes, hinter den USA.</p>
<p><strong>[Donnerstag]</strong></p>
<p>Super Mario verdankt seinen Namen dem Vermieter des Nintendo-Geb&auml;udes.</p>
<p><strong>[Freitag]</strong></p>
<p>Bei der Verschiebung von Hintergrundbildern mit CSS m&uuml;ssen negative Zahlenangaben gemacht werden.</p>
<p><strong>[Samstag]</strong></p>
<p>In Bautzen ist Prostitution verboten, weil die Stadt nur 50.000 Einwohner hat.</p>
<p><strong>[Sonntag]</strong></p>
<p>Das menschliche Skelett besteht aus etwa 206 Knochen.</p>
<p><strong>[Montag]</strong></p>
<p>Mit der Eigenschaft hyphens kann mittels CSS Silbentrennung in Texten aktiviert werden. Beim <a href="http://blog.kulturbanause.de/2012/02/silbentrennung-im-browser-css-eigenschaft-hyphens/">Kulturbanausen</a> gibt es eine Kurzanleitung dazu.</p>
