---
layout: post
status: publish
published: true
title: Auslaufen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 579
wordpress_url: http://moerssl.net/?p=579
date: '2013-01-15 21:17:53 +0100'
date_gmt: '2013-01-15 20:17:53 +0100'
categories:
- bodywork
tags: []
comments: []
---
<p>Der letzte Besuch beim Neurologen war sehr erfreulich. Ich hatte ja drauf gehofft, dass ich meine Medikation runter schrauben konnte. Nun ja, das darf ich jetzt. Eine von drei Tabletten f&auml;llt weg.</p>
<p>Ich kam aus der Praxis raus. Und ich freute mich. Dass ich jetzt reduzieren kann, zeigt mir, dass ich am Ende dieser Phase angekommen bin. Es ist irgendwie, wie wenn man nach dem Joggen eigentlich schon am Ende der Strecke angekommen ist, nun aber noch ein paar Meter ausl&auml;uft.</p>
<p>Es f&uuml;hlt sich gut an. Das Ende ist in Sicht.</p>
