---
layout: post
status: publish
published: true
title: Leere und doch nicht Leere
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 594
wordpress_url: http://moerssl.net/?p=594
date: '2013-01-29 21:18:43 +0100'
date_gmt: '2013-01-29 20:18:43 +0100'
categories:
- newstime
- runningthougths
tags: []
comments:
- id: 140
  author: Tom Goetze
  author_email: tom.goetze@gmail.com
  author_url: http://gloryriver.wordpress.com
  date: '2013-01-29 21:22:48 +0100'
  date_gmt: '2013-01-29 20:22:48 +0100'
  content: Schoen zu lesen, dass es dir gut geht! ;)
---
<p>Seit Tagen schwebt es mit im Kopf rum, mal wieder was zu bloggen. Alleine in meinem Kopf herrscht &nbsp;Leere. Aber irgendwie auch nicht. Viele Gedanken tummeln sich.</p>
<p>Der angestrebte Relaunch f&uuml;r die Seite von den <a title="Jesus Freaks Bremen" href="http://jesusfreaks-bremen.de" target="_blank">Jesus Freaks Bremen</a>. Eine f&uuml;r mich gro&szlig;e &Auml;nderung im Haushalt. Ein "Wie kann ich Scrum auch f&uuml;r meine ehrenamtlichen T&auml;tigkeiten nutzen?"</p>
<p>Dann ist da noch die Arbeit. Die Arbeit macht Spa&szlig;. Die 40-Stunden-Woche ist f&uuml;r mich mittlerweile schon zur Normalit&auml;t geworden. Der Kr&auml;ftehaushalt hat sich auch dran gew&ouml;hnt. Mit gehts echt gut damit.</p>
<p>Ach ja, und dann ist da noch die Therapie. Die letzten Wochen war da nicht mehr allzu viel los. Wie gesagt, mir gehts gut.</p>
