---
layout: post
status: publish
published: true
title: Gedankendump
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 670
wordpress_url: http://moerssl.net/?p=670
date: '2013-09-12 18:31:07 +0200'
date_gmt: '2013-09-12 16:31:07 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Mir schwirren viele Dinge im Kopf rum, die ich gern verbloggen w&uuml;rde, aber dann dich immer wieder dr&uuml;ber wegkomme.<br />
Ich habe Elternzeit beantragt und schlussendlich lief das einfacher als gedacht. Ich war sehr erleichtert als ich da das ok hatte.<br />
Weitere Erleichterung kam als der Steuerbescheid eintrudelte. Ein halbes Jahr hatte ich da drauf gewartet.<br />
Unser erster Hochzeitstag war auch. Ein sch&ouml;ner und langer Tag, den wir abebds noch im Geburtsvorbereitungskurs verbrachten.<br />
Kinderzimmer ist eingerichtet. Das Beistellbettchen steht schon bei uns im Schlafzimmer. Auf einmal wird das alles so greifbar, dass wir bald zu dritt sein werden.<br />
Ich freue mich schon auf die zwei Monate Elternzeit. Auf das wahr werden dieses Traums.<br />
Ein kleiner Teil von mir schaut ein paar Jahre zur&uuml;ck und ist traurig. Manchmal. Selten. Aber die Freude &uuml;ber das jetzt &uuml;berwiegt.<br />
Manchmal habe ich Respekt vor dem was auf uns - was auf mivh zukommt. Ich werde als Hauptversorger dann f&uuml;r drei Menschen verantwortlich sein. Manchmal setzt mich das unter Druck. Und nur Versorger sein m&ouml;chte ich ja auch nicht. Aber auch da werde ich reinwachsen.<br />
Nur noch ein paar Wochen. Nur noch ein paar Tage. So langsam werde ich aufgeregt.</p>
