---
layout: post
status: publish
published: true
title: Geschreibsel
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 613
wordpress_url: http://moerssl.net/?p=613
date: '2013-02-10 21:26:19 +0100'
date_gmt: '2013-02-10 20:26:19 +0100'
categories:
- runningthougths
tags: []
comments:
- id: 142
  author: Devbrain83
  author_email: m.wichert@devbrain.eu
  author_url: http://www.devbrain.eu
  date: '2013-02-10 21:35:35 +0100'
  date_gmt: '2013-02-10 20:35:35 +0100'
  content: Ich denke auch, dass sich das geben wird. Aber die Blockade kenne ich auch.
    Bist also nicht allein ;-)
- id: 143
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2013-02-10 21:39:29 +0100'
  date_gmt: '2013-02-10 20:39:29 +0100'
  content: Ich denk auch, dass ich damit nicht allein bin. Manchmal fehlts halt auch
    einfach an Themen.
- id: 144
  author: Tom Goetze
  author_email: tom.goetze@gmail.com
  author_url: http://gloryriver.wordpress.com/
  date: '2013-02-10 21:47:21 +0100'
  date_gmt: '2013-02-10 20:47:21 +0100'
  content: Kannst ja derweile Corrie's und meinen Blog durchst&ouml;bern. ;)
---
<p>Im letzten Jahr habe ich hier recht oft und wie ich denke auch recht offen &uuml;ber meinen Zusammenbruch, die Depression und den Weg da raus geschrieben.</p>
<p>Nun habe ich den Zusammenbruch &uuml;berstanden, die Beitr&auml;ge dazu wurden mit der Zeit auch weniger. Mir schweben ein paar Ideen rum, die ich hier auf den Blog packen k&ouml;nnte. Allein mir fehlt grade der Antrieb dazu.</p>
<p>Manchmal sitze ich vor der offenen Wordpress-Maske und schieb ne Schreibblockade. Vielleicht wird sich das &auml;ndern. Ich hoffe es doch.</p>
