---
layout: post
status: publish
published: true
title: Leserpeilung
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 664
wordpress_url: http://moerssl.net/?p=664
date: '2013-07-19 08:37:26 +0200'
date_gmt: '2013-07-19 06:37:26 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Google hatte ja schon lange im Vorraus angek&uuml;ndigt, dass sie den Reader einstellen w&uuml;rden. Ein bisschen in Erwartingshaltung habe ich mich dann erst einmal nicht um Ersatz bem&uuml;ht. (Gelesen gabe ich in der Zeit, als der Blog dicht war, auch nicht viel.)<br />
Dann kam der Stichtag. Der Reader war dicht und ich hatte immer noch keinen Ersatz.<br />
Dann gings also doch zu Feedly. Ich muss sagen, auf dem Smartphone sehr angenehm zu lesen. Feedly macht Spa&szlig;.<br />
Ich hab dann &uuml;brigens auch die zweite Deadline von Google verschwitzt. Das Exportieren der Feeds. So bin ich nun wieder auf der Suche nach den Blogs. Ist dann doch ein bisschen wie Ostern.</p>
