---
layout: post
status: publish
published: true
title: 'One lesson per day #4'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 558
wordpress_url: http://moerssl.net/?p=558
date: '2013-01-15 17:30:09 +0100'
date_gmt: '2013-01-15 16:30:09 +0100'
categories:
- dailylesson
tags: []
comments:
- id: 137
  author: Joachim
  author_email: kennobi@gmx.net
  author_url: ''
  date: '2013-02-20 10:48:20 +0100'
  date_gmt: '2013-02-20 09:48:20 +0100'
  content: "Man sollte auch nicht alles glauben, was man &uuml;ber FB oder Twitter
    mitgeteilt bekommt. Wo in der Bibel steht denn das der Schwefel in der H&ouml;lle
    kocht? Ich hab keine passende Stelle gefunden. Das Wort Schwefel kommt 14 mal
    in der Bibel vor (jedenfalls wenn man auf Bibleserver nach Schwefel sucht). Und
    das einzige was ann&auml;hernd passt ist: Offb 19,20 Und es wurde ergriffen das
    Tier und der falsche Prophet - der mit ihm war und die Zeichen vor ihm tat, durch
    die er die verf&uuml;hrte, die das Malzeichen des Tieres annahmen und sein Bild
    anbeteten -, lebendig wurden die zwei in den Feuersee geworfen, der mit Schwefel
    brennt. \n\nAber das hei&szlig;t nicht unbedingt das der Schwefel kocht nur weil
    der Feuersee brennt und da Schwefel drin ist."
- id: 138
  author: M&ouml;r&szlig;l
  author_email: blog@moerssl.net
  author_url: http://www.moerssl.net
  date: '2013-02-20 12:41:37 +0100'
  date_gmt: '2013-02-20 11:41:37 +0100'
  content: Die Stelle kam mir auch in den Sinn. Abweichend hab ich das Brennen aber
    mit dem Kochen gleich gesetzt.
---
<p>Wieder ist eine Woche vergangen, in der wir t&auml;glich dazu gelernt haben. Welche Erkenntnisse es diese Woche gab? Lest selbst:</p>
<p><strong>[Dienstag]</strong></p>
<p>US-Firmen k&ouml;nnen sich Telefonnummern mit der 555 in der Zahl ab 555 0200 registrieren. Die 555 taucht in US-Produktionen als Telefonnummer auf, um zu gew&auml;hrleisten, dass es sich nicht um eine reale Nummer handelt. Nach dieser Erkenntnis werden es also Nummern bis 555 0199 sein.</p>
<p><strong>[Mittwoch]</strong></p>
<p>Die Farbkombination blau-wei&szlig; ist eine Warnfarbe f&uuml;r Rehe.</p>
<p><strong>[Donnerstag]</strong></p>
<p>Ich habe gelernt, wie man in Photoshop Bilder mit runden Ecken erstellen kann.</p>
<p><strong>[Freitag]</strong></p>
<p>Obwohl ich es fr&uuml;her fast t&auml;glich geschaut habe, wusste ich nicht, dass Sonja Zietlow bei <a title="Bim Bam Bino" href="http://de.wikipedia.org/wiki/Bim_Bam_Bino" target="_blank">Bim Bam Bino</a> mitmoderiert hat. Wieder was gelernt.</p>
<p><strong>[Samstag]</strong></p>
<p>In der H&ouml;lle (sofern sie existiert) ist es 444,72&deg;C hei&szlig; Lt. Bibel gibt's in der H&ouml;lle kochenden Schwefel - Siedepunkt von Schwefel 444,72&deg;C via <a href="https://twitter.com/Wissensbox/status/290054332504756224" target="_blank">Wissenbox</a></p>
<p><strong>[Sonntag]</strong></p>
<p>Kinder, die tot zur Welt kommen oder nur wenige Stunden leben, werden als Sternenkinder bezeichnet. Wiegen sie unter 500g werden sie nach aktueller Gesetzeslage nicht bestattet. Sie landen im Klinikm&uuml;ll. Ein trauriges Thema, auf das ich &uuml;ber <a href="http://aktuell.evangelisch.de/artikel/76319/klinikmuell-unwuerdiger-umgang-mit-sternenkindern?destination=node/76319">evangelisch.de</a> aufmerksam wurde.</p>
<p><strong>[Montag]</strong></p>
<p>Ich habe mich heute gefragt, ob es rote Augen auch als normale Augenfarbe gibt. Dass Albinos rote Augen haben, d&uuml;rfte ja bekannt sein. Eine kurze Suche hat jedoch ergeben, dass es wohl nur bei Albinos rote Augen gibt. Wer mag, kann mich gern vom Gegenteil belehren.</p>
