---
layout: post
status: publish
published: true
title: 'One lesson per day #7'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 600
wordpress_url: http://moerssl.net/?p=600
date: '2013-02-05 09:23:44 +0100'
date_gmt: '2013-02-05 08:23:44 +0100'
categories:
- dailylesson
tags: []
comments: []
---
<p>Jeden Tag lernen wir dazu. Manchmal n&uuml;tzlich, manchmal nichtig, manchmal lustig. Gemeinsam lernen macht mehr Spa&szlig;, also erz&auml;hlen die Liebste und ich uns jeden Abend, was wir denn gelernt haben. Und jeden Dienstag gibts unsere Zusammenfassungen. One lesson per day. Und los gehts:</p>
<p><strong>[Dienstag]</strong></p>
<p>Das englische Wort f&uuml;r Joch ist yoke.</p>
<p><strong>[Mittwoch]</strong></p>
<p>Wie man einen Hotfix f&uuml;r die Software beim neuen Arbeitgeber einspielt, wei&szlig; ich jetzt.</p>
<p><strong>[Donnerstag]</strong></p>
<p>Auch mit kleinen Fremdsprachenkenntnissen kann man manchmal helfen. Билеты ist &uuml;brigens Russisch und hei&szlig;t Tickets.</p>
<p><strong>[Freitag]</strong></p>
<p><a title="Ambra | Walkotze" href="http://de.wikipedia.org/wiki/Ambra" target="_blank">Walkotze </a>kann wertvoll sein und wird u.a. als Bestandteil von Parfum benutzt.</p>
<p><strong>[Samstag]</strong></p>
<p>Kennzeichen von Diplomaten haben im Kennzeichen eine 0 als vorderstes Zeichen.</p>
<p><strong>[Sonntag]</strong></p>
<p>Tr&auml;ger der Medal of Honour d&uuml;rfen ihre Medallie nicht verkaufen.</p>
<p><strong>[Montag]</strong></p>
<p>Fragt man mit jQuery die Breite eines Elementes mit .width() ab, erh&auml;lt man die Breite nur, wenn das Element sichtbar ist.</p>
