---
layout: post
status: publish
published: true
title: 'One lesson per day #3'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 539
wordpress_url: http://moerssl.net/?p=539
date: '2013-01-08 18:00:00 +0100'
date_gmt: '2013-01-08 17:00:00 +0100'
categories:
- dailylesson
tags: []
comments:
- id: 136
  author: Corcken
  author_email: corcken@bortmann.de
  author_url: http://www.corcken.com
  date: '2013-01-11 09:21:37 +0100'
  date_gmt: '2013-01-11 08:21:37 +0100'
  content: Ich kenne wenigstens eine Person die Freitag hei&szlig;t ;-)
---
<p>Jeden Tag lernen wir dazu. Manchmal n&uuml;tzlich, manchmal nichtig, manchmal lustig. Gemeinsam lernen macht mehr Spa&szlig;, also erz&auml;hlen die Liebste und ich uns jeden Abend, was wir denn gelernt haben. Und jeden Dienstag gibts unsere Zusammenfassungen. One lesson per day. Und los gehts:</p>
<p><strong>[Dienstag]</strong></p>
<p>Es gibt nur 5 Familien in Deutschland mit dem Nachnamen Dienstag.</p>
<p><strong>[Mittwoch]</strong></p>
<p>Wenn man einen gekauten Kaugummi auf die Stra&szlig;e / Gehweg / etc. wirft und ein Vogel sieht das, denkt er, es handelt sich um Brot. Er wird versuchen das Kaugummi zu fressen. Dabei verklebt der Schnabel und das Tier stirbt einen grauenvollen Tod. Also lieber unterlassen.</p>
<p><strong>[Donnerstag]</strong></p>
<p>Ich habe gelernt, wie man mit Apache Velocity Makros schreibt. So Arbeitskram. D&uuml;rfte f&uuml;r 99,8% von euch uninteressant sein. ;-)</p>
<p><strong>[Freitag]</strong></p>
<p>Disney hat den deutschen Fernsehsender "Das Vierte". "SuperRTL" geh&ouml;rt zu 50% zum Konzern.</p>
<p><strong>[Samstag]</strong></p>
<p>Das<a title="LEA contraceptivum" href="http://de.wikipedia.org/wiki/LEA_contraceptivum" target="_blank"> LEA contraceptivum </a>ist eine Verh&uuml;tungsmethode f&uuml;r die Frau, die &auml;hnlich funktioniert, wie das Diaphragma.</p>
<p><strong>[Sonntag]</strong></p>
<p>In Alabama ist es verboten, sich wie ein Priester zu verkleiden.</p>
<p><strong>[Montag]</strong></p>
<p>Ich habe gelernt, wie man im Firebug (Webentwicklung im Firefox) die Gr&ouml;&szlig;e und die Ausrichtung eines Elements zu anderen Elementen anzeigt. Dazu ein Screenshot:</p>
<p>[caption id="attachment_554" align="alignleft" width="300"]<a href="http://moerssl.net/2013/01/08/one-lesson-per-day-3/firebug-counter/" rel="attachment wp-att-554"><img class="size-medium wp-image-554" alt="Elemente im Firebug" src="http://blog.moerssl.net/img/2013/01/firebug-counter-300x215.png" width="300" height="215" /></a> Elemente im Firebug[/caption]</p>
<p>Element (den Counter) markieren und dann im Layout-Tab auf die Gr&ouml;&szlig;e des Elements (201x82) klicken und Abzeichnungen im Screenshot erkennen.</p>
