---
layout: post
status: publish
published: true
title: Wieder da
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 660
wordpress_url: http://moerssl.net/?p=660
date: '2013-06-28 22:07:45 +0200'
date_gmt: '2013-06-28 20:07:45 +0200'
categories:
- babydream
tags: []
comments:
- id: 147
  author: synapsenchaos
  author_email: synapsenchaos@gmx.de
  author_url: http://www.synapsenchaos.de
  date: '2013-06-29 10:24:54 +0200'
  date_gmt: '2013-06-29 08:24:54 +0200'
  content: "Sch&ouml;n, dass hier wieder etwas zu lesen ist. \nWillkommen zur&uuml;ck."
---
<p>Wer in den letzten Monaten hier vorbeigesurft war, hat nicht viel gesehen. Ich hatte mich dazu entschlossen, den Blog dicht zu machen. Das hatte seine Gr&uuml;nde, die ich hier nicht weiter ins Internet tragen will. Auch pers&ouml;nlich habe ich nur einem ausgew&auml;hlten Personenkreis erz&auml;hlt, was los war.</p>
<p>Jetzt ist er wieder da und ich freu mich, hier wieder schreiben zu k&ouml;nnen. Ich muss ja zugeben, dass mir das Schreiben gefehlt hat.</p>
<p>Neben dem erfreulichen Ereignis, dass man mich nun wieder lesen kann, gibts noch ein anderes: Bei uns steht Nachwuchs an. Ich freu mich schon sehr auf das Baby. Die l&auml;ngste Zeit der Schwangerschaft ist nun auch schon rum. (Man war der Blog lange dicht).</p>
<p>Ich werde Papa. Ein Traum wird wahr.</p>
