---
layout: post
status: publish
published: true
title: Die Reduzierung in Sicht
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 571
wordpress_url: http://moerssl.net/?p=571
date: '2013-01-14 21:25:36 +0100'
date_gmt: '2013-01-14 20:25:36 +0100'
categories:
- bodywork
- newstime
tags: []
comments: []
---
<p>Seit fast 11 Monaten nehme ich nun Medikamente, um mit meinem Zusammenbruch klar zu kommen. Seit August nerve ich den Arzt, ob ich sie nicht endlich absetzen kann. Er riet mir bisher davon ab. Erst sollte die Hochzeit sein, dann der Arbeitsplatzwechsel.</p>
<p>Nun bin ich seit etwas mehr in der neuen Firma und f&uuml;hle mich wohl. Die Nebenwirkungen machen mir mittlerweile mehr zu schaffen, als dass die Medis helfen. Bis letzte Woche litt ich noch an fiesen Schwindelanf&auml;llen, manchmal kann ich schlecht einschlafen.</p>
<p>Nun hoffe ich drauf, dass ich ab morgen die Medis reduzieren kann. Langsam bin ich es satt, jeden Abend diese Chemie zu schlucken.</p>
<p>Morgen wissen wir mehr.</p>
