---
layout: post
status: publish
published: true
title: Kurz vorm Zusammenbruch - Ein R&uuml;ckblick
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 604
wordpress_url: http://moerssl.net/?p=604
date: '2013-02-01 20:36:16 +0100'
date_gmt: '2013-02-01 19:36:16 +0100'
categories:
- bodywork
tags: []
comments: []
---
<p>Mittlerweile sind wir im zweiten Monat des Jahres angekommen. Letztes Jahr um diese Zeit steckten die Liebste und ich in den Umzugsplanungen. Ich arbeite in Braunschweig, lebte quasi im Hotel und hatte grade vor ein paar Wochen mit meiner Therapie angefangen.</p>
<p>Es war eine anstrengende Zeit. Durch das Hotel hatte ich nicht wirklich ein zu hause. Mir fehlte der Wohlf&uuml;hlort. Eine Bleibe zum Abschalten. Die M&ouml;glichkeiten zwecks Arbeit wieder nach Bremen zu kommen, verz&ouml;gerten sich immer mehr.</p>
<p>Noch ein paar Wochen waren es bis zum Umzug. Die konnte ich mich noch schleppen. Nach dem Umzug wars dann vorbei mit der Energie. Der n&auml;chste Zusammenbruch war da.</p>
<p>Es war der Anfang einer f&uuml;nfmonatigen Krankheitsphase. P&uuml;nktlich zur Hochzeit war diese Phase dann auch vorbei. :-).</p>
<p>Jetzt - fast ein Jahr sp&auml;ter - denke ich manchmal zur&uuml;ck. Und ich bin froh, dass es mir mittlerweile um so viel besser geht. Ich bin dankbar f&uuml;r das letzte Jahr. Und auch f&uuml;r die Dinge, die ich in der Zeit &uuml;ber mich selber lernen konnte.</p>
