---
layout: post
status: publish
published: true
title: Vorgeburtsgedankendump
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 673
wordpress_url: http://moerssl.net/?p=673
date: '2013-10-19 18:54:21 +0200'
date_gmt: '2013-10-19 16:54:21 +0200'
categories:
- babydream
tags: []
comments: []
---
<p>Ich bin nun seit zwei Tagen zu hause. Und ich muss sagen, ich bin dich sehr dankbar in Deutschland zu wohnen. Hier habe ich die M&ouml;glichkeit die ersten Lebensmonate meines Kindes zuhause miterleben zu k&ouml;nnen. Dank Elterngeld und Elternzeit.<br />
Ich bin auch sehr erleichtert einen Arbeitgeber gefunden zu haben, der beim Thema Elternzeit sehr flexibel ist. Erleichtert sehr viel.</p>
<p>Nun haben wir den Gro&szlig;teil an Formularen fertig. Alles was wir an b&uuml;rokratischen Sachen noch vor Geburt machen konnten ist erledigt. Wenn der Kleine da ist, h&auml;tte ich da keinen Kopf zu. Das &Auml;mtergerenne nach Geburt reicht mir da schon noch.</p>
<p>Ein paar Tage haben wir jetzt sicher noch und seit ich nun Urlaub habe, bin ich um einiges relaxter. Vor der Geburt Urlaub zu nehmen, war eine gute Idee.</p>
