---
layout: post
status: publish
published: true
title: '404'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 655
wordpress_url: http://moerssl.net/?p=655
date: '2013-03-01 12:47:14 +0100'
date_gmt: '2013-03-01 11:47:14 +0100'
categories:
- newstime
tags: []
comments: []
---
<p>Hier wird es erstmal ruhig sein. Der Blog bleibt bis auf weiteres geschlossen.</p>
<p>Bitte um Verst&auml;ndnis</p>
