---
layout: post
status: publish
published: true
title: Sprachlos
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 668
wordpress_url: http://moerssl.net/?p=668
date: '2013-08-15 20:19:12 +0200'
date_gmt: '2013-08-15 18:19:12 +0200'
categories:
- babydream
tags: []
comments: []
---
<p>Nur noch ein paar Wochen sind es, bis ein kleiner Mitbewohner hier einzieht.<br />
Die Liebste bastelt einen Stammbaum f&uuml;r den Kleinen. Und da steht "Papa" und "Mama" drauf.<br />
Ein Traum wird wahr: Papa sein. In ein paar Wochen.</p>
