---
layout: post
status: publish
published: true
title: Die Leiterschulung bei den Jesus Freaks
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 628
wordpress_url: http://moerssl.net/?p=628
date: '2013-02-16 21:47:30 +0100'
date_gmt: '2013-02-16 20:47:30 +0100'
categories:
- holyday
tags: []
comments: []
---
<p>Letztes Jahr lief die <a title="Leiterschulung bei dem Jesus Freaks" href="http://www.dieleiterschulung.de/" target="_blank">Leiterschulung</a> bei den <a title="Jesus Freaks Deutschland" href="http://moerssl.net/2013/02/10/geschreibsel/" target="_blank">Jesus Freaks</a> an. Zwei Mal j&auml;hrlich treffen wir uns auf dem Educamp in Borgentreich, um an der Schulung teilzunehmen.</p>
<p>Neben diesen Treffen haben wir die M&ouml;glichkeit uns mit Mentoren zu treffen oder zumindest zu telefonieren. Den ersten Kontakt mit meinem Mentor hatte ich schon :D.</p>
<p>Im April gehts dann zum dritten von vier Schulungswochenenden. Die Vorbereitungen laufen auf Hochtouren. Immer mal wieder laufen in meinem Emailpostfach Rundmails ein. So auch diese Woche. Dieses Mal hat mich etwas &uuml;berrascht. Es soll eine Abschlussarbeit geben. Das soll dann ein Workshop, eine Hausarbeit oder etwas anderes werden.</p>
<p>Nun ja, m&ouml;gliche Themen sind&nbsp;Mitarbeiterf&ouml;rderung und Fundraising. Beides Themen, f&uuml;r die mein Herz schl&auml;gt. Ich werde dann wohl meine Abschlussarbeit dar&uuml;ber schreiben, wie man die beiden Themen verbinden kann. Finanzierung des eigenen Traumes, der eigenen Gemeinde, der eignen Bewegung oder so was in der Art.</p>
<p>Diese Woche haben wir noch B&uuml;cher zu Online Marketing und Fundraising bestellt. Mal schauen, was man davon alles verwenden kann.</p>
