---
layout: post
status: publish
published: true
title: Eine Geburt im November
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 687
wordpress_url: http://moerssl.net/?p=687
date: '2013-11-14 19:21:50 +0100'
date_gmt: '2013-11-14 18:21:50 +0100'
categories:
- familystory
tags: []
comments: []
---
<p>Es begab vor 28 Jahren. Wir schreiben das Jahr 1985. In einem kleinen&nbsp; malerischen D&ouml;rfchen im Erzgebigsvorland liegt Schnee. Viel Schnee. (Die heutigen Medien w&uuml;rden es als Jahrhundertwinter bezeichnen.)<br />
Am Abend vorher hat ich eine kleine Kolonne in Richtung Stadt in Bewegung gesetzt. Ein Motorrad - darauf ein b&auml;rtiger Mann. Und ein Auto, darin die Freundin des Mannes. Und die Nachbarin der beiden. Es f&auml;ngt an zu schneien.<br />
Das Ziel der Fahrt: Ein Krankenhaus. Genauer gesagt ein Krei&szlig;saal. Bis zur Geburt des gemeinsamen Sohnes sollte es nun nur noch eine Nacht und ein paar Stunden dauern.<br />
Nun ist es soweit. Die Nacht vorbei, der Schnee ist da. Nach einigen Anstrengungen erblickt ein kleiner Junge um 10.20 Uhr das Licht der Welt.</p>
<p>So oder so &auml;hnlich hat es sich zugetragen - als ich vor 28 Jahren zur Welt kam.</p>
