---
layout: post
status: publish
published: true
title: 'One lesson per day #8'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 610
wordpress_url: http://moerssl.net/?p=610
date: '2013-02-12 19:50:38 +0100'
date_gmt: '2013-02-12 18:50:38 +0100'
categories:
- dailylesson
tags: []
comments:
- id: 141
  author: Pfarrfrau
  author_email: Pfarrfrau@gmail.com
  author_url: ''
  date: '2013-02-12 20:08:39 +0100'
  date_gmt: '2013-02-12 19:08:39 +0100'
  content: Und sobald die Babys das raus haben, werden sie furchtbar stinkig, wenn
    man das macht. H&ouml;h&ouml; ;)
---
<p>Jeden Tag lernen wir dazu. Manchmal n&uuml;tzlich, manchmal nichtig, manchmal lustig. Gemeinsam lernen macht mehr Spa&szlig;, also erz&auml;hlen die Liebste und ich uns jeden Abend, was wir denn gelernt haben. Und jeden Dienstag gibts unsere Zusammenfassungen. One lesson per day. Und los gehts:</p>
<p><strong>[Dienstag]</strong></p>
<p>Ja, was hab ich Dienstag gelernt??? Ich muss passen, das Ged&auml;chtnis hat versagt.</p>
<p><strong>[Mittwoch]</strong></p>
<p>Um 15.15 Uhr bilden Stunden und Minutenzeiger einen Winkel von 7,5&deg;.</p>
<p><strong>[Donnerstag]</strong></p>
<p>Den Motor beim Kratzen laufen zu lassen, z&auml;hlt als Ordnungswidrigkeit und kostet 10 Euro.</p>
<p><strong>[Freitag]</strong></p>
<p>Es ist recht einfach, eine neue Version des Programms auf der Arbeit zum Testen bereit zu stellen.</p>
<p><strong>[Samstag]</strong></p>
<p>Wenn man einschlafenden Babys mit dem Finger von der Stirn aus &uuml;ber die Nase streift, schlie&szlig;en sie die Augen.</p>
<p><strong>[Sonntag]</strong></p>
<p>Manchmal enth&auml;lt die &Uuml;bersicht &uuml;ber zu aktualisierende Plugins in einer WordPress-Installation doch nicht die aktuellsten Versionen. Ist mir bei einem &Uuml;bersetzungsplugin passiert und dann musste ich per Hand aktualisieren.</p>
<p><strong>[Montag]</strong></p>
<p>In einen europ&auml;ischen LKW passen drei Euro-Paletten l&auml;ngs nebeneinander.</p>
