---
layout: post
status: publish
published: true
title: 'One lesson per day #9'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 624
wordpress_url: http://moerssl.net/?p=624
date: '2013-02-20 22:10:00 +0100'
date_gmt: '2013-02-20 21:10:00 +0100'
categories:
- dailylesson
tags: []
comments: []
---
<p>Jeden Tag lernen wir dazu. Manchmal n&uuml;tzlich, manchmal nichtig, manchmal lustig. Gemeinsam lernen macht mehr Spa&szlig;, also erz&auml;hlen die Liebste und ich uns jeden Abend, was wir denn gelernt haben. Und jeden Dienstag gibts unsere Zusammenfassungen. One lesson per day. Und los gehts:</p>
<p><strong>[Dienstag]</strong></p>
<p>Irgendwann wird beim Dienstag stehen, dass ich gelernt habe, nicht zu vergessen, was ich am Dienstag gelernt habe.</p>
<p><strong>[Mittwoch]</strong></p>
<p>K&auml;nguruhm&auml;nnchen haben ihre Hoden da, wie die anderen m&auml;nnlichen S&auml;ugetiere auch.</p>
<p><strong>[Donnerstag]</strong></p>
<p>Stefanie Hertel kommt aus Sachsen.</p>
<p><strong>[Freitag]</strong></p>
<p>Nach der Aussage vom Punk ist Bremen weltweit die einzige Stadt, in der mehr Frauen als M&auml;nner wohnen. (Aussage unbest&auml;tigt)</p>
<p><strong>[Samstag]</strong></p>
<p>Tierhortung ist eine Krankheit, bei der Menschen krankhaft viele Tiere halten.</p>
<p><strong>[Sonntag]</strong></p>
<p>Manchmal kann man auch mit etwas Halbwissen weiter helfen. Diesmal Fundraising. </p>
<p><strong>[Montag]</strong></p>
<p>Das Bu&szlig;geld f&uuml;rs Schwarzfahren ist deutschlandweit einheitlich geregelt.</p>
<p><strong>[Sonntag]</strong></p>
<p>Wieder was &uuml;ber mich selbst gelernt.</p>
<p><strong>[Montag]</strong></p>
<p>Wurden mehrere Steuerklassen auf der Lohnsteuerbescheinigung aufgez&auml;hlt, dann tr&auml;gt man die zu letzt g&uuml;ltige Steuerklasse in Anlage N bei der Steuererkl&auml;rung ein.</p>
