---
layout: post
status: publish
published: true
title: Ausschleichen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 666
wordpress_url: http://moerssl.net/?p=666
date: '2013-07-30 10:12:23 +0200'
date_gmt: '2013-07-30 08:12:23 +0200'
categories:
- bodywork
tags: []
comments: []
---
<p>Letztes Jahr hatte ich in der schweren Zeit mit den Nervenzusammenbr&uuml;chen und der Depression Medikamente bekommen. Da war ich auch sehr froh dr&uuml;ber, konnte ich doch dann besser schlafen.<br />
Noch nehme ich die Medis (war auch f&uuml;r die Zeit als der Blog dicht war ganz gut). Nun hatte ich in letzter Zeit das Gef&uuml;hl, dass die Medis mich eher behindern als helfen. Schlappheit am Morgen und auch &uuml;ber den Tag. Vorletzte Woche hatte ich wieder einen Termin beim Neurologen. Dem hab ich dann davon erz&auml;hlt - und wir haben die Medikation runtergeschraubt. Eine Woche sp&auml;ter hab ich auch die ersten Ergebnisse sehen k&ouml;nnen: Die Schlappheit am Morgen war weg und mir gings auch sonst besser.<br />
Jetzt hoff ich drauf, dass das so weiter geht und die Medis noch weiter reduziert werden k&ouml;nnen. Schlie&szlig;lich will ich diese Phase abschlie&szlig;en.</p>
