---
layout: post
status: publish
published: true
title: Medikamentenfrei
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 672
wordpress_url: http://moerssl.net/?p=672
date: '2013-10-08 20:58:24 +0200'
date_gmt: '2013-10-08 18:58:24 +0200'
categories:
- bodywork
tags: []
comments: []
---
<p>Bei so vielen Sachen um die Ohren und in den letzten Wochen der Schwangerschaft w&auml;re diese erfreuliche Info ja fast untergegangen.<br />
Ich kann die Medikamente nach anderthalb Jahren endlich absetzen. W&auml;re es nach mir gegangen, h&auml;tte ich sie schon vor einem Jahr abgesetzt. Nur der Doc sah das anders.<br />
N&auml;chste Woche ist es dann soweit. Und dann hat auch das Kapitel Depression und Zusammenbruch endlich seinen Abschluss.<br />
Was bin ich erleichtert und froh.</p>
