---
layout: post
status: publish
published: true
title: 'One lesson per day #6'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 588
wordpress_url: http://moerssl.net/?p=588
date: '2013-01-30 12:20:05 +0100'
date_gmt: '2013-01-30 11:20:05 +0100'
categories:
- dailylesson
tags: []
comments: []
---
<p>Wieder ist eine Woche vergangen, in der wir t&auml;glich dazu gelernt haben. Welche Erkenntnisse es diese Woche gab? Lest selbst:</p>
<p><strong>[Dienstag]</strong></p>
<p>Ein wunderbarer Tag kann durch eine einzige Nachricht in einer schlaflosen Nacht enden. In diesem Fall eine unsch&ouml;ne Erkenntnis.</p>
<p><strong>[Mittwoch]</strong></p>
<p>Konstantandraht besitzt immer den gleichen Widerstand, egal wie hei&szlig; er wird.</p>
<p><strong>[Donnerstag]</strong></p>
<p>Mithilfe der CSS-Eigenschaft text-overflow kann man langen Text so abschneiden, das drei Punkte angezeigt werden.<br />
(Viel CSS Krams in letzter Zeit.)</p>
<p><strong>[Freitag]</strong></p>
<p>Die Pilzlederkoralle kann je nach Umwelteinfl&uuml;ssen ihr Geschlecht &auml;ndern.</p>
<p><strong>[Samstag]</strong></p>
<p>Die Temperatur in Quecksilberthermometern kann man mit einer Flamme manipulieren.</p>
<p><strong>[Sonntag]</strong></p>
<p>Seit 1996 wird am 27. Januar der <em>Tag des Gedenkens an die Opfer des Nationalsozialismus</em> begangen.<br />
Am 27. Januar 1945 wurde das KZ Auschwitz befreit.</p>
<p><strong>[Montag]</strong></p>
<p>Auch Therapeuten sind nur Menschen und manchmal vom Leben &uuml;berfordert.</p>
