---
layout: post
status: publish
published: true
title: Von den Tr&auml;umen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 726
wordpress_url: http://moerssl.net/?p=726
date: '2014-10-13 13:55:20 +0200'
date_gmt: '2014-10-13 11:55:20 +0200'
categories:
- runningthougths
tags: []
comments: []
---
<p>Ich tr&auml;ume gerne. Ich tr&auml;ume davon, was sein kann. Ich tr&auml;ume gerne davon, wie eine Homepage, ein Dienst, vielleicht sogar eine Gemeinde aussehen k&ouml;nnte.</p>
<p>Ich tr&auml;ume ab und zu von S&uuml;dafrika. Ich tr&auml;ume davon, nochmal nach Israel zu reisen und das Land genauer zu besichtigen.</p>
<p>Ich tr&auml;ume davon, wie man gemeinn&uuml;tzige Organisationen unterst&uuml;tzen kann.</p>
<p>Tr&auml;umen f&auml;llt mir manchmal leicht. Tr&auml;umen ist leicht, wenn die Tr&auml;ume in weiter Ferne liegen.</p>
<p>Wenn es um "erf&uuml;llbare" Tr&auml;ume geht, sieht das anders aus. Das habe ich am Wochenende wieder gemerkt. Wir spielen mit dem Gedanken um zu ziehen und auch mit dem Gedanken an eine neue Couch.</p>
<p>Diese Sachen sind mir dann doch so realistisch, dass ich da nicht tr&auml;umen kann. Da bin ich in der Realit&auml;t und auch in der Finanzierbarkeit gefangen. Und manchmal setzt mich das unter Druck. Ein Druck, der v&ouml;llig unn&ouml;tig ist, weil es ja doch eigentlich nur Tr&auml;ume sind.</p>
<p>Aber warum eigentlich? Liegt das daran, dass Dinge, die ich als Kind wollte oder gar nur ansprach mit dem Hinweis auf die nicht vorhandene Gelddruckmaschine verneint wurden? Bin ich zu realistisch? Oder ist das einfach auch alles in Ordnung und gut, dass ich bei manchen Sachen nicht allzu sehr tr&auml;ume.</p>
<p>Eins ist es auf jeden Fall. Manchmal anstrengend. Wenn ich manche Gedanken von uns nicht als "Traum" erkenne, sondern direkt nach Realisierungsma&szlig;nahmen Ausschau halte.</p>
<p>Ich m&ouml;chte weiter tr&auml;umen. Von S&uuml;dafrika, von finanzierten gemeinn&uuml;tzigen Organisationen und von H&auml;usern, Einrichtungen.</p>
