---
layout: post
status: publish
published: true
title: Spontane Eink&auml;ufe
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 694
wordpress_url: http://moerssl.net/?p=694
date: '2014-02-15 09:45:55 +0100'
date_gmt: '2014-02-15 08:45:55 +0100'
categories:
- newstime
- runningthougths
tags: []
comments: []
---
<p>Ich hab es getan. Ich habe mir einTablet bestellt. Und den Artikel schreibe ich auch grade mit meinem neuen Spielzeug. Und was soll ich sagen. Ich mag das Teil.<br />
Ganz so spontan, wie es in der &Uuml;berschrift t&ouml;nt, war der Kauf dann doch nicht. Ich &uuml;berlege schon l&auml;nger so ein Teil zu kaufen. Drei oder&nbsp; vier Jahre bestimmt. Kurz bevor die Liebste und ich zusammen gezogen sind, hatte ich schonmal ein Tablet in der Hand. Damals habe ich es allerdings zur&uuml;ck geschickt. F&uuml;r den Preis erschien es mir damals zu teuer. Recht h&auml;ufig bin ich seit dem um die Tablets in den einschl&auml;gigen Multimediam&auml;rkten rumgetingelt. Und mich gegen den Kauf entschieden. Zu teuer, brauch ich das Ding wirklich?<br />
Nun bin ich stolzer Besitzer eines Asus Transformer Pad, schreibe den Artikel &uuml;ber die mitgelieferte Tastatur. Und das Scheiben geht gut von der Hand. Obwohl die Tastatur nur die Gr&ouml;&szlig;e eines Netbooks hat, treffe ich doch immer die Taste, die ich m&ouml;chte. Das war beim Netbook der Liebsten nicht so einfach.<br />
Nun freue ich mich drauf, auch auf dem Sofa mit dem Tablet zu Entwickeln, zu Lesen. Ein weiterer Teil, der zu meiner Entspannung beitragen.<br />
Und vielleicht blogge ich ja nun auch wieder mehr. W&auml;re durch aus m&ouml;glich.<br />
PS: F&uuml;r mehr Spontanit&auml;t im Leben.</p>
