---
layout: post
status: publish
published: true
title: Auf ein neues
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 715
wordpress_url: http://moerssl.net/?p=715
date: '2014-07-29 21:27:12 +0200'
date_gmt: '2014-07-29 19:27:12 +0200'
categories:
- holyday
tags:
- blog
- motto
- vision
comments: []
---
<p>Der Post hier schwirrt mir schon l&auml;nger im Kopf rum. Es fehlte allein die Zeit oder der Elan oder beides ihn zu tippen.</p>
<p>Der Abschnitt "On the road to vision" scheint ja nun seit dem letzten Beitrag abgeschlossen zu sein. Auch das Gef&uuml;hl hat eingesehen, dass ich schon l&auml;ngst in der Berufung stehen. Hatte ich schon lange gewusst, nur hatte es sich nicht so angef&uuml;hlt. Naja, das ist nun anders.</p>
<p>Und nun gehts weiter. Die Frage f&uuml;r mich war, wie formulier ich die "neue" Berufung. Irgendwas mit Alltag, Leben genie&szlig;en und Chancen ergreifen sollte es werden.</p>
<p>So kams dann auch zum Themewechsel und zum neuen Blogtitel. Von nun an gehts mit dem Motto "Das Leben genie&szlig;en: Chancen ergreifen" weiter.</p>
