---
layout: post
status: publish
published: true
title: Entspann dich mal
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 717
wordpress_url: http://moerssl.net/?p=717
date: '2014-08-24 09:21:24 +0200'
date_gmt: '2014-08-24 07:21:24 +0200'
categories:
- newstime
tags:
- abbau
- stress
comments: []
---
<p>Ich kann mich manchmal richtig gut kirre machen. Voll dem Optimierungswahn erliegen. Hier die Zeit besser nutzen, noch eben da was programmieren, weil ja eh grade Zeit da ist. Und in letzter Zeit kam ich mir sehr gehetzt und gestresst vor.<br />
Manchmal (manchmal auch ein bisschen &ouml;fter) l&auml;ufts auf der Arbeit nicht so wie ich sich das denke. Manchmal dr&uuml;ckt das Alleinverdiener sein. Nach dem acht Stunden auf der Arbeit will ich noch Zeit mit Frau und Kind verbringen. Und dann noch was programmieren und da noch was ausprobieren. Und wenn ich das alles machen w&uuml;rde, k&auml;me ich wahrscheinlich nicht mehr zum Schlafen.<br />
Ich muss mir mal ne T&auml;tigkeitsliste machen, in welcher Reihenfolge ich mir nun Sachen vornehmen will. Achtzig Sachen gleichzeitig im Kopf zu bearbeiten macht einfach keinen Sinn.</p>
<p>Was alles so im Kopf rumspukt:<br />
- Webentwicklungsblog<br />
- Programmierdinge mit Grunt, Gulp und Broccoli<br />
- die Mitarbeiteradmin f&uuml;rs Freakstock 2015 (dabei ist das diesj&auml;hrige ja grade erst vorbei)<br />
- Buchhaltung<br />
- Hauskreis</p>
<p>Listen sind was tolles. Und bevor ich mich nun wieder wegen dieser Liste kirre mach, lehne ich mich zur&uuml;ck, trinke einen Kaffee und lese noch was. Die Liebste und der Kleine schlafen ja.</p>
