---
layout: post
status: publish
published: true
title: Zwei Jahre
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 722
wordpress_url: http://moerssl.net/?p=722
date: '2014-08-26 19:54:56 +0200'
date_gmt: '2014-08-26 17:54:56 +0200'
categories:
- familystory
- heartbeat
tags:
- jahrestag
- liebe
comments: []
---
<p>Zwei Jahre ist's her.<br />
Ich stand am Altar.<br />
Du kamst mir im Regen entgegen.<br />
Ich kann es nicht beschreiben:<br />
Einfach wunderbar.</p>
<p>Nie mehr m&ouml;chte ich dich an meiner Seite und den Ring an meinem Finger missen.</p>
