---
layout: post
status: publish
published: true
title: Der Badeb&auml;r
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 698
wordpress_url: http://moerssl.net/?p=698
date: '2014-03-27 07:44:29 +0100'
date_gmt: '2014-03-27 06:44:29 +0100'
categories:
- babydream
tags: []
comments: []
---
<p>Schon l&auml;nger haben wir ein neues Abendritual f&uuml;r den Kleinen eingef&uuml;hrt: Er wird gebadet.<br />
Es ist f&uuml;r mich die M&ouml;glichkeit exklusiv Zeit mit MJ zu verbringen. Da er voll gestillt wird, ist das Baden Papachefsache geworden.<br />
Nach dem Startsignal "Wasser, Baden, Planschen, Quatsch singen" beginnen die Wasserspiele.<br />
Anfangs war ich noch etwas z&ouml;gerlich, aber schon recht bald fing ich an das Badelied von "Planschiboy und Badeb&auml;r" zu singen.<br />
(Zum Gl&uuml;ck f&auml;llt es einem als Vater nicht schwer sich f&uuml;r den Nachwuchs zum Obst zu machen).</p>
