---
layout: post
status: publish
published: true
title: Road to vision?
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 705
wordpress_url: http://moerssl.net/?p=705
date: '2014-05-30 21:48:26 +0200'
date_gmt: '2014-05-30 19:48:26 +0200'
categories:
- holyday
- runningthougths
tags:
- berufung
- leben
- vision
comments: []
---
<p>Gedanklich bin ich vor ein paar Tagen &uuml;ber das Motto des Blogs gestolpert: on the road to vision.<br />
Vor vier Jahren hab ich den Blog mit diesem Motto neu gestartet und habe mal mehr mal weniger geschrieben.<br />
Was &uuml;ber diese ganzen Jahre geblieben war: Die Suche nach meiner Berufung, nach der Vision f&uuml;r mein Leben.<br />
Ich habe mich in den Jahren besser kennen gelernt. Ich war am Tiefpunkt meines bisherigen Lebens angekommen. Und erlebte noch weit mehr H&ouml;hepunkte. Ich bin Gott sehr dankbar f&uuml;r diese Zeit.<br />
Und nun? Kann ich sagen, dass ich meine Berufung gefunden habe. Ich lebe und bin einfach. Meine Berufung ist vielschichtig. Familie, Finanzen und das Web. Ehemann, Vater, Leiter und Freund.<br />
Die, die mich schon l&auml;nger kennen, werden sich nun fragen, was aus S&uuml;dafrika geworden ist. (Dieses Land stand lange f&uuml;r DEN Fixpunkt in meiner Berufung.) Ich wei&szlig; nicht, was aus diesem Traum wird. Irgendwann doch auswandern oder nicht. Von Deutschland aus unterst&uuml;tzen. Zur Zeit wei&szlig; ich es nicht. Es wird sich zeigen.<br />
Berufung wird in der Gegenwart gelebt, nicht in der Zukunft. Also lebe ich.</p>
