---
layout: post
status: publish
published: true
title: Change
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 702
wordpress_url: http://moerssl.net/?p=702
date: '2014-05-20 20:01:43 +0200'
date_gmt: '2014-05-20 18:01:43 +0200'
categories:
- babydream
- heartbeat
tags: []
comments:
- id: 160
  author: Bernd Br&auml;gelmann
  author_email: bernd@braegelmann.net
  author_url: http://papabraegel.blogspot.de/
  date: '2014-07-13 08:40:34 +0200'
  date_gmt: '2014-07-13 06:40:34 +0200'
  content: Ich kam das ganz genau nachempfinden. Mir geht es ganz &auml;hnlich. :-)
---
<p>Dass sich mit der Geburt des Kleinen einige Dinge &auml;ndern w&uuml;rden, war mir kopfm&auml;&szlig;ig schon klar. Ein Kind bedeutet Umstellung. Das h&ouml;rt man immer wieder.</p>
<p>Nun ist unsere kleine Fledermaus schon fast sieben Monate alt und ich konstatiere: ICH habe mich ver&auml;ndert. Ich bin entspannter geworden. Im Umgang mit mir, meiner Umwelt und auch meinen eigenen kleinen Schwierigkeiten.&nbsp;<span style="line-height: 1.714285714;font-size: 1rem">Ich finde das gut.</span></p>
<p>Auch unsere Alltagsstruktur hat sich ge&auml;ndert. Noch vor einem Jahr erschien es mir unm&ouml;glich vor halb neun in der Firma zu sein. Tats&auml;chlich bin ich nun regelm&auml;&szlig;ig einer der ersten im B&uuml;ro - und es gef&auml;llt mir.</p>
<p>Ich bin gl&uuml;cklich. Und ich bin zufrieden.</p>
