---
layout: post
status: publish
published: true
title: Meine Geschichte zum Jahresmotto der Jesus Freaks
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 730
wordpress_url: http://moerssl.net/?p=730
date: '2014-11-16 21:56:10 +0100'
date_gmt: '2014-11-16 20:56:10 +0100'
categories:
- holyday
tags: []
comments: []
---
<p>Wie viele andere <a title="Jesus Freaks" href="http://jesusfreaks.de" target="_blank">Jesus Freaks</a>&nbsp;hat auch das Jahresthema f&uuml;r mich eine wichtige Bedeutung. Meine Geschichte zu Neuland hat einen besonderen Charme. Aber lasst mich etwas ausholen.</p>
<p>Wir schreiben das Jahr 2012 und ich bin auf der Suche nach einer neuen Arbeitsstelle. In Bremen sollte sie sein. In der IT, Softwareentwicklung um genauer zu sein. Ich suche nach Stellen, schreibe Bewerbungen. Und ich werde eingeladen. Von kleinen inhabergef&uuml;hrten Agenturen bis zum Konzern ist vieles dabei. Eine Firma bleibt mir nachhaltig in Erinnerung.</p>
<p>Es war kurz nach dem Freakstock - Motto war "Himmelst&uuml;rmer und Bruchpiloten" - als ich das erste Mal Neuland betrat. Eine eCommerce Agentur in der Bremer &Uuml;berseestadt. Ich war begeistert. Tolle R&auml;ume, gute Ausstattung und ein Arbeiten, wie ich es mir vorgestellt habe. Das gelobte Land? Vielleicht.</p>
<p>Ich war aufgeregt, kam bei einigen Fragen des Vorstellungsgespr&auml;ches ins Schwimmen. Eine Woche sp&auml;ter erhielt ich die Absage. Man h&auml;tte sich f&uuml;r einen anderen Bewerber entschieden. Aus der Traum vom gelobten Land. Kein Neuland f&uuml;r mich.</p>
<p>Es war eine andere Firma, in der ich zu dieser Zeit eine Anstellung bekam. Ich lernte viel, arbeitete mit tollen Leuten zusammen. Ein paar Wochen nach dem Willo 2014 erwischte ich mich dabei, wie ich nach Stellenanzeigen Ausschau hielt. Ich st&ouml;berte ein wenig, wollte mein jetziges Gehalt auf den Pr&uuml;fstand stellen. An einen Wechsel dachte ich zu dieser Zeit nicht.</p>
<p>Mir fiel Neuland wieder ein. "W&auml;re schon lustig, in der Firma anzufangen.", dachte ich mir. Aber die Absage von 2012 pochte in meinen Erinnerungen. Ich schrieb keine Bewerbung. Stattdessen antworte ich auf einige Anfragen von Personalvermittlern. Oft war die Antwort gleich: "Ich m&ouml;chte in Bremen bleiben. Ich bin an einer Stelle in Hamburg/Berlin/M&uuml;nchen/Karlsruhe nicht interessiert."</p>
<p>Ich &uuml;berlegte hin und her. Wechseln, nicht wechseln. Meine Frau und ich entschieden uns dazu, nach dem Freakstock eine Entscheidung zu treffen und bis dahin die Sache zu bebeten und auch bebeten zu lassen.</p>
<p>Das Festival verstrich. Gott&nbsp;sprach anders als erwartet: Ein Personalvermittler schrieb mich f&uuml;r eine Stelle in Bremen an. Ich antwortete und wir telefonierten. Die Stelle f&uuml;r die er vermittelte: bei Neuland in der Bremer &Uuml;berseestadt. Wir tauschten Dokumente. Sp&auml;ter teilte mi der Vermittler mit, dass die Firma mich nicht sehen m&ouml;chte. Ich war geknickt, traurig. Das w&auml;re so toll gewesen. Wieder kein gelobtes (Neu)Land.</p>
<p>Einige Wochen sp&auml;ter hatte ich wieder Post bei XING. Eine Stelle in Bremen. Neuland. Wir telefonierten. Ich &uuml;berarbeitete die Dokumente und schickte sie der Personalvermittlerin. Und dann? Wochenlange Stille. Dann die Einladung zum Vorstellungsgespr&auml;ch. Ich jubelte.</p>
<p>Es war Anfang Oktober und ich wieder bei Neuland. Das Vorstellungsgespr&auml;ch war gut. Es kommt wohl auch nicht so oft vor, dass Bewerber wieder kommen. Wieder ging einige Zeit ins Land. Drei Wochen nach dem Gespr&auml;ch las ich in einer Email den Satz "Wir k&ouml;nnen uns die Zusammenarbeit mit dir gut vorstellen." Ein Telefonat sp&auml;ter war der Arbeitsvertrag auf dem Weg zu mir.</p>
<p>Da war sie. Die Zusage, auf die ich seit 2012 gewartet hatte. Ich habe den Arbeitsvertrag unterschrieben und werde Anfang 2015 den Arbeitgeber wechseln. Ich betrete Neuland.</p>
