---
layout: post
status: publish
published: true
title: Premiere - Wochenende in Bilder 29./30.11.
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 772
wordpress_url: http://moerssl.net/?p=748
date: '2014-12-01 00:16:24 +0100'
date_gmt: '2014-11-30 23:16:24 +0100'
categories:
- babydream
- weekends
tags: []
comments: []
---
<p>Die Liebste hat ja schon ein paar Mal teilgenommen und am Samstag morgen dachte ich mir, mach ich doch auch mal bei "Wochenende in Bildern" mit.</p>
<p>[caption id="attachment_745" align="alignleft" width="168"]<a href="http://blog.moerssl.net/img/2014/11/IMG_20141129_102104172.jpg"><img class="size-medium wp-image-745" src="http://blog.moerssl.net/img/2014/11/IMG_20141129_102104172-168x300.jpg" alt="Schl&auml;fchen" width="168" height="300" /></a> Schl&auml;fchen[/caption]</p>
<p>[caption id="attachment_744" align="alignright" width="168"]<img class="wp-image-744 size-medium" src="http://blog.moerssl.net/img/2014/11/IMG_20141129_103052058-168x300.jpg" alt="IMG_20141129_103052058" width="168" height="300" /> Fr&uuml;hst&uuml;ck mit Tablet[/caption]</p>
<p>Der Samstag ist bei uns der Tag, an dem die Liebste ausschlafen darf. Ich stehe morgens mit dem Kleinen auf und wenn er sein Vormittagsschl&auml;fchen h&auml;lt, habe ich ein wenig Zeit. Diesen Samstag ist es etwas anders. Ich hatte am Tag davor Weihnachtsfeier - Special Guest war &uuml;brigens Sascha Grammel. Von dem habe ich leider kein Foto f&uuml;r euch. Jedenfalls bin ich noch ein wenig m&uuml;de. Also tue ich es Kind, Frau und K&auml;tzchen gleich. Ich schlummer noch ein wenig.</p>
<p>Da der Prinz heute etwas l&auml;nger schl&auml;ft und mich das Hunger pisakt, mache ich es mir mit Fr&uuml;hst&uuml;ck und dem Tablet auf dem Sofa gem&uuml;tlich.</p>
<p>[caption id="attachment_743" align="aligncenter" width="168"]<a href="http://blog.moerssl.net/img/2014/11/IMG_20141129_111027378.jpg" target="_blank"><img class="wp-image-743 size-medium" src="http://blog.moerssl.net/img/2014/11/IMG_20141129_111027378-168x300.jpg" alt="IMG_20141129_111027378" width="168" height="300" /></a> Ditschen: Keks in Kaffee tauchen[/caption]</p>
<p>Zum zweiten morgendlichen Kaffee gesellte sich eine Kindheitserinnerung: Doppelschokokeks eingetunkt in den frischen warmen Kaffee. In Sachsen hei&szlig;t dieser Vorgang &uuml;brigens ditschen.</p>
<p>[caption id="attachment_742" align="aligncenter" width="300"]<a href="http://blog.moerssl.net/img/2014/11/IMG_20141129_134311320_HDR.jpg"><img class="wp-image-742 size-medium" src="http://blog.moerssl.net/img/2014/11/IMG_20141129_134311320_HDR-300x168.jpg" alt="IMG_20141129_134311320_HDR" width="300" height="168" /></a> Fr&uuml;hst&uuml;ck Nr. "Ach keine Ahnung"[/caption]</p>
<p>Der Nachmittag wird waghalsig. Wir sind auf der Suche nach einem Geburtstagsgeschenk. Der Plan lautet: Toys'R'Us und Weser Park. An einem Samstag. Im Advent. Beim B&auml;cker im Park gibts erstmal: Fr&uuml;hst&uuml;ck. Mettbr&ouml;tchen f&uuml;r uns und R&uuml;herei f&uuml;r den kleinen. Den Teller futtert er &uuml;brigens fast komplett auf.</p>
<p style="padding-left: 30px">So langsam beschleicht mich der Verdacht, dass es mir keiner glaubt, dass ich keinen Instagramm-Account habe.</p></p>
<p>[caption id="attachment_741" align="aligncenter" width="168"]<a href="http://blog.moerssl.net/img/2014/11/IMG_20141129_143311731.jpg"><img class="wp-image-741 size-medium" src="http://blog.moerssl.net/img/2014/11/IMG_20141129_143311731-168x300.jpg" alt="IMG_20141129_143311731" width="168" height="300" /></a> Lord Helmchen[/caption]</p>
<p>Die Jagd nach dem Geschenk bleibt erfolglos. Die Schlange an der Kasse des Spielwarengesch&auml;fts zw&auml;ngt sich fast durch den ganzen Laden. "Abfallprodukt" des Nachmittagsausflugs ist der Fahrradhelm, den ich sp&auml;testens ab Januar auf dem Weg zur Arbeit tragen werde.</p>
<p>[caption id="attachment_740" align="aligncenter" width="300"]<a href="http://blog.moerssl.net/img/2014/11/IMG_20141129_165604407.jpg"><img class="wp-image-740 size-medium" src="http://blog.moerssl.net/img/2014/11/IMG_20141129_165604407-300x168.jpg" alt="IMG_20141129_165604407" width="300" height="168" /></a> In der K&auml;lte zum G&ouml;tterboten[/caption]</p>
<p>Wieder zu hause angekommen, m&uuml;ssen noch ein paar Dinge erledigt werden. Retoure hat Sehnsucht nach ihrem Verk&auml;ufer. Also nix wie auf den Weg gebracht.</p>
<p>[caption id="attachment_738" align="aligncenter" width="300"]<a href="http://blog.moerssl.net/img/2014/11/IMG_20141130_111938848.jpg"><img class="wp-image-738 size-medium" src="http://blog.moerssl.net/img/2014/11/IMG_20141130_111938848-300x168.jpg" alt="IMG_20141130_111938848" width="300" height="168" /></a> Zehn kleine Fische...[/caption]</p>
<p>Zum Abend bekommen wir noch ungeplanten Besuch vom Patenonkel. Also essen zu viert. Es gibt asiatisch. Die Sojafische sind &Uuml;berlebende der letzten Sushibestellungen. Nach dem Abendritual bleibt die Fotofunktion des Handies ungenutzt. Ich begeb mich fr&uuml;h ins Bett und&nbsp;so nimmt der Samstag sein Ende.</p>
<p>[caption id="attachment_739" align="aligncenter" width="168"]<a href="http://blog.moerssl.net/img/2014/11/IMG_20141130_111902977.jpg"><img class="wp-image-739 size-medium" src="http://blog.moerssl.net/img/2014/11/IMG_20141130_111902977-168x300.jpg" alt="IMG_20141130_111902977" width="168" height="300" /></a> Bis in die Puppen[/caption]</p>
<p>Sonntags darf ich ausschlafen. Dieses mal allerdings l&auml;nger als sonst. Kurz nach elf zeigt die Uhr, als ich ungl&auml;ubig an die Wand schaue.</p>
<p>[caption id="attachment_734" align="aligncenter" width="300"]<a href="http://blog.moerssl.net/img/2014/11/kuendigung_mietvertrag.png"><img class="wp-image-734 size-medium" src="http://blog.moerssl.net/img/2014/11/kuendigung_mietvertrag-300x80.png" alt="Papierkrieg" width="300" height="80" /></a> Papierkrieg[/caption]</p>
<p>Wir bald umziehen, aber der Mietvertrag ist noch nicht gek&uuml;ndigt. Das K&uuml;ndigungsschreiben setze ich w&auml;hrend des Mittagsschl&auml;fchens des Prinzen auf.</p>
<p>[caption id="attachment_737" align="aligncenter" width="300"]<a href="http://blog.moerssl.net/img/2014/11/IMG_20141130_140839804.jpg"><img class="wp-image-737 size-medium" src="http://blog.moerssl.net/img/2014/11/IMG_20141130_140839804-300x168.jpg" alt="IMG_20141130_140839804" width="300" height="168" /></a> Parkplatz, extra f&uuml;r uns[/caption]</p>
<p>Am letzten Sonntag des Monats sieht der Gottesdienst unserer <a title="Jesus Freaks Bremen" href="http://jesusfreaks-bremen.de" target="_blank">Gemeinde</a> etwas anders aus. Es wird gemeinsam gegessen. Und seit diesem Sonntag geht es nicht erst um 16 Uhr los, sondern schon um 14h. Sp&auml;ter stellt sich dann heraus, dass diese Uhrzeit etwas unpraktisch ist. Der Prinz ist recht fr&uuml;h m&uuml;de. Halb sechs schl&auml;ft er in seiner Wiege.</p>
<p>[caption id="attachment_736" align="aligncenter" width="300"]<a href="http://blog.moerssl.net/img/2014/11/IMG_20141130_174641543.jpg"><img class="wp-image-736 size-medium" src="http://blog.moerssl.net/img/2014/11/IMG_20141130_174641543-300x168.jpg" alt="1. Advent" width="300" height="168" /></a> 1. Advent[/caption]</p>
<p>Der vermeintliche Feierabend wird von einem Adventskranz und koffeinfreiem Kaffee eingeleitet.</p>
<p><a href="http://blog.moerssl.net/img/2014/12/l8.png"><img class="aligncenter wp-image-753 size-full" src="http://blog.moerssl.net/img/2014/12/l8.png" alt="l8" width="141" height="45" /></a></p>
<p>&nbsp;</p>
<p>Gegen acht wird der Prinz wieder wach und bleibt es bis halb elf. Entsprechend sp&auml;t wird es f&uuml;r uns. Und das Ende meines <a href="http://geborgen-wachsen.de/2014/11/30/wochenende-in-bildern-29-30-november-2014/" target="_blank">Wochenendes in Bildern</a>.</p>
