---
layout: post
status: publish
published: true
title: 'Gedanken &uuml;ber Gedanken &uuml;ber #Freital'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 813
wordpress_url: http://dadvelopment.de/?p=813
date: '2015-07-07 20:58:22 +0200'
date_gmt: '2015-07-07 20:58:22 +0200'
categories:
- runningthougths
tags: []
comments: []
---
<p>Viele Sachen verstopfen mir in den letzten Tagen den Kopf. Die Weiterentwicklung von der Mitarbeiteradmin vom Freakstock ist eine Sache. Eine andere, dass wahrscheinlich bald das Gespr&auml;ch zum Ende der Probezeit ansteht. Ja, ich bin schon fast sechs Monate in der neuen Firma. Angst, dass ich nicht &uuml;benrommen werde, habe ich nicht. Aber solche offiziellen Sachen belasten mich halt recht h&auml;ufig.</p>
<p>Und dann, ja dann ist da noch #Freital. Die Stadt, in der ich geboren bin. Die Stadt, in der sich Leute gegen ein Fl&uuml;chtlingsheim wehren. Die Stadt.. Nun ja, die Stadt, zu der mir aktuell die Worte fehlen.</p>
<p>Ich f&uuml;hle mich so ohnm&auml;chtig, wenn ich die Sachen lesen, die da unter anderem gestern auf der B&uuml;rgerversammlung von statten gingen. Dass da von Sicherheitskr&auml;ften Grundrechte mit F&uuml;&szlig;en getreten werden. Dass Menschen, die sich f&uuml;r die Gefl&uuml;chteten einsetzen, um ihre Gesundheit f&uuml;rchten m&uuml;ssen. Es will mir nicht in den Kopf, warum man so voller Hass auf Menschen sein kann, die wahrscheinlich mehr als sie hatten, verloren haben. "Wo sind denn die Familien? Das sind ja nur M&auml;nner, die hier ankommen!", fragen einige. Dass die Frauen und die Kinder w&auml;hrend der Flucht ums Leben gekommen sind, darauf kommt man nicht.</p>
<p>Und dann schauen Menschen weg. "Wenn es den ganzen Krieg nicht g&auml;be, h&auml;tten wir die nicht hier.", habe ich auch schon geh&ouml;rt.</p>
<p>Jede einzelne Nachricht m&uuml;llt mir den Kopf zu. Rei&szlig;t mich runter. Freital. Der Ort, der in meinem Pass als Geburtsort steht. Ein Ort, mit dem ich aktuell nix zu tun haben m&ouml;chte. Weil ich nicht mit diesen Chaoten auf eine Stufe gestellt werden will. Und es sind auch nicht alles Deppen in Freital, das darf man auch nicht vergessen.</p>
<p>Wenn wir nun anfangen, alle Sachsen / Freitaler &uuml;ber einen Kamm zu sch&auml;ren und die ganze Region f&uuml;r dumm, rechts und rassistisch zu verurteilen. Tsja, dann sind wir keinen Deut besser. Verallgemeinerungen aufgrund von Wohn- oder Geburtsort. Bringen keinem was.</p>
