---
layout: post
status: publish
published: true
title: Eine kleine Geschichte &uuml;ber Alltagsrassismus
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 815
wordpress_url: http://dadvelopment.de/?p=815
date: '2015-07-10 20:32:54 +0200'
date_gmt: '2015-07-10 20:32:54 +0200'
categories:
- dailylesson
- runningthougths
tags:
- rassismus
- gelesen
- alltag
comments: []
---
<p>Letztes Jahr las ich das <a href="http://areyouoverrated.com/">Overrated</a> von Eugene Cho. Eugene gr&uuml;ndete die <a href="http://www.onedayswages.org/">Plattform OneDaysWages</a> und leitet eine Gemeinde in Seattle. Ich kann jedem das Buch nur empfehlen, der sich nicht davor scheut auch Englisch zu lesen. Es hat mich stark zum Nachdenken animiert. Und ich werde es auch nochmal lesen.</p>
<h4>Ein Auszug aus dem Buch</h4></p>
<p>Eine Geschichte aus dem Buch l&auml;sst mich seit dem Lesen nicht mehr los. Eugene erz&auml;hlt von einem Gespr&auml;ch mit einem Gemeindemitglied. Um genauer zu sein mit einem jungen Afroamerikaner. Einer der wenigen in der Gemeinde. Er erz&auml;hlt folgende Geschichte, die ich mit freundlicher Genehmigung ins Deutsche &uuml;bersetzen darf:</p>
<h4>Der Einzelfall des verd&auml;chtigen, be&auml;ngstigenden Schwarzen Mannes?</h4></p>
<blockquote><p>Pastor Eugene, Sie sprechen oft &uuml;ber Ungerechtigkeit, Rassismus und Vorurteile. Danke, dass Sie ihre Geschichte teilen. Ich m&ouml;chte auch meine Geschichte gern mit Ihnen teilen. Fakt ist, ich f&uuml;hle meine 'Andersartigkeit' jeden einzelnen Tag. Jeden einzelnen Tag.</p>
<p>Sie wissen ja, ich steige jeden Morgen im Norden der Stadt in den Bus um Richtung S&uuml;den ins Zentrum zur Arbeit zu fahren. Wie Sie sich vorstellen k&ouml;nnen, wird der Bus nach und nach voller. Um ehrlich zu sein, er ist &uuml;berf&uuml;llt. Aber wenn ich in den Bus steige, bin ich einer der ersten zehn Passagiere und jeder von uns kann sich einen Sitzplatz aussuchen. Und ja, wir alle sitzen.. allein. Aber auf dem Weg zum Halt zu Halt kann ich etwas beobachten. Die Menschen suchen nach Sitzpl&auml;tzen und jeden einzelnen Tag ist jeder Sitzplatz besetzt.. Aber an fast jedem einzelnen Tag.. ist ein Sitz, der als letztes besetzt wird. Sie k&ouml;nnen sich vorstellen, welcher Sitz das ist, oder? Ja, es ist der Sitz neben mir. Dieser Platz wird als letztes besetzt. An fast jedem einzelnen Tag.</p>
<p>Wissen Sie warum? Wissen Sie warum? .. Es ist weil ich ein dunkelh&auml;utiger schwarzer Mann bin .. und die Leute denken, dass ich gef&auml;hrlich bin. Damit beginne ich meinen Tag. Fast jeden Tag. Das ist meine Geschichte.</blockquote></p>
<p>Als ich diese Zeilen das erste Mal las, war ich in einer &auml;hnlichen Arbeitssituation wie der junge Mann, der seine Geschichte teilt. Auch ich wohnte am Anfang einer Stra&szlig;enbahnlinie. Und zeitweise konnte auch ich mir den Sitzplatz aussuchen. Und auch ich sa&szlig; gr&ouml;&szlig;tenteils allein. Und auch in Bremen konnte ich das Ph&auml;nomen beobachten, dass die Sitzpl&auml;tze neben den "Wei&szlig;en" bevorzugter in Anspruch genommen wurden.</p>
<p>Das hat mich zum Nachdenken gebracht. Rassismus beginnt ganz klein. Bei mir. In meinem Handeln. Oder Nichthandeln. Auch in der Stra&szlig;enbahn.</p>
<hr />
<p>Der Auszug ist aus <a href="http://areyouoverrated.com/">Overrated</a> von Eugene Cho, Seite 209</p>
