---
layout: post
status: publish
published: true
title: 'Liebe Politiker: Arsch offen, oder was?'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 852
wordpress_url: http://dadvelopment.de/?p=852
date: '2015-07-21 19:33:09 +0200'
date_gmt: '2015-07-21 19:33:09 +0200'
categories:
- Uncategorized
- newstime
- runningthougths
tags:
- Arbeit
- Luft gemacht
- Politik
- Familie
comments: []
---
<p>Werte Politiker (in Regierungsverantwortung). Sagt mal, merkt ihr euch noch? Ja, heute wurde das Betreuungsgeld gekippt, weil es nicht Sache des Bundes ist, sich darum zu k&uuml;mmern. Ja, das mag verfassungswidrig sein. Sei es drum. Es gibt einige Aussagen, die mich beim Thema Betreuungsgeld tierisch ankotzen. Zum Beispiel, dass ja viele Ausl&auml;nder das Geld beziehen w&uuml;rden. Und dass das ja schlecht w&auml;re, wenn die nicht in die Kita gehen und so ja kein Deutsch lernen. Und sowieso sind ja alle, die das Betreuungsgeld beziehen grunds&auml;tzlich zu doof f&uuml;r alles und halten auch ihre Kinder noch von der Bildung fern. Ach, und au&szlig;erdem soll das Geld ja lieber in die Kitas gesteckt werden.</p>
<p>Genau. Ihr entzieht uns als Eltern jegliche Kompetenz. Das neue Superduperfamilienbild ist ja Frau und Mann gehen beide arbeiten, machen fett Karriere, pr&uuml;geln das Wirtschaftswachstum durch die Decke und in der Zwischenzeit k&uuml;mmern sich Fremde um die Blagen. Und das ganze nennt man dann noch nett <em>"Vereinbarkeit von Karriere und Beruf."</em> Unterm Strich hei&szlig;t das doch nix anders, als dass die paar arbeitsf&auml;higen Menschen, die es in dieser <em>"Republik"</em> noch gibt, in den Arbeitsmarkt gesteckt werden. Die f&uuml;hlen sich dann super, weil sie ja gut Geld scheffeln. In der Zwischenzeit werden aus den Kindern in den DEUTSCHEN Kitas gute DEUTSCHE Arbeiter. Und aus den Ausl&auml;ndern - die ja ohne die guten DEUTSCHEN Kitas total d&auml;mlich und parallelgesellschaftlich w&auml;ren - aus denen werden auch gut DEUTSCHE. Dann wird das so, wie damals in der DDR war. Da gabs Vollbesch&auml;ftigung, Total&uuml;berwachung und gleich geschaltete Apparate, in denen das Leben zu funktionieren hat. Der Staat kontrolliert alles und die Deppen arbeiten und freuen sich.</p>
<p>Noch was. Was f&auml;llt euch eigentlich ein, uns Eltern die Kompetenz abzusprechen, f&uuml;r unsere Kinder da zu sein. Ihr feiert das Urteil als Fortschritt f&uuml;r ein tolles neues Familienbild? F&uuml;r mich ist es mehr als ein Armutszeugnis. Ihr wollt wirklich das beste f&uuml;r die Kinder und f&uuml;r die Familien? Dann setzt euch verdammt noch mal daf&uuml;r ein, dass die Eltern mehr Zeit mit ihren Kindern verbringen k&ouml;nnen! Und f&uuml;r uns bedeutet das Urteil wohl das genaue Gegenteil. Danke.</p>
<p>Und wo ich grade beim Absprechen von Kompetenz bin.. Hackts eigentlich, dass ihr meiner Frau absprechen wollt, ein Kind bekommen zu k&ouml;nnen? Wie und wo sie m&ouml;chte? Nein, das muss alles geregelt in guten DEUTSCHEN Kliniken passieren. Kann ja nicht sein, dass die Eltern schon zur Geburt eine gesunde Beziehung zu ihrem Kind aufbauen. Nein, dass darf nicht sein. Dann wollen die ja am Ende noch das Kind zu hause betreuen, nicht dem Arbeitsmarkt zur Verf&uuml;gung stehen und das Kind nicht in die guten DEUTSCHEN Kitas geben. Das passt ja nicht in das tolle neue Familienbild. Ach, und in die Kontrolle und die &Uuml;berwachung.</p>
<p>Das nennt ihr Familienpolitik? Ein Schei&szlig; nenn ich das. Ihr wollt was f&uuml;r die Familien tun? Ihr wollt gesunde Kinder? Dann sorgt daf&uuml;r, dass freiberufliche Hebammen ohne diese exorbitant hohe Haftpflichtversicherung weiter praktizieren k&ouml;nnen. Sorgt daf&uuml;r, dass alle Elternteile genug Zeit mit ihren Kindern und auch miteinander verbringen k&ouml;nnen. Sorgt daf&uuml;r, dass die Leistung, die M&uuml;tter und V&auml;ter erbringen gesellschaftlich anerkannt wird.</p>
<p>Verdammt noch mal!</p>
