---
layout: post
status: publish
published: true
title: Rot ist das neue Blau
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 761
wordpress_url: http://moerssl.net/?p=761
date: '2015-04-23 21:25:50 +0200'
date_gmt: '2015-04-23 19:25:50 +0200'
categories:
- runningthougths
tags: []
comments: []
---
<p>Es gibt sie. Die geschlechtsspezifischen Farben. Blau ist f&uuml;r Jungs, pink ist f&uuml;r M&auml;dchen.</p>
<p>Und ich finde diese Aufteilung doof und habe deswegen bei uns zu hause ein kleines Experiment gestartet. Ich habe nun eine rote Zahnb&uuml;rste, meine Frau eine blaue. Ziel des Experiments war es die Konditionierung auf die Geschlechtsfarben aufzubrechen bzw. fest zu stellen, ob ich sie mir nur einbilde.</p>
<p>Das ist mitunter recht schwierig. Manchmal muss ich bewusst drauf achten, nicht zur roten B&uuml;rste zu greifen. Schon seltsam, wie sehr ich auf diese Farben f&uuml;r Weiblein und M&auml;nnlein gepolt bin. Die Konditionierung gibt es also!</p>
<p>&nbsp;</p>
<p>Edit: Und da hat sie schon zugeschlagen. Ich muss nat&uuml;rlich darauf achten, nicht zur BLAUEN Zahnb&uuml;rste zu greifen. D&uuml;d&uuml;mm.</p>
<p>&nbsp;</p>
