---
layout: post
status: publish
published: true
title: Wenn ich mich ob meiner Herkunft sch&auml;me
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 809
wordpress_url: http://dadvelopment.de/?p=809
date: '2015-06-29 19:52:41 +0200'
date_gmt: '2015-06-29 19:52:41 +0200'
categories:
- bodywork
tags:
- braindump
- freital
- family
comments: []
---
<p>Ich habe die Nachrichten die letzten Wochen aus gelassen und einiges an Weltgeschehen nur per Twitter und co mit bekommen. Irgendwann letzte Woche tauchte #Freital bei mir in der Timeline auf. Freital, der Ort in dem mein e Gro&szlig;eltern wohnen. Der Ort, in dem ich mein Abi gemacht habe. Der Ort, in dem inzwischen meine Mutter wohnt. Und ich war schockiert, was ich beim Verfolgen des Hashtags lesen musste.</p>
<p>Da demonstrieren Menschen gegen ein Fl&uuml;chtlingsheim. T&auml;glich werden die Proteste mehr. Und ich bekomme jeden Tag schlechtere Laune.</p>
<p>Ich kann es beim besten Willen nicht verstehen, was in den Leuten vorgeht, die da "Wir wollen euch h&auml;ngen sehen" skandieren. Auf Facebook habe ich gelesen, dass sich Leute ein Bild vor Ort machen wollten, um nicht alles aus den Nachrichten zu glauben. Sie trafen auf Volleyball spielende Asylbewerber und Asylbef&uuml;rworter. Eine Satz sp&auml;ter schwenkte man auf die vor Angst zitternden Anwohner. Und ich frage mich: Wovor habt ihr Angst? Vorm Volleyball spielen? Was h&auml;lt euch davon ab, &uuml;ber die Stra&szlig;e zu gehen und euch ein Bild vor Ort zu machen.</p>
<p>Man kann mir nun vorhalten, dass ich mich bisher weder bei meiner Mutter, bei meinem Onkel oder bei meinen Gro&szlig;eltern gemeldet habe. Aber ganz ehrlich? Ich habe Angst, dass sich meine Bef&uuml;rchtungen best&auml;tigen und auch sie zu den Gegnern geh&ouml;ren. Ich habe Angst, von meiner Familie rechte Stammtischparolen zu h&ouml;ren. Ich habe Angst davor, dass bei mir ein Fluchtreflex einsetzt und ich den Kontakt zu meiner Familie abbreche.</p>
<p>Auf Facebook durfte ich bereits einige Kommentare von meiner Schwester lesen. Ich hatte mich &uuml;ber die Demos in Freital und das brennende Fl&uuml;chtlingsheim in Mei&szlig;en aufgeregt. "Fr&uuml;her w&auml;re die das am Ges&auml;&szlig; vorbeigegangen. Du hast dich schon sehr ver&auml;ndert." Eine Aufforderung zum Wegschauen? Wie so viele damals in den Endzwanzigern? Ich k&ouml;nnte kotzen dabei.</p>
<p>Was mich so derma&szlig;en aufregt ist diese gesellschaftstaugliche rechte Grundstimmung, die in Sachsen herrscht. "Da sollten Fl&uuml;chtlinge irgendwann einziehen, da waren noch keine drin. Es ist ein Haus abgebrannt, mehr ist nicht passiert." So oder so &auml;hnlich raunt es aus Richtung der PEGIDA. Und aus der CDU. Und von der Freiwilligen Feuerwehr in Mei&szlig;en.</p>
<p>Ganz entwirrt ist mein Kopf noch nicht, aber mir gehen die Worte aus. Will weinen. So wie heute Nachmittag. Ende der Durchsage.</p>
