---
layout: post
status: publish
published: true
title: Total praktisch
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 846
wordpress_url: http://dadvelopment.de/?p=846
date: '2015-07-14 20:02:31 +0200'
date_gmt: '2015-07-14 20:02:31 +0200'
categories:
- allday
tags:
- alltag
- Regen
- Fahrrad
- Arbeit
comments:
- id: 403
  author: Frau Vorgarten
  author_email: julia.pflaeging@gmx.de
  author_url: http://die-beste-juppi.blogspot.de/
  date: '2016-02-04 07:59:18 +0100'
  date_gmt: '2016-02-04 07:59:18 +0100'
  content: "Hallo M&ouml;r&szlig;l!\r\nSuchst du immer noch nach einer Regenhose?\r\nIch
    bin ja mal in Bremen fahrradgefahren (und mehrfach fast &uuml;berfahren worden
    -- von anderen Zweiradaktivisten, weil ich zu defensiv und zu langsam fahre und
    lieber mal nach den Autos sehe, statt mir die Vorfahrt einfach zu nehmen...).
    Das ist was anderes als hier im Bergischen Land, wo nur Idealisten radfahren,
    oder Freizeitler. Der bergische Autofahrer rechnet eher nicht damit, dass der
    Radfahrer vor oder neben ihm auch Verkehrsteilnehmer ist und w&uuml;rde am liebsten
    alle Radfahrer auf den (zugeparkten und mit M&uuml;lltonnen verstellten) B&uuml;rgersteig
    verbannen. \r\nIch jedenfalls habe mir eine neonorangene Regenhose gekauft. Damit
    ich sichtbar bin.\r\nIch erwarb sie im Laden f&uuml;r Arbeitskleidung. Sie ist
    atmungsaktiv und waschbar bei 30 Grad und ich w&uuml;rde sie wieder nehmen, br&auml;uchte
    ich eine neue.\r\nIch wei&szlig; allerdings nicht mehr, was sie gekostet hat."
---
<p>so eine Regenhose. Dachte ich mit gestern wieder, als ich im str&ouml;menden Regen so eben noch unter einer Br&uuml;cke Zuflucht finden konnte.</p>
<p>Da ich ja mit dem Rad zur Arbeit fahre, ist die Hose eine der n&auml;chsten Anschaffungen.</p>
<p>Wie sind wie Erfahrungen? Habt ihr Tipps, wo ich am besten zuschlagen kann?</p>
<p>&nbsp;</p>
