---
layout: post
status: publish
published: true
title: Ich werde 30 und ihr k&ouml;nnt helfen
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 863
wordpress_url: http://dadvelopment.de/?p=863
date: '2015-09-24 21:30:55 +0200'
date_gmt: '2015-09-24 21:30:55 +0200'
categories:
- heartbeat
tags:
- refugees
- birthday
- help
comments: []
---
<p>Vielleicht wei&szlig;t du es nicht, aber ich komme aus Freital, dass in den vergangenen Monaten immer wieder wegen rassistischen Auschreitungen in den Medien war. Das Wort "Fl&uuml;chtlingskrise" d&uuml;ftest du inzwischen schon einmal geh&ouml;rt haben.</p>
<p>Viele Menschen reisen &uuml;ber gef&auml;hrliche und dubiose Wege nach Europa, schlicht um ihr Leben zu retten.</p>
<p>Ich werde am 14. November 30 Jahre. Normalerweise feiert man das ja gro&szlig;. Ein runder Geburtstag. Nach Feiern ist mir dieses Jahr aber weniger zu Mute. Ich m&ouml;chte meinen Geburtstag nutzen, um den Menschen vor Ort zu helfen.</p>
<p>Ich habe bei <a href="http://www.onedayswages.org/birthday/cause/dadvelopment" target="_blank">onedayswages.org</a> eine Kampagne gestartet, um den Menschen in Syrien direkt vor Ort zu helfen. Ich w&uuml;rde mich freuen, wenn ihr die Kampagne mit einer kleinen Spende unterst&uuml;tzen w&uuml;rdet.</p>
<p>Wenn ihr genau wissen wollt, wof&uuml;r ihr spendet: Es geht an den <a href="http://www.onedayswages.org/donate/org/iraq-syria-relief-fund" target="_blank">Iraq and Syria Relief Fund</a>&nbsp;bei One Days Wages.</p>
