---
layout: post
status: publish
published: true
title: Zeit sparen - Automatisierung im Alltag
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 799
wordpress_url: http://moerssl.net/?p=799
date: '2015-06-17 06:01:01 +0200'
date_gmt: '2015-06-17 04:01:01 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Ich bin total fasziniert von einem Feature unserer Kaffeemaschine. Die schaltet sich nach einer Zeit von selbst aus. Da wir eine Thermoskanne dazu haben ist das sehr praktisch.</p>
<p>[caption id="attachment_800" align="alignleft" width="300"]<a href="http://moerssl.net/wp-content/uploads/2015/06/IMG_20150617_054520109.jpg"><img class="size-medium wp-image-800" src="http://moerssl.net/wp-content/uploads/2015/06/IMG_20150617_054520109-300x169.jpg" alt="Aufstehen und der Kaffee ist fertig." width="300" height="169" /></a> Aufstehen und der Kaffee ist fertig.[/caption]</p>
<p>Nie mehr brauchen wir uns im Auto fragen, ob die Kaffeemaschine aus ist. Schon so eine geile Sache.</p>
<p>Gestern kaufte die Liebste noch eine Zeitschaltuhr. Ein sehr tolles Team.</p>
<p>Nun k&ouml;nnen wir morgens etwas Zeit sparen. Der Ablauf wird entspannter. Ich freu mich.</p>
<p>&nbsp;</p>
