---
layout: post
status: publish
published: true
title: Wochenende in Bildern 13. und 14. Juni 2015
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 794
wordpress_url: http://moerssl.net/?p=794
date: '2015-06-14 21:38:09 +0200'
date_gmt: '2015-06-14 19:38:09 +0200'
categories:
- newstime
tags: []
comments: []
---
<p>Dieses Wochenende wollte ich auch mal wieder Bilder sammeln und euch an den freien Tagen der Wochen teil haben lassen. Und hier ist es, mein <a href="http://geborgen-wachsen.de/2015/06/14/wochenende-in-bildern-13-14-juni-2015/">Wochenende in Bildern</a>.</p>
<p>Der Samstag begann recht m&uuml;de. Zu m&uuml;de f&uuml;r Bilder. Ein Kindergeburtstag und ein Grilltreffen mit den Kollegen stand an. Die Liebste ging eher zum Geburtstag, um noch Vorbereitungen zu helfen. Der Prinz und ich hatten also einen Vormittag f&uuml;r uns. Und hier steigen wir mit den Bildern ein. Klickt einfach auf die Bilder, das Wochenende steht in der Galeriebeschreibung.</p>
<p>[gallery ids="792,791,790,789,788,787,786,785,784,783,782,781,780,779"]</p>
<p>Wir gehen zusammen mit dem Patenonkel des Sohnes und einer Freundin auf den Mittelaltermarkt. Kurz nach der Dudelsackeinlage verabschiedet sich mein Handyakku. Also keine Bilder mehr.</p>
<p>Der Nachmittag ist sehr sch&ouml;n. Der Markt ist klein und nicht allzu sehr &uuml;berlaufen.</p>
<p>Die Abreise wird noch durch einen aus zu bauenden Kindersitz gew&uuml;rzt. Eigentlich ist unser Reboarder fest verbaut. Der Print schl&auml;ft im Auto ein und wird - zu hause angekommen - von der Liebsten ins Bett gebracht.</p>
<p>Zusammen mit dem Patenonkel widmen wir uns noch einer DVD. Es l&auml;uft Iron Sky. Stranger Film, der aber viel Wahrheit enth&auml;lt.</p>
<p>Wir hatten ein sch&ouml;nes Wochenende mit vielen tollen Leuten.&nbsp;Wer &uuml;brigens noch mehr tolle Grillsachen sehen m&ouml;chte, schaue mal auf <a href="https://vomrost.de" target="_blank">vomrost.de</a> vorbei.</p>
