---
layout: post
status: publish
published: true
title: Aus alt mach neu
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 774
wordpress_url: http://moerssl.net/?p=774
date: '2015-06-08 13:10:35 +0200'
date_gmt: '2015-06-08 11:10:35 +0200'
categories:
- heartbeat
tags: []
comments: []
---
<p>Als ich wieder mit dem Bloggen anfing, versteckte ich die alten Beitr&auml;ge aus meinem vorherigen "Bloggerleben".</p>
<p>Ich hab das nun mal ge&auml;ndert und die alten Beitr&auml;ge aus dem Keller geholt. Ich war sehr erstaunt, als ich eben ein paar S&auml;tze aus dem <a href="http://moerssl.net/2006/03/02/des-morsls-blog/">ersten Blogpost</a>&nbsp;vom 2. M&auml;rz 2006&nbsp;las.</p>
<blockquote><p>ich bin 20 Jahre alt, bekennender Christ, komme aus Sachsen, wohne seit nunmehr 7 monaten in bremen und geh&ouml;re zu den da ans&auml;ssigen jesusfreaks.</blockquote><br />
20 bin ich nicht mehr, Christ aber schon. Urspr&uuml;nglich komme ich auch immer noch aus Sachsen. Bremen kennt mich nun mit einer kurzen Unterbrechung seit fast 10 Jahren und zu den Freaks geh&ouml;re ich auch noch.</p>
