---
layout: post
status: publish
published: true
title: Blogumzug
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 802
wordpress_url: http://moerssl.net/?p=802
date: '2015-06-20 10:57:57 +0200'
date_gmt: '2015-06-20 10:57:57 +0200'
categories:
- newstime
tags:
- wordpress
- news
- einfach
comments: []
---
<p>Heimlich still und leise habe ich letzte Woche den Blog umgezogen. Da der Blog hier nicht die einzige Installation von Wordpress ist, die ich habe.</p>
<p>Einige Blogs laufen bereits auf einer Multisite Installation, darunter z.B. auch <a href="www.agilevolunteer.com">mein Technikblog</a>. Geplant hatte ich den Umzug dieses Blogs auf die Multiinstanz schon l&auml;nger. Nun ja, und nun habe ich es endlich mal gemacht. F&uuml;r mich ist es eine Erleichterung, um nicht mehrere Installationen aktuell halten zu m&uuml;ssen und auch die Backups gehen so einfacher.</p>
<p>Genug Technikkram f&uuml;r heute.</p>
<p>Sch&ouml;nes Wochenende.</p>
