---
layout: post
status: publish
published: true
title: Wochenende in Bildern - 11. / 12. Juli 2015
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 838
wordpress_url: http://dadvelopment.de/?p=838
date: '2015-07-12 19:24:02 +0200'
date_gmt: '2015-07-12 19:24:02 +0200'
categories:
- familystory
tags:
- daddy
- family
- alltag
- wib
comments: []
---
<p>Dieses Wochenende ist wieder bebildert worden. Die gute <a href="http://geborgen-wachsen.de/2015/07/12/wochenende-in-bildern-11-12-juli-2015/">Frau Mierau</a> sammelt auch dieses Mal wieder Wochenenden in Bildern. And here we go again.</p>
<p>Beim Artikelbild habe ich etwas gecheatet. Das ist eigentlich vom Freitag. Aber "Laugh" und Gitarre haben wir dieses Wochenende sehr oft gespielt. <3.</p>
<p>Unser Samstag beginnt wie fast jede Woche mit einer M&auml;nnerrunde. Der Kleine und ich stehen auf und machen uns auf bilden wieder #TeamBr&ouml;tchen. Es geht erst Richtung B&auml;cker - mit einem kleinen Zwischenstop an der Bushaltestelle.</p>
<p><a href="/img/2015/07/IMG_20150711_084949728.jpg"><img src="/img/2015/07/IMG_20150711_084949728-300x169.jpg" alt="TeamBr&ouml;tchen macht Pause" /></a></p>
<p>Meistens wenn wir vom B&auml;cker und vom Fleischer wieder kommen, dann ist der Prinz schon satt. Br&ouml;tchen und Wurst werden abgestaubt. Heute pr&auml;sentiert euch TheLittleOne seine Beute.</p>
<p><a href="/img/2015/07/IMG_20150711_090248.jpg"><img src="/img/2015/07/IMG_20150711_090248-169x300.jpg" alt="IMG_20150711_090248" /></a></p>
<p>Wieder zu Hause angekommen, decken wir den Tisch und wecken die Liebste. Dann gibts Kaffee.</p>
<p><a href="/img/2015/07/IMG_20150711_095839364.jpg"><img src="/img/2015/07/IMG_20150711_095839364-300x169.jpg" alt="IMG_20150711_095839364" /></a></p>
<p>Unseren Pflanzen haben wir Namen gegeben. Die hier abgebildete hei&szlig;t "Fr&auml;ulein Flora". Fr&auml;ulein Flora widmete sich am Samstag Morgen dem Protest und wollte aufmerksam machen, dass sie gern wieder gegossen werden m&ouml;chte. Also st&uuml;rzte sie sich todesmutig vom Expedit gen Fu&szlig;boden.</p>
<p><a href="/img/2015/07/IMG_20150711_101819276.jpg"><img src="/img/2015/07/IMG_20150711_101819276-300x169.jpg" alt="IMG_20150711_101819276" /></a></p>
<p>Ein Rest Erde bleibt liegen. Der Kleine macht sich auf, holt Schaufel und Besen. Und kehrt den Rest zusammen und bringt ihn zum M&uuml;ll. Total cool. :D</p>
<p>Gegen Mittag macht sich die Liebste auf. Sie ist zum Einkaufen verabredet. Stoffe soll es geben. Der Prinz und ich bleiben zu Hause und Baden. Nach dem Baden ist er so m&uuml;de, dass er schlafen gehen m&ouml;chte. Kurze Zeit sp&auml;ter schl&auml;ft er auch.</p>
<p><a href="/img/2015/07/IMG_20150711_123733331.jpg"><img src="/img/2015/07/IMG_20150711_123733331-300x169.jpg" alt="IMG_20150711_123733331" /></a></p>
<p>Mit Laptop und Tablet mache ich es mir dann auf dem Sofa gem&uuml;tlich. Ein paar Sachen f&uuml;r das Freakstock wollen noch programmiert werden.</p>
<p>Die Liebste kommt wieder nach Hause, der Kleine wacht auf und wir warten auf die Zeit, bis unser Wegfest anf&auml;ngt. Weil wir alle noch mehr oder weniger matschig sind, legen wir uns noch einmal zusammen ins Bett.</p>
<p><a href="/img/2015/07/IMG_20150711_151317977_HDR.jpg"><img src="/img/2015/07/IMG_20150711_151317977_HDR-300x169.jpg" alt="IMG_20150711_151317977_HDR" /></a></p>
<p>Das Wegfest ist eine sch&ouml;ne Gelegenheit auch die anderen Nachbarn kennen zu lernen. "Bring your own Besteck und so", ist angsagt, Wir packen also unser Bambuscampinggeschirr ein.</p>
<p><a href="/img/2015/07/IMG_20150711_170233832.jpg"><img src="/img/2015/07/IMG_20150711_170233832-169x300.jpg" alt="IMG_20150711_170233832" /></a></p>
<p>Unser Kind ist nicht das einzige Kleinkind. Also packen wir etwas Spielzeug in unseren Garten. Unter anderem das Pickler Dreieck. Und wieder &uuml;berrascht er uns mit einigen motorischen F&auml;higkeiten. Aber seht selbst.</p>
<p><a href="/img/2015/07/IMG_20150711_171120611_HDR.jpg"><img src="/img/2015/07/IMG_20150711_171120611_HDR-300x169.jpg" alt="IMG_20150711_171120611_HDR" /></a></p>
<p>Es wird gegrillt, gegessen und es wird etwas sp&auml;ter.</p>
<p><a href="/img/2015/07/IMG_20150711_234138.jpg"><img src="/img/2015/07/IMG_20150711_234138-300x110.jpg" alt="IMG_20150711_234138" /></a></p>
<p>Die Nacht ist unruhig. Sehr unruhig. Die Liebste darf weiter schlafen, w&auml;hrend der Prinz und ich aufstehen. "Milch, mich, Milch", rufend l&auml;uft er kleine durch unser Erdgeschoss. Mein Hirn hat &auml;hnliches in Kopf:</p>
<p><a href="/img/2015/07/IMG_20150712_080927637.jpg"><img src="/img/2015/07/IMG_20150712_080927637-169x300.jpg" alt="IMG_20150712_080927637" /></a></p>
<p>Die Kaffeemaschine arbeit, die Milch wird eingeschenkt. Und wir widmen uns dem ersten Fr&uuml;hst&uuml;ck. Von gestern sind noch Pizzaschnecken &uuml;brig. Von der Liebsten und sehr nomsig.</p>
<p><a href="/img/2015/07/IMG_20150712_082226129.jpg"><img src="/img/2015/07/IMG_20150712_082226129-300x169.jpg" alt="IMG_20150712_082226129" /></a></p>
<p>Nach dem Fr&uuml;hst&uuml;ck brechen wir zum ersten Gottesdienst des Tages auf. Als gut vorbereiteter WIB-Blogger habe ich nat&uuml;rlich das Handy nicht &uuml;ber Nacht geladen. Also bleibt das Handy zu Hause und vergn&uuml;gt sich mit dem Ladekabel auf dem Sofa.</p>
<p><a href="/img/2015/07/IMG_20150712_092458485.jpg"><img src="/img/2015/07/IMG_20150712_092458485-169x300.jpg" alt="IMG_20150712_092458485" /></a></p>
<p>Auf dem R&uuml;ckweg vom Gottesdienst schl&auml;ft der Kleine im Auto ein. Die Zeit des Mittagsschlafes nutzen wir f&uuml;r ein paar Folgen Buffy.</p>
<p><a href="/img/2015/07/IMG_20150712_135445141.jpg"><img src="/img/2015/07/IMG_20150712_135445141-300x169.jpg" alt="IMG_20150712_135445141" /></a></p>
<p>Ich mache es mir auf dem Sofa gem&uuml;tlich und schlafe auch mit ein. Zwergi und ich werden wieder wach - und kurzerhand entscheiden wir uns f&uuml;r die zweite Gottesdienstrunde des Tages. Da es regnet machen wir uns mit dem Regenschirm in Richtung Auto auf.</p>
<p><a href="/img/2015/07/IMG_20150712_153856716.jpg"><img src="/img/2015/07/IMG_20150712_153856716-169x300.jpg" alt="IMG_20150712_153856716" /></a></p>
<p>Heute sind nicht viele Leute da. Zwergi hat also viel Platz zum Spielen.</p>
<p><a href="/img/2015/07/IMG_20150712_160104840.jpg"><img src="/img/2015/07/IMG_20150712_160104840-169x300.jpg" alt="IMG_20150712_160104840" /></a></p>
<p>Wieder im Haus gehts nochmal in die Wanne. Und dann ins Bett.</p>
<p><a href="/img/2015/07/IMG_20150712_193856724.jpg"><img src="/img/2015/07/IMG_20150712_193856724-300x169.jpg" alt="IMG_20150712_193856724" /></a></p>
<p>Und zum Abschluss des Wochenendes gibt es noch ein paar Jagderfolge von #TeamBr&ouml;tchen. Extra f&uuml;r euch sogar mit Petersilie.</p>
<p><a href="/img/2015/07/IMG_20150712_201757988.jpg"><img src="/img/2015/07/IMG_20150712_201757988-169x300.jpg" alt="IMG_20150712_201757988" /></a></p>
