---
layout: post
status: publish
published: true
title: Kleiner Braindump
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 773
wordpress_url: http://moerssl.net/?p=757
date: '2015-02-23 20:56:58 +0100'
date_gmt: '2015-02-23 19:56:58 +0100'
categories:
- runningthougths
tags:
- braindump
- daddy
- Gl&uuml;ck
- stress
- Vater
comments: []
---
<p>Seit einiger Zeit spuken mehrere Themen bei mir im Kopf rum, die ich mal auf Papier bzw. ins Netz schreiben will. Einfach, damit sie aus dem Kopf raus sind. Aber ihr kennt das bestimmt. Kaum sitzt man an der Blogmaske ist der Kopf wie leer. Im Hintergrund spielt jemand Mundharmonika und ein einzelner Heukn&auml;uel wird vom Wind &uuml;ber die Stra&szlig;e.</p>
<p>Naja, sei es drum. Braindump...</p>
<p>Ein Wort bricht mir regelm&auml;&szlig;ig das Herz: Erzeuger. Es tut mir weh, wenn jemand von seinem / ihrem Erzeuger spricht. Das wertet ab. Es wertet den Vater ab, der sein Kind nicht sieht. Ich bin auch ein Vater, der sein Kind nicht sieht. Und mich schmerzt es, wenn ich das Wort h&ouml;re. Da spielt viel Gleichg&uuml;ltigkeit seitens des Kindes mit rein. Und ich kann nicht f&uuml;r die V&auml;ter sprechen, die von ihren Kindern nix wissen wollen. Aber ich vermisse meine Tochter.</p>
<p>Weiter gehts. Braindump...</p>
<p>Die Freakstock-Vorbereitungen laufen auf Hochtouren. Da gibt es dieses Jahr das neue Gel&auml;nde und vieles ist noch unklar. Das Festival scheint noch weit weg zu sein - schlie&szlig;lich geht es ja erst Anfang August los. Doch f&uuml;r mich ist Freakstock quasi das ganze Jahr Thema. Das liegt an meinem Engagement f&uuml;r diese Veranstaltung. Ich programmiere ehrenamtlich. Und da gehts nun schon in die hei&szlig;e Phase, kurz bevor die ganzen Anmeldungen online gehen sollen. Spannend und auch sehr herausfordernd.</p>
<p>Wo ich grade bei herausfordernd bin. Ende der Woche ziehen wir um. Es geht ans andere Ende der Stadt. In ein H&auml;uschen. Unsere Wohnung gleicht schon einer Kistenhochburg. Aktuell stehen 37 Kisten und <del>Kinder</del> Kistenzimmer. Und 2,5 R&auml;ume wollen noch gepackt werden.</p>
<p>Ach ja. Neue Stelle. Neuland. Total super. Ich find toll. Es war die richtige Entscheidung zu wechseln. Ich habs nicht bereut.</p>
<p>Der kleine Prinz sagt jetzt "Papi". Das war sooooo toll. Ich musste ein wenig quietschen und vielleicht auch ein Tr&auml;nchen verdr&uuml;cken. Das war ein Gl&uuml;cksmoment.</p>
