---
layout: post
status: publish
published: true
title: 'Kugelgrillabenteuer: Pulled Pork'
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 889
wordpress_url: http://dadvelopment.de/?p=889
date: '2016-05-12 20:47:47 +0200'
date_gmt: '2016-05-12 20:47:47 +0200'
categories:
- bbq
tags: []
comments: []
---
<p>Schon letztes Jahr hatte mich <a href="https://vomrost.de" target="_blank">Dennis</a> mit seinen Grillk&uuml;nsten jenseits von Bratwurst und Steak angefixt. Der Kugelgrill war auch recht bald gekauft. Der Gute war aber nur selten in Benutzung.</p>
<p>Dieses Jahr soll das anders werden. Ich g&ouml;nnte mir ein Thermometer, mit dem man die Garraumtemperatur im Grill und die Kerntemperatur des Fleisches messen kann. Das wurde dann zweimal ausprobiert und nun wagte ich mich an ein Projekt, dass mir gut ein Jahr im Kopf herumspukt: Pulled Pork.</p>
<p>Zusammen mit dem Kleinen kaufte ich gestern bei unserem Fleischer um die Ecke gut 2700 Gramm Schweinenacken, die heute vergrillt werden sollten. Gestern wurden die gesenft und in Gew&uuml;rzmischung eingerieben.</p>
<p><img class="size-large wp-image-896 aligncenter" src="/img/2016/05/IMG_20160511_104722943-1024x576.jpg" alt="Schweinenacken beim Rubben" width="1024" height="576" /></p>
<p>Um heute morgen nicht mehr allzuviel Zeit zu verbrauchen, habe ich die Kohlen noch aufgeschichtet. Sch&ouml;n im Kreis als Minion-Ring, damit ich w&auml;hrend der stundenlangen Grillsession keine Kohlen nachlegen muss.</p>
<p><a href="/img/2016/05/IMG_20160511_194504357.jpg"><img class="aligncenter wp-image-894 size-large" src="/img/2016/05/IMG_20160511_194504357-e1463085269593-968x1024.jpg" alt="IMG_20160511_194504357" width="968" height="1024" /></a></p>
<p>Das Fleisch verweilte derzeit im K&uuml;hlschrank, wir bei einer Freundin im Garten. Heute morgen kurz vor acht klingelte ich bei den Nachbarn: "Moin, ich z&uuml;nde gleich den Grill an und ich habe gesehen das Fenster ist noch auf." "Oh, damit habe ich um diese Uhrzeit nicht gerechnet. Ich mach das gleich zu." ;)</p>
<p>Alle Fenster in der unmittelbaren Nachbarschaft waren also geschlossen. Dann konnte ich den Anz&uuml;ndkamin starten, w&auml;hrend der Kleine im Sand spielte. Der Minion-Ring erwies sich allerdings als ziemlich zickig und wollte nicht in Gang kommen. Kurz nach acht gestartet, brauchte der Grill &uuml;ber eine Stunde, bis er auf die angepeilte Temperatur von 110 Grad kam. Und das auch erst dann, als ich einen weiteren Anz&uuml;ndkamin startete und drohend neben die Kugel stellte. In der Retrospektive betrachtet, habe ich schlichtweg zu wenig Kohlen vor gegl&uuml;ht.</p>
<p>Um 9,30 Uhr kam dann diese sch&ouml;ne St&uuml;ck Fleisch auf den Grill. Die angepeilte Abendesszeit von 18 Uhr schrieb ich indes ab und freundete mich mit 21 Uhr an. Der L&uuml;tte schlief inzwischen. Die Zeit verrann und um die Mittagszeit stieg die Temperatur im Grill auf &uuml;ber 150 Grad. Ich startete diverse Versuche zum Dr&uuml;cken der W&auml;rme. Meine Versuche gingen dann in die Richung "das kann so nicht richtig sein". Nach kurzer R&uuml;cksprache mit Dennis gabs dann noch ein paar goldwerte Tipps. Und die Temperatur sank.</p>
<p>Um dann doch etwas mobiler zu sein (das Thermometer ist kabelgebunden), bastelte ich mir en Funkthermometer:</p>
<ul>
<li>altes Smartphone</li>
<li>eine Remotesteuerapp, z.B. <a href="https://www.airdroid.com/" target="_blank">AirDroid</a></li>
<li>ein Empfangsger&auml;t, z.B. Smartphone oder Notebook</li><br />
</ul><br />
Die Liebste meinte nur: "Du bist so ein Nerd.", und schmunzelte dabei. Ich fands gut.</p>
<p><a href="/img/2016/05/IMG_20160512_134325031_HDR.jpg"><img class="aligncenter wp-image-888 size-large" src="/img/2016/05/IMG_20160512_134325031_HDR-e1463084314905-873x1024.jpg" alt="IMG_20160512_134325031_HDR" width="873" height="1024" /></a></p>
<p>&Uuml;ber die Mittagszeit stand der Grill in der prallen Sonne, was mir wahrscheinlich den Zustand der Kohlen verschleierte. Jedenfalls stellte ich bei beiden Kohlekontrollen fest, dass kaum mehr Kohle gl&uuml;hte. Ich entschloss mich - auch dank der Rollen an der Kugel - den Platz zu wechseln. Kaum stand sie stetig im Schatten gabs auch weniger auf und ab.</p>
<p>Dann hie&szlig; es noch etwas warten, Alufolie zu Hilfe nehmen und - wer h&auml;tte es gedacht - um kurz vor sechs das Schwein zu bergen.</p>
<p><a href="/img/2016/05/IMG_20160512_180749456.jpg"><img class="aligncenter wp-image-886 size-large" src="/img/2016/05/IMG_20160512_180749456-1024x576.jpg" alt="IMG_20160512_180749456" width="1024" height="576" /></a></p>
<p>Von den anfanglichen 2700 Gramm waren noch 1900g &uuml;brig. Dann noch zupfen und futtern.</p>
<p><a href="/img/2016/05/IMG_20160512_1819424651.jpg"><img class="aligncenter wp-image-884 size-large" src="/img/2016/05/IMG_20160512_1819424651-e1463085118536-1015x1024.jpg" alt="IMG_20160512_181942465" width="1015" height="1024" /></a></p>
<p>&nbsp;</p>
<p>Mein Kugelgrillabenteuer Pulled Pork hat viel Spa&szlig; gemacht und war auch die ganze Zeit Nervenkitzel pur. Es wird nicht das letzte Mal gewesen sein, dass das bei uns auf dem Grill lag. Das n&auml;chste Grillprojekt steht auch schon fest: <a href="https://vomrost.de/3-2-1-ribs/" target="_blank">Rippchen</a>.</p>
