---
layout: post
status: publish
published: true
title: Ein wundersch&ouml;ner Urlaub im Artgerecht Camp
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 905
wordpress_url: https://dadvelopment.de/?p=905
date: '2016-07-29 19:02:47 +0200'
date_gmt: '2016-07-29 19:02:47 +0200'
category:
  - artgerecht
categories:
- artgerecht
- familystory
- heartbeat
tags: []
comments:
- id: 572
  author: Dennis
  author_email: mail@dennisreimann.de
  author_url: https://vomrost.de
  date: '2016-07-29 20:41:23 +0200'
  date_gmt: '2016-07-29 20:41:23 +0200'
  content: "Sehr sch&ouml;n, das klingt gut und nach einer guten Auszeit :)\r\n\r\nIch
    kann mir nicht helfen, aber bei den letzten Abs&auml;tzen musste ich direkt an
    das hier denken ;)\r\nhttps://www.youtube.com/watch?v=PY33t3JdvH0&amp;t=25\r\n\r\nLieben
    Gru&szlig;,\r\nDennis"
- id: 573
  author: dadvelopment
  author_email: blog@moerssl.net
  author_url: ''
  date: '2016-07-29 20:52:31 +0200'
  date_gmt: '2016-07-29 20:52:31 +0200'
  content: Die Auszeit war auch gut und sehr n&ouml;tig. Hat geerdet.
---
<h2>... oder: Mein sch&ouml;nestes Ferienerlebnis</h2><br />
Auf diesen Sommerurlaub habe ich mich schon seit letztem Oktober gefreut. Im Oktober hatte die Liebste an einer Ausbildungswoche vom <a href="http://www.artgerecht-akademie.de">Artgerecht Projekt</a> mit Nicola Schmidt und Julia Dibbern teil genommen. Und mein Wunsch an vielen Tagen in der Natur zu sein, fern ab von Medien, Nachrichten und Social Media war geweckt.</p>
<h2>Tsch&uuml;ss Welt</h2><br />
Wir packten unsere Sachen, verstauten alles im Auto: Zelt, Gummistiefel, Moskitonetz. Und Klamotten. Viel zu viele Klamotten, wie wir nach den ersten Camptagen feststellten. Das Handy blieb ausgeschaltet zu hause. Die Welt blieb drau&szlig;en. Das erste Mal seit... Naja... Bewusst seit immer.</p>
<h2>Hallo Wald</h2><br />
Wir kamen einen Tag vor Campbeginn in Drei Eichen bei Berlin an und bauten das Zelt auf der kleinen Zeltwiese an. Drei Eichen ist eine kleine Ansammlung von H&auml;usern mitten im Wald mit einer Zeltwiese und einem Tippidorf. Die erste Zeit verbrachten wir auf dem Zeltplatz. Unser Zelt stand, allm&auml;hlich kamen weitere Zeltplatzbewohner dazu. Unter anderem unsere Mitbewohnerin <a href="http://www.karima-atwan.de/">Karima</a> f&uuml;r eine Nacht.</p>
<h2>Kaum in Worte zu fassen</h2><br />
Die Tage auf dem Zeltplatz und auch im Tippidorf waren toll. Es war sch&ouml;n zu erleben, wie in wenigen Tagen mit mehr oder weniger unbekannten Menschen ein Clan- und Zusammengeh&ouml;rigkeitsgef&uuml;hl aufkommt. Wir waren mit vielen Familien zusammen. Und jeder hatte ein Auge auf den anderen und die Kinder. Das Zeitgef&uuml;hl fiel schnell hinten &uuml;ber. "Welcher Tag ist heute", war bald nicht mehr wichtig. Es war fantastisch zu sehen, wie mutig und selbstbewusst unser Kind ist. Es ist kaum in Worte zu fassen, wie ich gerade zu Ende des Camps auch meinem eigenen K&ouml;rper viel mehr zu trauten, wie z.B. einem 2-Kilometer-Barfu&szlig;-Sprint durch den Wald. Und die F&uuml;&szlig;e fanden wie von selbst ihren Weg neben die Tannenzapfen.</p>
<h2>Den Drang zur Urspr&uuml;nglichkeit (wieder) geweckt</h2><br />
Ich habe in diesen Tagen sehr viel von mir wieder entdeckt. Als Kind war ich sehr oft in der Natur. Habe da gespielt oder bin mit meinen Eltern in den Wald gegangen und habe Pilze gesammelt. All diese Sachen habe ich in den letzten 15 Jahren vergessen oder verlernt. Und im Camp wieder entdeckt. Die Ausfl&uuml;ge in den Wald und zum Kr&auml;uter sammeln haben mir sehr gut getan. Aus den Kr&auml;utern haben wir Pesto, Kr&auml;uterbutter und Smoothies hergestellt.</p>
<h2>Pers&ouml;nlichkeits&auml;ndernd?</h2><br />
Diese zehn Tage waren: herrlich, entschlackend, mutgebend, herausfordernd, wundersch&ouml;n und viel zu kurz. Ich habe viel &uuml;ber mich, &uuml;ber Komfort, &uuml;ber Minimalismus und &uuml;ber die Natur gelernt.</p>
<p>F&uuml;r n&auml;chstes Jahr w&uuml;nsche ich mir wieder ein <a href="http://www.artgerecht-akademie.de/sample-page/basiscamps/">Artgerecht Camp</a>. <3</p>
