---
layout: post
status: publish
published: true
title: Befragt und geantwortet
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 877
wordpress_url: http://dadvelopment.de/?p=877
date: '2016-02-04 21:24:41 +0100'
date_gmt: '2016-02-04 21:24:41 +0100'
categories:
- heartbeat
tags:
- st&ouml;ckchen
comments: []
---
<p>Die Liebste hat mir ein St&ouml;ckenchen zugeworfen. Diesmal handelt es sich um 11 Fragen. Die Regeln? Ganz einfach:<br />
Die Fragen beantworten, neue Fragen ausdenken und St&ouml;cken weiter werfen. Und nun zu den Fragen.</p>
<p>&nbsp;</p>
<ol>
<li>Twitter oder Facebook?<br />
Fr&uuml;her wars Facebook, seit ein paar Jahren aber Twitter. Da bekomme ich manchen Gedankenm&uuml;ll einfach schneller aus dem Kopf geschrieben. Was weg ist, ist weg. :D</li></p>
<li>Haustiere yay or nay? (Wollm&auml;use z&auml;hlen in diesem Fall nur, wenn sie die Gr&ouml;&szlig;e eines Tischtennisballs &uuml;berschreiten.)<br />
Yay.*</li></p>
<li>Star Trek oder Star Wars?<br />
Space Balls?</li></p>
<li>Der erste Satz des Buches, welches du aktuell liest?<br />
Ein Breitmaulfrosch quakte, nichts B&ouml;ses ahnend, am Teichrand sein Froschlied, als ihm pl&ouml;tzlich wei&szlig; vor Augen wurde.</li></p>
<li>Und wo wir schon dabei sind: analog oder eReader?<br />
Das Buch lese ich analog, weil es als eBook nicht verf&uuml;gbar. Ansonsten lese ich &uuml;ber das Tablet.</li></p>
<li>Team Edward oder Team Jakob?<br />
Team Blade?</li></p>
<li>Deine sch&ouml;nste Kindheitserinnerung?<br />
Ich kann mich nicht entscheiden zwischen "Als ich einen Sandstein mit Hammer und Nagel bearbeitete und dabei das Fossil einer Muschel fand." und "Als mir mein Vater zum Geburtstag ein ferngesteuertes Auto schenkte."</li></p>
<li>Was bedeutet dir dein Lebensmotto?<br />
"Das Leben genie&szlig;en: Chancen ergreifen" - Naja, ist die Unteschrift vom Blog. Und versuchs umzusetzen. Mal mehr mal weniger erfolgreich.</li></p>
<li>Handarbeiten findest du&hellip;<br />
... aufwendig.</li></p>
<li>Deine gruseligstes Bastel-/Heimwerker-/DIY<br />
&Auml;hm.. Alle? Ich bin handwerklich nicht sonderlich begabt.</li></p>
<li>Dein liebstes &bdquo;ratzfatz fertig&ldquo; Rezept?<br />
Cherrytomaten, getrocknete Tomaten und Rucola anbraten. Nudeln kochen und die gekochten Nudeln kurz zum Gebratenen geben. Feta dr&uuml;ber. Fertig ist lecker nomsiger Nudelsalat.</li><br />
</ol><br />
* Katze</p>
<p>Und nun zu meinen Fragen:</p>
<p>&nbsp;</p>
<ol>
<li>Wie w&uuml;rdest du am liebsten als Kind lernen?</li>
<li>Welchen Sport wolltest du als Kind aus&uuml;ben?</li>
<li>Was war das Aufregendste, dass du bisher erlebt hast?</li>
<li>Auto oder Bahn?</li>
<li>Welches Restaturant w&uuml;rdest du mir in deiner Stadt empfehlen?</li>
<li>Und welches Buch muss man auf jeden Fall gelesen haben?</li>
<li>Smart oder nicht smart? Was f&uuml;r ein Handy hast du?</li>
<li>E-Gitarre oder Kontrabass?</li>
<li>F&uuml;r die Eltern: Familie mit dem Beruf vereinbaren oder den Beruf mit der Familie?</li>
<li>Und wie machst du das?</li>
<li>Was w&auml;ren deine letzten Worte?</li><br />
</ol><br />
Das sind meine Fragen f&uuml;r:</p>
<ul>
<li>den <a href="https://reisepapa.wordpress.com/" target="_blank">Reisepapa</a></li>
<li><a href="https://weristderchef.wordpress.com/" target="_blank">weristderchef</a></li>
<li>und dem ganz tollen <a href="https://wegbegleiter.wordpress.com/" target="_blank">Wegbegleiter - F&auml;hrtensucher - Wellenreiter</a></li><br />
</ul></p>
