---
layout: post
status: publish
published: true
title: In die Krise geglaubt
author:
  display_name: dadvelopment
  login: blog
  email: blog@moerssl.net
  url: ''
author_login: blog
author_email: blog@moerssl.net
wordpress_id: 874
wordpress_url: http://dadvelopment.de/?p=874
date: '2016-01-04 21:06:53 +0100'
date_gmt: '2016-01-04 21:06:53 +0100'
categories:
- holyday
tags:
- "(no)doubt"
comments:
- id: 490
  author: Madame Mim
  author_email: miriam.reichelt@googlemail.com
  author_url: http://www.madamemim.de
  date: '2016-04-27 11:36:05 +0200'
  date_gmt: '2016-04-27 11:36:05 +0200'
  content: 'Du wei&szlig;t, ich habe mit Gott und Kirche nicht sonderlich viel am
    Hut. Aber ich habe heute morgen etwas im Radio geh&ouml;rt und finde, das k&ouml;nntest
    du dir mal anh&ouml;ren: http://www.kirche-im-wdr.de/startseite/show/programm/das-gewisse-etwas-1/'
---
<p>Der Titel des Artikels schwebt mir schon l&auml;nger im Kopf rum. Im letzten Jahr haben mich viele Sachen belastet. Der Auszug aus der Wohnung war eine mittlere Katastrophe, durch die Gemeinde ging ein Bruch. Um nur zwei davon zu nennen.</p>
<p>Das schlug sich immer wieder auf meine Laune und die Selbstwahrnehmnung nieder. Die Laune wurde schlechter. Die Selbstwahrnehmung nach und nach dunkler. Es kamen weitere Angriffe. Es wurde dunkler.</p>
<p>Ich stellte viele Sachen in Frage. Zuletzt den Glauben. Einer der Bibelverse, an denen ich mich in dunklen Zeiten und auch w&auml;hrend meiner Depression festgehalten habe, steht im R&ouml;merbrief.</p>
<blockquote><p>Das eine aber wissen wir: Wer Gott liebt, dem dient alles, was geschieht, zum Guten. Dies gilt f&uuml;r alle, die Gott nach seinem Plan und Willen zum neuen Leben erw&auml;hlt hat.<br />
R&ouml;merbrief Kapitel 8, Vers 28</blockquote><br />
Diesmal dr&uuml;ckte mich dieser Vers tiefer und tiefer. Bei all den Sachen fehlte mir der Sinn. Wozu sollte es zum Guten dienen?</p>
<p>Nun ein paar Monate sp&auml;ter glaube ich diesem Vers nicht mehr. Ich bin in der Glaubenskrise angekommen. Die Liebste fragte mich letztens bei einem Gespr&auml;ch: "Glaubst du &uuml;berhaupt noch?" Meine ern&uuml;chternde Antwort war: "Ich kann es dir nicht sagen."</p>
<p>Ich habe mich wohl mit diesem Vers in die Glaubenskrise geglaubt. Meint es Gott wirklich gut mit mir?</p>
<p>Trotz allem ist mir mein Glaube wichtig und ich m&ouml;chte die Verbindung zu Gott wieder haben. Also h&ouml;re ich Lobpreis, h&ouml;re Predigten. Oft ist es aber so, als w&uuml;rde ich in einer Blase sitzen und von allem kommt nix bei mir an. Predigten verkommen zu einer Aneinanderreihung von Phrasen, Lobpreis bleibt Musik.</p>
<p>Und dann gibt es noch diese kleinen Funken, wie zum Beispiel diesen Tweet, der mir gestern in die Timeline gesp&uuml;lt wurde:</p>
<p>https://twitter.com/ps1034/status/683689638939226112</p>
<p>Ein Zeichen, dass ich Gott vielleicht doch nicht egal bin.</p>
