---
layout: default
sitemap: false 
---
<section class="main landing-main landing-header">
    <div class="row">
      <div class="col-sm-12 center landing-heading  air--bottom">
        <h1 class="landing-header__text">Das hat geklappt! Vielen Dank.</h1>
        <h2 class="landing-header__text">In wenigen Minuten erhälst du eine Mail mit dem Link zum Download.</h2class="landing-header__text">
        <h3>Sieh dir bis dahin dieses Video an.</h3>
      </div>
      <!-- a class="col-sm-12 center block center air--bottom air--top animated flip slow" href="#video" -->
      <!-- / a -->

      <div class="center air--bottom air--top">
        <a href="https://amzn.to/396Mpij" target="_blank" class="cta center cta__button cta__button--heavy animated bounceIn slow" title="Jetzt Buchtipp entdecken" data-track='{"category": "upsell", "action": "kontenmodell-danke-amazon-header", "name": "Jetzt Buchtipp entdecken"}'>Jetzt Buchtipp entdecken</a>
      </div>

      <div class="center air--bottom air--top animated flip slow infinite">
        <i class="fa fa-angle-double-down" aria-hidden="true"></i>
      </div>
    </div>
</section>
<section class="half-vp">

  <div  class="video-container" id="video">
    <iframe class="video-container__youtube video-container__youtube--1x1" 
    src="https://www.youtube-nocookie.com/embed/BKRlxIIS8gw" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>

  </div>
  <div class="container block center air--bottom-2">
    <div class="cta">
      <a href="https://amzn.to/396Mpij" target="_blank" class="cta cta__button cta__button--heavy animated bounceIn slow" title="Glückind werden" data-track='{"category": "upsell", "action": "kontenmodell-danke-amazon", "name": "Bei Amazon lesen"}'>Bei Amazon lesen</a>
      <a href="https://open.spotify.com/album/2qkmsWzgwQhLgZy34YnqVo?si=bscm2O1KQ1mAdcheq6dsbA" target="_blank" class="cta cta__button animated bounceIn slow" title="Glückind werden" data-track='{"category": "upsell", "action": "kontenmodell-danke-spotify", "name": "Bei Spotify hören"}'>Bei Spotify hören</a>
    </div>
  </div>
  
</section>