<!DOCTYPE html>
<html lang="de-de">

{% include head.html %}

<body>


    {% include nav.html customclass=page.naviclass %}

    {{ content }}

    {% include footer.html %}
  
    {% include layer-kontenmodell-mautic.html %}

    {% include ga.html %}

</body>

</html>
