---
layout: default
---

<!-- Page Header -->
<header class="intro-header home" style="background-image: url('{{ site.baseurl }}{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-xs-12">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.hometitle }}{% endif %}</h1>
                    {% if page.subtitle %}
                    <hr class="small">
                    <span class="subheading">{{ page.subtitle }}</span>
                    {% endif %}
                    <button class="cta cta__button cta__button--heavy cta__button--air bounceIn animated delay-1s" toggle-layer data-track='{"category": "lead", "action": "show-layer-hero", "name": "Kostenlose Finanzen-Excel-Vorlage runterladen"}'>Kostenlose Finanzen-Excel-Vorlage runterladen</button>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container flex main home">

		{{ content }}

</div>
