---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}

                    <span class="meta">
                      {% if page.author %}
                        <a href="{{ site.baseurl }}/autor/{{ page.author.display_name }}" title="{{ page.author.display_name }}">{{ page.author.display_name }}</a>
                      {% else %}
                        <a href="{{ site.baseurl }}/autor/marcel-henning" title="Marcel Henning von dadvelopment">Marcel Henning</a>
                      {% endif %} | {{ page.date | date: "%d.%m.%Y" }} | Lesedauer: {% include read_time.html %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content  -->
<article>
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>{{ page.title }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 teaser">
            {{ page.teaser }}
          </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Vorheriger Artikel</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Nächster Artikel &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>

        <!-- Related Posts -->
        {% unless page.category == null %}
          {% capture pageCategory %}{{ page.category }}{% endcapture %}
          {% unless site.categories[pageCategory].size == 1 %}
            <div class="row related-posts">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h4>Mehr zu {{ page.category }}</h4>
                <div class="medium-12 small-12 columns">
                  <ul>
                    {% for post in site.categories[pageCategory] limit:6 %}
                      {% unless post.title == page.title %}
                        <li >
                          <a title="{{ post.title }}" href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
                            {{ post.title }}
                          </a>
                        </li>
                      {% endunless %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endunless %}
        {% endunless %}
        <!-- Ende Related Posts -->
    </div>
</article>
