---
layout: default
naviclass: "noheader"
---
<article>
  <div class="container main-no-header">
    <div class="row">
      <div class="col-xs-10">
        {{ content }}
      </div>
    </div>
      {% for category in page.reco %}
        <div class="row">
      		<div class="col-xs-10">
            <h2>{{ category.title}}</h2>
          </div>
        </div>
        <div class="row row--empfehlung">
          {% for empfehlung in category.items %}
          <a href="{{empfehlung.link}}" title="{{ empfehlung.title }}" class="col-lg-6 col-md-10 col--empfehlung {{ empfehlung.css }}" target="_blank">
            {% if empfehlung.image %}
            <span class="empfehlung__image">
              <img src="{{ empfehlung.image }}" alt="{{ empfehlung.title }}" />
            </span>
            {% endif %}
            <p class="cta cta__button">
              {{ empfehlung.title }}
            </p>
          </a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
<article>
